<ng-container *ngIf="(status$ | async) !== 'fetching' && (requestStatus$ | async) !== 'fetching'; else placeholder">
<ng-container *ngIf="(request$ | async) as request">

  <!-- tabs & actions -->
  <div class="app-row">
    <div class="app-col">
      <div class="app-row app-align-items-center">

        <uxg-tabs class="app-col">
          <uxg-tab-title #sentToReviewTab [disabled]="(contractsSentToReview$ | async).length === 0" [active]="true">
            <ng-container *ngIf="(contractsSentToReview$ | async) as contracts">
              Необходимо рассмотреть <span class="counter">({{contracts?.length}})</span>
            </ng-container>
          </uxg-tab-title>

          <uxg-tab-title #sendToEditTab [disabled]="(contractsSendToEdit$ | async).length === 0">
            <ng-container *ngIf="(contractsSendToEdit$ | async) as contracts">
              На доработке <span class="counter">({{ contracts?.length }})</span>
            </ng-container>
          </uxg-tab-title>

          <uxg-tab-title #reviewedTab [disabled]="(contractsReviewed$ | async).length === 0">
            <ng-container *ngIf="(contractsReviewed$ | async) as contracts">
              Рассмотренные <span class="counter">({{ contracts?.length }})</span>
            </ng-container>
          </uxg-tab-title>
        </uxg-tabs>

        <button uxgButton secondary iconText class="app-detachable-button" (click)="filterRef.open()">
          <uxg-icon shape="app-sort2"></uxg-icon>
          <span>Фильтр</span>
        </button>

      </div>
    </div>
    <div class="app-col-aside detachable"></div>
  </div>

  <br/>

  <!-- list -->
  <div class="app-row" *ngIf="(reviewedTab.active ? contractsReviewed$ : sentToReviewTab.active ? contractsSentToReview$ : contractsSendToEdit$) | async as contracts">
    <div class="app-col">
      <app-contract-list-item
        *ngFor="let contract of contracts"
        [contract]="contract"
        [status]="status$ | async"
        (approve)="store.dispatch(approve(request, contract))"
        (reject)="store.dispatch(reject(request, contract, $event.files, $event.comment))"
      ></app-contract-list-item>

      <!-- empty -->
      <div *ngIf="contracts.length === 0 && form.pristine">
        <h1 class="text-center" [style.opacity]="0.1"><br/><uxg-icon shape="app-publish" size="270"></uxg-icon><br/>Все договоры рассмотрены</h1>
      </div>
    </div>

    <app-filter
      #filterRef
      [formGroup]="form"
      [count]="contractsLength$ | async"
      [dirty]="form.dirty"
      (reset)="form.reset(); form.markAsPristine()"
      (filter)="store.dispatch(filter(request, $event))"
    >
      <app-filter-section label="Наименование позиции">
        <input uxgInput type="text" formControlName="positionName" placeholder="Наименование позиции или его часть" />
      </app-filter-section>
      <app-filter-section label="Контрагент" [disabled]="form.get('suppliers').disabled">
        <app-filter-checkbox-list
          formControlName="suppliers"
          searchPlaceholder="Наименование контрагента или ИНН"
          [foldedSearch]="true"
          [items$]="contractSuppliersItems$"
          [limit]="5"
          (search)="suppliersSearch$.next($event)">
        </app-filter-checkbox-list>
      </app-filter-section>

      <app-filter-section label="Согласование" [disabled]="form.get('statuses').disabled">
        <app-filter-checkbox-list formControlName="statuses" [items$]="contractStatusesItems$"></app-filter-checkbox-list>
      </app-filter-section>
    </app-filter>
  </div>
</ng-container>
</ng-container>

<ng-template #placeholder>
  <div class="app-row">
    <div class="app-col">
      <div class="app-row">
        <div class="app-col app-row">
          <div class="placeholder-row" *ngFor="let i of [].constructor(2)" [style.height.px]="40" [style.width.px]="200"></div>
        </div>
        <div class="placeholder-row" [style.height.px]="40" [style.width.px]="80"></div>
      </div>

      <div class="placeholder" *ngFor="let i of [].constructor(10)" [style.height.px]="160"></div>
    </div>
    <div class="app-col-aside detachable"></div>
  </div>
</ng-template>
