<ng-container *ngIf="documents.length > 0">
  <div class="app-row">
    <div class="left clr-col-4">Название</div>
    <div class="left clr-col-2">Автор</div>
    <div class="left clr-col-6">Комментарий</div>
  </div>
  <div *ngFor="let document of documents">
    <div class="app-row app-align-items-center">
      <div class="left clr-col-4">
        <app-document-simple-list [enableUpload]="false" [documents]="[document]"></app-document-simple-list>
      </div>
      <div class="left clr-col-2">{{ document?.user?.fullName }}</div>
      <div class="left clr-col-6">{{ document?.comments }}</div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="forms.length > 0">
  <form *ngFor="let form of forms; let i = index" [formGroup]="form" (ngSubmit)="submit(form)">
    <div class="app-row">
      <div class="left clr-col-4">
        <app-document-simple-list [enableUpload]="false"
                                  [documents]="[selectedDocuments[i]]"></app-document-simple-list>
      </div>

      <div class="left app-col">
        <textarea formControlName="comment"></textarea>
      </div>

      <div class="clr-col-auto">
        <button uxgButton primary lg [clrLoading]="form.get('state').value">Загрузить</button>
      </div>
    </div>
  </form>
</ng-container>
