<clr-datagrid class="user-list-datagrid">

  <clr-dg-column class="request-number clr-col">
    Имя сотрудника
  </clr-dg-column>

  <clr-dg-column class="request-published clr-col-4">
    E-mail
  </clr-dg-column>

  <clr-dg-column class="request-completed clr-col-2">
    Телефон
  </clr-dg-column>

  <clr-dg-column class="customer-name clr-col-auto">
    Заявок/позиций
  </clr-dg-column>


  <clr-dg-row *ngFor="let user of users; let i = index">

    <clr-dg-cell class="user-full-name clr-col">
      <b>{{ user.user.fullName}}</b>
    </clr-dg-cell>

    <clr-dg-cell class="user-email clr-col-4">
      <a href="mailto:{{ user.user.username }}">{{ user.user.username }}</a>
    </clr-dg-cell>

    <clr-dg-cell class="completed clr-col-2">
      {{ user.user.phone }}
    </clr-dg-cell>

    <clr-dg-cell class="customer-name clr-col-auto">
      {{ user.reqCount }}/{{ user.posCount }}
    </clr-dg-cell>

  </clr-dg-row>

</clr-datagrid>