<div class="app-row">
  <div class="app-col action">
    <uxg-tabs>
      <uxg-tab-title #backofficeTab [active]="true">
        Закупщики
        <ng-container *ngIf="backofficeCount">
          <span class="app-ghost-color">({{ backofficeCount }})</span>
        </ng-container>
      </uxg-tab-title>
      <uxg-tab-title #employeesTab>
        Менеджеры
          <ng-container *ngIf="seniorBackofficeCount">
            <span class="app-ghost-color">({{ seniorBackofficeCount }})</span>
          </ng-container>
      </uxg-tab-title>
    </uxg-tabs>
  </div>

  <div class="app-col action app-grow-0">
    <button uxgButton secondary iconText
            *ngIf="userInfoService.isSeniorBackoffice()"
            (click)="createEmployeeModal.open()">
      <clr-icon size="16" shape="app-plus"></clr-icon>
      <span>Новый сотрудник</span>
    </button>
  </div>
</div>

<app-employee-list *ngIf="backofficeTab.active"
                   [employees]="backoffice"
                   (onEdit)="createEmployeeModal.open(); editedEmployee = $event"></app-employee-list>

<app-employee-list *ngIf="employeesTab.active"
                   [employees]="seniorBackoffice"
                   (onEdit)="createEmployeeModal.open(); editedEmployee = $event"></app-employee-list>



<clr-modal #createEmployeeModal [clrModalSize]="'lg'">
  <h2 class="modal-title" *ngIf="!editedEmployee; else editEmployee">Добавить нового сотрудника</h2>

  <ng-template #editEmployee>
    <h2 class="modal-title">Редактировать сотрудника</h2>
  </ng-template>

  <div class="modal-body">
    <app-employee-form
      *ngIf="createEmployeeModal._open"
      (cancel)="editedEmployee = null; createEmployeeModal.close()"
      (addEmployee)="addEmployee($event); createEmployeeModal.close()"
      (editEmployee)="updateEmployeeListItem($event); createEmployeeModal.close()"
      [roleSelectorDisabled]="false"
      [employee]="editedEmployee">
    </app-employee-form>
  </div>
</clr-modal>
