<ng-container *ngIf="purchase">

  <app-purchase-view-header [purchase]="purchase">
    <button class="btn btn-primary submit"
            (click)="createProcedure()"
            *ngIf="procedureCreationAvailable">
      создать процедуру
    </button>
    <div class="alert-created-procedure" *ngIf="procedureCreated">
      <clr-alert [clrAlertType]="'alert-success'">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
              Процедура успешно создана.
            </span>
          <div class="alert-actions">
            <a class="alert-action" (click)="viewProcedure()">Просмотреть</a>
          </div>
        </div>
      </clr-alert>
    </div>
  </app-purchase-view-header>

  <div class="clr-row">
    <div class="clr-col-lg-7">
      <div class="card">
        <div class="card-header">
          <div class="clr-row clr-justify-content-between">
            <div class="clr-col-6 clr-justify-content-start">
              Список позиций
            </div>
            <div class="clr-col-auto clr-justify-content-end">
              <span class="gray count-items">Всего позиций: {{ positionsPage?.totalCount }}</span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <app-customer-positions
            [positionsLoading]="positionsLoading"
            [positionsPage]="positionsPage"
            (refreshPositions)="onRefreshPositions($event)">
          </app-customer-positions>
        </div>
      </div>
    </div>

    <div class="clr-col-lg-5">
      <div class="card card-suppliers">
        <div class="card-header">
          <div class="clr-row clr-justify-content-between">
            <div class="clr-col-6 clr-justify-content-start">
              Участники
            </div>
            <div class="clr-col-auto clr-justify-content-end">
              <span class="gray count-items">Всего участников: {{ suppliersOffers?.length }}</span>
            </div>
          </div>
        </div>

        <div class="card-block">
          <app-purchase-offers
            [purchase]="purchase"
            [suppliersOffers]="suppliersOffers"
            (offerClick)="onOfferClick($event)">
          </app-purchase-offers>
        </div>
      </div>

    </div>
  </div>

</ng-container>
