.item-card {
    padding: 25px;
    border-bottom: 1px solid #d4d9e2;
    padding-bottom: 0;
}
.product-attribute {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
}
.price-info, .all-offers {
    text-align: right;
}
.all-offers {
    padding-top: 10px;
}
.product-offers-count {
    color:  #9fa8b0;
}
.product-offer-price {
    font-size: 18px;
}
clr-icon {
    height: 12px;
    width: 12px;
    color: #f69f39;
}
.item-name {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}
.supplier-info {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #d4d9e2;
    align-items: center;
}

.choose-supplier {
    float: right;
    margin: 0;
}

.choose-supplier-panel .choose-supplier-code-panel {
    padding-left: 0;
}

.choose-supplier-panel .choose-supplier-button-panel {
    padding-right: 0;
}

.choice-supplier {
    display: table-cell;
    float:right;
    text-transform: uppercase;
    color: #f69f39;
    font-weight: 300;
}

.item-code {
    display: table-cell;
    text-align: center;
}

.item-code .item-code-label {
    color: #9fa8b0;
}

.search-results {
    height: 100%;
    overflow-y: scroll;
}

.product-image {
  text-align: center;
}

