<div class="wrapper">
  <div #messagesList class="messages-list">
    <ng-container *ngIf="(messages$ | async) as messages; else loading">
      <div class="message" [class.sending]="message.isSending" *ngFor="let message of messages">

        <div class="message-body"
             [ngClass]="{ 'own-message' : isOwnMessage(message), 'them-message' : !isOwnMessage(message) }">
          <div class="message-user" *ngIf="!isOwnMessage(message)">
            {{ message.user.fullName }}
          </div>
          {{ message.message }}

          <div class="files" *ngIf="message.documents.length > 0">
            <app-document-simple-list
              [documents]="message.documents"
              [enableUpload]="false">
            </app-document-simple-list>
          </div>

          <div class="message-date"> {{ message.createdDate | humanDate }} </div>
        </div>
      </div>
      <div class="text-center" *ngIf="messages.length === 0">
        Сообщений нет
      </div>
    </ng-container>

    <ng-template #loading>
      <div class="text-center">
        <span class="spinner spinner-md"></span>
      </div>
    </ng-template>
  </div>


  <div class="new-message">
    <button appUploadFile (select)="form.get('files').setValue($event)" type="button" class="btn btn-link btn-add-file text-muted">
      <clr-icon shape="paperclip" size="32"></clr-icon>
    </button>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <button type="submit" class="btn btn-link btn-icon btn-send" [disabled]="form.invalid">
        <clr-icon shape="envelope" size="32"></clr-icon>
        Отправить
      </button>

      <div class="input-wrapper">
        <textarea formControlName="text"
                  placeholder="Написать сообщение"
                  (keydown.enter)="submit()"
                  (keyup.enter)="form.reset()">
        </textarea>
      </div>

      <div class="document-upload-list-wrap">
        <app-document-upload-list
            [uploadLabel]="''"
            [documents]="form.get('files').value"
        ></app-document-upload-list>
      </div>
    </form>
  </div>
</div>
