<div class="wrapper">
  <div #scrollContainer class="messages-list">
    <div #messagesList class="message" [class.sending]="false" *ngFor="let message of messages$ | async">
      <div class="message-body"
           [ngClass]="{ 'own-message' : isOwnMessage(message), 'them-message' : !isOwnMessage(message) }">
        <div class="message-user" *ngIf="!isOwnMessage(message)">{{ message.author.fullName }}</div>
        <div>{{ message.text }}</div>
        <div class="files" *ngIf="message.attachments.length > 0">
          <ng-container *ngFor="let attachment of message.attachments">
            <div class="attachment" (click)="downloadFile(attachment)">
              <document-icon [name]="attachment.originalFilename" size="s"></document-icon>
              <span>{{attachment.originalFilename}}</span>
            </div>

          </ng-container>
        </div>

        <div class="message-date">
          {{ message.createdAt | humanDate }}
          <uxg-icon title="Прочитано" *ngIf="message.status === 'seen'" shape="app-check"></uxg-icon>
        </div>
      </div>
    </div>

    <ng-container *ngIf="(messages$ | async)?.length === 0">
      <div class="text-center">Сообщений нет</div>
    </ng-container>

<!--    <ng-container *ngIf="state === 'fetching'">-->
<!--      <div class="text-center"><span class="spinner spinner-md"></span></div>-->
<!--    </ng-container>-->
  </div>


  <div class="new-message">
    <!-- @TODO: Implement attachments -->
    <button uxgButton appUploadFile [multiple]="true" (select)="pushFiles($event)" type="button" class="btn-add-file app-ghost-color">
      <uxg-icon shape="app-attach" size="32"></uxg-icon>
    </button>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <button uxgButton lg iconText link type="submit" class="btn-send" [disabled]="form.invalid">
        <uxg-icon shape="app-message" size="32"></uxg-icon>
        <span>Отправить</span>
      </button>

      <div class="input-wrapper">
        <textarea formControlName="text"
                  placeholder="Написать сообщение"
                  (keydown.enter)="submit()"
                  (keyup.enter)="form.reset()">
        </textarea>
      </div>

      <div class="document-upload-list-wrap">
        <app-file
          [class.loading-arrachments]="file.status ==='fetching'"
          *ngFor="let file of files; index as i"
          [appFile]="file.appFile"
          (delete)="deleteFile(file, i)">
        </app-file>
      </div>
    </form>
  </div>
</div>
