/* Кнопки-радиокнопки */

.radio.btn {
  border: 0;
  margin-right: -2px;

  label {
    height: 100%;
    border: solid 2px #9fa8b0;
    color: #9fa8b0;
    line-height: 32px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: transparent;

    label {
      color: $color_black !important;
    }
  }

  &:active {
    box-shadow: none;
  }


  input[type=radio] {
    & {
      & + label:before {
        display: none;
      }


      &:checked {
        & + label {
          background-color: transparent;
          color: $color_black;
          border: solid 2px $color_orange;
          z-index: 10;
        }
      }
    }
  }

}


.btn-group  {
  & .btn input[type=checkbox]:focus,
  & .btn input[type=radio]:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: none;
    padding: 3px 0 3px 3px;
    border: 0;
  }
}



.btn-group .btn input[type=checkbox]:focus,
.btn-group .btn input[type=radio]:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  top: 0;
  height: 100%;
  width: 100%;
  box-shadow: none;
  padding: 3px 0 3px 3px;
  border: 0;
}
