/***************/
/* Радиокнопки */

.radio-inline, .radio {
  & input[type=radio] {
    height: 16px;
    width: 16px;

    & + label:before {
      content: '';
      display: block;
      background: url('assets/styles/stdlib-styles/images/radio-unchecked.svg') 0 50% no-repeat;
      width: 15px;
      height: 18px;
      top: 0;
      border: 0;
      border-radius: 0;
    }

    &:checked + label:before {
      content: '';
      background: url('assets/styles/stdlib-styles/images/radio-checked.svg') 0 50% no-repeat;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: none;
    }
  }

  & label {
    padding-left: 22px;
    color: $color_black;
    font-size: $font_size_basic;
    font-weight: 400;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  &.disabled input[type=radio]:checked+label:before {
    background-color: initial;
  }
}

.radio-inline {
  margin-right: 12px;
}
