/* Тултипы */

.tooltip .tooltip-content.tooltip-top-right,
.tooltip.tooltip-top-right > .tooltip-content,
.tooltip .tooltip-content.tooltip-top-left,
.tooltip.tooltip-top-left > .tooltip-content,
.tooltip .tooltip-content.tooltip-bottom-right,
.tooltip.tooltip-bottom-right > .tooltip-content,
.tooltip .tooltip-content.tooltip-bottom-left,
.tooltip.tooltip-bottom-left > .tooltip-content,
.tooltip > .tooltip-content {
  font-size: $font_size_basic;
  color: $color_black;
  background: white;
  box-shadow: inset 0 0 0 1px $color_light_gray, 0 5px 11px 0 rgba(186, 194, 196, 0.39);
  line-height: 20px;
  border-radius: 2px;
  padding: 10px 19px;
}


/* Уголок тултипа, смотрящего вправо вверх ⬀ */
.tooltip .tooltip-content.tooltip-top-right:after,
.tooltip.tooltip-top-right > .tooltip-content:after,
.tooltip > .tooltip-content:after {
  position: absolute;
  bottom: -12px;
  left: 1px;
  top: auto;
  right: auto;
  content: "";
  border-left: 9px solid white;
  border-top: 8px solid white;
  border-right: 9px solid transparent;
  border-bottom: 8px solid transparent;
}

.tooltip .tooltip-content.tooltip-top-right:before,
.tooltip.tooltip-top-right > .tooltip-content:before,
.tooltip > .tooltip-content:before {
  position: absolute;
  bottom: -15px;
  left: 0;
  top: auto;
  right: auto;
  content: "";
  border-left: 9px solid $color_light_gray;
  border-top: 8px solid $color_light_gray;
  border-right: 9px solid transparent;
  border-bottom: 8px solid transparent;
}



/* Уголок тултипа, смотрящего влево вверх ⬁ */
.tooltip .tooltip-content.tooltip-top-left:after,
.tooltip.tooltip-top-left > .tooltip-content:after {
  position: absolute;
  bottom: -12px;
  left: auto;
  top: auto;
  right: 1px;
  content: "";
  border-right: 9px solid white;
  border-top: 8px solid white;
  border-left: 9px solid transparent;
  border-bottom: 8px solid transparent;
}

.tooltip .tooltip-content.tooltip-top-left:before,
.tooltip.tooltip-top-left > .tooltip-content:before {
  position: absolute;
  bottom: -15px;
  left: auto;
  top: auto;
  right: 0;
  content: "";
  border-right: 9px solid $color_light_gray;
  border-top: 8px solid $color_light_gray;
  border-left: 9px solid transparent;
  border-bottom: 8px solid transparent;
}



/* Уголок тултипа, смотрящего вправо вниз ⬂ */
.tooltip .tooltip-content.tooltip-bottom-right:after,
.tooltip.tooltip-bottom-right > .tooltip-content:after {
  position: absolute;
  top: -12px;
  left: 1px;
  bottom: auto;
  right: auto;
  content: "";
  border-left: 9px solid white;
  border-bottom: 8px solid white;
  border-right: 9px solid transparent;
  border-top: 8px solid transparent;
}

.tooltip .tooltip-content.tooltip-bottom-right:before,
.tooltip.tooltip-bottom-right > .tooltip-content:before {
  position: absolute;
  top: -15px;
  left: 0;
  bottom: auto;
  right: auto;
  content: "";
  border-left: 9px solid $color_light_gray;
  border-bottom: 8px solid $color_light_gray;
  border-right: 9px solid transparent;
  border-top: 8px solid transparent;
}



/* Уголок тултипа, смотрящего влево вниз ⬃ */
.tooltip .tooltip-content.tooltip-bottom-left:after,
.tooltip.tooltip-bottom-left > .tooltip-content:after {
  position: absolute;
  top: -12px;
  left: auto;
  bottom: auto;
  right: 1px;
  content: "";
  border-right: 9px solid white;
  border-bottom: 8px solid white;
  border-left: 9px solid transparent;
  border-top: 8px solid transparent;
}

.tooltip .tooltip-content.tooltip-bottom-left:before,
.tooltip.tooltip-bottom-left > .tooltip-content:before {
  position: absolute;
  top: -15px;
  left: auto;
  bottom: auto;
  right: 0;
  content: "";
  border-right: 9px solid $color_light_gray;
  border-bottom: 8px solid $color_light_gray;
  border-left: 9px solid transparent;
  border-top: 8px solid transparent;
}