/* Деревья */

.clr-treenode-caret {
  height: 18px;

  &-icon {
    vertical-align: top;
  }
}

clr-icon {
  &.clr-treenode-caret {
    &-icon {
      & {
        svg {
          display: none;
        }

        &[dir=right]:after {
          content: '';
          background: url('assets/styles/stdlib-styles/images/arrow-right.svg') no-repeat;
          width: 5px;
          height: 14px;
          display: inline-block;
        }

        &[dir=down]:after {
          content: '';
          background: url('assets/styles/stdlib-styles/images/arrow-down.svg') no-repeat;
          width: 9px;
          height: 12px;
          display: inline-block;
        }
      }
    }
  }


  &[shape=folder] {
    svg { /* Скрываем дефолтную иконку папки */
      display: none;
    }

    &:after {
      content: '';
      background: url('assets/styles/stdlib-styles/images/folder-icon.svg') no-repeat;
      height: 16px;
      width: 16px;
      display: inline-block;
      vertical-align: top;
    }
  }

  &[shape=file] {
    svg { /* Скрываем дефолтную иконку файла */
      display: none;
    }

    &:after {
      content: '';
      background: url('assets/styles/stdlib-styles/images/file-icon.svg') no-repeat;
      height: 16px;
      width: 16px;
      display: inline-block;
      vertical-align: top;
    }
  }
}
