<form appFormValidation [formGroup]="form" (ngSubmit)="submit()" *ngIf="form">
  <div class="app-control-wrap">
    <!-- name -->
    <input #name uxgInput lg formControlName="name">
    <label class="app-control-label" (click)="name.focus()">Наименование МТР</label>
    <div class="app-control-error" *ngIf="form.get('name').errors as e">
      <span *ngIf="e.required">Обязательное поле</span>
    </div>
  </div>
  <div class="app-row">
    <div class="app-col">
      <div class="app-row app-align-items-center">

        <!-- deliveryDate -->
        <div class="app-col">
          <div class="app-control-wrap">
            <input #deliveryDate uxgInput lg uxgDatepicker class="delivery-date" formControlName="deliveryDate">
            <label class="app-control-label" (click)="deliveryDate.focus()">Срок поставки</label>
            <label class="app-control-icon" (click)="deliveryDate.focus()">
              <uxg-icon shape="app-calendar-big" size="24"></uxg-icon>
            </label>
            <div class="app-control-error" *ngIf="form.get('deliveryDate').errors as e">
              <span *ngIf="e.field">Неверная дата</span>
            </div>
          </div>
        </div>
        <!-- isDeliveryDateAsap -->
        <div class="app-col app-row app-align-items-center">
          <uxg-checkbox class="app-control asap" #isDeliveryDateAsap formControlName="isDeliveryDateAsap"></uxg-checkbox>
          <label (click)="isDeliveryDateAsap.check($event)"> Как можно скорее</label>
        </div>
      </div>
    </div>

    <!-- deliveryBasis -->
    <div class="app-col">
      <div class="app-control-wrap">
        <input #deliveryBasis uxgInput lg class="delivery-basis" formControlName="deliveryBasis">
        <label class="app-control-label" (click)="deliveryBasis.focus()">Базис поставки (пункт, до которого требуется доставка)</label>
        <div class="app-control-error" *ngIf="form.get('deliveryBasis').errors as e">
          <span *ngIf="e.required">Обязательное поле</span>
        </div>
      </div>
    </div>
  </div>

  <!-- paymentTerms -->
  <div class="app-row">
    <div class="app-col">
      <label class="input-label">Условия оплаты</label>
      <uxg-dropdown lg placeholder="Условия оплаты" class="payment-terms" formControlName="paymentTerms">
        <div uxgDropdownItem value="30 дней по факту поставки">30 банковских дней по факту поставки</div>
        <div uxgDropdownItem value="60 дней по факту поставки">60 банковских дней по факту поставки</div>
        <div uxgDropdownItem value="90 дней по факту поставки">90 банковских дней по факту поставки</div>
      </uxg-dropdown>
    </div>
  </div>

  <br/>

  <div class="app-row">
    <div class="app-col app-col-auto" [style.width.px]="130">
      <div class="app-control-wrap">
        <input #quantity uxgInput lg class="quantity" formControlName="quantity" type="number" min="0" (keypress)="filterEnteredText($event)" />
        <label class="app-control-label" (click)="quantity.focus()">Количество</label>
        <div class="app-control-error" *ngIf="form.get('quantity').errors as e">
          <span *ngIf="e.required">Обязательное поле</span>
        </div>
      </div>
    </div>
    <div class="app-col app-col-auto" [style.width.px]="200">
      <uxg-dropdown-input appSuggestions strictMode class="measure-units" formControlName="measureUnit" placeholder="Ед. измерения"
        [$]="okeiList$" [searchFn]="okeiService.searchOkei" [lg]="true" #sug="appSuggestions"
      >
        <ng-container *ngIf="(sug.suggestions$ | async) as okeiSuggestions">
          <div uxgDropdownItem
               *ngFor="let suggestion of okeiSuggestions"
               [value]="suggestion.symbol | lowercase"
               [attr.title]="suggestion.name | lowercase"
          >{{suggestion.symbol | lowercase }} <span class="app-ghost-color">- {{suggestion.name | lowercase}}</span></div>
        </ng-container>
        <ng-template #errors>
          <div class="app-control-error" *ngIf="form.get('measureUnit').errors as e">
            <span *ngIf="e.required">Обязательное поле</span>
            <span *ngIf="e.notFromList">Выберите значение из списка</span>
          </div>
        </ng-template>
      </uxg-dropdown-input>
    </div>

    <div class="app-col app-col-auto" [style.width.px]="290">
      <div class="app-control-wrap">
        <input #startPrice uxgInput lg class="start-price" formControlName="startPrice"/>
        <label class="app-control-label" (click)="startPrice.focus()">Начальная макс. цена (необязательно)</label>
        <div class="app-control-error" *ngIf="form.get('startPrice').errors as e">
          <span *ngIf="e.min">Значение должно быть больше 0</span>
        </div>
      </div>
    </div>

    <div class="app-col app-col-auto" [style.width.px]="130">
      <label class="input-label">Валюта</label>
      <uxg-dropdown lg placeholder="Валюта" class="currency" formControlName="currency">
        <div uxgDropdownItem [value]="currency[0]" *ngFor="let currency of currencies">{{currency[1]}}</div>
      </uxg-dropdown>
    </div>
  </div>

  <div class="app-row">
    <div class="app-col">
      <div class="app-control-wrap">
        <input #productionDocument uxgInput lg class="prod-docs" formControlName="productionDocument"/>
        <label class="app-control-label" (click)="productionDocument.focus()">Документ, в соответствии с которым необходимо изготовление (НТД: ГОСТ/ТУ, ТЗ, ОЛ, ЗТП и т.п.)</label>
        <div class="app-control-error" *ngIf="form.get('productionDocument').errors as e">
          <span *ngIf="e.required">Обязательное поле</span>
        </div>
      </div>
    </div>
    <div class="app-col app-col-auto app-row app-align-items-center">
      <uxg-checkbox class="app-control" #design class="is-design-req" formControlName="isDesignRequired"></uxg-checkbox>
      <label (click)="design.check($event)">Требуется РКД</label>
    </div>
  </div>

  <div class="app-row">

    <!-- isShmrRequired | isPnrRequired | isInspectionControlRequired -->
    <div class="app-col">
      <h3>Необходимость сопутствующих услуг</h3>
      <br/>
      <div class="app-row">
        <div class="app-col app-col-auto app-row app-align-items-center">
          <uxg-checkbox class="app-control is-shmr-req" #shmr formControlName="isShmrRequired"></uxg-checkbox>
          <label (click)="shmr.check($event)">ШМР</label>
        </div>
        <div class="app-col app-col-auto app-row app-align-items-center">
          <uxg-checkbox class="app-control is-pnr-req" #pnr formControlName="isPnrRequired"></uxg-checkbox>
          <label (click)="pnr.check($event)">ПНР</label>
        </div>
        <div class="app-col app-col-auto app-row app-align-items-center">
          <uxg-checkbox class="app-control is-inspection-control-req" #inspection formControlName="isInspectionControlRequired"></uxg-checkbox>
          <label (click)="inspection.check($event)">Инспекционный контроль</label>
        </div>
      </div>
    </div>
    <div class="app-col">
      <h3>Дополнительные требования <span class="app-ghost-color" [style.font-weight]="'normal'">(необязательно)</span></h3>
      <br/>
      <!-- comment -->
      <textarea class="comments" uxgInput formControlName="comments"></textarea>
    </div>
  </div>
  <br/>

  <div class="app-row" *ngIf="isNewRequest">
    <div class="app-col">
      <h3>Документы позиции</h3>
      <br>
      <app-document-upload-list
        (fileSelected)="form.get('documents').setValue($event)"
        [documents]="form.get('documents').value"
        [dragAndDropAvailable]="true">
      </app-document-upload-list>
    </div>
  </div>
  <br/>

  <div class="app-row" *ngIf="!isNewRequest">
    <div class="app-col">
      Все поля, кроме начальной максимальной цены и дополнительных требований, являются <span class="app-bold app-error-color">обязательными</span> к заполнению!
    </div>
    <div class="app-col app-col-auto">
      <button type="button" uxgButton secondary lg (click)="cancel.emit()">Отмена</button>
      <button uxgButton primary lg>{{ needToSendToApprove ? "Отправить на согласование" : "Сохранить" }}</button>
    </div>
  </div>
</form>
