.container {
  width: 1200px;
}

.title-info {
  text-transform: uppercase;
  color: #999999;
}

clr-accordion {
  padding-top: 20px;
}

label {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #999999;
}

.clr-form-control {
  padding: 0;
}

.clr-accordion-title {
  max-width: 1200px;
}

.btn.btn-link {
  padding: 0;
}

.w-40 {
  width: 40%;
}

.btn.btn-link p {
  padding: 0;
  font-size: 12px;
}

.status {
  text-align: right;
}

clr-datagrid {
  padding-top: 15px;
}

.datagrid-cell {
  font-size: 13px;
}

.quantity {
  padding-right: 5px;
}

.right-align-button {
  text-align: right;
}

.select select {
  margin-bottom: 0;
}
