<ng-container *ngIf="!request" class="load-block">
  <span class="spinner spinner-md"></span>
</ng-container>


<ng-container *ngIf="request">

  <div class="container">
    <h3 class="request-title">Заявка №{{request.number}}</h3>

    <div class="clr-row">
      <table class="clr-col table table-noborder request-customer-info">
        <tbody>
          <tr class="table-titles">
            <td class="left">
              <p class="title-info">Заказчик</p>
            </td>

            <td class="left">
              <p class="title-info">Контактное лицо</p>
            </td>

            <td class="left">
              <p class="title-info">Email</p>
            </td>

            <td class="left">
              <p class="title-info">Дата создания</p>
            </td>

            <td class="left">
              <p class="title-info">Статус</p>
            </td>
          </tr>

          <tr class="table-content">
            <td class="left">{{request.contragent.shortName}}</td>

            <td class="left">{{request.user.lastName}}</td>

            <td class="left">{{request.user.email}}</td>

            <td class="left">{{request.createdDate | date :'shortDate'}}</td>

            <td class="left">
              <span class="status-request-{{request.status}}">
                {{request.statusLabel}}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <clr-accordion *ngIf="request.type !== getFreeFormLabel(); else freeFormCardBlock">
      <clr-accordion-panel *ngFor="let requestPosition of requestPositions">
        <clr-accordion-title>
          <div class="clr-row w-100">
            <div class="clr-col-9">
              <b>{{requestPosition.name}}</b>
            </div>
            <div class="clr-col-3 status">
              <span class="position-status status-position-{{requestPosition.status}}">
              {{requestPosition.statusLabel}}
              </span>
            </div>
          </div>

        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <div class="clr-form-control">
            <div class="clr-row w-100">
              <div class="clr-col-7">
                <label class="clr-control-label">Наименование МТР</label>
                {{requestPosition.name}}
              </div>
              <div class="clr-col-5">
                <label class="clr-control-label">Статус</label>
                <div class="select">
                  <select name="status" (change)="onChangeStatus(requestPosition, $event.target.value)"
                          [value]="requestPosition.status">
                    <option *ngFor="let status of requestPositionWorkflowStepLabels"
                            [(value)]="status[0]">
                      <span class="position-status status-position-{{requestPosition.status}}">{{status[1]}}</span>
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="clr-row w-100">
              <div class="clr-col-7">
                <label class="clr-control-label">Количество</label>
                <span class="quantity">{{requestPosition.quantity}}</span>{{requestPosition.measureUnit}}
              </div>
              <div class="clr-col-5">
                <label class="clr-control-label"> Необходимый срок поставки</label>
                <div class="deliveryDate" *ngIf="requestPosition.isDeliveryDateAsap">
                  как можно скорее
                </div>
                {{requestPosition.deliveryDate | date :'shortDate'}}
              </div>
            </div>
            <div class="clr-row w-100">
              <div class="clr-col-7">
                <label class="clr-control-label">Базис поставки (пункт, до которого требуется
                  доставка)</label>
                {{requestPosition.deliveryBasis}}
              </div>
              <div class="clr-col-5">
                <label class="clr-control-label">Условия оплаты</label>
                {{requestPosition.paymentTerms}}
              </div>
            </div>
            <div class="expanded-block w-100" *ngIf="expanded">
              <div class="clr-row w-100">
                <div class="clr-col-7">
                  <label class="clr-control-label">
                    Документ, в соответствии с которым необходимо изготовление (НТД: ГОСТ/ТУ, ТЗ, ОЛ, ЗТП и т.п.)
                  </label>
                  {{requestPosition.productionDocument}}
                </div>
                <div class="clr-col-5">
                  <label class="clr-control-label">Начальная максимальная цена</label>
                  <span class="quantity">{{requestPosition.startPrice}}</span>{{requestPosition.currency}}
                </div>
              </div>
              <div class="clr-row w-100">
                <div class="clr-col-7">
                  <div class="relatedServices" *ngIf="requestPosition.relatedServices">

                    <label class="clr-control-label nopadding">Необходимость сопутствующих услуг
                      (ШМР,
                      ПНР)</label>
                    {{requestPosition.relatedServices}}
                  </div>
                </div>
                <div class="clr-col-5">
                  <div class="relatedServices" *ngIf="requestPosition.comments">
                    <label class="clr-control-label">Примечания/комментрии</label>
                    {{requestPosition.comments}}
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-link" (click)="onExpanded()">
              <p class="btn btn-link" *ngIf="!expanded">Подробнее</p>
              <p class="btn btn-link" *ngIf="expanded">Свернуть</p>
            </button>
          </div>
          <clr-tabs>
            <clr-tab>
              <button clrTabLink>Документы</button>
              <clr-tab-content *clrIfActive="true">
                <app-document-list [documents]="requestPosition.documents"></app-document-list>
              </clr-tab-content>
            </clr-tab>
            <clr-tab>
              <button clrTabLink>Согласование</button>
              <clr-tab-content *clrIfActive>
                <app-messages [requestPosition]="requestPosition"></app-messages>
              </clr-tab-content>
            </clr-tab>
            <clr-tab>
              <button clrTabLink>Коммерческие предложения</button>
              <clr-tab-content *clrIfActive>
                <app-offers [requestPosition]="requestPosition"
                            [customerView]="false"></app-offers>
                <div class="submit">
                  <button class="btn btn-primary"
                          (click)="onPublishOffers(requestPosition)"
                          *ngIf="canPublish(requestPosition)"><b>Согласовать</b>
                  </button>
                </div>
              </clr-tab-content>
            </clr-tab>
            <clr-tab>
              <button clrTabLink>Договор</button>
              <clr-tab-content *clrIfActive>
                ...
              </clr-tab-content>
            </clr-tab>
          </clr-tabs>
        </clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>

    <ng-template #freeFormCardBlock>
      <div class="card free-form-request">
        <div class="card-block">
          <div class="card-text">

            <div class="clr-row w-100">
              <div class="clr-col">

                <div class="request-comment">
                  <span class="request-comment-title">Комментарий к заявке:</span>

                  <span class="request-comment-body">
                    {{ request.comment }}
                  </span>
                </div>


                <clr-tabs>
                  <clr-tab>
                    <button clrTabLink>Документы</button>
                    <clr-tab-content *clrIfActive="true">
                      <app-document-list [documents]="request.documents"></app-document-list>
                    </clr-tab-content>
                  </clr-tab>

                  <clr-tab>
                    <button clrTabLink>Согласование</button>
                    <clr-tab-content *clrIfActive>
                      ...
                    </clr-tab-content>
                  </clr-tab>

                  <clr-tab>
                    <button clrTabLink>КП</button>
                    <clr-tab-content *clrIfActive>
                      ...
                    </clr-tab-content>
                  </clr-tab>

                  <clr-tab>
                    <button clrTabLink>Договор</button>
                    <clr-tab-content *clrIfActive>
                      ...
                    </clr-tab-content>
                  </clr-tab>
                </clr-tabs>

              </div>
            </div>


          </div>
        </div>
      </div>
    </ng-template>
  </div>

</ng-container>
