.container {
  width: 1200px;
}

.title-info {
  text-transform: uppercase;
  color: #999999;
}

clr-accordion {
  padding-top: 20px;
}

label {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #999999;
}

.clr-form-control {
  padding: 0;
}

.clr-accordion-title {
  max-width: 1200px;
}

.btn.btn-link {
  padding: 0;
}

.w-40 {
  width: 40%;
}

.btn.btn-link p {
  padding: 0;
  font-size: 12px;
}

.status {
  text-align: right;
}

clr-datagrid {
  padding-top: 15px;
}

.datagrid-cell {
  font-size: 13px;
}

.quantity {
  padding-right: 5px;
}


.select select {
  margin-bottom: 0;
}

.submit {
  display: block;
  text-align: right;
}

.submit button {
  margin-right: 20px;
}

.status-request-NEW:before,
.status-request-IN_PROGRESS:before,
.status-request-COMPLETED:before,

.status-position-NEW:before,
.status-position-PROPOSALS_PREPARATION:before,
.status-position-RESULTS_AGREEMENT:before,
.status-position-CONTRACT_SIGNING:before,
.status-position-WINNER_SELECTED:before
{
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  margin: -2px 4px 0;
  border-radius: 50%;
}


.status-request-NEW:before {
  background: #b9b9b9;
}
.status-request-IN_PROGRESS:before {
  background: #f48f32;
}
.status-request-COMPLETED:before {
  background: #00b75e;
}


.status-position-NEW:before {
  background: #b9b9b9;
}
.status-position-PROPOSALS_PREPARATION:before {
  background: #28b1ec;
}
.status-position-RESULTS_AGREEMENT:before {
  background: #00b75e;
}
.status-position-CONTRACT_SIGNING:before {
  background: rgb(255, 71, 90);
}
.status-position-WINNER_SELECTED:before {
  background: rgba(142, 80, 210, 0.97);
}
