@import "src/theme";

.scrollable {
  max-height: calc(70vh - 230px);
  overflow-y: scroll;
  padding: 0 15px;
  margin: 0px -22px 0 -15px;
  @include scrollbar($theme);
}

.divider {
  margin: 0;
}

.select-list {
  &-positions, &-contragents { max-height: calc(70vh - 206px) }

  &-item {
    &-title {
      line-height: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-quantity {
      flex-grow: .15; // 15% width
      max-width: 100px;
      text-align: right;
    }
    &-total-price { flex-grow: .15; min-width: 150px; text-align: right; }
    &-date { min-width: 130px; text-align: right; }
    &-kpp { min-width: 120px }
    &-inn { max-width: 190px }
  }
}

.upload-docs {
  margin-left: 25px;
}

.access-radio {
  padding-right: 30px;
}

.no-total-price {
  padding-right: 30px;
}

.okpd2 {
  padding-bottom: 0;
}
