<ng-template #loading class="load-block">
  <span class="spinner spinner-md"></span>
</ng-template>

<ng-container *ngIf="employees; else loading">

  <clr-datagrid class="employee-list-datagrid">

    <clr-dg-column class="request-number clr-col">
      Имя сотрудника
    </clr-dg-column>

    <clr-dg-column class="request-published clr-col-4">
      E-mail
    </clr-dg-column>

    <clr-dg-column class="phone clr-col-2">
      Телефон
    </clr-dg-column>

    <clr-dg-column class="requests-positions-count clr-col-1">
      Заявок/позиций
    </clr-dg-column>


    <clr-dg-row *ngFor="let employee of employees"
                (click)="onRowClick(employee.user.id)">

      <clr-dg-cell class="employee-full-name clr-col">
        <b>{{ employee.user.fullName}}</b>
      </clr-dg-cell>

      <clr-dg-cell class="employee-email clr-col-4">
        <a (click)="mailto($event, employee.user.username)" href="mailto:{{ employee.user.username }}">{{ employee.user.username }}</a>
      </clr-dg-cell>

      <clr-dg-cell class="phone clr-col-2">
        {{ employee.user.phone || 'не указан' }}
      </clr-dg-cell>

      <clr-dg-cell class="requests-positions-count clr-col-1">
        {{ employee.reqCount }}<span class="gray">/</span>{{ employee.posCount }}
      </clr-dg-cell>

    </clr-dg-row>

  </clr-datagrid>

</ng-container>
