<ng-template #loading class="load-block">
  <span class="spinner spinner-md"></span>
</ng-template>

<ng-container *ngIf="employees; else loading">
  <div class="app-table app-no-border">
    <div class="app-row app-uppercase app-ghost-color app-bold">
      <small class="app-col name">Имя сотрудника</small>
      <small class="app-col email">E-mail</small>
      <small class="app-col phone">Телефон</small>
      <small class="app-col count">Заявок/позиций</small>
      <small class="app-col edit"></small>
    </div>
  </div>

  <div class="app-table">
    <a class="app-row app-link-no-color" [routerLink]="['/employees', employee.user.id, 'info']" *ngFor="let employee of employees">
      <div class="app-col app-bold name app-ellipsis" [ngClass]="{
        'not-activated' : !employee.user.activated,
        'app-ghost-color' : !employee.user.activated
      }">
        {{ employee.user.fullName }}
        <span *ngIf="!employee.user.activated">
          (<span class="app-warning-color">Не активирован пользователем</span>)
        </span>
      </div>

      <div class="app-col email app-ellipsis">
        <a (click)="mailto($event, employee.user.username)" href="mailto:{{ employee.user.username }}">{{ employee.user.username }}</a>
      </div>

      <div class="app-col phone">
        {{ employee.user.phone || 'не указан' }}
      </div>

      <div class="app-col count">
        {{ employee.reqCount }}<span class="app-ghost-color">/</span>{{ employee.posCount }}
      </div>
      <div class="app-col edit">
        <button uxgButton secondary (click)="openEditModal($event, employee.user.id); editEmployeeModal.open()"><uxg-icon shape="app-pen"></uxg-icon></button>
      </div>
    </a>
  </div>

  <uxg-modal #editEmployeeModal size="l">
      <h2>Редактировать сотрудника</h2>
<!--    <ng-container *ngIf="editEmployeeModal.open()">-->
      <div *ngIf="(userInfo$ | async) as user">
        {{user}}
      </div>
<!--   </ng-container>-->
  </uxg-modal>

</ng-container>
