<ng-container *ngIf="(category$ | async) as category">
    <h2>{{ category.name }}</h2>
    <div class="clr-row">
      <div class="clr-col">
        <ng-template #loading class="load-block"><span class="spinner spinner-md"></span></ng-template>
        <app-catalog-positions-list *ngIf="(positions$ | async) as positions; else loading" [positions]="positions">
        </app-catalog-positions-list>
      </div>
      <div class="clr-col clr-flex-grow-0">
        <app-catalog-filter (filter)="filter($event)"></app-catalog-filter>
      </div>
    </div>
</ng-container>
