<div class="clr-row">
  <div class="clr-col">
    <div class="search-control">
      <input clrinput
             placeholder="Введите строку для поиска"
             name="searchStr"
             type="text"
             (keyup.enter)="onSearch()"
             [(ngModel)]="searchStr"/>
      <input clrinput
             class="btn btn-link"
             type="submit"
             (click)="onSearch()"
             value="Поиск"/>
    </div>
  </div>
</div>

<clr-datagrid class="datagrid-select-hidden price-list-items"
              [clrDgLoading]="loading"
              (clrDgRefresh)="refresh($event)"
              [(clrDgSingleSelected)]="selectedPriceListItem"
              [clrDgRowSelection]="true">
  <clr-dg-column class="text-left">Наименование</clr-dg-column>
  <clr-dg-column class="text-right">Цена с НДС</clr-dg-column>
  <clr-dg-column class="text-right">Дата обновления</clr-dg-column>

  <clr-dg-row
          *ngFor="let item of this.priceListItems"
          [clrDgItem]="item"
          (click)="changeButtonsStatuses(item)"
          [ngClass]="{ 'already-in-list' : checkItemInList(item) }">
    <!-- Используем innerHtml, чтобы выделялись слова при полнотекстовом поиске-->
    <clr-dg-cell class="text-left" [innerHtml]="item.itemName"></clr-dg-cell>
    <clr-dg-cell class="text-right">{{ item.priceWithVat | currency:'RUB' }}</clr-dg-cell>
    <clr-dg-cell class="text-right">{{ item.lastUpdatedDate | date:'shortDate' }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgTotalItems]="total" [clrDgPageSize]="pageSize"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<div class="clr-row">
  <div class="clr-col right-separator" *ngIf="isAnalogAllowed === true">
    <button class="btn btn-link select-btn" (click)="onAnalogSelect()" [disabled]="!selectedPriceListItem || analogButtonDisabled">
      <span>Выбрать как аналог</span>
    </button>
  </div>
  <div class="clr-col">
    <button class="btn btn-link select-btn" (click)="onMainSelect()" [disabled]="!selectedPriceListItem || mainButtonDisabled">
      <span>Выбрать</span>
    </button>
  </div>
</div>
