.select-btn {
  width: 100%;
}

.search-control {
  display: inline-flex;
  width: 100%;
}

.search-control .btn {
  width: 80px;
  padding: 0 10px;
  margin: 0 0 10px;
}

::ng-deep clr-dg-row.datagrid-row.already-in-list clr-dg-cell {
  color: grey !important;
}

.price-list-items {
    max-height: 500px;
}

.price-list-items clr-dg-cell {
  line-height: 20px;
  font-size: 14px;
  text-align: right;
  padding: 10px;
}

::ng-deep .price-list-items clr-dg-cell:nth-of-type(2) {
  text-align: left !important;
}