
<ng-container *ngIf="!purchase" class="load-block">
  <span class="spinner spinner-md"></span>
</ng-container>

<ng-container *ngIf="purchase">

  <!-- Шапка -->
  <app-purchase-view-header [purchase]="purchase">
  </app-purchase-view-header>

  <div class="clr-row">

    <!-- Левая панель -->
    <div class="clr-col-lg-7">
      <app-card [title]="'Список позиций'"
                [subtitle]="'Всего позиций: ' + positionsData.totalCount">
        <app-order-positions
                [positionsLoading]="positionsLoading"
                [positionsPage]="positionsData">
        </app-order-positions>
      </app-card>
    </div>


    <!-- Правая панель -->
    <div class="clr-col-lg-5">

      <!-- Блок «Договор» -->
      <div class="alert-created-request-price-reduction" *ngIf="documentSentForSupplierSigning === true">
        <clr-alert [clrAlertType]="'alert-success'">
          <div clr-alert-item class="alert-item">
            <span class="alert-text">
              Договор успешно отправлен на подпись поставщику
            </span>
          </div>
        </clr-alert>
      </div>



      <div class="alert-created-request-price-reduction" *ngIf="supplierDocumentSignDeadlineOpen === true">
        <app-datetime-selector-modal [(opened)]="supplierDocumentSignDeadlineOpen"
                                     [dateReadonly]="true"
                                     [label]="'Введите время окончания срока подписания документа поставщиком:'"
                                     [actionButtonLabel]="'Сохранить и подписать'"
                                     (submitAction)="onCreateDocumentSignDeadline($event)">
        </app-datetime-selector-modal>
      </div>


      <app-card [title]="'Договор'">
        <app-purchase-documents-list
                [documents]="purchase.contracts"
                [uploader]="documentService.uploader"
                (fileSelected)="uploadContract()"
                [placeholder]="'Договор не загружен'"
                [uploadEnable]="true"
                >
        </app-purchase-documents-list>

        <ng-container *ngIf="canSignDocument()">
          <div class="clr-row sign-panel">
            <button class="btn btn-link" (click)="onDocumentSign()">
              <b>Подписать</b>
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="isSignedDocument()">
          <div class="sign-panel">
            <p>Договор подписан</p>
          </div>
        </ng-container>

      </app-card>


      <!-- Блок «Цена заказа» -->
      <app-card [title]="'Цена заказа'">
        <app-order-price [purchase]="purchase"></app-order-price>
      </app-card>


      <!-- Блок «Поставщик» -->
      <app-card [title]="'Поставщик'">
        <app-order-supplier
          [supplierInfo]="purchase.supplier?.supplier">
        </app-order-supplier>
      </app-card>


    </div>

  </div>

</ng-container>
