<div #messagesList class="messages-list">
  <ng-container *ngIf="!loading">
    <div class="message" *ngFor="let message of messages">
      <div class="message-user" *ngIf="!isOwnMessage(message)">
        {{ message.user.fullName }}
      </div>

      <div class="message-body"
           [ngClass]="{ 'own-message' : isOwnMessage(message), 'them-message' : !isOwnMessage(message) }">
        {{ message.message }}

        <div class="files" *ngIf="message.documents.length > 0">
          <app-document-simple-list
            [documents]="message.documents"
            [enableUpload]="false">
          </app-document-simple-list>
        </div>

        <span class="message-date"> {{ message.createdDate | date:'dd.MM.yyyy' }}</span>
      </div>
    </div>
  </ng-container>

  <div class="empty-list" *ngIf="!loading && messages && !messages.length">
    Сообщений нет
  </div>

  <div class="loading" *ngIf="loading">
    <span class="spinner spinner-md"></span>
  </div>
</div>


<div class="new-message">
  <form [formGroup]="sendMessageForm" (ngSubmit)="onCreateClick(sendMessageForm.value)">
    <button type="submit"
            class="btn btn-link btn-icon"
            aria-label="Отправить"
            title="Отправить"
            [disabled]="!sendMessageForm.valid">
      <clr-icon shape="envelope"></clr-icon>
    </button>

    <div class="input-wrapper">
      <textarea formControlName="message"
                placeholder="Введите сообщение"
                (keyup.control.enter)="onCreateClick(sendMessageForm.value)">
      </textarea>
    </div>

    <app-document-upload-list
      [documents]="uploadedFiles"
      [uploadLabel]="'Прикрепить документ'"
      (fileSelected)="onFileSelected($event)"
    ></app-document-upload-list>
  </form>
</div>
