<form [formGroup]="form" *ngIf="positions && request">
  <div class="app-row">

    <!-- Контролы управления позициями -->
    <div class="app-col app-table app-no-border">
      <div class="app-row clr-align-items-end">
        <!-- Царь-чекбокс  -->
        <div class="app-col app-basis-auto clr-flex-grow-0">
          <div class="app-row clr-align-items-center">
            <uxg-checkbox formControlName="checked" [isMixed]="isMixedChecked"></uxg-checkbox>
            <div class="app-dropdown">
              <button class="app-btn app-btn-clear app-btn-link">
                <clr-icon shape="app-triangle down"></clr-icon>
              </button>
            </div>
          </div>
        </div>

        <!-- Назначиь ответственного -->
        <div class="app-col app-basis-auto clr-flex-grow-0" *ngIf="user.isSeniorBackoffice()">
          <button class="app-btn app-btn-clear app-btn-link"
                  [disabled]="checkedPositions.length === 0" (click)="addResponsibleModal.open()">
            <clr-icon shape="app-user" size="16"></clr-icon>
            <span>Назначить</span>
          </button>
          <app-request-add-responsible-modal #addResponsibleModal [request]="request" [positions]="checkedPositions" (success)="addResponsible.emit($event)">
          </app-request-add-responsible-modal>
        </div>

        <!-- Добавить в группу -->
        <div class="app-col app-basis-auto clr-flex-grow-0" *ngIf="user.isBackOffice()">
          <button class="app-btn app-btn-clear app-btn-link"
                  [disabled]="checkedPositions.length === 0" (click)="addGroupModal.open()">
            <clr-icon shape="app-group" size="16" class="is-solid"></clr-icon>
            <span>Создать группу</span>
          </button>
          <app-request-add-group-modal #addGroupModal [request]="request" [positions]="checkedPositions" (success)="addGroup.emit($event)">
          </app-request-add-group-modal>
        </div>

        <!-- Переместить в группу -->
        <div class="app-col app-basis-auto clr-flex-grow-0" *ngIf="user.isBackOffice()">
          <button class="app-btn app-btn-clear app-btn-link" [disabled]="true">
            <clr-icon shape="app-move" size="16" class="is-solid"></clr-icon>
            <span>Переместить</span>
          </button>
        </div>

        <div class="app-col"></div>
        <div class="app-col app-basis-auto clr-flex-grow-0">

          <!-- Новая позиция  -->
          <button class="app-btn app-btn-secondary app-btn-icon-text" [disabled]="true">
            <clr-icon shape="app-plus"></clr-icon>
            <span>Новая позиция</span>
          </button>

          <!-- Фильтр  -->
          <button class="app-btn app-btn-secondary app-btn-icon-text" [disabled]="true">
            <clr-icon shape="app-sort2"></clr-icon>
            <span>Фильтр</span>
          </button>
        </div>
      </div>
    </div>
    <div class="app-col app-col-aside"></div>
  </div>
  <div class="app-row">

    <!-- Список позиций -->
    <div class="app-col app-table positions">
      <ng-container *ngFor="let position of positions; index as i;" formArrayName="positions">
        <ng-container formGroupName="{{i}}" *ngIf="formPositions.controls[i]">

          <!-- Позиция -->
          <ng-container *ngIf="asPosition(position) as position">
            <a [href]="getPositionUrl(position)" (click)="navigateToPosition(position, $event)" class="app-row app-link-no-color">
              <ng-container *ngTemplateOutlet="positionItem; context: {
                position: position,
                formControl: formPositions.controls[i]
              }"></ng-container>
            </a>
          </ng-container>

          <!-- Группа -->
          <ng-container *ngIf="asGroup(position) as group">
            <div (click)="navigateToPosition(group, $event)" class="app-row app-row-group">
              <div class="app-col clr-flex-grow-0">
                <uxg-checkbox formControlName="checked"></uxg-checkbox>
              </div>
              <div class="app-col">
                <div class="item-title group-title">
                  <span>Группа: </span>
                  <b>{{ group.name ||"Без имени" }} </b>
                  <span class="app-ghost-color">({{group.positions.length}})</span>
                </div>

                <!-- Позиции группы -->
                <ng-container formArrayName="positions">
                  <div class="app-row app-row-group-positions" *ngFor="let groupPositions of group.positions; index as j" >
                    <ng-container formGroupName="{{j}}" *ngTemplateOutlet="positionItem; context:{
                        position: groupPositions,
                        formControl: asFormArray(formPositions.controls[i].get('positions')).controls[j]
                    }"></ng-container>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>

    <!-- Правая колонка -->
    <div class="app-col app-col-aside" *ngIf="(flatPositions$ | async) as flatPositions">
      <app-request-aside-info [positions]="flatPositions" [request]="request"></app-request-aside-info>
    </div>
  </div>
</form>

<!-- Шаблон позиции -->
<ng-template #positionItem let-position="position" let-formControl="formControl">
  <div class="app-col clr-flex-grow-0">
    <uxg-checkbox [formControl]="formControl.get('checked')"></uxg-checkbox>
  </div>
  <div class="app-col app-bold item-title">
    <a [href]="getPositionUrl(position)" (click)="navigateToPosition(position, $event)" class="app-link-no-color">
      {{ position.name }}
    </a>
  </div>
  <div class="app-col item-quantity">
    <span>{{ position.quantity }} </span>
    <span class="app-ghost-color">{{ position.measureUnit | lowercase }}</span>
  </div>
  <div class="app-col item-date">
    <ng-container *ngIf="position.isDeliveryDateAsap; else deliveryDate">Как можно скорее</ng-container>
    <ng-template #deliveryDate>{{ position.deliveryDate | date : 'dd.MM.yyyy' }}</ng-template>
  </div>
  <div class="app-col item-status">
    <ng-container *ngIf="user.isSeniorBackoffice() && position.responsibleUser as user; else status">
      {{ position.responsibleUser.shortName }}
    </ng-container>
    <ng-template #status>
      <uxg-position-status  [label]="position.statusLabel" [status]="position.status">
      </uxg-position-status>
    </ng-template>
  </div>
</ng-template>

