@import "projects/uxg/src/styles/index";

.app-dropdown {
  display: inline-block;
  margin-left: 8px;
}

.item {
  &-title {
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-quantity {
    flex-grow: .15; // 15% width
    max-width: 100px;
  }

  &-status {
    max-width: 200px;
  }

  &-date {
    max-width: 120px;
  }
}

.app-table > .app-row {
  &-group {
    background: #F0F6FA;
    border-left: 4px #B2D0FF solid;
    cursor: pointer;
    padding-left: 2px;

    &:hover {
      background: #E9F1F7;
    }

    .item-title a:hover {
      color: uxg($theme, color-font-secondary);
    }

    .positions {
      padding-top: 14px;

      .app-col {
        padding: 10px 14px;

        &:first-child {
          padding-left: 0;
          padding-right: 6px;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  & > .app-col:first-child {
    padding-right: 6px;
  }
}
