<div class="app-row">
  <div class="app-col-auto">
    <h1>
      {{ request.name }} 
      <ng-container *ngIf="!(status && status !== 'received'); else requestLoader">
        <button *ngIf="canEditRequestName()"
                (click)="openRequestNameEditModal()"
                class="title-edit" uxgButton icon secondary>
          <uxg-icon shape="app-pen" size="16"></uxg-icon>
        </button>
      </ng-container>

      <ng-template #requestLoader>
        <div class="title-loader">
          <span class="spinner spinner-inline"></span>
        </div>
      </ng-template>
    </h1>
  </div>
</div>


<form [formGroup]="form">
  <div class="app-row" *ngIf="positions.length !== 0">
    <!-- Контролы управления позициями -->
    <div class="app-col app-table app-no-border">
      <div class="app-row app-align-items-center">
        <!-- Царь-чекбокс -->
        <div class="app-col app-col-auto">
          <div class="app-row app-align-items-center">
            <uxg-checkbox formControlName="checked" uxgSelectAllFor="positions"
                          *ngFor="let form of [form]"></uxg-checkbox>
            <uxg-popover #popover>
              <button uxgButton uxgPopoverTrigger link icon>
                <uxg-icon shape="app-triangle down"></uxg-icon>
              </button>
              <div *uxgPopoverContent>
                <div>
                  <button uxgButton clear (click)="select('all'); popover.hide()">Все</button>
                </div>
                <div>
                  <button uxgButton clear (click)="select('none'); popover.hide()">Ни одного</button>
                </div>
                <div>
                  <button uxgButton clear (click)="select('groups'); popover.hide()">Группы</button>
                </div>
                <div>
                  <button uxgButton clear (click)="select('positions'); popover.hide()">Вне групп</button>
                </div>
              </div>
            </uxg-popover>
          </div>
        </div>

        <!-- Отправить позиции на согласование -->
        <div class="app-col app-col-auto" *ngIf="featureService.authorize('sentToApprove') && isDraft">
          <button uxgButton clear link [disabled]="checkedPositions.length === 0 || !canPublish"
                  (click)="publish.emit(checkedPositions)">
            <uxg-icon shape="app-on-approve" size="16" class="is-solid"></uxg-icon>
            <span>На согласование</span>
          </button>
        </div>

        <!-- Добавить в группу -->
        <div class="app-col app-col-auto" *ngIf="featureService.authorize('addRequestGroup')">
          <button uxgButton clear link [disabled]="checkedPositions.length === 0" (click)="addGroupModal.open()">
            <uxg-icon shape="app-group" size="16" class="is-solid"></uxg-icon>
            <span>Создать группу</span>
          </button>
        </div>

        <!-- Переместить в группу -->
        <div class="app-col app-col-auto" *ngIf="featureService.authorize('moveRequestGroup')">
          <button uxgButton clear link [disabled]="groups.length === 0 || checkedPositions.length === 0"
                  (click)="moveGroupModal.open()">
            <uxg-icon shape="app-move" size="16" class="is-solid"></uxg-icon>
            <span>Переместить</span>
          </button>
        </div>

        <!-- Групповая смена статус -->
        <div class="app-col app-col-auto" *ngIf="user.isBackOffice()">
          <uxg-popover #status [openOnHover]="true">
            <button uxgButton uxgPopoverTrigger clear link
                    [disabled]="!canChangeStatuses || checkedPositions.length === 0"
                    (click)="changeStatusModal.open()">
              <uxg-icon shape="app-circle-arrow"></uxg-icon>
              <span>Сменить статус</span>
            </button>

            <div *uxgPopoverContent>
              <div>Вы можете изменить статус нескольких позиций сразу,</div>
              <div>если все позиции находятся в одном статусе.</div>
            </div>
          </uxg-popover>
        </div>


        <!-- Отправить в работу -->
        <div class="app-col app-col-auto"
             *ngIf="featureService.available('publishRequest', user.roles) && everyPositionHasStatus(flatPositions, 'DRAFT')">
          <button uxgButton clear link
                  [disabled]="checkedPositions.length === 0"
                  (click)="onPublishPositions()">
            <uxg-icon shape="app-on-approve"></uxg-icon>
            <span>Отправить в работу</span>
          </button>
        </div>

        <!-- Отмена позиции заказчиком -->
        <div class="app-col app-col-auto" *ngIf="user.isCustomer()">
          <button uxgButton clear link
                  [disabled]="checkedPositions.length === 0 || !everyPositionIsNotDraftEntity() || someOfPositionsAreInProcedure()"
                  (click)="cancelPositionModal.open()">
            <uxg-icon shape="app-trash"></uxg-icon>
            Отменить
          </button>
        </div>

        <ng-container *ngIf="someOfPositionsHasStatus(flatPositions, 'ON_CUSTOMER_APPROVAL')">
          <!-- Отклонить -->
          <div class="app-col app-col-auto" *ngIf="featureService.available('approveRequest', user.roles)">
            <button uxgButton clear link
                    [disabled]="checkedPositions.length === 0 || !everyPositionHasStatus(checkedPositions, 'ON_CUSTOMER_APPROVAL')"
                    (click)="rejectPositionModal.open()">
              <uxg-icon shape="app-cross"></uxg-icon>
              <span>Отклонить</span>
            </button>
          </div>

          <!-- Согласовать -->
          <div class="app-col app-col-auto" *ngIf="featureService.available('approveRequest', user.roles)">
            <button uxgButton clear link
                    [disabled]="checkedPositions.length === 0 || !everyPositionHasStatus(checkedPositions, 'ON_CUSTOMER_APPROVAL')"
                    (click)="onApprovePositions()">
              <uxg-icon shape="app-check"></uxg-icon>
              <span>Согласовать</span>
            </button>
          </div>
        </ng-container>

        <!-- Кебаб-меню -->
        <div class="app-col app-basis-auto">
          <uxg-popover #more>
            <button uxgButton uxgPopoverTrigger clear link>
              <uxg-icon shape="app-kebab"></uxg-icon>
            </button>

            <div *uxgPopoverContent (click)="more.hide()">
              <ng-container *ngIf="user.isBackOffice()">

                <!-- Загрузить документы в выбранные позиции -->
                <div>
                  <button uxgButton clear [disabled]="checkedPositions.length === 0"
                          (click)="openFileUploadToPositionsModal()">Загрузить документы
                  </button>
                </div>

                <!-- Назначить ответственного -->
                <div *ngIf="user.hasPermission(permissionType.POSITIONS_DISTRIBUTION_BETWEEN_BACKOFFICE_BUYERS)">
                  <button uxgButton clear [disabled]="checkedPositions.length === 0"
                          (click)="addResponsibleModal.open()">Назначить
                  </button>
                </div>

                <div>
                  <button uxgButton clear
                          [disabled]="checkedPositions.length === 0 || !everyPositionIsNotDraftEntity() || someOfPositionsAreInProcedure()"
                          (click)="cancelPositionModal.open()">Отменить
                  </button>
                </div>

                <div>
                  <button uxgButton clear (click)="toggleGroups(true)">Свернуть группы</button>
                </div>

                <div>
                  <button uxgButton clear (click)="toggleGroups(false)">Развернуть группы</button>
                </div>
              </ng-container>

              <ng-container *ngIf="user.isCustomer()">
                <!-- Отправить в работу -->
                <div class="app-col app-col-auto"
                     *ngIf="featureService.available('publishRequest', user.roles) && !everyPositionHasStatus(flatPositions, 'DRAFT')">
                  <button uxgButton clear
                          [disabled]="checkedPositions.length === 0 || !everyPositionHasStatus(checkedPositions, 'DRAFT')"
                          (click)="onPublishPositions()">
                    Отправить в работу
                  </button>
                </div>

                <!-- Загрузить документы в выбранные позиции -->
                <div class="app-col app-col-auto">
                  <button uxgButton clear [disabled]="checkedPositions.length === 0"
                          (click)="openFileUploadToPositionsModal()">Загрузить документы
                  </button>
                </div>

                <ng-container *ngIf="featureService.authorize('createTemplate')">
                  <!-- Создать шаблон -->
                  <div class="app-col app-col-auto">
                    <button uxgButton clear [disabled]="checkedPositions.length === 0"
                            (click)="createTemplateModal.open()">Создать шаблон
                    </button>
                  </div>
                </ng-container>
                <ng-container *ngIf="!someOfPositionsHasStatus(flatPositions, 'ON_CUSTOMER_APPROVAL')">
                  <!-- Отклонить -->
                  <div class="app-col app-col-auto" *ngIf="featureService.available('approveRequest', user.roles)">
                    <button uxgButton clear disabled>
                      <span>Отклонить</span>
                    </button>
                  </div>

                  <!-- Согласовать -->
                  <div class="app-col app-col-auto" *ngIf="featureService.available('approveRequest', user.roles)">
                    <button uxgButton clear disabled>
                      <span>Согласовать</span>
                    </button>
                  </div>
                </ng-container>

              </ng-container>
            </div>
          </uxg-popover>
        </div>

        <div class="app-col app-col-auto">
          <uxg-popover #more [openOnHover]="true">
            <button uxgButton secondary iconText
                    uxgPopoverTrigger
                    *ngIf="request.status !== 'COMPLETED' && request.status !== 'NOT_RELEVANT'"
                    [disabled]="request.isOlderTwoWeeks" (click)="addPositionModal.open()">
              <uxg-icon shape="app-plus"></uxg-icon>
              <span>Новая позиция</span>
            </button>

            <ng-container *ngIf="request.isOlderTwoWeeks">
              <div *uxgPopoverContent (click)="more.hide()">
                <div>Заявке больше двух недель.</div>
                <div>Добавление новых позиций недоступно.</div>
              </div>
            </ng-container>
          </uxg-popover>

          <!-- Фильтр  -->
          <!--          TODO Нереализованная фича, временно скрыл кнопку -->
          <!--          <button uxgButton secondary iconText [disabled]="true">-->
          <!--            <uxg-icon shape="app-sort2"></uxg-icon>-->
          <!--            <span>Фильтр</span>-->
          <!--          </button>-->
        </div>
      </div>
    </div>

    <div class="app-col app-col-aside"></div>
  </div>

  <div class="app-row">
    <ng-container *ngIf="positions.length === 0; else regularRequestPositions">
      <div class="app-col request-area">
        <div class="no-positions">
          <ng-container *ngIf="user.isCustomer()">
            <h2 class="text-center" [style.opacity]="0.1">
              <uxg-icon class="clock-icon" shape="app-waiting-big" [size]="165"></uxg-icon>
              <br/>
              Заявка находится в обработке <br/> бэк-офиса, скоро здесь появятся <br/> позиции
            </h2>
          </ng-container>

          <ng-container *ngIf="user.isBackOffice()">
            <h2 class="text-center" [style.opacity]="0.1">
              <uxg-icon class="add-position-icon" shape="app-add-position" [size]="270"></uxg-icon>
              <br/>
              К заявке пока не добавлено <br/> ни одной позиции
            </h2>

            <div class="add-position-button">
              <uxg-popover #more [openOnHover]="true">
                <button uxgButton primary iconText
                        uxgPopoverTrigger
                        [disabled]="request.isOlderTwoWeeks" (click)="addPositionModal.open()">
                  <uxg-icon shape="app-plus"></uxg-icon>
                  <span>Новая позиция</span>
                </button>

                <ng-container *ngIf="request.isOlderTwoWeeks">
                  <div *uxgPopoverContent (click)="more.hide()">
                    <div>Заявке больше двух недель.</div>
                    <div>Добавление новых позиций недоступно.</div>
                  </div>
                </ng-container>
              </uxg-popover>
            </div>
          </ng-container>
        </div>

        <ng-container *ngIf="request.documents.length">
          <div class="app-row">
            <div class="app-col" [style.padding.px]="20">
              <hr class="divider">

              <small class="app-uppercase app-ghost-color app-bold">Документы прикреплены при создании</small>
              <app-document-simple-list [gridable]="true" [enableUpload]="false" [documents]="request.documents">
              </app-document-simple-list>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <!-- Список позиций -->
    <ng-template #regularRequestPositions>
      <div class="app-col app-table"
           [class.disabled]="(status && status !== 'received') || positionsStatus && positionsStatus !=='received'">
        <ng-container *ngIf="positions.length === 0">
          <h2 class="text-center" [style.opacity]="0.1">
            <uxg-icon shape="app-info" size="270"></uxg-icon>
            <br/>
            К заявке пока не добавлено <br/>ни одной позиции
          </h2>
        </ng-container>
        <ng-container *ngFor="let formGroup of formPositions.controls">
          <!-- Позиция -->
          <ng-container *ngIf="asPosition(formGroup.get('position').value) as position">
            <a appUploadFile hoverClass="upload-area-hover" (dropFile)="onDragAndDropDocumentsToPosition(position.id, $event)"
               [href]="getPositionUrl(position)"
               (click)="navigateToPosition(position, $event)"
               class="app-row app-link-no-color"
               [ngClass]="{'canceled' : position.status === 'NOT_RELEVANT' || position.status === 'CANCELED'}">
              <div *ngTemplateOutlet="positionItem; context: { position: position, formGroup: formGroup }"></div>
            </a>
          </ng-container>

          <!-- Группа -->
          <ng-container *ngIf="asGroup(formGroup.get('position').value) as group">
            <!--a [href]="getPositionUrl(group)" (click)="navigateToPosition(group, $event)" class="app-row app-link-no-color app-row-group"-->
            <div class="app-row app-link-no-color app-row-group">
              <div *ngTemplateOutlet="groupItem; context:{ group: group, formGroup: formGroup }"></div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-template>

    <!-- Правая колонка -->
    <div class="app-col app-col-aside">
      <app-request-aside-info [positions]="flatPositions" [request]="request"></app-request-aside-info>
    </div>
  </div>
</form>

<!-- Шаблон позиции -->
<ng-template #positionItem let-position="position" let-formGroup="formGroup">
  <div class="app-col app-grow-0" [formGroup]="formGroup">
    <uxg-checkbox formControlName="checked"></uxg-checkbox>
  </div>

  <div class="app-col app-bold item-title app-ellipsis">
    <a [href]="getPositionUrl(position)" (click)="navigateToPosition(position, $event)"
       class="app-link-no-color position-link app-ellipsis">
      {{ position.name }}
    </a>
  </div>

  <div class="app-col item-quantity app-ellipsis">
    <span class="quantity">{{ position.quantity }} </span>
    <span class="app-ghost-color">{{ position.measureUnit | lowercase }}</span>
  </div>

  <div class="app-col item-date app-ellipsis">
    <ng-container *ngIf="position.isDeliveryDateAsap; else deliveryDate">Как можно скорее</ng-container>
    <ng-template #deliveryDate>{{ position.deliveryDate | date : 'dd.MM.yyyy' }}</ng-template>
  </div>

  <div class="app-col item-status app-ellipsis">
    <ng-container
      *ngIf="user.isBackOffice() &&
      user.hasPermission(permissionType.POSITIONS_DISTRIBUTION_BETWEEN_BACKOFFICE_BUYERS) &&
      position.responsibleUser as user; else status">
      {{ position.responsibleUser.shortName }}
    </ng-container>
    <ng-template #status>
      <app-position-status [label]="PositionStatusesLabels[position.status]" [status]="position.status">
      </app-position-status>
    </ng-template>
  </div>

  <div class="app-col item-attribute-icon">
    <uxg-popover #more [openOnHover]="true" *ngIf="position.isInspectionControlRequired">
      <uxg-icon uxgPopoverTrigger shape="app-inspector" class="app-ghost-color"></uxg-icon>

      <div *uxgPopoverContent="popoverDir.bottomRight" (click)="more.hide()">
        <div>Инспекционный контроль</div>
      </div>
    </uxg-popover>
    <uxg-icon shape="app-element" [class]="position.mtrPositionId ? 'app-ghost-color' : 'app-link-color'"></uxg-icon>
  </div>

</ng-template>

<!-- Шаблон группы -->
<ng-template #groupItem let-group="group" let-formGroup="formGroup">
  <div class="app-col app-grow-0" [formGroup]="formGroup">
    <uxg-checkbox formControlName="checked" uxgSelectAllFor="positions"></uxg-checkbox>
  </div>

  <div class="app-col" *ngIf="formGroup.get('folded') as folded">
    <div class="app-row">
      <div class="app-col item-title app-ellipsis">
        <span class="app-secondary-color">Группа: </span>
        <b>{{ group.name || "Без имени" }} </b>
        <span class="app-ghost-color">({{group.positions.length}})</span>
      </div>
      <!-- @TODO Implement -->
      <!--div class="app-col" [style.max-width.px]="460">
        2 как можно скорее | 01.01.2020 — ...
      </div-->
      <div class="app-col app-row app-grow-0">
        <uxg-icon class="app-accordion-title-icon" shape="app-chevron" [attr.dir]="folded.value ? 'down' : 'up'"
                  (click)="folded.setValue(!folded.value); $event.preventDefault(); $event.stopPropagation();"></uxg-icon>
      </div>
    </div>

    <!-- Позиции группы -->
    <div class="positions" *ngIf="!folded.value">
      <ng-container *ngFor="let childformGroup of asFormArray(formGroup.get('positions')).controls">
        <div class="app-row">
          <ng-container *ngTemplateOutlet="positionItem; context:{
              position: childformGroup.get('position').value,
              formGroup: childformGroup
          }"></ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<app-request-add-position-modal
  #addPositionModal
  [request]="request"
  [onDrafted]="onDrafted"
  (success)="addPosition.emit($event)"
  (uploadFromTemplate)="uploadFromTemplate.emit($event)"
  (cancel)="addPositionModal.close()"
></app-request-add-position-modal>

<!-- Модальное окно для назначения ответственного -->
<uxg-modal #addResponsibleModal size="s">
  <h2>Назначить позиции <span class="app-font-normal app-ghost-color">({{ checkedPositions?.length }})</span></h2>
  <div *ngIf="addResponsibleModal.state">
    <app-request-add-responsible
      [request]="request"
      [positions]="checkedPositions"
      (success)="addResponsible.emit($event)"
      (close)="addResponsibleModal.close()"
    ></app-request-add-responsible>
  </div>
</uxg-modal>

<!-- Модальное окно для создания шаблона -->
<uxg-modal #createTemplateModal size="m">
  <h2>Создать шаблон</h2>
  <div *ngIf="createTemplateModal.state">
    <app-request-create-template
      [request]="request"
      [positions]="checkedPositions"
      (createTemplate)="this.createTemplate.emit($event); resetSelectedPositions()"
      (close)="createTemplateModal.close()"
    ></app-request-create-template>
  </div>
</uxg-modal>

<!-- Модальное окно для отмены позиции -->
<uxg-modal #cancelPositionModal size="s">
  <h2>Отменить позиции <span class="app-font-normal app-ghost-color">({{ checkedPositions?.length }})</span></h2>
  <div class="app-section app-secondary-color">Будьте внимательны, отменить операцию будет невозможно</div>
  <app-position-cancel [positions]="checkedPositions" [requestId]="request.id"
                       (close)="cancelPositionModal.close()"></app-position-cancel>
</uxg-modal>

<!-- Модальное окно для отклонения позиции -->
<uxg-modal #rejectPositionModal size="s">
  <ng-container *ngIf="rejectPositionModal.state">
    <h2>Комментарий по отклонению</h2>
    <div class="app-section app-secondary-color">
      Если возможно, сообщите пожалуйста причину отклонения сотруднику бэк-офиса.
      Комментарий будет добавлен в общий чат по заявке. Оставлять комментарий не обязательно.
    </div>

    <div class="input-wrapper">
      <div class="app-ghost-color" [style.margin-bottom.px]="3">Комментарий</div>
      <textarea #comment
                [style.height.px]="100"
                uxgInput
                placeholder="Введите текст комментария..."></textarea>
    </div>

    <ng-template uxgModalFooter>
      <button type="button" uxgButton secondary lg uxgModalClose>Отмена</button>
      <button type="button" uxgButton primary lg
              (click)="onRejectPositions(comment.value); rejectPositionModal.close()">
        Отправить
      </button>
    </ng-template>
  </ng-container>
</uxg-modal>

<!-- Модальное окно для смены статуса группы позиций -->
<uxg-modal #changeStatusModal size="s">
  <h2>Сменить статус позиций <span class="app-font-normal app-ghost-color">({{ checkedPositions?.length }})</span></h2>
  <ng-container *ngIf="changeStatusModal.state">
    <app-positions-status-change
      #positionsStatusChange
      [positions]="checkedPositions"
      [status]="checkedPositions[0]?.status"
      (changeStatus)="changeStatus.emit(); changeStatusModal.close()">
    </app-positions-status-change>
    <ng-template uxgModalFooter>
      <button type="button" uxgButton secondary lg uxgModalClose>Отмена</button>
      <button type="button" uxgButton primary lg
              [disabled]="!positionsStatusChange.valid() || positionsStatusChange.loading"
              (click)="positionsStatusChange.onChangeBtn()">
        Сменить
      </button>
    </ng-template>
  </ng-container>
</uxg-modal>

<uxg-modal size="s" #addGroupModal>
  <h2>Создать группу <span class="app-font-normal app-ghost-color">({{ checkedPositions?.length }})</span></h2>
  <ng-container *ngIf="addGroupModal.state">
    <app-request-group-form
      [request]="request"
      [positions]="checkedPositions"
      (success)="addGroup.emit($event)"
      (close)="addGroupModal.close()"
    ></app-request-group-form>
  </ng-container>
</uxg-modal>

<uxg-modal #moveGroupModal size="s">
  <h2>Переместить позиции <span class="app-ghost-color">({{ checkedPositions.length }})</span></h2>
  <app-request-move-group-modal
    *ngIf="moveGroupModal.state"
    [request]="request"
    [groups]="groups"
    [positions]="checkedPositions"
    (success)="addGroup.emit($event)"
    (close)="moveGroupModal.close()"
  ></app-request-move-group-modal>
</uxg-modal>


<uxg-modal #editRequestNameModal size="l">
  <ng-container *ngIf="editRequestNameModal.state" >
    <h2>Изменить наименование</h2>
    <div class="app-section app-secondary-color">
      Вы можете изменить название для текущей заявки. После изменения, старое наименование не сохраняется.
      Наименование заявки изменится во всех разделах.
    </div>

    <form appFormValidation [formGroup]="requestNameForm" (ngSubmit)="onSaveRequestName()">
      <div class="app-control-wrap">
        <input #requestName uxgInput lg formControlName="requestName" />
        <label class="app-control-label" (click)="requestName.focus()">Наименование заявки</label>
        <div class="app-control-error" *ngIf="requestNameForm.get('requestName').errors as e">
          <span *ngIf="e.empty">Обязательное поле</span>
        </div>
      </div>

      <ng-template uxgModalFooter>
        <button uxgButton secondary lg uxgModalClose (click)="editRequestNameModal.close()">Отмена</button>
        <button uxgButton primary lg (click)="onSaveRequestName()">Сохранить</button>
      </ng-template>
    </form>

  </ng-container>
</uxg-modal>

<!-- Модальное окно прикрепления документа к позициям -->
<uxg-modal #addDocumentsModal size="l">
  <h2>Загрузить документы для выбранных позиций <span class="app-ghost-color">({{ checkedPositions.length }})</span></h2>

  <div class="app-section app-secondary-color">
    Загруженные документы будут прикреплены ко вем выбранным в завке позициям.
    Отдельно к позиции документы можно загружать на вкладке документы страницы позиции.
  </div>
  <br>

  <app-document-upload-list
    *ngIf="addDocumentsModal.state"
    [dragAndDropAvailable]="true"
    (fileSelected)="form.get('documents').setValue($event); invalidUploadDocument = false">
  </app-document-upload-list>

  <ng-template uxgModalFooter>
    <div class="doc-error-message" *ngIf="invalidUploadDocument">Пожалуйста, выберите документ</div>

    <button type="button" uxgButton secondary lg uxgModalClose>Отмена</button>
    <button uxgButton primary lg
            (click)="onAttachDocumentsToPositions()">
      Загрузить
    </button>
  </ng-template>
</uxg-modal>
