<!-- @TODO Выпилить после реализации попозиционного согласования -->
<div class="notification-bar" *ngIf="featureService.allowed('approveRequest', user.roles) && (isOnApproval || isDraft)">
  <div class="container">
      <div class="app-row">
      <div class="app-col app-row app-align-items-center app-grow-0" *ngIf="isDraft">
        <div class="app-secondary-color">В заявке есть неопубликованные позиции в статусе Черновик</div>
        <button uxgButton secondary  (click)="publish.emit()">Опубликовать все</button>

      </div>
      <div class="app-col app-row app-align-items-center app-grow-0" *ngIf="isOnApproval">
        <div class="app-secondary-color">В заявке есть позиции, требующие согласования</div>
        <button uxgButton secondary (click)="reject.emit()">Отклонить все</button>
        <button uxgButton primary  (click)="approve.emit()">Согласовать все</button>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="form">
  <div class="app-row">

    <!-- Контролы управления позициями -->
    <div class="app-col app-table app-no-border">
      <div class="app-row app-align-items-center">
        <!-- Царь-чекбокс -->
        <div class="app-col app-basis-auto clr-flex-grow-0">
          <div class="app-row clr-align-items-center">
            <uxg-checkbox formControlName="checked" uxgSelectAllFor="positions"></uxg-checkbox>
            <uxg-popover #popover>
              <button uxgButton uxgPopoverTrigger link icon>
                <clr-icon shape="app-triangle down"></clr-icon>
              </button>
              <div *uxgPopoverContent>
                <div><button uxgButton clear (click)="select('all'); popover.hide()">Все</button></div>
                <div><button uxgButton clear (click)="select('none'); popover.hide()">Ни одного</button></div>
                <div><button uxgButton clear (click)="select('groups'); popover.hide()">Группы</button></div>
                <div><button uxgButton clear (click)="select('positions'); popover.hide()">Вне групп</button></div>
              </div>
            </uxg-popover>
          </div>
        </div>

        <!-- Назначиь ответственного -->
        <div class="app-col app-basis-auto clr-flex-grow-0" *ngIf="featureService.available('addRequestResponsible', user.roles)">
          <button uxgButton clear link [disabled]="checkedPositions.length === 0" (click)="addResponsibleModal.open()">
            <clr-icon shape="app-user" size="16"></clr-icon>
            <span>Назначить</span>
          </button>
          <app-request-add-responsible-modal
            #addResponsibleModal
            [request]="request"
            [positions]="checkedPositions"
            (success)="addResponsible.emit($event)"
          ></app-request-add-responsible-modal>
        </div>

        <!-- Добавить в группу -->
        <div class="app-col app-basis-auto clr-flex-grow-0" *ngIf="featureService.available('addRequestGroup', user.roles)">
          <button uxgButton clear link [disabled]="checkedPositions.length === 0" (click)="addGroupModal.open()">
            <clr-icon shape="app-group" size="16" class="is-solid"></clr-icon>
            <span>Создать группу</span>
          </button>
          <app-request-add-group-modal
            #addGroupModal
            [request]="request"
            [positions]="checkedPositions"
            (success)="addGroup.emit($event)"
          ></app-request-add-group-modal>
        </div>

        <!-- Переместить в группу -->
<!--        TODO Нереализованная фича, временно скрыл кнопку -->
<!--        <div class="app-col app-basis-auto clr-flex-grow-0" *ngIf="featureService.available('moveRequestGroup', user.roles)">-->
<!--          <button uxgButton clear link [disabled]="true">-->
<!--            <clr-icon shape="app-move" size="16" class="is-solid"></clr-icon>-->
<!--            <span>Переместить</span>-->
<!--          </button>-->
<!--        </div>-->

        <div class="app-col app-basis-auto clr-flex-grow-0">
          <uxg-popover #more>
            <button uxgButton uxgPopoverTrigger clear link><clr-icon shape="app-kebab"></clr-icon></button>
            <div *uxgPopoverContent (click)="more.hide()">
              <div><button uxgButton clear disabled *ngIf="user.isBackOffice()">Сменить статус</button></div>
              <div><button uxgButton clear disabled *ngIf="user.isBackOffice()">Сменить тип процесса</button></div>
              <div><button uxgButton clear disabled *ngIf="user.isBackOffice()">Загрузить ТП</button></div>
              <div><button uxgButton clear disabled *ngIf="user.isBackOffice()">Загрузить КП</button></div>
              <div><button uxgButton clear disabled *ngIf="user.isBackOffice()">Загрузить РКД</button></div>
              <div><button uxgButton clear disabled>Изменить базис</button></div>
              <div><button uxgButton clear (click)="toggleGroups(true)">Свернуть группы</button></div>
              <div><button uxgButton clear (click)="toggleGroups(false)">Развернуть группы</button></div>
            </div>
          </uxg-popover>
        </div>

        <div class="app-col"></div>
        <div class="app-col app-basis-auto clr-flex-grow-0">

          <uxg-popover #more [openOnHover]="true">
            <button uxgButton secondary iconText
                    uxgPopoverTrigger
                    [disabled]="requestIsOutdated" (click)="addPositionModal.open()">
              <clr-icon shape="app-plus"></clr-icon>
              <span>Новая позиция</span>
            </button>

            <ng-container *ngIf="requestIsOutdated">
              <div *uxgPopoverContent (click)="more.hide()">
                <div>Заявке больше двух недель.</div>
                <div>Добавление новых позиций недоступно.</div>
              </div>
            </ng-container>
          </uxg-popover>

          <!-- Фильтр  -->
<!--          TODO Нереализованная фича, временно скрыл кнопку -->
<!--          <button uxgButton secondary iconText [disabled]="true">-->
<!--            <clr-icon shape="app-sort2"></clr-icon>-->
<!--            <span>Фильтр</span>-->
<!--          </button>-->
        </div>
      </div>
    </div>
    <div class="app-col app-col-aside"></div>
  </div>
  <div class="app-row">

    <!-- Список позиций -->
    <div class="app-col app-table">
      <ng-container *ngFor="let formGroup of formPositions.controls">
        <!-- Позиция -->
        <ng-container *ngIf="asPosition(formGroup.get('position').value) as position">
          <a [href]="getPositionUrl(position)" (click)="navigateToPosition(position, $event)" class="app-row app-link-no-color">
            <div *ngTemplateOutlet="positionItem; context: { position: position, formGroup: formGroup }"></div>
          </a>
        </ng-container>

        <!-- Группа -->
        <ng-container *ngIf="asGroup(formGroup.get('position').value) as group">
          <!--a [href]="getPositionUrl(group)" (click)="navigateToPosition(group, $event)" class="app-row app-link-no-color app-row-group clr-align-items-start"-->
          <div class="app-row app-link-no-color app-row-group clr-align-items-start">
            <div *ngTemplateOutlet="groupItem; context:{ group: group, formGroup: formGroup }"></div>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <!-- Правая колонка -->
    <div class="app-col app-col-aside" *ngIf="(flatPositions$ | async) as flatPositions">
      <app-request-aside-info [positions]="flatPositions" [request]="request"></app-request-aside-info>
    </div>
  </div>
</form>

<!-- Шаблон позиции -->
<ng-template #positionItem let-position="position" let-formGroup="formGroup">
  <div class="app-col clr-flex-grow-0">
    <uxg-checkbox [formControl]="formGroup.get('checked')" uxgSelectAllFor="positions"></uxg-checkbox>
  </div>
  <div class="app-col app-bold item-title">
    <a [href]="getPositionUrl(position)" (click)="navigateToPosition(position, $event)" class="app-link-no-color">
      {{ position.name }}
    </a>
  </div>
  <div class="app-col item-quantity">
    <span>{{ position.quantity }} </span>
    <span class="app-ghost-color">{{ position.measureUnit | lowercase }}</span>
  </div>
  <div class="app-col item-date">
    <ng-container *ngIf="position.isDeliveryDateAsap; else deliveryDate">Как можно скорее</ng-container>
    <ng-template #deliveryDate>{{ position.deliveryDate | date : 'dd.MM.yyyy' }}</ng-template>
  </div>
  <div class="app-col item-status">
    <ng-container *ngIf="user.isSeniorBackoffice() && position.responsibleUser as user; else status">
      {{ position.responsibleUser.shortName }}
    </ng-container>
    <ng-template #status>
      <uxg-position-status  [label]="position.statusLabel" [status]="position.status">
      </uxg-position-status>
    </ng-template>
  </div>
</ng-template>

<!-- Шаблон группы -->
<ng-template #groupItem let-group="group" let-formGroup="formGroup">
  <div class="app-col clr-flex-grow-0">
    <uxg-checkbox [formControl]="formGroup.get('checked')" uxgSelectAllFor="positions"></uxg-checkbox>
  </div>

  <div class="app-col" *ngIf="formGroup.get('folded') as folded">
    <div class="app-row">
      <div class="app-col item-title">
        <span class="app-secondary-color">Группа: </span>
        <b>{{ group.name ||"Без имени" }} </b>
        <span class="app-ghost-color">({{group.positions.length}})</span>
      </div>
      <!-- @TODO Implement -->
      <!--div class="app-col" [style.max-width.px]="460">
        2 как можно скорее | 01.01.2020 — ...
      </div-->
      <div class="app-col app-row clr-flex-grow-0">
        <clr-icon class="app-accordion-title-icon" shape="app-chevron" [dir]="folded.value ? 'down' : 'up'"
            (click)="folded.setValue(!folded.value); $event.preventDefault(); $event.stopPropagation();"></clr-icon>
      </div>
    </div>

    <!-- Позиции группы -->
    <div class="positions" *ngIf="!folded.value">
      <ng-container *ngFor="let childformGroup of asFormArray(formGroup.get('positions')).controls">
        <div class="app-row">
          <ng-container *ngTemplateOutlet="positionItem; context:{
              position: childformGroup.get('position').value,
              formGroup: childformGroup
          }"></ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<app-request-add-position-modal
  #addPositionModal
  [request]="request"
  [onDrafted]="onDrafted"
  (success)="addPosition.emit($event)"
  (uploadFromTemplate)="uploadFromTemplate.emit($event)"
></app-request-add-position-modal>
