@import "projects/uxg/src/styles/index";

.app-dropdown {
  display: inline-block;
  margin-left: 8px;
}

.item {
  &-title {
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-quantity {
    flex-grow: .15; // 15% width
    max-width: 100px;
  }

  &-status {
    max-width: 200px;
  }

  &-date {
    max-width: 120px;
  }

  &-actions {
    margin: -6px 0;
    max-width: 80px;
  }
}

.app-table.disabled {
  opacity: .5;
}

.app-table > .app-row {
  &-group {
    background: #F0F6FA;
    border-left: 4px #B2D0FF solid;
    //cursor: pointer;
    padding-left: 2px;

    &:hover {
      background: #E9F1F7;
    }

    .item-title a:hover {
      color: uxg($theme, color-font-secondary);
    }

    .positions {
      padding-top: 14px;

      .app-col {
        padding: 6px 14px;

        &:first-child {
          padding-left: 0;
          padding-right: 6px;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  & > .app-col:first-child {
    padding-right: 6px;
  }
}

// @TODO Выпилить после реализации попозиционного согласования
.notification-bar {
  width: 100%;
  background: #F0F6FC;
  position: absolute;
  left: 0;
  top: 64px;
  z-index: 2;

  .container {
    padding: 1em 0;

    > .app-row {
      justify-content: center;
      .app-col {
        flex-basis: 50%;
      }
    }
  }
}

.outdated-request-info {
  display: inline-block;
  vertical-align: bottom;
  font-size: 11px;
  color: darkslategray;
  padding: 2px 10px 2px 0;
}

a.canceled {
  &, &:hover {
    color: #b3b3b3;
  }
}

.publish-title {
  margin-left: 50px;
}
