@import "src/theme";

.app-dropdown {
  display: inline-block;
  margin-left: 8px;
}

.title-edit {
  vertical-align: middle;
}

.title-loader {
  display: inline-block;
  vertical-align: middle;
}

.item {
  &-title {
    line-height: normal;

    & a.position-link {
      max-width: 700px;
      display: block;
    }
  }

  &-quantity {
    flex-grow: .15; // 15% width
    max-width: 100px;
    flex-basis: 45px;
  }

  &-status {
    min-width: 240px;
    max-width: 240px;
  }

  &-date {
    max-width: 120px;
  }

  &-attribute-icon {
    min-width: 16px;
    max-width: 16px;
  }
}

.app-table.disabled {
  opacity: .5;
}

.app-table > .app-row {
  &-group {
    background: #F4F6FB;
    border-left: 4px uxg($theme, color-border) solid;
    //cursor: pointer; @TODO: uncomment when implement group page
    padding-left: 2px;

    &:hover {
      background: #E9F1F7;
    }

    .item-title a:hover {
      color: uxg($theme, color-font-secondary);
    }

    .positions {
      padding-top: 14px;

      .app-col {
        padding: 6px 14px;

        &:first-child {
          padding-left: 0;
          padding-right: 6px;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  & > .app-col:first-child {
    padding-right: 6px;
  }

  .app-col {
    box-sizing: content-box;
  }
}

// @TODO Выпилить после реализации попозиционного согласования
.notification-bar {
  width: 100%;
  background: #F0F6FC;
  position: absolute;
  left: 0;
  top: 64px;
  z-index: 2;

  .app-row { justify-content: space-evenly }
  .app-col { padding: 16px }
}


a.canceled {
  &, &:hover {
    color: #b3b3b3;
  }
}

.request-area {
  display: inline-table;
  border: 1px solid #C8CAFF;
  border-radius: 4px;

  & .clock-icon {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  & .add-position-button {
    display: table;
    margin: 32px auto;
  }

  & hr {
    margin: 0 0 20px;
    border: 1px dotted #c8cafd;
    border-top: 0;
  }
}

.doc-error-message {
  text-align: right;
  font-weight: bold;
  margin-right: 10px;
  color: uxg($theme, color-control-invalid);
  line-height: 40px;
}
