<form (ngSubmit)="submit()">
  <div class="app-secondary-color">Добавьте все необходимые позиции, по которым вы хотите создать ценовой запрос</div>
  <div *ngFor="let formGroup of formArray?.controls; index as i" >
    <div class="app-row" [formGroup]="asFormGroup(formGroup)">
      <ng-container *ngTemplateOutlet="controlInput; context: {control: formGroup.get('name'), label: 'Имя позиции', sm: true}"></ng-container>

      <div class="app-col app-row app-align-items-center">
        <ng-container *ngTemplateOutlet="controlInput; context: {control: formGroup.get('quantity'), label: 'Кол-во', sm: true}"></ng-container>
        <ng-container *ngTemplateOutlet="controlInput; context: {control: formGroup.get('okei'), label: 'Ед. имзм.', sm: true}"></ng-container>
        <ng-container *ngTemplateOutlet="controlInput; context: {control: formGroup.get('okpd2'), label: 'OКПД2', sm: true}"></ng-container>
        <div><button uxgButton link lg icon type="button" (click)="formArray.removeAt(i)"><clr-icon shape="app-trash"></clr-icon></button>
        </div>
      </div>
    </div>
  </div>
  <div class="app-row app-justify-content-center">
    <button uxgButton lg link iconText type="button" (click)="formArray.push(getFormPosition())">
      <clr-icon shape="app-plus"></clr-icon>
      <span>Добавить</span>
    </button>
  </div>
  <div class="app-row app-justify-content-end">
    <button uxgButton lg secondary type="button" (click)="cancel.emit()">Отмена</button>
    <button uxgButton lg primary [disabled]="formArray?.invalid">Сохранить</button>
  </div>
</form>

<ng-template #controlInput let-control="control" let-label="label" let-sm="sm">
  <div class="app-col">
    <div class="app-control-wrap">
      <input #controlRef uxgInput [lg]="!sm" [formControl]="control"/>
      <label class="app-control-label" (click)="controlRef.focus()">{{label}}</label>
      <div class="app-control-error" *ngIf="control.errors as e">
        <span *ngIf="e.required">Обязательное поле</span>
      </div>
    </div>
  </div>
</ng-template>
