<ng-container *ngIf="(status$ | async) !== 'fetching'; else placeholder">
  <div class="app-row">
    <div class="app-col">
      <div class="app-row app-align-items-center" [class.app-layout]="view === 'grid'">

        <uxg-tabs class="app-col">
          <uxg-tab-title #sentToReviewTab [active]="true" >
            <ng-container *ngIf="(positionsOnReview$ | async) as posWithProposalsOnReview">
              Необходимо рассмотреть <span class="counter">({{posWithProposalsOnReview?.length}})</span>
            </ng-container>
          </uxg-tab-title>

          <uxg-tab-title #reviewedTab>
            <ng-container *ngIf="(positionsReviewed$ | async) as posWithProposalsReviewed">
              Рассмотренные <span class="counter">({{ posWithProposalsReviewed?.length }})</span>
            </ng-container>
          </uxg-tab-title>
        </uxg-tabs>

        <ng-container *ngIf="(proposalsLength$ | async)">
          <div class="app-secondary-color">Режим отображения:</div>
          <div class="app-btn-group">
            <button uxgButton [primary]="view==='grid'" [secondary]="view==='list'" icon (click)="switchView('grid')">
              <uxg-icon shape="app-grid-view"></uxg-icon>
            </button>
            <button disabled uxgButton [primary]="view==='list'" [secondary]="view==='grid'" icon (click)="switchView('list')">
              <uxg-icon shape="app-list-view"></uxg-icon>
            </button>
          </div>
          <!--  <button uxgButton secondary>Фильтр</button> -->
        </ng-container>
      </div>

      <br/>

      <ng-container [ngSwitch]="view" *ngIf="(reviewedTab.active ? positionsReviewed$ : positionsOnReview$) | async as positions">
        <!-- grid -->
        <div class="grid-table" *ngSwitchCase="'grid'">
          <app-grid-contragents
            *ngIf="positions.length"
            [gridRows]="gridRows"
            [hasAnalogsFn]="hasAnalogs(positions)"
            [suppliers]="suppliers(positions)"
          ></app-grid-contragents>

          <app-price-order-proposal-grid-row
            class="position-row"
            #proposalOnReview
            [chooseBy$]="chooseBy$"
            *ngFor="let position of positions"
            [position]="position"
            [priceOrder]="priceOrder$ | async"
            [suppliers]="suppliers(positions)"
            [view]="'grid'"
            [proposals]="position.proposals"
            (show)="showedProposal = $event; modalData = {proposal: $event, position: position}"
          >
            <div><b>{{ position.name }}</b></div>
            <!-- шт поменять на okei ждём бэк -->
            <div class="app-ghost-color">&nbsp;| {{ position.quantity }} шт</div>
            <div class="app-ghost-color">&nbsp;| {{ (priceOrder$ | async).dateDelivery | date:"dd.MM.yyyy" }}</div>
            <div class="app-col"></div>
            <!--label (click)="rejectRadio.select($event)">Отклонить все по позиции &nbsp; </label>
            <uxg-radio-item
              class="app-control"
              #rejectRadio
              [name]="position.id"
              [value]="position"
              [formControl]="proposalOnReview.rejectedProposalPosition"
              (click)="$event.stopPropagation()"
            ></uxg-radio-item-->
          </app-price-order-proposal-grid-row>
        </div>

        <!-- empty -->
        <div *ngIf="positions.length === 0">
          <h1 class="text-center" [style.opacity]="0.1">
            <br/>
            <uxg-icon shape="app-publish" size="270"></uxg-icon><br/>
            Все технико-коммерческие предложения рассмотрены
          </h1>
        </div>

      </ng-container>
    </div>
    <div class="app-col-aside detachable" *ngIf="view==='list'"></div>
  </div>
  <uxg-modal [(state)]="modalData" size="l">
    <h2>{{ (priceOrder$ | async).name }}</h2>
    <app-kim-price-order-proposal-detail
      *ngIf="modalData"
      [priceOrder]="priceOrder$ | async"
      [proposal]="modalData.proposal"
      [position]="modalData.position"
    ></app-kim-price-order-proposal-detail>

    <ng-template uxgModalFooter>
      <button uxgButton lg secondary uxgModalClose>Закрыть</button>
    </ng-template>

  </uxg-modal>

</ng-container>

<div class="proposals-footer" #proposalsFooterRef [class.hidden]="reviewedTab?.active || proposalsOnReview?.length === 0">
  <div class="proposals-footer-body app-row app-align-items-center">
    <button uxgButton outline lg (click)="chooseBy$.next('price')">Автовыбор по цене</button>
    <button uxgButton outline lg (click)="chooseBy$.next('date')">Автовыбор по дате</button>
    <div class="app-col"></div>
    <h3 *ngIf="total > 0">
      <span class="app-ghost-color app-font-normal">Общая сумма: </span>
      <span>{{total | number: "1.0-2"}}</span>
      <span class="app-ghost-color">{{getCurrencySymbol('RUB', 'narrow') }}</span>
    </h3>

    <ng-container *ngIf="(positionsOnReview$ | async) as positions">
      <button uxgButton secondary lg (click)="rejectAll(positions)" [disabled]="(status$ | async) !== 'received'">
        Отклонить всё
      </button>
      <button uxgButton primary lg (click)="reviewSelected()" [disabled]="(status$ | async) !== 'received' || disabled">
        Согласовать выбранные
      </button>
    </ng-container>
  </div>
</div>

<ng-template #placeholder>
  <div class="app-row" [class.app-layout]="view === 'grid'">
    <div class="app-col">
      <div class="app-row">
        <div class="app-col app-row">
          <div class="placeholder-row" *ngFor="let i of [].constructor(2)" [style.height.px]="40" [style.width.px]="200"></div>
        </div>
        <div class="placeholder-row" [style.height.px]="40" [style.width.px]="80"></div>
      </div>

      <div class="placeholder" *ngFor="let i of [].constructor(10)" [style.height.px]="160"></div>
    </div>
    <div class="app-col-aside detachable"></div>
  </div>
</ng-template>

