<form [formGroup]="form">
  <div class="app-table app-no-border app-shrink-0">
    <div class="app-row app-align-items-center">
      <div class="app-col app-grow-0">
        <uxg-checkbox formControlName="checked" uxgSelectAllFor="items"></uxg-checkbox>
      </div>
      <div class="app-col">
        <small><span class="app-secondary-color">Выбрано: </span><b>{{ checkedFormItems.length }}</b></small>
      </div>
      <ng-container *ngIf="filterFn">
        <div class="app-col app-col-auto app-row app-align-items-center">
          <div class="app-col app-col-auto app-ghost-color">Фильтр: &nbsp; </div>
          <div class="app-col search">
            <input type="text" uxgInput formControlName="search" [placeholder]="placeholder"/>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <hr/>
  <div class="app-table app-no-border">
    <ng-container *ngFor="let formGroup of formItems?.controls; index as i">
      <ng-container *ngIf="!filterFn || filterFn(form.get('search').value, formGroup.get('item').value)">
        <ng-container *ngTemplateOutlet="rowTplRef; context:{formGroup: formGroup, item: formGroup.get('item').value}">
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <hr/>
</form>
