@import "projects/uxg/src/styles/index";
hr {
  border:none;
  margin: 0;
  border-bottom: 1px uxg($theme, color-divider) solid;
}

.search {
  width: 280px;
  margin-left: .5em;
}

form {
  display: flex;
  flex-direction: column;
  max-height: inherit;
}

.app-table {
  overflow: auto;
  padding: 5px 22px;
  margin: 0px -22px 0 -22px;
  @include scrollbar($theme);

  &::ng-deep > .app-row {
    padding: 8px 0;

    & > .app-col {
      padding: 0 10px;
      &:first-child { padding-left: 0; }
      &:last-child { padding-right: 0; }
    }
  }
}
