<form appFormValidation [formGroup]="form" (ngSubmit)="submit()">

  <div class="app-row app-justify-content-between">
    <div class="app-col" [style.padding-right.px]="10">
      <div class="app-control-wrap">
        <input
          uxgInput lg uxgDatepicker
          #dateEndRegistrationRef
          formControlName="dateEndRegistration"
          minDate="today"
          dateFormat="d.m.Y H:i"
          [defaultDate]="parsedDateEndRegistration.toDate()"
          [enableTime]="true"
        />
        <label class="app-control-label" (click)="dateEndRegistrationRef.focus()">Дата окончания процедуры</label>
        <label class="app-control-icon" (click)="dateEndRegistrationRef.focus()">
          <uxg-icon shape="app-calendar-big" size="24"></uxg-icon>
        </label>
      </div>
    </div>

    <div class="app-col" [style.padding-left.px]="10">
      <div class="app-control-wrap">
        <input type="text"
          uxgInput lg uxgDatepicker
          #dateSummingUpRef
          formControlName="dateSummingUp"
          minDate="today"
          dateFormat="d.m.Y H:i"
          [defaultDate]="parsedDateSummingUp.toDate()"
          [enableTime]="true">

        <label class="app-control-label" (click)="dateSummingUpRef.focus()">Подведение итогов до</label>
        <label class="app-control-icon" (click)="dateSummingUpRef.focus()">
          <uxg-icon shape="app-calendar-big" size="24"></uxg-icon>
        </label>

        <div class="app-control-error" *ngIf="form.get('dateSummingUp').errors as e">
          <span *ngIf="e.afterEndRegistrationDate; else error">Дата не может быть раньше даты приёма заявок</span>

          <ng-template #error>
            <span>Неверная дата</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="app-row app-justify-content-end app-align-items-center">
    <div *ngIf="isLoading"><span class="spinner spinner-inline"></span></div>
    <button uxgButton secondary lg type="button" (click)="close.emit()">Отмена</button>
    <button uxgButton primary lg [disabled]="isLoading">Продлить</button>
  </div>
</form>
