<clr-stack-view class="position-list">
  <clr-stack-block *ngFor="let position of positions?.entities">
    <clr-stack-label>
      <div class="position-image">
        <clr-icon shape="image" size="72" class="is-highlight"></clr-icon>
      </div>

      <div class="position-description">
        <p class="p2">
          {{ position.product.title }}
        </p>
      </div>

      <div class="position-actions">

        <!--Кнопки для установки поставщиком статуса по позиции-->
        <div class="btn-group" *ngIf="!supplierResponseReadOnly">
          <div class="radio btn">
            <input type="radio"
                   name="supplierResponseType-{{ position.id }}"
                   id="btn-response-type-in-stock-{{ position.id }}"
                   [(ngModel)]="position.supplierResponseType"
                   (ngModelChange)="onPositionResponseTypeChange(position, $event)"
                   [value]="positionSupplierResponseTypes.IN_STOCK">
            <label for="btn-response-type-in-stock-{{ position.id }}">В наличии</label>
          </div>
          <div class="radio btn">
            <input type="radio"
                   name="supplierResponseType-{{ position.id }}"
                   id="btn-response-type-absent-{{ position.id }}"
                   [(ngModel)]="position.supplierResponseType"
                   (ngModelChange)="onPositionResponseTypeChange(position, $event)"
                   [value]="positionSupplierResponseTypes.OUT_OF_STOCK">
            <label for="btn-response-type-absent-{{ position.id }}">Отсутствует</label>
          </div>
        </div>

        <!--Нерадактируемое отображение статуса ответа поставщика-->
        <ng-container *ngIf="supplierResponseReadOnly">
          <!--todo тут нужно сделать красивый вывод статуса-->
          {{ positionSupplierResponseTypeNames[position.supplierResponseType] }}
        </ng-container>

        <p>
          {{ position.quantity }} шт =
          <span class="p2 position-sum">{{ position.priceWithVat | currency:'RUB' }}</span>
        </p>
      </div>

    </clr-stack-label>
  </clr-stack-block>
</clr-stack-view>

<app-orders-pagination
  [pageSize]="pageSize"
  [totalCount]="positions?.totalCount"
  (changePage)="onChangePage()"></app-orders-pagination>
