<div class="filter-panel">
  <label>Номер заказа</label>
  <input type="text">
  <label>Период заказа</label>
  <div class="clr-row">
    <div class="clr-col-6">
      <input type="date" clrDate placeholder="от">
    </div>
    <div class="clr-col-6">
      <input type="date" clrDate placeholder="до">
    </div>
  </div>
  <label>Поставщик</label>
  <div class="select">
    <select></select>
  </div>
  <label>Категория</label>
  <div class="select">
    <select></select>
  </div>
  <label>Стоимость заказа</label>
  <div class="clr-row">
    <div class="clr-col-6">
      <input type="number" placeholder="с">
    </div>
    <div class="clr-col-6">
      <input type="number" placeholder="по">
    </div>
  </div>
</div>

