<ng-container *ngIf="appFile">
  <div class="app-file-icon" *ngIf="appFile.invalid">
    <uxg-popover #popover [hideDelay]="100">
      <div uxgPopoverTrigger class="app-row app-align-items-center">
        <document-icon [name]="appFile.file.name" [size]="size"></document-icon>
      </div>
      <div *uxgPopoverContent="direction.topLeft">
        <div>Недопустимый формат, файл не будет загружен.
          <span [hidden]="!appFile.allowed?.length">Допускаются: {{map(appFile.allowed)}}.</span>
          <span [hidden]="appFile.allowed?.length || !appFile.denied?.length">Запрещены: {{map(appFile.denied)}}.</span>

        </div>
        <br/>
        <div>Считаете, что тут не хватает нужного вам формата? Напишите на <a href="mailto:support@isource.ru" target="_blank">support@isource.ru</a></div>
      </div>
    </uxg-popover>
  </div>
  <document-icon class="app-file-icon" *ngIf="appFile.valid" [name]="appFile.file.name" [size]="size"></document-icon>

  <div class="app-ellipsis app-col file-item" *ngIf="appFile.file">
    <div class="app-ellipsis">{{ appFile.file.name }}</div>
    <small class="app-ghost-color" *ngIf="!appFile.invalid">{{ appFile.file.size | bytesToSize : 2 }}</small>
    <small class="app-alert-color app-bold" *ngIf="appFile.invalid">Недопустимый формат, не будет загружен</small>
  </div>

  <button *ngIf="delete.observers.length" uxgButton clear link class="app-file-delete app-shrink-0" type="button" (click)="delete.emit()">
    <uxg-icon shape="app-trash" size="12"></uxg-icon>
  </button>
</ng-container>
