<ng-container *ngIf="(request$ | async) as request; else loading;">
  <ng-container *ngIf="(requestPositionsWithOffers$ | async) as positionsWithOffers">
    <app-request-commercial-proposals
      [requestPositions]="positionsWithOffers.positions"
      [suppliers]="positionsWithOffers.suppliers"
      [request]="request"
      (sentForAgreement)="sendForAgreement($event.requestId, $event.selectedPositions)"
      (cancelOffer)="onCancelPublishOffers($event)"
      (addOffer)="showAddOfferModal($event)"
      (addOffersTemplate)="onSendOffersTemplateFilesClick($event)"
      (editOffer)="showEditOfferModal($event)"
      (createProcedure)="procedureModal.open()"
    ></app-request-commercial-proposals>

    <clr-modal clrModalSize="lg" #procedureModal>
      <h2 class="modal-title">Создание новой процедуры</h2>
      <div class="modal-body" [style.overflow]="'visible'">
        <app-request-procedure-create
          *ngIf="procedureModal._open"
          [request]="request"
          [positions]="positionsWithOffers.positions"
          [contragents]="contragents$ | async"
          [publicAccess]="false"
          (updateSelectedPositions)="updateContragents($event)"
          (complete)="updatePositionsAndSuppliers(); procedureModal.close()"
        ></app-request-procedure-create>
      </div>
    </clr-modal>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="text-center">
    <span class="spinner spinner-md"></span>
  </div>
</ng-template>

<clr-modal #requestCommercialProposalModal
           class="cp-creation-modal"
           [(clrModalOpen)]="showForm || showEditForm"
           [clrModalClosable]="false"
           [clrModalSize]="'lg'">
  <h2 class="modal-title">
    {{
      showForm ?
      'Новое коммерческое предложение' :
      'Редактирование коммерческого предложения'
    }}
  </h2>

  <div class="modal-body">
    <app-request-commercial-proposals-create
            *ngIf="requestCommercialProposalModal._open"
            [position]="currentRequestPosition"
            [commercialProposal]="selectedLinkedOffer"
            [editMode]="showEditForm"
            (create)="addCommercialProposal(); requestCommercialProposalModal.close()"
            (edit)="editCommercialProposal(); requestCommercialProposalModal.close()"
            (cancel)="requestCommercialProposalModal.close(); showEditForm = false; showForm = false;">
    </app-request-commercial-proposals-create>
  </div>
</clr-modal>
