<ng-container *ngIf="(request$ | async) as request; else loading">
      <app-request-commercial-proposals
        *ngIf="(requestPositionsWithOffers$ | async) as positionsWithOffers"
        [requestPositions]="positionsWithOffers.positions"
        [suppliers]="positionsWithOffers.suppliers"
        [request]="request"
        (sentForAgreement)="sendForAgreement($event.requestId, $event.selectedPositions)"
        (cancelOffer)="onCancelPublishOffers($event)"
        (addOffer)="showAddOfferModal($event);"
        (addOffersTemplate)="onSendOffersTemplateFilesClick($event)"
        (editOffer)="showEditOfferModal($event)">
      </app-request-commercial-proposals>
</ng-container>

<ng-template #loading>
  <div class="text-center">
    <span class="spinner spinner-md"></span>
  </div>
</ng-template>

<clr-modal #requestCommercialProposalModal
           class="cp-creation-modal"
           [(clrModalOpen)]="showForm || showEditForm"
           [clrModalClosable]="false"
           [clrModalSize]="'lg'">
  <h2 class="modal-title">
    {{
      showForm ?
      'Новое коммерческое предложение' :
      'Редактирование коммерческого предложения'
    }}
  </h2>

  <div class="modal-body">
    <app-request-commercial-proposals-create
            *ngIf="requestCommercialProposalModal._open"
            [position]="currentRequestPosition"
            [commercialProposal]="selectedLinkedOffer"
            [editMode]="showEditForm"
            (create)="addCommercialProposal(); requestCommercialProposalModal.close()"
            (edit)="editCommercialProposal(); requestCommercialProposalModal.close()"
            (cancel)="requestCommercialProposalModal.close(); showEditForm = false; showForm = false;">
    </app-request-commercial-proposals-create>
  </div>
</clr-modal>
