<ng-container *ngIf="(request$ | async) as request; else loading">
      <app-request-commercial-proposals
        *ngIf="(requestPositionsWithOffers$ | async) as positionsWithOffers"
        [requestPositions]="positionsWithOffers.positions"
        [suppliers]="positionsWithOffers.suppliers"
        (sentForAgreement)="sendForAgreement($event.requestId, $event.selectedPositions)"
        (addOffer)="showAddOfferModal($event);"
      ></app-request-commercial-proposals>
</ng-container>

<ng-template #loading>
  <div class="text-center">
    <span class="spinner spinner-md"></span>
  </div>
</ng-template>

<app-request-commercial-proposals-create
  [position]="currentRequestPosition"
  [(addOfferModalOpen)]="showForm"
  (addOffer)="addCommercialProposal()">
</app-request-commercial-proposals-create>