<div class="card">
  <div class="card-header">Controls</div>
  <div class="card-block">
    <div class="card-title">Swicher control</div>
    <uxg-switcher label="Swich me"></uxg-switcher>
    <ngx-prism [language]="'html'">{{example1}}</ngx-prism>
  </div>
  <div class="card-block">
    <div class="card-title">Right label</div>
    <uxg-switcher label="Swich me" labelAlign="right"></uxg-switcher>
    <ngx-prism [language]="'html'">{{example2}}</ngx-prism>
  </div>
  <div class="card-block">
    <div class="card-title">Checkbox control</div>
    <div class="app-row">
      <uxg-checkbox class="app-control" #controlCheckbox></uxg-checkbox>
      <label (click)="controlCheckbox.check($event)"> Check me</label>
    </div>
    <ngx-prism [language]="'html'">{{example3}}</ngx-prism>
  </div>
</div>


