<div class="app-row">
  <div class="app-col">
    <div class="app-row app-align-items-center">
      <h2 class="app-col">Согласования</h2>
      <div><a routerLink="."><b>Все согласования</b></a></div>
    </div>
    <app-dashboard-approval></app-dashboard-approval>
  </div>
</div>
<br/>
<br/>
<div class="app-row">
  <div class="app-col">
    <div class="app-row app-align-items-center">
      <h2 class="app-col">Последние уведомления</h2>
      <div><a routerLink="."><b>Все уведомления</b></a></div>
    </div>
    <app-dashboard-notification></app-dashboard-notification>
  </div>
  <div class="app-col">
    <h2>Статистика</h2>
    <app-dashboard-statistic></app-dashboard-statistic>
  </div>
</div>
<br/>
<br/>
<div class="app-row">
  <div class="app-col">
    <h2>Общий статус</h2>
    <app-dashboard-map></app-dashboard-map>
  </div>
</div>
