<div class="contragents-row">

    <div #gridRow class="app-row grid-row app-layout">
      <div *ngIf="positionCell" class="app-col grid-cell app-bold">Наименование позиции</div>
      <div class="app-col grid-cell app-ellipsis"
           *ngFor="let supplier of suppliers; index as i; trackBy: trackBySupplierId">
        <app-contragent-info-link class="app-bold" hiddenName="Поставщик №{{i + 1}}" [contragent]="supplier">
        </app-contragent-info-link>
        <div class="app-ghost-color analog" *ngIf="supplier.hasAnalogs">аналоги</div>
        <ng-container *ngIf="showCommonParams">
          <app-grid-common-parameters
            [proposal]="getProposalBySupplier(supplier, proposals)"
            [proposalsByPos]="proposalsByPos"
            [showDocs]="showDocs.value"></app-grid-common-parameters>
        </ng-container>
      </div>
    </div>
  <div class="app-row show-docs" *ngIf="showCommonParams">
    <uxg-switcher label="Показать документы предложений" labelAlign="right" [formControl]="showDocs"></uxg-switcher>
  </div>
    <!-- Временно скрыто от заказчика  и в матрице КП-->
    <ng-container *ngIf="!userInfoService.isCustomer() && showParams">
      <ng-container *ngIf="showCommonParams === false; else close">
        <button uxgButton primary class="common-params" (click)="showCommonParams = true">Общие параметры</button>
      </ng-container>
      <ng-template #close>
        <button uxgButton icon primary class="common-params" (click)="showCommonParams = false">
          <uxg-icon shape="app-cross"></uxg-icon>
        </button>
      </ng-template>
    </ng-container>
    <button class="left" *ngIf="canScrollLeft" uxgButton secondary icon (click)="scrollLeft()">
      <uxg-icon shape="app-chevron" dir="left"></uxg-icon>
    </button>
    <button class="right" *ngIf="canScrollRight" uxgButton secondary icon (click)="scrollRight()">
      <uxg-icon shape="app-chevron" dir="right"></uxg-icon>
    </button>
  </div>
