@import "src/theme";

.contragents-row {
  background: linear-gradient(to bottom, white 68px, rgb(0 0 0 / 10%) 68px, rgb(0 0 0 / 10%) 69px, uxg($theme, color-bg) 0px);

  &.with-analogs {
    background: linear-gradient(to bottom, white 82px, rgba(0, 0, 0, 10%) 82px, rgba(0, 0, 0, 10%) 83px, uxg($theme, color-bg) 0px);

    & app-grid-common-parameters {
      padding-top: 14px;
      display: block;
    }
  }
}

.common-params {
  position: absolute;
  margin-top: 23px;
  right: 23px;
  &.app-btn {
    border-radius: 0 0 uxg($theme, control-border-radius) uxg($theme, control-border-radius);
  }
}

.show-docs {
  padding-left: 360px;
  overflow: initial;
}
