<clr-datagrid class="clr-row items-list"
              [clrDgLoading]="positionsLoading"
              (clrDgRefresh)="onRefreshPositions($event)">
  <clr-dg-column class="clr-col-10">Наименование позиции</clr-dg-column>
  <clr-dg-column class="clr-col-2"><span class="text-right">Количество</span></clr-dg-column>

  <clr-dg-row *ngFor="let purchaseItem of positionsPage?.entities">

    <clr-dg-cell class="clr-col-10">{{ purchaseItem.title }}</clr-dg-cell>
    <clr-dg-cell class="clr-col-2"><b>{{ purchaseItem.quantity }}</b></clr-dg-cell>

    <clr-dg-row-detail *clrIfExpanded>
      <div class="w-100">
        <div class="linked-items-align">

          <ng-container *ngIf="!purchaseItem.mappedItems || purchaseItem.mappedItems.length === 0; else mappedItems">
            <div class="clr-row supplier-row">
              <p>Предложения поставщиков по позиции отсутствуют</p>
            </div>
          </ng-container>

          <ng-template #mappedItems>
            <div class="clr-row">
              <div class="clr-col-12 text-right price-column">
                <span class="price-label">Цена за ед.</span>
              </div>
            </div>

            <div class="clr-row supplier-row" *ngFor="let mappedItem of purchaseItem.mappedItems">

              <div class="clr-col-12">

                <p class="gray customer-name">{{ mappedItem.supplier.fullName }}</p>

                <div class="clr-row linked-items" *ngFor="let position of mappedItem.positions">
                  <clr-icon class="key-item" *ngIf="position.isMainItem" shape="key"></clr-icon>
                  <div class="clr-col-10">
                    {{ position.productTitle }}
                    <span *ngIf="!position.isMainItem" class="label label-orange">
                    аналог
                  </span>
                  </div>

                  <div class="clr-col-2 text-right price-column">
                    {{ position.offerCost | currency:'RUB' }}
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

        </div>
      </div>
    </clr-dg-row-detail>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination
      [clrDgPageSize]="pageSize"
      [clrDgTotalItems]="positionsPage?.totalCount">
    </clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>
