<div class="app-card">
  <h2>Status model</h2>
  <div class="app-table app-no-border">
    <div class="app-row">
      <div class="app-col app-grow-0">
        <uxg-position-status label="Черновик" [status]="positionStatus.DRAFT"></uxg-position-status>
        <uxg-position-status label="На согласовании заказчика" [status]="positionStatus.ON_CUSTOMER_APPROVAL"></uxg-position-status>
        <uxg-position-status label="Новый" [status]="positionStatus.NEW"></uxg-position-status>
      </div>
      <div class="app-col app-grow-0">
        <uxg-position-status label="Подготовка ТП" [status]="positionStatus.TECHNICAL_PROPOSALS_PREPARATION"></uxg-position-status>
        <uxg-position-status label="Согласование ТП" [status]="positionStatus.TECHNICAL_PROPOSALS_AGREEMENT"></uxg-position-status>
      </div>
      <div class="app-col app-grow-0">
        <uxg-position-status label="Подготовка КП" [status]="positionStatus.PROPOSALS_PREPARATION"></uxg-position-status>
        <uxg-position-status label="Выбор победителя" [status]="positionStatus.RESULTS_AGREEMENT"></uxg-position-status>
        <uxg-position-status label="Выбран победитель" [status]="positionStatus.WINNER_SELECTED"></uxg-position-status>
      </div>
      <div class="app-col app-grow-0">
        <uxg-position-status label="Согласование договора" [status]="positionStatus.CONTRACT_AGREEMENT"></uxg-position-status>
        <uxg-position-status label="Подписание договора" [status]="positionStatus.CONTRACT_SIGNING"></uxg-position-status>
        <uxg-position-status label="Законтрактовано" [status]="positionStatus.CONTRACTED"></uxg-position-status>
      </div>
      <div class="app-col app-grow-0">
        <uxg-position-status label="Согласование РКД" [status]="positionStatus.RKD_AGREEMENT"></uxg-position-status>
        <uxg-position-status label="Изготовление" [status]="positionStatus.MANUFACTURING"></uxg-position-status>
      </div>
      <div class="app-col app-grow-0">
        <uxg-position-status label="Доставка" [status]="positionStatus.DELIVERY"></uxg-position-status>
        <uxg-position-status label="Поставлено" [status]="positionStatus.DELIVERED"></uxg-position-status>
      </div>
      <div class="app-col app-grow-0">
        <uxg-position-status label="Оплачено" [status]="positionStatus.PAID"></uxg-position-status>
        <uxg-position-status label="Завершено" [status]="positionStatus.COMPLETED"></uxg-position-status>
      </div>
    </div>
    <br/>
    <h2>Sources</h2>
    <uxg-code language="html">{{example1}}</uxg-code>
  </div>
  <br/>
  <br/>
  <h3>Custom layout & icon position</h3>
  <br/>
  <div class="app-row">
    <div class="app-col" style="max-width: 200px">Согласование ТП</div>
    <div class="app-col text-right" style="max-width: 80px">
      <div class="app-position-status">
        <span>14</span>
        <div class="app-position-status-icon TECHNICAL_PROPOSALS_AGREEMENT"></div>
      </div>
    </div>
  </div>
  <div class="app-row">
    <div class="app-col" style="max-width: 200px">Изготовление</div>
    <div class="app-col text-right" style="max-width: 80px">
      <div class="app-position-status">
        <span>20</span>
        <div class="app-position-status-icon MANUFACTURING"></div>
      </div>
    </div>
  </div>
  <br/>
  <h2>Sources</h2>
  <uxg-code language="html">{{example2}}</uxg-code>
</div>
