<clr-modal [(clrModalOpen)]="opened">
  <h3 class="modal-title">Добавление позиции в прайс-лист</h3>
  <div class="modal-body">
    <clr-tabs>
      <clr-tab>
        <button clrTabLink>Общая информация</button>
        <ng-template [(clrIfActive)]="infoActive">
          <clr-tab-content>
            <form [formGroup]="itemDataForm" class="form">
              <div class="form-block">
                <div class="clr-form-control">
                  <label class="clr-control-label" for="itemName">Наименование позиции</label>
                  <input type="text" id="itemName" formControlName="itemName"  [class.invalid]="isFieldValid('itemName')">
                  <label class="clr-control-label" for="units">Единицы измерения</label>
                  <div class="select">
                    <select name="units" id="units" formControlName="units" [class.invalid]="isFieldValid('units')">
                      <option *ngFor="let measureUnit of measureUnits" [ngValue]="measureUnit">
                        {{measureUnit.name}}
                      </option>
                    </select>
                  </div>
                  <div class="clr-row">
                    <div class="clr-col-4">
                      <label class="clr-control-label">Ставка НДС</label>
                      <div class="clr-control-container clr-control-inline">
                        <input type="radio" id="nds20" name="ndsPercent" value="20" class="clr-radio" formControlName="ndsPercent">
                        <label for="nds20" class="radio-label">20%</label>
                        <input type="radio" id="nds10" name="ndsPercent" [value]="10" class="clr-radio" formControlName="ndsPercent">
                        <label for="nds10" class="radio-label">10%</label>
                      </div>
                    </div>
                    <div class="clr-col-4">
                      <label class="clr-control-label" for="priceWithNds">Цена с НДС за ед.</label>
                      <input type="number" id="priceWithNds" name="priceWithNds" formControlName="priceWithNds" min="0.1"
                             step="0.01" class="hidden-arrows text-right price"
                             [class.invalid]="isFieldValid('priceWithNds')">
                    </div>
                   <div class="clr-col-4">
                     <label class="clr-control-label" for="currency">Валюта</label>
                     <div class="select">
                     <select name="currency" id="currency" formControlName="currency" [class.invalid]="isFieldValid('currency')">
                       <option *ngFor="let currency of currencies" [ngValue]="currency">
                         {{currency.code}}
                       </option>
                     </select>
                     </div>
                   </div>
                  </div>
                  <label class="clr-control-label" for="tth">Технические характеристики</label>
                  <input type="text" id="tth" name="tth" formControlName="tth">
                  <label class="clr-control-label" for="supplierRegion">Регион поставки</label>
                  <input type="text" id="supplierRegion" name="supplierRegion" formControlName="supplierRegion">
                </div>
              </div>
            </form>
          </clr-tab-content>
        </ng-template>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>ОКВЭД</button>
        <ng-template [(clrIfActive)]="okvedActive">
          <clr-tab-content>
            ...
          </clr-tab-content>
        </ng-template>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>ОКПД2</button>
        <ng-template [(clrIfActive)]="okpd2Active">
          <clr-tab-content>
            ...
          </clr-tab-content>
        </ng-template>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>Атрибуты</button>
        <ng-template [(clrIfActive)]="linksActive">
          <clr-tab-content>
            ...
          </clr-tab-content>
        </ng-template>
      </clr-tab>
    </clr-tabs>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onCloseClick()">Отмена</button>
    <button type="button" class="btn btn-primary" (click)="onAddPriceListItem()" [disabled]="itemDataForm.invalid">Добавить</button>
  </div>
</clr-modal>


