<div class="container">

  <div class="clr-row staff-list">
    <div class="clr-col-12 clr-col-xxl-9">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink id="link1">
            Закупщики
            <ng-container *ngIf="purchasersCount; else employeesCountLoader">
              <span class="light-grey">({{ purchasersCount }})</span>
            </ng-container>

            <ng-template #employeesCountLoader>
              <span class="staff-count-loader spinner spinner-md"></span>
            </ng-template>
          </button>

          <clr-tab-content id="content1" *clrIfActive="true">
            <app-employee-list
                    [employees]="getEmployeeList('purchasers')">
            </app-employee-list>
          </clr-tab-content>

        </clr-tab>

        <clr-tab>
          <button clrTabLink>
            Менеджеры
            <ng-container *ngIf="managersCount; else statusCountLoader">
              <span class="light-grey">({{ managersCount }})</span>
            </ng-container>

            <ng-template #statusCountLoader>
              <span class="staff-count-loader spinner spinner-md"></span>
            </ng-template>
          </button>

          <clr-tab-content *clrIfActive>

            <app-employee-list
                    [employees]="getEmployeeList('managers')">
            </app-employee-list>

          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
</div>
