<form appFormValidation [formGroup]="form" (ngSubmit)="submit()">
  <div class="app-section"><b>{{position.name}}</b></div>
  <div class="app-row app-align-items-center">
    <div class="app-col app-col-6">
      <div class="app-control-wrap">
        <input #manufacturingNameRef uxgInput type="text" lg formControlName="manufacturingName"/>
        <label class="app-control-label" (click)="manufacturingNameRef.focus()">Заводское наименование</label>
        <div class="app-control-error" *ngIf="form.get('manufacturingName').errors as e">
          <span *ngIf="e.required">Обязательное поле</span>
        </div>
      </div>
    </div>
    <div class="app-col app-col-4">
      <div class="app-control-wrap">
        <input #priceWithoutVatRef appPriceInputFilter class="hidden-arrows" min="0" type="number" uxgInput lg formControlName="priceWithoutVat"/>
        <label class="app-control-label" (click)="priceWithoutVatRef.focus()">Цена за единицу</label>
        <div class="app-control-error" *ngIf="form.get('priceWithoutVat').errors as e">
          <span *ngIf="e.required">Обязательное поле</span>
        </div>
      </div>
    </div>
    <div class="app-col app-col-2">
      <uxg-dropdown lg placeholder="Валюта" formControlName="currency">
        <div uxgDropdownItem [value]="currency[0]" *ngFor="let currency of currencies">{{ currency[1] }}</div>
      </uxg-dropdown>
    </div>
  </div>
  <div class="app-row app-align-items-center">
    <div class="app-col app-col-3">
      <div class="app-control-wrap">
        <input #quantityRef uxgInput type="text" lg formControlName="quantity"/>
        <label class="app-control-label" (click)="quantityRef.focus()">Количество</label>
        <div class="app-control-error" *ngIf="form.get('quantity').errors as e">
          <span *ngIf="e.required">Обязательное поле</span>
        </div>
      </div>
    </div>
    <div class="app-col app-col-3">
      <uxg-dropdown-input
        lg appSuggestions strictMode formControlName="measureUnit" placeholder="Ед. измерения"
        [$]="okeiList$" [searchFn]="okeiService.searchOkei" #okei="appSuggestions" [appControlWrap]="true"
      >
        <ng-container *ngIf="(okei.suggestions$ | async) as okeiSuggestions">
          <div uxgDropdownItem *ngFor="let suggestion of okeiSuggestions"
               [value]="suggestion.symbol | lowercase"
               [attr.title]="suggestion.name | lowercase"
          >{{suggestion.symbol | lowercase }} <span class="app-ghost-color">- {{suggestion.name | lowercase}}</span>
          </div>
        </ng-container>
        <ng-template #errors>
          <div class="app-control-error" *ngIf="form.get('measureUnit').errors as e">
            <span *ngIf="e.required">Обязательное поле</span>
            <span *ngIf="e.notFromList">Выберите из списка</span>
          </div>
        </ng-template>
      </uxg-dropdown-input>
    </div>
    <div class="app-col app-col-4">
      <div class="app-control-wrap">
        <input #deliveryDateRef uxgInput lg uxgDatepicker formControlName="deliveryDate"/>
        <label class="app-control-label" (click)="deliveryDateRef.focus()">Срок поставки</label>
        <label class="app-control-icon" (click)="deliveryDateRef.focus()">
          <uxg-icon shape="app-calendar-big" size="24"></uxg-icon>
        </label>
        <div class="app-control-error" *ngIf="form.get('deliveryDate').errors as e">
          <span *ngIf="e.field">Неверная дата</span>
        </div>
      </div>
    </div>
    <div class="app-col app-col-2"></div>
  </div>
  <div class="app-row">
    <div class="app-col app-col-6">
      <div class="app-control-wrap">
        <input #manufacturer uxgInput type="text" lg formControlName="manufacturer"/>
        <label class="app-control-label" (click)="manufacturer.focus()">Изготовитель</label>
        <div class="app-control-error" *ngIf="form.get('manufacturer').errors as e">
          <span *ngIf="e.required">Обязательное поле</span>
        </div>
      </div>
    </div>
    <div class="app-col app-col-4">
      <div class="app-control-wrap">
        <input #standard uxgInput type="text" lg formControlName="standard"/>
        <label class="app-control-label" (click)="standard.focus()">Стандарт</label>
      </div>
    </div>
    <div class="app-col app-col-2"></div>
  </div>
  <div class="app-row">
    <div class="app-col">
      <uxg-dropdown-input formControlName="paymentTerms" placeholder="Условия оплаты" lg>
        <div uxgDropdownItem *ngFor="let term of paymentTerms" [value]="term[0]">{{ term[1] }}</div>
      </uxg-dropdown-input>
    </div>
  </div>
  <div class="app-row app-align-items-center">
    <div class="app-col">
      Все поля, кроме стандарта, являются <b class="app-error-color">обязательными</b> к заполнению! Документы
      прикладывать не обязательно.
    </div>
    <button uxgButton lg secondary type="button" (click)="close.emit()">Отмена</button>
    <button uxgButton lg primary>Добавить</button>
  </div>
</form>
