.create-request-form {
  padding-top: 20px;
}

.app-row {
  padding-top: 15px;
}

.addNext {
  text-align: center;
}

.app-col-aside {
  padding-top: 50px;
  text-align: start;
}

.download-docs {
  margin: 10px 0 0 0;
}

.submit {
  padding: 0 20px;
}
