.create-request-form {
  padding-top: 20px;
}

clr-accordion-content {
  text-align: left;
}

.clr-accordion-title {
  max-width: inherit;
}

.accordion-title-block {
  width: 100%;
}

.label-gray {
  color: #999999;
}

.invalid {
  color: #FF2519;
}

.clr-row {
  padding-top: 15px;
}

label.clr-control-label {
  font-size: 12px;
  font-weight: 600;
  color: #999999;
  padding-bottom: 7px;
}

.btn-delete {
  height: 24px;
  margin: 0;
  padding: 0 10px;
  float: right;
}

.nopadding {
  padding-top: 0;
}


.isDeliveryAsap {
  display: flex;
  align-items: flex-start;
  padding-top: 33px;
  font-size: 14px;
}

.isDeliveryAsap label {
  font-size: 14px;
  padding: 0 0 0 25px;
}

.btn {
  margin-right: 0;
  padding: 0 25px;
}

.clr-validate-icon {
  color: white;
}

textarea {
  width: 100%;
}

.btn-link {
  color: #999999;
  font-weight: 600;
}

.title {
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.clr-form-control {
  padding: 20px 40px 40px 40px;
}

.btn-send {
  margin-top: 20px;
}

.label-success {
  color: #62a420;
}

label.request-name-label {
  display: block;
  text-align: left;
  font-weight: 400;
  color: #2b2b2b;
  font-size: 14px;
  padding-bottom: 0;
}

.request-name-input.ng-touched.required {
  border-color: #FF2519;
}

.card {
  padding: 20px 20px 40px 20px;
  text-align: start;
}

.addNext {
  text-align: center;
}

.card.addNext {
  padding-bottom: 20px;
}

.app-col-aside {
  padding-top: 50px;
  text-align: start;
}

.download-docs {
  margin: 10px 0 0 0;
}

.submit {
  padding: 0 20px;
}
