.container {
  width: 1200px;
}

h3.request-title {
  margin: 0 0 5px 0;
}

.title-info {
  text-transform: uppercase;
  color: #999999;
}

clr-accordion {
  padding-top: 20px;
}

label {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #999999;
}

.clr-form-control {
  padding: 0;
}

.clr-accordion-title {
  max-width: 1200px;
}

.btn.btn-link {
  padding: 0;
}

.w-40 {
  width: 40%;
}

.btn.btn-link p {
  padding: 0;
  font-size: 12px;
}

.status {
  text-align: right;
}

clr-datagrid {
  padding-top: 15px;
}

.datagrid-cell {
  font-size: 13px;
}

.quantity {
  padding-right: 5px;
}

.right-align-button {
  text-align: right;
}

h1 {
  margin-bottom: 0;
}

.header-label {
  margin-top: 0;
  color: #999999;
}

.right-align-status {
  text-align: right;
  padding-top: 33px;
}

.w-100 {
  margin: 0;
}

.card.free-form-request {
  margin-top: 10px;
}
.request-comment {
  margin-top: 15px;
  margin-bottom: 30px;
}
.request-comment-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}
.request-comment-body {
  display: block;
  max-width: 540px;
}