@import "src/theme";

* + .popover-item {
  margin-left: .5rem;
}

.template {
  padding-bottom: 20px;
}

.dragAndDropArea {
  margin: 20px 0 10px 0;
}

.doc-error-message {
  width: 150px;
  text-align: right;
  font-weight: bold;
  margin-right: 10px;
  color: uxg($theme, color-control-invalid);
}
