<div class="app-row app-align-items-center">
  <div class="app-pages" *ngIf="pages.length > 1">

    <ng-container *ngIf="leftSiblingCount > siblingCount">
      <a class="app-pages-item" routerLink="." [queryParams]="{page: 1}">1</a>
      <div class="app-pages-item">...</div>
    </ng-container>

    <a
      *ngFor="let page of pages"
      class="app-pages-item"
      routerLink="."
      [class.app-pages-item-current]="page === current"
      [queryParams]="{page: page}">{{ page }}
    </a>

    <ng-container *ngIf="rightSiblingCount > siblingCount">
      <div class="app-pages-item">...</div>
      <a class="app-pages-item" routerLink="." [queryParams]="{page: fullPages.length}">{{fullPages.length}}</a>
    </ng-container>
  </div>
  <div [style.margin-left.px]="50">
    <span class="app-ghost-color">На странице</span> {{firstItem}} - {{ lastItem }} <span class="app-ghost-color">из</span> {{total}}
  </div>
</div>
