<div class="app-row">
  <div class="app-col app-bold">
    <div appUploadFile class="upload-area" hoverClass="upload-area-hover" (dropFile)="addDocument($event)">
      <div>Перетащите заполненный шаблон сюда</div>
    </div>
  </div>

  <div class="app-col app-row app-justify-content-between app-flex-column">
    <div class="app-secondary-color">
      Вы можете перетащить заполненный шаблон в окно слева, или нажать на кнопку ниже, и выбрать нужный файл в окне проводника
    </div>
    <div>
      <button type="button" uxgButton secondary appUploadFile (select)="addDocument($event)" [multiple]="true">Загрузить заполненный шаблон</button>
    </div>
  </div>
</div>
<ng-container *ngIf="documents.length !== 0">
  <small class="app-ghost-color app-bold">ЗАГРУЖЕННЫЕ ДОКУМЕНТЫ</small>
  <div class="documents">
    <div class="app-row">
      <div class="app-col" *ngFor="let document of documents">
        <document-icon [name]="document.name"></document-icon>
        <div class="documents-title">
          <div>{{ document.name }}</div>
        </div>
        <div class="app-align-self-start">
          <button type="button" uxgButton link icon clear (click)="removeDocument(document)">
            <uxg-icon shape="app-trash" size="12"></uxg-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
