.app-col + .app-col { padding-left: 20px; }
uxg-checkbox + label { margin-left: .5em; }
textarea { height: 80px; }

.input-label {
  color: #666666;
  cursor: default;
  height: 18px;
  display: table;
  font-size: 11px;
  line-height: 18px;
  padding-top: 3px;
}

::ng-deep textarea[disabled].comments {
  background: #e5e8ef;
}

