.app-col + .app-col { padding-left: 20px; }
uxg-checkbox + label { margin-left: .5em; }
textarea { height: 80px; }

// Скрываем стандартое поле ввода Clarity
.hidden-datepicker {
  input[clrDate] { display: none; }

  &::ng-deep {
    input[clrDate] + button,
    .clr-validate-icon { display: none; }

    .clr-input-wrapper { height: 0; }

    .datepicker {
      margin-top: -1.25rem;
    }
  }
}

::ng-deep textarea[readonly].comments {
  background: #e5e8ef;
}