<div class="app-card">
  <h2>Icons</h2>

  <div>
    <button uxgButton secondary icon (click)="ctx.$implicit = shape" *ngFor="let shape of shapes">
      <clr-icon [attr.shape]="shape" [attr.size]="getDefaultSize(shape)"></clr-icon>
    </button>
  </div>
  <br/>
  <ng-container *ngIf="ctx.$implicit">
    <ng-container *ngTemplateOutlet="example;context:ctx;"></ng-container>
  </ng-container>

  <ng-template #example let-shape>
    <h2>Sources</h2>
    <ngx-prism [cd]="{ code: true } " language="html" [code]="getExmample(shape)"></ngx-prism>


    <div>
      <button uxgButton outline icon lg>
        <clr-icon [attr.shape]="shape" [attr.size]="getDefaultSize(shape)"></clr-icon>
      </button>
      <button *ngIf="hasSolid(shape)" uxgButton outline icon lg>
        <clr-icon [attr.shape]="shape" [attr.size]="getDefaultSize(shape)" class="is-solid"></clr-icon>
      </button>
    </div>
    <br/>
    <div>See more usage options in <a target="_blank" href="https://clarity.design/icons/how-to-use">How To Use</a></div>
    <br/>
    <div>
      <button uxgButton secondary (click)="ctx.$implicit = ''">Close</button>
    </div>
  </ng-template>
</div>
