<div class="container">
  <h2 class="newRequest">Заявки</h2>
  <div class="clr-row clr-justify-content-end">
    <button class="btn btn-secondary-small filter-button" (click)="filterModal.open()">
      <img src="../../../../../assets/images/union.png">
      Фильтр
    </button>
  </div>
  <div class="clr-row">
    <div class="clr-col-12 clr-col-xxl-9">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink id="link1" (click)="getRequestList(requestWorkflowSteps.IN_PROGRESS)">В обработке</button>
          <clr-tab-content id="content1" *clrIfActive="true">
            <app-request-list
              (datagridState)="onDatagridStateChange($event)"
              [requests]="requests"
              [totalItems]="totalItems"
              [customerNameColumnShow]="false"
              [requestStatus]="requestWorkflowSteps.IN_PROGRESS">
            </app-request-list>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink (click)="getRequestList(requestWorkflowSteps.NEW)">Новые</button>
          <clr-tab-content *clrIfActive>
            <app-request-list
              (datagridState)="onDatagridStateChange($event)"
              [requests]="requests"
              [totalItems]="totalItems"
              [customerNameColumnShow]="false"
              [requestStatus]="requestWorkflowSteps.NEW">
            </app-request-list>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink (click)="getRequestList(requestWorkflowSteps.DRAFT)">Черновики</button>
          <clr-tab-content *clrIfActive>
            <app-request-list
              (datagridState)="onDatagridStateChange($event)"
              [requests]="requests"
              [totalItems]="totalItems"
              [customerNameColumnShow]="false"
              [requestStatus]="requestWorkflowSteps.DRAFT">
            </app-request-list>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink (click)="getRequestList(requestWorkflowSteps.ON_CUSTOMER_APPROVAL)">На согласовании</button>
          <clr-tab-content *clrIfActive>
            <app-request-list
              (datagridState)="onDatagridStateChange($event)"
              [requests]="requests"
              [totalItems]="totalItems"
              [customerNameColumnShow]="false"
              [requestStatus]="requestWorkflowSteps.ON_CUSTOMER_APPROVAL">
            </app-request-list>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink (click)="getRequestList(requestWorkflowSteps.COMPLETED)">Завершенные</button>
          <clr-tab-content *clrIfActive>
            <app-request-list
              (datagridState)="onDatagridStateChange($event)"
              [requests]="requests"
              [totalItems]="totalItems"
              [customerNameColumnShow]="false"
              [requestStatus]="requestWorkflowSteps.COMPLETED">
            </app-request-list>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>

    <div class="clr-col-3 filter">
      <app-request-list-filter>
      </app-request-list-filter>
    </div>
  </div>
</div>
<clr-modal #filterModal [clrModalSize]="'lg'">
  <h3 class="modal-title">Фильтр</h3>
  <div class="modal-body">
    <app-request-list-filter></app-request-list-filter>
  </div>
</clr-modal>
