<div class="container">
  <h2 class="newRequest">Заявки</h2>

  <div class="clr-row">
    <div class="clr-col-12 clr-col-xxl-9">
      <div class="clr-row clr-justify-content-end">
        <button class="btn btn-secondary-small filter-button" (click)="filterModalOpened = true">
          <img src="../../../../../assets/images/union.png">
          Фильтр <div *ngIf="getFilterCounter() > 0" class="counter-bubble">{{ getFilterCounter() }}</div>
        </button>
      </div>

      <app-request-list
            (datagridState)="onDatagridStateChange($event)"
            [requests]="requests"
            [totalItems]="totalItems"
            [customerNameColumnShow]="false">
      </app-request-list>
    </div>

    <div class="clr-col-3 filter"[ngClass]="{ 'opened' : filterModalOpened }">
      <app-request-list-filter
              [resultsCount]="totalItems"
              [backofficeView]="false"
              (filter)="filter($event)"
              (showResults)="onShowResults()">
      </app-request-list-filter>
    </div>
  </div>

</div>
