<div class="container">
  <div class="clr-row clr-justify-content-end">
    <button class="btn btn-secondary-small filter-button" (click)="filterModalOpened = true">
      Фильтр <div *ngIf="getFilterCounter() > 0" class="counter-bubble">{{ getFilterCounter() }}</div>
    </button>
  </div>
  <div class="clr-row request-list">
    <div class="clr-col-12 clr-col-xxl-9">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink id="link1"
                  (click)="switchTab(requestWorkflowSteps.IN_PROGRESS)"
                  [disabled]="requestStatusCount?.inProgressRequestsCount === 0">
            В обработке
            <ng-container *ngIf="requestStatusCount; else statusCountLoader">
              <span class="light-grey">({{ requestStatusCount.inProgressRequestsCount }})</span>
            </ng-container>

            <ng-template #statusCountLoader>
              <span class="status-count-loader spinner spinner-md"></span>
            </ng-template>
          </button>

          <clr-tab-content id="content1" *clrIfActive="true">
            <app-request-list
              (datagridState)="onDatagridStateChange($event)"
              [requests]="requests"
              [totalItems]="totalItems"
              [customerNameColumnShow]="false"
              [requestStatus]="requestWorkflowSteps.IN_PROGRESS">
            </app-request-list>
          </clr-tab-content>
        </clr-tab>

        <clr-tab>
          <button clrTabLink
                  (click)="switchTab(requestWorkflowSteps.NEW)"
                  [disabled]="requestStatusCount?.newRequestsCount === 0">
            Новые
            <ng-container *ngIf="requestStatusCount; else statusCountLoader">
              <span class="light-grey">({{ requestStatusCount.newRequestsCount }})</span>
            </ng-container>

            <ng-template #statusCountLoader>
              <span class="status-count-loader spinner spinner-md"></span>
            </ng-template>
          </button>

          <clr-tab-content *clrIfActive>
            <app-request-list
              (datagridState)="onDatagridStateChange($event)"
              [requests]="requests"
              [totalItems]="totalItems"
              [customerNameColumnShow]="false"
              [requestStatus]="requestWorkflowSteps.NEW">
            </app-request-list>
          </clr-tab-content>
        </clr-tab>

        <clr-tab>
          <button clrTabLink
                  (click)="switchTab(requestWorkflowSteps.DRAFT)"
                  [disabled]="requestStatusCount?.draftRequestsCount === 0">
            Черновики
            <ng-container *ngIf="requestStatusCount; else statusCountLoader">
              <span class="light-grey">({{ requestStatusCount.draftRequestsCount }})</span>
            </ng-container>

            <ng-template #statusCountLoader>
              <span class="status-count-loader spinner spinner-md"></span>
            </ng-template>
          </button>

          <clr-tab-content *clrIfActive>
            <app-request-list
              (datagridState)="onDatagridStateChange($event)"
              [requests]="requests"
              [totalItems]="totalItems"
              [customerNameColumnShow]="false"
              [requestStatus]="requestWorkflowSteps.DRAFT">
            </app-request-list>
          </clr-tab-content>
        </clr-tab>

        <clr-tab>
          <button clrTabLink
                  (click)="switchTab(requestWorkflowSteps.ON_CUSTOMER_APPROVAL)"
                  [disabled]="requestStatusCount?.onCustomerApprovalRequestsCount === 0">
            На согласовании
            <ng-container *ngIf="requestStatusCount; else statusCountLoader">
              <span class="light-grey">({{ requestStatusCount.onCustomerApprovalRequestsCount }})</span>
            </ng-container>

            <ng-template #statusCountLoader>
              <span class="status-count-loader spinner spinner-md"></span>
            </ng-template>
          </button>

          <clr-tab-content *clrIfActive>
            <app-request-list
              (datagridState)="onDatagridStateChange($event)"
              [requests]="requests"
              [totalItems]="totalItems"
              [customerNameColumnShow]="false"
              [requestStatus]="requestWorkflowSteps.ON_CUSTOMER_APPROVAL">
            </app-request-list>
          </clr-tab-content>
        </clr-tab>

        <clr-tab>
          <button clrTabLink
                  (click)="switchTab(requestWorkflowSteps.COMPLETED)"
                  [disabled]="requestStatusCount?.completedRequestsCount === 0">
            Завершенные
            <ng-container *ngIf="requestStatusCount; else statusCountLoader">
              <span class="light-grey">({{ requestStatusCount.completedRequestsCount }})</span>
            </ng-container>

            <ng-template #statusCountLoader>
              <span class="status-count-loader spinner spinner-md"></span>
            </ng-template>
          </button>

          <clr-tab-content *clrIfActive>
            <app-request-list
              (datagridState)="onDatagridStateChange($event)"
              [requests]="requests"
              [totalItems]="totalItems"
              [customerNameColumnShow]="false"
              [requestStatus]="requestWorkflowSteps.COMPLETED">
            </app-request-list>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>

    <div class="clr-col-12 backdrop"
         (click)="filterModalOpened = false"
         [ngClass]="{ 'opened' : filterModalOpened }">
    </div>


    <div class="clr-col-3 filter" [ngClass]="{ 'opened' : filterModalOpened }">

      <div class="close-btn"
           [ngClass]="{ 'opened' : filterModalOpened }"
           (click)="filterModalOpened = false">
      </div>

      <app-request-list-filter
              [resultsCount]="totalItems"
              [backofficeView]="false"
              (filter)="onFilterUpdate($event)"
              (showResults)="onShowResults()">
      </app-request-list-filter>
    </div>
  </div>
</div>
