@media (min-width: 1521px) {
  .clr-col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .filter-button {
    display: none;
  }
  .filter {
    display: block;
  }
}

@media (max-width: 1520px) {
  .filter {
    display: none;
  }
}
