<app-catalog-categories *ngIf="categoriesOpened" [(opened)]="categoriesOpened"></app-catalog-categories>

<div class="clr-row">
  <div>
    <button class="btn btn-categories btn-primary" aria-label="Каталог" title="Каталог" (click)="onToggleCategories()">
      <clr-icon shape="bars"></clr-icon>
      Каталог
    </button>
  </div>
  <div class="clr-col">
    <input placeholder="Введите наименование позиции для поиска"
           type="text"
           name="searchName"
           class="input-search"
           [(ngModel)]="searchText"
           (keyup.enter)="onSearch()"/>

    <button class="btn btn-link btn-reset" (click)="onResetClick()" *ngIf="searchText">
      <clr-icon shape="times" size="22"></clr-icon>
    </button>
  </div>
  <div>
    <button class="btn btn-primary btn-search" aria-label="Поиск" title="Поиск" (click)="onSearch()"
            [disabled]="!searchText">
      <clr-icon shape="search" size="24"></clr-icon>
    </button>
  </div>
</div>
<a class="new-request" (click)="createRequest()">Не нашли, что искали?</a>
