.btn-reset {
  position: absolute;
  color: #aaa;
}

.input-search {
  width: 100%;
}

.btn-reset {
  right: 0;
  top: 0;
  margin: 0;
}

.btn-search {
  margin: 0;
  float: right;
}

.new-request {
  font-size: 12px;
  margin-left: 15px;
}

.search-wrap {
  overflow: hidden;
  padding-right: .5em;
  position: relative;
}
