$border-radius: 18px;

.clr-row {
  margin: 0;
}

.clr-col {
  padding: 0;
  position: relative;
}

.btn-categories {
  padding: 0 10px;
  margin: 0 32px 0 0;
  min-width: 95px;
}

.input-search {
  border: 1px solid #D5DDE2;
  padding: 10px;
  height: 32px;
  border-radius: 4px;
}

.btn-reset {
  position: absolute;
  color: black;
  right: 53px;
  top: 0;
  margin: 0;
  height: 32px;
}

.btn-search {
  height: 32px;
  min-width: 32px;
  margin: 0 0 0 12px;
  padding: 0;
}

.new-request {
  font-size: 14px;
  padding-left: 20px;
}

.search-bar {
  background-color: #E5E8EF;
  height: 56px;
  right: 0;
   top: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
  padding: 0 130px;
}

.search {
  position: relative;
  display: inline-flex;
  padding: 0;
  padding-right: 7px;
}

.btn-primary {
  .btn, &.btn {
    background-color: #2585F5;
    color: white;
    padding: 0;

    &:disabled {
      border-color: white;
      background-color: white;
      color: black;
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}
