<app-catalog-categories *ngIf="categoriesOpened" [(opened)]="categoriesOpened"></app-catalog-categories>

<div class="app-row search-bar app-align-items-center"
     (window:resize)="onResize()"
     [attr.style]="('width:' + getSearchBarWidth()) | safeStyle">
  <div class="clr-col-2">
    <button class="btn btn-categories btn-primary-small" aria-label="Каталог" title="Каталог"
            (click)="onToggleCategories()">
      <clr-icon shape="bars"></clr-icon>
      Каталог
    </button>
  </div>

  <div class="clr-col-7 search">
    <input placeholder="Введите наименование позиции для поиска"
           type="text"
           name="searchName"
           class="input-search"
           (keydown.enter)="onSearch()"
           [(ngModel)]="searchText"/>
    <button class="btn btn-link btn-reset" (click)="onResetClick()" *ngIf="searchText">
      <img src="../../../../assets/images/delete.svg">
    </button>
    <button class="btn btn-primary btn-search" aria-label="Поиск" title="Поиск" (click)="onSearch()"
            [disabled]="!searchText">
      <clr-icon shape="search" size="17"></clr-icon>
    </button>
    <div class="search-dropdown" *ngIf="showSearchResults">
      <ng-container *ngIf="(searchResults$ | async) as searchResults">
        <div class="search-item category"
          *ngFor="let category of searchResults.categories"
          (click)="onCategoryClick(category)">{{ category.name }}</div>
        <div class="search-item position"
          *ngFor="let position of searchResults.positions"
             (click)="onPositionClick(position)">{{ position.name }}</div>
      </ng-container>
    </div>
  </div>
</div>

