<ng-container *ngIf="(request$ | async) as request; else loading">
  <div class="app-row" *ngIf="(technicalProposals$ | async) as technicalProposals">
    <div class="app-col">

      <div class="app-row">
        <div class="app-col app-table app-no-border">
          <div class="app-row clr-justify-content-end">
            <div class="app-col app-basis-auto clr-flex-grow-0">

              <!-- Создать процедуру  -->
              <button uxgButton secondary iconText
                      *ngIf="featureService.authorize('createProcedure')"
                      (click)="procedureModal.open()" >
                <clr-icon shape="app-plus"></clr-icon>
                <span>Создать процедуру</span>
              </button>

              <!-- Новое ТП  -->
              <button uxgButton primary iconText (click)="showForm = true">
                <clr-icon shape="app-plus"></clr-icon>
                <span>Новое ТП</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <app-request-technical-proposals-create
        *ngIf="showForm"
        [request]="request"
        (visibleChange)="showForm = $event"
        (create)="addTechnicalProposal($event)"
      ></app-request-technical-proposals-create>

      <app-request-backoffice-technical-proposal
        *ngFor="let technicalProposal of technicalProposals"
        [request]="request"
        [technicalProposal]="technicalProposal"
        (update)="updateTechnicalProposal($event)"
        (cancelTechnicalProposal)="onCancelPublishTechnicalProposal($event)"
      ></app-request-backoffice-technical-proposal>

      <clr-modal clrModalSize="lg" #procedureModal>
        <h2 class="modal-title">Создание новой процедуры</h2>
        <div class="modal-body" [style.overflow]="'visible'">
        <ng-container *ngIf="(positions$ | async) as positions">
          <app-request-procedure-create
            *ngIf="procedureModal._open"
            [request]="request"
            [publicAccess]="true"
            [positions]="positions"
            [contragents]="contragents$ | async"
            (complete)="procedureModal.close()"
          ></app-request-procedure-create>
        </ng-container>
        </div>
      </clr-modal>
    </div>

    <div class="app-col app-col-aside">
      <app-request-tp-list-filter [technicalProposals]="technicalProposals" (filters)="filter($event)"></app-request-tp-list-filter>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="text-center">
    <span class="spinner spinner-md"></span>
  </div>
</ng-template>
