@import "projects/uxg/src/styles/index";

:host {
  @include scrollbar($theme);
  display: block;
  max-height: inherit;
  overflow-y: scroll;

  ::ng-deep {
    #address_input {
      background-color: white;
      padding: 10px 15px;
      border: 1px solid #D4D9E2;
    }

    ngx-dadata.invalid input {
      border: 1px solid red !important;
    }
  }
}

.app-col {
  padding: .25em .5em;

  &:first-child { padding-left: 0 }
  &:last-child { padding-right: 0 }
}

label {
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #999999;
}

.alert.autofill-alert { border-radius: 4px }

