@import "projects/uxg/src/styles/index";

:host {
  ::ng-deep {
    #address_input {
      background-color: white;
      padding: 10px 15px;
      border: 1px solid #e5e8ef;
      margin-top: 21px;
      border-radius: 4px;
      height: 40px;
    }

    ngx-dadata.invalid input {
      border: 1px solid red !important;
    }
  }
}

.app-col {
  padding: .25em .5em;

  &:first-child {
    padding-left: 0
  }

  &:last-child {
    padding-right: 0
  }
}

uxg-dropdown {
  padding-top: 20px;
}

.select-role {
  display: inline-flex;
  padding-top: 33px;

  label {
    padding-right: 20px;
  }
}

.add-contragent {
  padding-top: 20px;
}

.alert.autofill-alert {
  border-radius: 4px
}

.last-edit {
  margin-bottom: 20px;
}

