<div class="container">
  <h2 class="regHeader">Регистрация пользователя</h2>
  <div class="card">
    <form [formGroup]="form" class="form" (ngSubmit)="submit()">
      <div class="form-block">
        <div class="clr-form-control">
          <h3>Личная информация</h3>
          <div class="clr-row w-100">
            <div class="clr-col-4">
              <label class="clr-control-label" for="email">Email</label>
              <input type="text" formControlName="username" appFormControlInvalidClass="invalid"/>
            </div>
            <div class="clr-col-4">
              <label class="clr-control-label" for="password">Пароль</label>
              <input type="password" id="password" formControlName="password"
                     appFormControlInvalidClass="invalid">
            </div>
            <div class="clr-col-4">
              <label class="clr-control-label" for="confirmedPassword">Подтверждение пароля</label>
              <input type="password" id="confirmedPassword" formControlName="confirmedPassword"
                     appFormControlInvalidClass="invalid">
            </div>
          </div>
          <div class="clr-row w-100">
            <div class="clr-col-4">
              <label class="clr-control-label" for="lastName">Фамилия</label>
              <input id="lastName" type="text" formControlName="lastName"
                     appFormControlInvalidClass="invalid"/>
            </div>
            <div class="clr-col-4">
              <label class="clr-control-label" for="firstName">Имя</label>
              <input id="firstName" type="text" formControlName="firstName"
                     appFormControlInvalidClass="invalid"/>
            </div>
            <div class="clr-col-4">
              <label class="clr-control-label" for="secondName">Отчество</label>
              <input id="secondName" type="text" formControlName="middleName"
                     appFormControlInvalidClass="invalid"/>
            </div>
          </div>
          <div class="clr-row w-100">
            <div class="clr-col-4">
              <label class="clr-control-label" for="phone">Телефон</label>
              <input id="phone" type="text" formControlName="phone" appFormControlInvalidClass="invalid"/>
            </div>
            <div class="clr-col-6 agreement">
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="agreement" id="agreement" formControlName="agreement">
                <label>Согласие на обработку персональных данных</label>
              </clr-checkbox-wrapper>
            </div>
          </div>

          <h3>Контрагент</h3>
          <div class="clr-row w-100" [formGroup]="contragentForm">
            <div class="clr-col-4">
              <label class="clr-control-label" for="inn">ИНН</label>
              <input id="inn" type="text" formControlName="inn" appFormControlInvalidClass="invalid"/>
            </div>

            <div class="clr-col-4">
              <label class="clr-control-label" for="kpp2">КПП</label>
              <input id="kpp2" type="text" formControlName="kpp" appFormControlInvalidClass="invalid"/>
            </div>
          </div>

          <div class="card-footer app-row app-align-items-center app-justify-content-end">
            <div>
              <span *ngIf="isLoading" class="spinner spinner-inline"></span>
            </div>
            <button class="btn btn-primary next" [disabled]="form.invalid || contragentForm.invalid">Регистрация</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<clr-modal #contragentFound clrModalSize="sm">
  <div class="modal-title">
    <h3>Найден контрагент с такими данными</h3>
  </div>
  <div class="modal-body" *ngIf="contragentForm.value as contragent">
    <h2>{{contragent.name}} </h2>
    <div class="app-row">
      <div class="app-col"><span class="app-secondary-color">ИНН:</span>{{ contragent.inn }}</div>
      <div class="app-col"><span class="app-secondary-color">КПП:</span>{{ contragent.kpp }}</div>
    </div>
    <div class="app-row app-secondary-color">
      Если это ваша организация нажмите кнопку: «Зарегистрироваться», чтобы завершить процесс регистрации. Если нет, то
      проверьте правильность ввода ИНН и КПП на прошлом экране, нажав кнопку: «Отмена».
    </div>
    <div class="app-row app-justify-content-between">
      <button class="app-col" uxgButton secondary lg type="button" (click)="contragentFound.close()">Отмена</button>
      <button class="app-col" uxgButton primary lg (click)="register();">Зарегистрироваться</button>
    </div>
  </div>
</clr-modal>

<clr-modal #contragentNotFound clrModalSize="sm">
  <div class="modal-title">
    <h3>Контрагент с такими данными не найден</h3>
  </div>
  <div class="modal-body" *ngIf="contragentForm.value as contragent">
    <div class="app-row">
      <div class="app-col"><span class="app-secondary-color">ИНН:</span>{{ contragent.inn }}</div>
      <div class="app-col"><span class="app-secondary-color">КПП:</span>{{ contragent.kpp }}</div>
    </div>
    <div class="app-row app-secondary-color">
      Если данные введены верно, то Вы можете обратиться к администраторам проекта, чтобы конрагент был зарегестрирован,
      или скореектируйте данные на прошлом экране.
    </div>
    <div class="app-row app-justify-content-end">
      <button uxgButton primary lg (click)="contragentNotFound.close()">Всё понятно</button>
    </div>
  </div>
</clr-modal>
