<ng-container *ngIf="request$ | async"></ng-container>
<ng-container *ngIf="(stateStatus$ | async) !== 'fetching'; else placeholder">
  <div class="app-row">
    <div class="app-col">
      <div class="app-row">
        <uxg-tabs class="app-col">
          <uxg-tab-title #sentToReview [active]="true" >
            <ng-container *ngIf="(proposalsSentToReview$ | async)?.length as sentToReviewCount">
              Необходимо рассмотреть ({{sentToReviewCount}})
            </ng-container>
          </uxg-tab-title>
          <uxg-tab-title #revied>
            <ng-container *ngIf="(proposalsReviewed$ | async)?.length as reviewedCount">
              Рассмотренные ({{ reviewedCount }})
            </ng-container>
          </uxg-tab-title>
        </uxg-tabs>
        <button uxgButton secondary>Фильтр</button>
      </div>
      <br/>
      <ng-container *uxgTab="sentToReview">
        <app-request-technical-commercial-proposal
          #proposalsOnReview
          [chooseBy$]="chooseBy$"
          *ngFor="let positionProposals of proposalsSentToReview$ | async; trackBy: trackByPositionId"
          [requestId]="requestId"
          [group]="positionProposals">
        </app-request-technical-commercial-proposal>
      </ng-container>

      <ng-container *uxgTab="revied">
        <app-request-technical-commercial-proposal
          *ngFor="let positionProposals of proposalsReviewed$ | async; trackBy: trackByPositionId"
          [requestId]="requestId"
          [group]="positionProposals">
        </app-request-technical-commercial-proposal>
      </ng-container>
    </div>
    <div class="app-col-aside"></div>
  </div>
</ng-container>

<div class="proposals-footer app-row app-align-items-center" #footer>
  <button uxgButton outline lg (click)="chooseBy$.next('price')">Автовыбор по цене</button>
  <button uxgButton outline lg (click)="chooseBy$.next('date')">Автовыбор по дате</button>
  <div class="app-col"></div>
  <h3 *ngIf="total > 0">
    <span class="app-ghost-color app-font-normal">Общая сумма: </span>
    <span>{{total | number: "1.0-2"}}</span>
    <span class="app-ghost-color">{{getCurrencySymbol('RUB', 'narrow') }}</span>
  </h3>
  <button uxgButton secondary lg (click)="rejectAll()">Отклонить всё</button>
  <button uxgButton primary lg (click)="approveAll()" [disabled]="!total">Согласовать всё</button>
</div>

<ng-template #placeholder>
  <div class="app-row">
    <div class="app-col">
      <div class="app-row">
        <div class="app-col app-row">
          <div class="placeholder-row" *ngFor="let i of [].constructor(2)" [style.height.px]="40" [style.width.px]="200"></div>
        </div>
        <div class="placeholder-row" [style.height.px]="40" [style.width.px]="80"></div>
      </div>

      <div class="placeholder" *ngFor="let i of [].constructor(10)" [style.height.px]="160"></div>
    </div>
    <div class="app-col-aside"></div>
  </div>
</ng-template>
