<ng-container *ngIf="request$ | async"></ng-container>
<ng-container *ngIf="(stateStatus$ | async) !== 'fetching'; else placeholder">
  <div class="app-row">
    <div class="app-col">
      <div class="app-row app-align-items-center" [class.app-layout]="view === 'grid'">

        <uxg-tabs class="app-col">
          <uxg-tab-title #sentToReviewTab [disabled]="(proposalsSentToReview$ | async).length === 0" [active]="true">
            <ng-container *ngIf="(proposalsSentToReview$ | async) as proposals">
              Необходимо рассмотреть <span class="counter">({{proposals?.length}})</span>
            </ng-container>
          </uxg-tab-title>

          <uxg-tab-title #sendToEditTab [disabled]="(proposalsSendToEdit$ | async).length === 0">
            <ng-container *ngIf="(proposalsSendToEdit$ | async) as proposals">
              На доработке <span class="counter">({{ proposals?.length }})</span>
            </ng-container>
          </uxg-tab-title>

          <uxg-tab-title #reviewedTab [disabled]="(proposalsReviewed$ | async).length === 0">
            <ng-container *ngIf="(proposalsReviewed$ | async) as proposals">
              Рассмотренные <span class="counter">({{ proposals?.length }})</span>
            </ng-container>
          </uxg-tab-title>
        </uxg-tabs>

        <ng-container *ngIf="(proposals$ | async).length">
          <div class="app-secondary-color">Режим отображения:</div>
          <div class="app-btn-group">
<!--            <button uxgButton [primary]="view==='simple-grid'" [secondary]="view!=='simple-grid'" icon (click)="switchView('simple-grid')">-->
<!--              <uxg-icon shape="app-simple-grid-view"></uxg-icon>-->
<!--            </button>-->
            <button uxgButton [primary]="view==='grid'" [secondary]="view!=='grid'" icon (click)="switchView('grid')">
              <uxg-icon shape="app-grid-view"></uxg-icon>
            </button>
            <button uxgButton [primary]="view==='list'" [secondary]="view!=='list'" icon (click)="switchView('list')">
              <uxg-icon shape="app-list-view"></uxg-icon>
            </button>
          </div>
          <!--  <button uxgButton secondary>Фильтр</button> -->
        </ng-container>
      </div>

      <br/>

      <ng-container [ngSwitch]="view" *ngIf="(reviewedTab.active ? proposalsReviewed$ : sentToReviewTab.active ? proposalsSentToReview$ : proposalsSendToEdit$) | async as proposalsByPos">
        <div *ngIf="view !== 'list'" [ngClass]="{
          'grid-table': view === 'grid',
          'simple-grid-table': view === 'simple-grid',
          'disabled': (stateStatus$ | async) === 'updating'}"
        >
          <app-grid-contragents
            *ngIf="proposalsByPos.length && view === 'grid'"
            [gridRows]="gridRows"
            [suppliers]="suppliers(proposals$ | async)"
            [positionCell]="true"
            [showParams]="true"
            [proposals]="proposals$ | async"
            [proposalsByPos]="proposalsSentToReview$ | async"
          ></app-grid-contragents>
          <ng-container *ngFor="let proposalByPos of proposalsByPos">
            <app-grid-row
              #proposalOnReview
              [chooseBy$]="chooseBy$"
              [position]="proposalByPos.position"
              [simpleView]="view === 'simple-grid'"
              [suppliers]="suppliers(proposals$ | async)"
              [proposals]="converProposalPosition(proposalByPos)"
              [isReviewed]="isReviewed(proposalByPos)"
              [getProposal]="getProposalBySupplier(proposalByPos)"
              (show)="modalData = {proposal: $event, supplier: getSupplierByProposal(proposalByPos, $event),  position: converPosition(proposalByPos.position)}"
            >
              <ng-template #position>
                <div class="grid-cell app-col">
                  <div class="app-row app-flex-column">
                    <div><b>{{ proposalByPos.position.name }}</b></div>

                    <div class="app-secondary-color">
                      <span>{{proposalByPos.position.quantity}}</span>
                      <span class="app-ghost-color">{{proposalByPos.position.measureUnit}}</span>
                      <span class="app-ghost-color"> | </span>
                      <span *ngIf="proposalByPos.position.isDeliveryDateAsap; else deliveryDate">как можно скорее</span>
                      <ng-template #deliveryDate><span>{{proposalByPos.position.deliveryDate | date:"dd.MM.yyyy"}}</span></ng-template>
                    </div>
                    <div class="app-col"></div>

                    <div class="app-row app-align-items-center" *ngIf="!isReviewed(proposalByPos)">
                      <uxg-radio-item
                        class="app-control"
                        #sendToEditRadio
                        [name]="proposalByPos.position.id"
                        [value]="proposalByPos.position"
                        [formControl]="proposalOnReview.sendToEditPosition"
                        (click)="$event.stopPropagation()"
                      ></uxg-radio-item>
                      <label (click)="sendToEditRadio.select($event)">&nbsp; Все на доработку</label>
                    </div>
                    <div class="app-success-color app-bold" *ngIf="hasWinner(proposalByPos)">
                      <uxg-icon shape="app-check"></uxg-icon>
                      <span>Выбран победитель</span>
                    </div>
                    <div class="app-warning-color app-bold" *ngIf="isSentToEdit(proposalByPos)">
                      <uxg-icon shape="app-warning"></uxg-icon>
                      <span>На доработке</span>
                    </div>
                  </div>
                </div>
              </ng-template>
            </app-grid-row>
          </ng-container>
        </div>

        <!-- list -->
        <ng-container *ngSwitchCase="'list'">
          <app-request-technical-commercial-proposal
            #proposalOnReview
            *ngFor="let positionProposals of proposalsByPos; trackBy: trackByPositionId"
            [chooseBy$]="chooseBy$"
            [requestId]="requestId"
            [proposalByPos]="positionProposals">
          </app-request-technical-commercial-proposal>
        </ng-container>

        <!-- empty -->
        <div *ngIf="proposalsByPos.length === 0">
          <h1 class="text-center" [style.opacity]="0.1">
            <br/>
            <uxg-icon shape="app-publish" size="270"></uxg-icon><br/>
            Все технико-коммерческие предложения рассмотрены
          </h1>
        </div>

      </ng-container>
    </div>
    <div class="app-col-aside detachable" *ngIf="view==='list'"></div>
  </div>
</ng-container>

<app-grid-footer
  [disabled]="(stateStatus$ | async) !== 'received' || disabled"
  [loading]="(stateStatus$ | async) !== 'received'"
  (approve)="reviewMultiple()"
  (sendToEdit)="sendToEditAll()"
  [chooseBy$]="chooseBy$"
  [hidden]="!sentToReviewTabElRef?.active || proposalsOnReview?.length === 0"
  [total]="total"
></app-grid-footer>

<ng-template #placeholder>
  <div class="app-row" [class.app-layout]="view === 'grid'">
    <div class="app-col">
      <div class="app-row">
        <div class="app-col app-row">
          <div class="placeholder-row" *ngFor="let i of [].constructor(2)" [style.height.px]="40" [style.width.px]="200"></div>
        </div>
        <div class="placeholder-row" [style.height.px]="40" [style.width.px]="80"></div>
      </div>

      <div class="placeholder" *ngFor="let i of [].constructor(10)" [style.height.px]="160"></div>
    </div>
    <div class="app-col-aside detachable"></div>
  </div>
</ng-template>

<uxg-modal [(state)]="modalData" size="l">
  <ng-container *ngIf="modalData">
    <h2>{{ modalData.position.sourcePosition.name }}</h2>
    <app-proposal-detail
      [supplier]="modalData.supplier"
      [paymentTerms]="modalData.proposal.sourceProposal.paymentTerms"
      [manufacturingName]="modalData.proposal.manufacturingName"
      [documents]="[]"
      [proposal]="modalData.proposal"
      [position]="modalData.position"
    ></app-proposal-detail>

    <ng-template uxgModalFooter>
      <div class="app-col app-bold">
        <div class="app-success-color" *ngIf="helper.isQuantityValid(modalData.position, modalData.proposal)">- Позиция в нужном количестве</div>
        <div class="app-success-color" *ngIf="helper.isDateValid(modalData.position, modalData.proposal)"> - Сроки укладываются в заданные</div>

        <div class="app-error-color" *ngIf="!helper.isQuantityValid(modalData.position, modalData.proposal)">
          {{ helper.getRequestedQuantityLabel(modalData.position, modalData.proposal) }}
        </div>
        <div class="app-error-color" *ngIf="!helper.isDateValid(modalData.position, modalData.proposal)"> - Сроки не укладываются в заданные</div>
      </div>

      <div *ngIf="!['APPROVED', 'REJECTED', 'SENT_TO_EDIT'].includes(modalData.proposal.sourceProposal.status)">
        <button uxgButton lg secondary uxgModalClose>Отмена</button>
        <button uxgButton lg primary (click)="selectProposal(modalData.proposal); modalData = null">Выбрать</button>
      </div>
      <div *ngIf="['APPROVED', 'REJECTED', 'SENT_TO_EDIT'].includes(modalData.proposal.sourceProposal.status)">
        <button uxgButton lg secondary uxgModalClose>Закрыть</button>
      </div>
    </ng-template>
  </ng-container>
</uxg-modal>
