.placeholder {
  background: #F2F2F2;
  margin-bottom: 24px;
  border-radius: 4px;

  &-row {
    @extend .placeholder;

    & + & {
      margin-left: 1em;
    }
  }
}

.proposals-footer {
  background: #fff;
  padding: 20px 60px;
  border-top: 1px #ececec solid;
}
