<div class="position-info" *ngIf="showInfo">
  <div class="card">
    <div class="action-bar">
      <div class="clr-row action-row">
        <div class="clr-col-10">
        </div>

        <div class="clr-col-2 grey">
          <clr-icon shape="angle-double" size="20" style="transform: rotate(270deg);"></clr-icon>
          <clr-icon shape="window-close"></clr-icon>
        </div>
      </div>
    </div>

    <div class="card-content">
      <div class="clr-row select-align">
        <div class="clr-col select change-status" *ngIf="!isCustomerView">
          <select name="status"
                  (change)="onChangeStatus(requestPosition, $event.target.value)"
                  [value]="requestPosition.status">
            <option *ngFor="let status of requestPositionWorkflowStepLabels"
                    [(value)]="status[0]">{{status[1]}}
            </option>
          </select>
        </div>

        <div class="status status-position-{{requestPosition.status}}" *ngIf="isCustomerView">
          {{requestPosition.statusLabel}}
        </div>
      </div>

      <div class="clr-row">
        <div class="clr-col-10">
          <h4>{{requestPosition.name}}</h4>
        </div>

        <div class="clr-col-2 grey">
          <span class="quantity">{{requestPosition.quantity}}</span> {{requestPosition.measureUnit}}
        </div>
      </div>

      <clr-tabs>
        <clr-tab>
          <button clrTabLink>Общая информация</button>
          <clr-tab-content *clrIfActive="true">
            <div class="clr-row info-content">
              <div class="clr-col-12 action">
                <button class="btn btn-link position-info-edit-btn"
                        (click)="positionInfoEditable = !positionInfoEditable">
                  <clr-icon size="16" shape="pencil" [class.is-solid]="positionInfoEditable"></clr-icon>
                  <span> Редактировать</span>
                </button>
              </div>

              <div class="clr-col-12" *ngIf="!positionInfoEditable; else positionInfoEditForm">
                <label class="clr-control-label">Наименование МТР</label>
                <p>{{requestPosition.name}}</p>

                <label class="clr-control-label">Необходимый срок поставки</label>
                <div class="deliveryDate"
                     *ngIf="requestPosition.isDeliveryDateAsap; else notAsapDate">как можно скорее</div>
                <ng-template #notAsapDate><p>{{ getDeliveryDate(requestPosition.deliveryDate) }}</p></ng-template>

                <label class="clr-control-label">Базис поставки (пункт, до которого требуется доставка)</label>
                <p>{{requestPosition.deliveryBasis}}</p>

              <label class="clr-control-label">Условия оплаты</label>
              <p>{{requestPosition.paymentTerms}}</p>

              <label class="clr-control-label">Начальная максимальная цена</label>
              <p><span class="quantity">{{requestPosition.startPrice}}</span> {{requestPosition.currency}}</p>

              <label class="clr-control-label">
                Документ, в соответствии с которым необходимо изготовление (НТД: ГОСТ/ТУ, ТЗ, ОЛ, ЗТП и т.п.)
              </label>
              <p>{{requestPosition.productionDocument}}</p>

              <div class="relatedServices" *ngIf="requestPosition.relatedServices">
                <label class="clr-control-label nopadding">Необходимость сопутствующих услуг (ШМР, ПНР)</label>
                <p>{{requestPosition.relatedServices}}</p>
              </div>

              <div class="relatedServices" *ngIf="requestPosition.comments">
                <label class="clr-control-label">Примечания/комментрии</label>
                <p>{{requestPosition.comments}}</p>
              </div></div>



              <ng-template #positionInfoEditForm>
                <div class="clr-col-12">
                  <form [formGroup]="positionInfoDataForm" class="form">
                    <div class="clr-row">

                      <div class="clr-col-6">
                        <label class="clr-control-label">Наименование МТР</label>
                        <input type="text"
                               name="name"
                               id="name"
                               formControlName="name"
                               [class.invalid]="isFieldValid('name')"
                               value="{{ requestPosition.name }}">
                      </div>

                            <div class="clr-break-row"></div>

                      <div class="clr-col-3">
                        <label class="clr-control-label">Необходимый срок поставки</label>
                        <div class="deliveryDate">
                          <input clrDate
                                 [ngModel]="dateObject"
                                 (ngModelChange)="changeDeliveryDate($event)"
                                 id="deliveryDate"
                                 placeholder="ДД.ММ.ГГГГ"
                                 type="text"
                                 formControlName="deliveryDate"
                                 [class.invalid]="isFieldValid('deliveryDate')"/>
                        </div>
                      </div>

                      <div class="clr-col-3 checkbox-block">
                        <div class="isDeliveryDateAsap">
                          <input clrCheckbox
                                 type="checkbox"
                                 name="isDeliveryDateAsap"
                                 id="isDeliveryDateAsap"
                                 formControlName="isDeliveryDateAsap"
                                 [class.invalid]="isFieldValid('isDeliveryDateAsap')"
                                 [checked]="requestPosition.isDeliveryDateAsap">
                          <label>как можно быстрее</label>
                        </div>
                      </div>



                            <div class="clr-break-row"></div>



                      <div class="clr-col-6">
                        <label class="clr-control-label">Базис поставки <br>
                          (пункт, до которого требуется доставка)</label>
                        <input type="text" id="deliveryBasis"
                               formControlName="deliveryBasis"
                               [class.invalid]="isFieldValid('deliveryBasis')"
                               value="{{requestPosition.deliveryBasis}}">
                      </div>


                            <div class="clr-break-row"></div>


                      <div class="clr-col-6">
                        <label class="clr-control-label">Условия оплаты</label>
                        <input type="text" id="paymentTerms"
                               formControlName="paymentTerms"
                               value="{{requestPosition.paymentTerms}}"
                               [class.invalid]="isFieldValid('paymentTerms')">
                      </div>


                            <div class="clr-break-row"></div>


                      <div class="clr-col-3">
                        <label class="clr-control-label">Количество</label>
                        <input type="number"
                               id="quantity"
                               name="quantity"
                               formControlName="quantity"
                               min="0.1"
                               step="0.01" class="hidden-arrows text-right price"
                               value="{{requestPosition.quantity}}"
                               [class.invalid]="isFieldValid('quantity')">
                      </div>


                      <div class="clr-col-3">
                        <label class="clr-control-label">Ед. измерения</label>
                        <input type="text"
                               id="measureUnit"
                               name="measureUnit"
                               formControlName="measureUnit"
                               value="{{requestPosition.measureUnit}}"
                               [class.invalid]="isFieldValid('measureUnit')">
                      </div>


                            <div class="clr-break-row"></div>


                      <div class="clr-col-3">
                        <label class="clr-control-label">Начальная максимальная цена</label>
                        <input type="number"
                               id="startPrice"
                               name="startPrice"
                               formControlName="startPrice"
                               min="0.1"
                               step="0.01" class="hidden-arrows text-right price"
                               value="{{requestPosition.startPrice}}"
                               [class.invalid]="isFieldValid('startPrice')">
                      </div>

                      <div class="clr-col-3">
                        <label class="clr-control-label" for="currency">Валюта</label>
                        <div class="select">
                          <select name="currency" id="currency" formControlName="currency">
                            <option value="RUB" [selected]="checkIfSelected('RUB')">RUB</option>
                            <option value="USD" [selected]="checkIfSelected('USD')">USD</option>
                            <option value="EUR" [selected]="checkIfSelected('EUR')">EUR</option>
                            <option value="CHF" [selected]="checkIfSelected('CHF')">CHF</option>
                          </select>
                        </div>
                      </div>


                            <div class="clr-break-row"></div>


                      <div class="clr-col-6">
                        <label class="clr-control-label">
                          Документ, в соответствии с которым необходимо изготовление <br>
                          (НТД: ГОСТ/ТУ, ТЗ, ОЛ, ЗТП и т.п.)
                        </label>

                        <input type="text"
                               id="productionDocument"
                               formControlName="productionDocument"
                               value="{{requestPosition.productionDocument}}">
                      </div>


                            <div class="clr-break-row"></div>


                      <div class="clr-col-6">
                        <div class="relatedServices" *ngIf="requestPosition.relatedServices">
                          <label class="clr-control-label nopadding">Необходимость сопутствующих услуг
                            (ШМР, ПНР)</label>
                          <input type="text" id="relatedServices"
                                 name="relatedServices"
                                 formControlName="relatedServices"
                                 value="{{requestPosition.relatedServices}}">
                        </div>
                      </div>


                            <div class="clr-break-row"></div>


                      <div class="clr-col-6">
                        <div class="relatedServices" *ngIf="requestPosition.comments">
                          <label class="clr-control-label">Примечания/комментрии</label>
                          <textarea style="width: 100%"
                                    type="textarea"
                                    id="comments"
                                    name="comments"
                                    formControlName="comments">
                          {{requestPosition.comments}}
                        </textarea>
                        </div>
                      </div>


                            <div class="clr-break-row"></div>


                      <div class="submit clr-col-6">
                        <button type="button"
                                class="btn btn-primary"
                                (click)="onSavePositionInfo()"
                                [disabled]="positionInfoDataForm.invalid">
                          Сохранить
                        </button>
                      </div>
                    </div>
                  </form>
                </div>

              </ng-template>
            </div>
          </clr-tab-content>
        </clr-tab>

        <clr-tab>
          <button clrTabLink>Документы</button>
          <clr-tab-content *clrIfActive>
            <app-document-list [documents]="requestPosition.documents"
                               (downloadClick)="documentsService.downloadFile($event)">
            </app-document-list>
          </clr-tab-content>
        </clr-tab>

        <clr-tab>
          <button clrTabLink>Согласование</button>
          <clr-tab-content *clrIfActive>
            <app-messages [requestPosition]="requestPosition"></app-messages>
          </clr-tab-content>
        </clr-tab>

        <clr-tab>
          <button clrTabLink>Коммерческие предложения</button>
          <clr-tab-content *clrIfActive>
            <app-offers [requestPosition]="requestPosition"
                        [isCustomerView]="isCustomerView"
                        (offerWinner)="getOfferWinner($event)"
                        [requestId]="requestId">
            </app-offers>

            <div class="submit">
              <button class="btn btn-primary"
                      (click)="onPublishOffers(requestPosition)"
                      *ngIf="canPublish(requestPosition)"><b>Отправить на согласование</b>
              </button>

              <button class="btn btn-primary"
                      (click)="onChoiceWinner(requestPosition)"
                      *ngIf="canChoiceWinner(requestPosition)"><b>Согласовать</b>
              </button>
            </div>
          </clr-tab-content>
        </clr-tab>
        <clr-tab *ngIf="canDownloadContract(requestPosition)">
          <button clrTabLink>Договор</button>
          <clr-tab-content *clrIfActive>
            <app-contract [requestPosition]="requestPosition"
                          [requestId]="requestId"
                          [isCustomerView]="isCustomerView"
            ></app-contract>
          </clr-tab-content>
        </clr-tab>

        <clr-tab>
          <button clrTabLink>История</button>
          <clr-tab-content *clrIfActive>
            ...
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
</div>
