<div class="position-info">
  <div class="card">
    <div class="action-bar">
      <div class="clr-row action-row">
        <div class="clr-col right">
          <button type="button"
                  class="btn btn-icon btn-link grey"
                  title="Развернуть панель"
                  *ngIf="!fullScreen"
                  (click)="onWindowFull(true)">
            <clr-icon shape="angle-double" size="20" style="transform: rotate(270deg);"></clr-icon>
          </button>
          <button type="button"
                  class="btn btn-icon btn-link grey"
                  title="Свернуть панель"
                  *ngIf="fullScreen"
                  (click)="onWindowFull(false)">
            <clr-icon shape="angle-double" size="20" style="transform: rotate(90deg);"></clr-icon>
          </button>
          <button type="button"
                  class="btn btn-icon btn-link grey btn-close"
                  title="Закрыть панель"
                  (click)="onWindowClose()">
            <clr-icon shape="window-close" size="20"></clr-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="card-content">
      <div class="clr-row">
        <div class="clr-col-7">
          <h4 class="position-title">{{requestPosition.name}}</h4>
          <span class="quantity grey">{{requestPosition.quantity}} {{requestPosition.measureUnit}}</span>
        </div>

        <div class="clr-col-5 right">
          <div class="select change-status status status-position-{{requestPosition.status}}" *ngIf="!isCustomerView">
            <select name="status"
                    (change)="onChangeStatus(requestPosition, $event.target.value)"
                    [value]="requestPosition.status"
                    [hidden]="!requestPosition.status">
              <option *ngFor="let status of requestPositionWorkflowStepLabels"
                      [value]="status[0]">{{status[1]}}
              </option>
            </select>
          </div>

          <div class="status status-position-{{requestPosition.status}}" *ngIf="isCustomerView">
            {{requestPosition.statusLabel}}
          </div>
        </div>

        <div class="clr-col-12">
          <button class="btn btn-primary"
                  (click)="onDeleteDraft()"
                  *ngIf="requestPosition.isDraftEntity"><b>Вернуть исходную позицию</b>
          </button>
        </div>
      </div>

      <clr-tabs>
        <clr-tab>
          <button clrTabLink>Общая информация</button>
          <clr-tab-content *clrIfActive="true">
            <div class="clr-row info-content">
              <div class="clr-col-12 action">
                <div *ngIf="!requestPosition.isEditingByAnotherUser; else isEditingByAnotherUserLabel">
                  <button class="btn btn-info-outline btn-edit"
                          [class.btn-primary]="positionInfoEditable"
                          *ngIf="!isNewPosition()"
                          (click)="onPositionInfoEditableToggle()">
                    <clr-icon size="16" shape="pencil" ></clr-icon>
                    <span> {{ positionInfoEditable ? 'Отменить' : 'Редактировать' }} </span>
                  </button>
                </div>
                <ng-template #isEditingByAnotherUserLabel><small>Позиция редактируется другим пользователем</small></ng-template>
              </div>

              <div class="clr-col-12" *ngIf="!positionInfoEditable; else positionInfoEditForm">
                <label class="clr-control-label">Наименование МТР</label>
                <p>{{requestPosition.name}}</p>

                <label class="clr-control-label">Необходимый срок поставки</label>
                <div class="deliveryDate"
                     *ngIf="requestPosition.isDeliveryDateAsap; else notAsapDate">как можно скорее
                </div>
                <ng-template #notAsapDate><p>{{ getDeliveryDate(requestPosition.deliveryDate) }}</p></ng-template>

                <label class="clr-control-label">Базис поставки (пункт, до которого требуется доставка)</label>
                <p>{{requestPosition.deliveryBasis}}</p>

                <label class="clr-control-label">Условия оплаты</label>
                <p>{{requestPosition.paymentTerms}}</p>

                <div class="startPrice" *ngIf="requestPosition.startPrice">
                  <label class="clr-control-label">Начальная максимальная цена</label>
                  <p><span class="quantity">{{requestPosition.startPrice | number}}</span> {{requestPosition.currency}}
                  </p>
                </div>
                <label class="clr-control-label">
                  Документ, в соответствии с которым необходимо изготовление (НТД: ГОСТ/ТУ, ТЗ, ОЛ, ЗТП и т.п.)
                </label>
                <p>{{requestPosition.productionDocument}}</p>

                <div class="relatedServices" *ngIf="requestPosition.relatedServices">
                  <label class="clr-control-label nopadding">
                    Необходимость сопутствующих услуг (ШМР, ПНР, Инспекционный контроль)
                  </label>
                  <p>{{requestPosition.relatedServices}}</p>
                </div>

                <div class="relatedServices" *ngIf="requestPosition.comments">
                  <label class="clr-control-label">Примечания/комментарии</label>
                  <p>{{requestPosition.comments}}</p>
                </div>
              </div>


              <ng-template #positionInfoEditForm>
                <div class="clr-col-12">
                  <app-edit-position-info-form
                    [requestPosition]="requestPosition"
                    (requestPositionChanged)="onRequestPositionChanged($event)">
                  </app-edit-position-info-form>
                </div>
              </ng-template>

            </div>
          </clr-tab-content>
        </clr-tab>

        <ng-container *ngIf="!isNewPosition()">
          <clr-tab *ngIf="!isNewPosition()">
            <button clrTabLink>Документы</button>
            <clr-tab-content *clrIfActive>
              <app-document-list [documents]="requestPosition.documents"
                                 (fileSelected)="onUploadDocuments($event)">
              </app-document-list>
            </clr-tab-content>
          </clr-tab>

          <clr-tab>
            <button clrTabLink>Согласование</button>
            <clr-tab-content *clrIfActive>
              <app-messages [requestPosition]="requestPosition"></app-messages>
            </clr-tab-content>
          </clr-tab>

          <clr-tab>
            <button clrTabLink>Коммерческие предложения</button>
            <clr-tab-content *clrIfActive>
              <app-offers [requestPosition]="requestPosition"
                          [isCustomerView]="isCustomerView"
                          [requestId]="requestId">
              </app-offers>

              <div class="submit">
                <button class="btn btn-primary"
                        [swal]="publishOffersDialog"
                        *ngIf="canPublish(requestPosition)"><b>Отправить на согласование</b>
                </button>
                <swal
                  #publishOffersDialog
                  text="Отправить коммерческие предложения на согласование?"
                  [showCancelButton]="true"
                  (confirm)="onConfirmPublishOffers(requestPosition)">
                </swal>
              </div>
            </clr-tab-content>
          </clr-tab>

          <clr-tab *ngIf="canViewManufacturing(requestPosition)">
            <button clrTabLink>Изготовление</button>
            <clr-tab-content *clrIfActive>
              <app-manufacturing [requestPosition]="requestPosition"
                                 [requestId]="requestId"
                                 [canUpload]="canUploadManufacturing(requestPosition)">
              </app-manufacturing>
            </clr-tab-content>
          </clr-tab>


          <clr-tab>
            <button clrTabLink>История</button>
            <clr-tab-content *clrIfActive>
              <app-position-info-history
                      [requestPosition]="requestPosition">
              </app-position-info-history>
            </clr-tab-content>
          </clr-tab>
        </ng-container>

      </clr-tabs>
    </div>
  </div>
</div>
