<ng-container *ngIf="(agreements$ | async) as agreements">
  <form [formGroup]="form">
    <uxg-dropdown lg class="action-select" formControlName="actions">
      <div uxgDropdownItem [value]="null">Все задачи</div>
      <div uxgDropdownItem [value]="stringifyActions(action.type)"
           *ngFor="let action of actions"
      >{{ action.label }}</div>
    </uxg-dropdown>
  </form>

  <app-agreements
    [agreements]="agreements">
  </app-agreements>
</ng-container>

<app-pagination [total]="(totalCount$| async)" [pageSize]="pageSize" [pages$]="pages$" (change)="loadPage($event)"></app-pagination>
