<ng-container *ngIf="(agreements$ | async) as agreements">
  <form [formGroup]="form">
    <uxg-dropdown lg class="action-select" formControlName="action">
      <div uxgDropdownItem [value]="null">Все задачи</div>
      <div uxgDropdownItem [value]="action[0]"
           *ngFor="let action of actions"
      >{{ action[1] }}</div>
    </uxg-dropdown>
  </form>
  <app-agreements
    [agreements]="agreements">
  </app-agreements>
  <app-pagination [total]="(totalCount$| async)" [pageSize]="pageSize" [pages$]="pages$" (change)="loadPage($event)"></app-pagination>
</ng-container>
