<div class="app-wizzard app-row app-ghost-color app-align-items-center">
  <ng-container *ngFor="let step of wizzard; index as i">
    <div *ngIf="i > 0" class="app-col app-grow-0 app-basis-auto">
      <clr-icon shape="app-arrow right"></clr-icon>
    </div>

    <div class="app-col app-grow-0 app-basis-auto">
      <div class="app-row app-align-items-center">
        <div class="app-wizzard-item" [class.active]="wizzard.isCurrent(step)" [class.completed]="step.completed">
          <clr-icon *ngIf="getStepIcon(step)" class="app-wizzard-item-icon" [attr.shape]="getStepIcon(step)"></clr-icon>
          {{ i + 1 }}
        </div>
        <div>{{ step.label }}</div>
      </div>
    </div>
  </ng-container>
</div>
