<ng-container *ngIf="!request" class="load-block">
  <span class="spinner spinner-md"></span>
</ng-container>
<ng-container *ngIf="request">

  <h4 class="request-number"><b>Заявка №{{request.number}}</b></h4>
  <h3 class="request-name"><b>{{ request.name }}</b></h3>

  <app-request-dashboard
    (draftClick)="onDraftClick()"
    [filteredByDraftStatus]="filteredByDrafts"
    [request]="request"
    [requestPositions]="requestPositions"
    [draftPositionsCount]="countDraftPositions()"
  ></app-request-dashboard>

  <div class="clr-row">
    <div [ngClass]="{'clr-col-4' : (selectPositionListItem), 'clr-col' : (!selectPositionListItem)}"
         [hidden]="!showPositionList">
      <app-request-position-list
        [filteredByDrafts]="filteredByDrafts"
        [request]="request"
        [requestItems]="requestPositions"
        [(selectItem)]="selectPositionListItem"
        [isCustomerView]="isCustomerView"
      ></app-request-position-list>
    </div>

    <div class="info-card"
         [ngClass]="{'clr-col-8' : showPositionList, 'clr-col' : !showPositionList}"
         *ngIf="selectPositionListItem">

      <app-request-info *ngIf="isRequest(selectPositionListItem)"
                        [request]="request"
                        (close)="onCloseInfoPanel()"
                        (fullScreenChange)="showPositionList = !$event"
                        [isCustomerView]="isCustomerView">
      </app-request-info>

      <app-position-info *ngIf="isPosition(selectPositionListItem)"
                         [requestPosition]="selectPositionListItem"
                         (requestPositionChanged)="onRequestPositionChanged($event)"
                         (close)="onCloseInfoPanel()"
                         [requestId]="request.id"
                         (fullScreenChange)="showPositionList = !$event"
                         (changeRequestInfo)="onUpdateRequestInfo()"
                         [isCustomerView]="isCustomerView"
                         [positionInfoEditable]="isNewRequestItem(selectPositionListItem)">
      </app-position-info>

      <app-group-info *ngIf="isGroup(selectPositionListItem)"
                      [requestGroup]="selectPositionListItem"
                      (requestGroupChanged)="onRequestPositionChanged($event)"
                      (close)="onCloseInfoPanel()"
                      [requestId]="request.id"
                      (fullScreenChange)="showPositionList = !$event"
                      (changeRequestInfo)="onUpdateRequestInfo()"
                      [isCustomerView]="isCustomerView"
                      [groupInfoEditable]="isNewRequestItem(selectPositionListItem)"
      ></app-group-info>
    </div>
  </div>
</ng-container>
