<div class="action-bar">
  <button class="btn btn-link" clrTooltipTrigger
          (click)="onShowAddOfferForm()"
          role="tooltip"
          aria-haspopup="true"
          *ngIf="canAddOffer()">
    <clr-icon shape="add-text"></clr-icon>
    Добавить
  </button>
</div>
<form [formGroup]="offerForm" class="form" *ngIf="showAddOfferForm">
  <div class="form-block">
    <div class="clr-form-control">
      <div class="clr-row w-100">
        <div class="clr-col-6">
          <label class="clr-control-label" for="supplierContragentName">Наименование к/а</label>
          <input id="supplierContragentName" type="text" formControlName="supplierContragentName"
                 [class.invalid]="isFieldValid('supplierContragentName')"/>
        </div>
        <div class="clr-col-2">
          <label class="clr-control-label" for="priceWithVat">Цена</label>
          <input type="number" id="priceWithVat" name="priceWithVat" formControlName="priceWithVat" min="0.1"
                 step="0.01" class="hidden-arrows text-right price"
                 [class.invalid]="isFieldValid('priceWithVat')">
        </div>
        <div class="clr-col-2">
          <label class="clr-control-label" for="currency">Валюта</label>
          <div class="select">
            <select name="currency" id="currency" formControlName="currency"
                    [class.invalid]="isFieldValid('currency')">
              <option value="RUB">
                RUB
              </option>
              <option value="USD">
                USD
              </option>
              <option value="EUR">
                EUR
              </option>
              <option value="CHF">
                CHF
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="clr-row w-100">
        <div class="clr-col-2">
          <label class="clr-control-label" for="quantity">Количество</label>
          <input type="number" id="quantity" name="quantity" formControlName="quantity" min="0"
                 step="0.01" class="hidden-arrows text-right price"
                 [class.invalid]="isFieldValid('quantity')">
        </div>
        <div class="clr-col-3">
          <label class="clr-control-label" for="measureUnit">Единицы измерения</label>
          <input type="text" name="measureUnit" id="measureUnit" formControlName="measureUnit"
                 [class.invalid]="isFieldValid('measureUnit')">
        </div>
        <div class="clr-col-2">
          <label class="clr-control-label" for="deliveryDate">Срок поставки</label>
          <input id="deliveryDate" placeholder="дд.мм.гггг" type="date" clrDate
                 formControlName="deliveryDate"
                 [class.invalid]="isFieldValid('deliveryDate')"/>
        </div>
        <div class="clr-col-5">
          <label class="clr-control-label" for="paymentTerms">Условия оплаты</label>
          <input type="text" id="paymentTerms" formControlName="paymentTerms"
                 [class.invalid]="isFieldValid('paymentTerms')">
        </div>
      </div>
      <div class="clr-row w-100 right-align-button">
        <button class="btn btn-outline" (click)="onAddOffer()" [disabled]="offerForm.invalid">Добавить</button>
      </div>
    </div>
  </div>
</form>


<div class="cards" *ngIf="requestPosition.linkedOffers.length !== 0">
  <ng-container *ngFor="let linkedOffer of requestPosition.linkedOffers">

    <div class="card">
      <div class="card-header">
        <a href="assets/Отчет ООО Камский кабель.pdf" [target]="'_blank'">{{linkedOffer.supplierContragentName}}</a>
      </div>
      <div class="card-block">
        <div *ngIf="showWinnerStateColumn && linkedOffer.isWinner" class="label label-info">Победитель</div>
        <div class="clr-row">
          <div class="clr-col">Цена</div>
          <div class="clr-col">{{ linkedOffer.priceWithVat | currency : linkedOffer.currency }}</div>
        </div>
        <div class="clr-row">
          <div class="clr-col">Количество</div>
          <div class="clr-col">{{linkedOffer.quantity}} {{linkedOffer.measureUnit}}</div>
        </div>
        <div class="clr-row">
          <div class="clr-col">Дата поставки</div>
          <div class="clr-col">{{linkedOffer.deliveryDate | date :'shortDate'}}</div>
        </div>
        <div class="clr-row">
          <div class="clr-col">Условия оплаты</div>
          <div class="clr-col">{{linkedOffer.paymentTerms}}</div>
        </div>
        <div class="clr-row" *ngIf="isCustomerView && canChoiceWinner()">
          <div class="clr-col"></div>
          <div class="clr-col">
            <button (click)="onChoiceWinner(linkedOffer)" class="btn btn-sm btn-primary-outline">Выбрать победителя
            </button>
          </div>
        </div>
      </div>
      <div class="card-block" *ngIf="linkedOffer.technicalProposals.length > 0 || canUploadTp()">
        <div class="card-title">Технические предложения</div>
        <app-document-simple-list
          [enableUpload]="canUploadTp()"
          [documents]="linkedOffer.technicalProposals"
          (selected)="onUploadTechnicalProposals($event, linkedOffer)"
        ></app-document-simple-list>
      </div>
      <div class="card-block" *ngIf="linkedOffer.documents.length > 0 || canUploadKp()">
        <div class="card-title">Коммерческие предложения</div>
        <app-document-simple-list
          [enableUpload]="canUploadKp()"
          [documents]="linkedOffer.documents"
          (selected)="onUploadDocuments($event, linkedOffer)"
        ></app-document-simple-list>
      </div>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="!requestPosition.linkedOffers || requestPosition.linkedOffers.length === 0">
  <div class="clr-row no-offers">
    <p>Коммерческие предложения по позиции отсутствуют</p>
  </div>
</ng-container>

