<ng-container *ngIf="positions?.length !== 0; else noPositions">
  <div class="app-table app-no-border">
    <div class="app-row">
      <small class="app-col app-ghost-color photo">Фото</small>
      <small class="app-col app-ghost-color name">Наименование МТР</small>
      <small class="app-col app-ghost-color measure">ед. изм.</small>
      <small class="app-col app-ghost-color quantity">Количество</small>
      <small class="app-col app-ghost-color action"></small>
    </div>
  </div>

  <div class="app-table">
    <div class="app-row app-align-items-center" *ngFor="let position of positions">
      <div class="app-col photo">
        <a class="title" [routerLink]="['/catalog', 'position', position.id]">
          <img *ngIf="position.image; else noImage" src="{{ position.image }}" alt="{{position.name}}"/>
          <ng-template #noImage>
            <img src="../../../../assets/images/no-image.png" alt="Изображение отсуствует">
          </ng-template>
        </a>
      </div>

      <div class="app-col name">
        <a class="title" [routerLink]="['/catalog', 'position', position.id]">
          <p class="position-name">{{position.name}}</p>
          <p class="position-description">{{position.description}}</p>
        </a>
      </div>

      <div class="app-col measure app-ghost-color">
        {{ position.measureUnit }}
      </div>

      <div class="app-col quantity">
        <input #quantity
               [disabled]="isPositionInCart(position)"
               type="number"
               min="1"
               class="quantity"
               value="1"
               (input)="setValidQuantity($event.target.value, quantity)">
      </div>

      <div class="app-col action">
        <button *ngIf="!isPositionInCart(position) && quantity.value > 0; else disabledButton"
                class="btn btn-primary btn-in-cart"
                (click)="onAddPositionToCart(position, +quantity.value)">
          <img src="../../../../assets/images/cart-button.svg" alt="Купить">
        </button>
        <ng-template #disabledButton>
          <button class="btn btn-primary btn-in-cart disabled-cart" disabled>
            В корзине
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noPositions>
  <div class="clr-row position-list no-positions">
    Позиций не найдено
  </div>
</ng-template>
