<div class="card" *ngIf="positions?.length !== 0; else noPositions">
  <div class="item-card" *ngFor="let position of positions">
    <div class="clr-row position-list">
      <div class="clr-col-2 image">
        <img *ngIf="position.image; else noImage" src="{{ position.image }}" />
        <ng-template #noImage>
        <p>Изображение отсутствует</p>
        </ng-template>
      </div>
      <div class="clr-col-7">
        <p class="position-name">{{position.name}}</p>
        <p class="description">{{position.description}}</p>
        <p>Срок поставки: {{position.productionTime}} дней</p>
      </div>
      <div class="clr-col-3 right-align">
        <span class="supplier-name">
          <a (click)="showContragentInfo(position.supplierContragent.id)">
            {{ position.supplierContragent.shortName }}
          </a>
        </span>
        <p class="price">{{position.price}} {{position.currency}}/{{position.measureUnit}}</p>
        <button *ngIf="!isPositionInCart(position)" class="btn btn-primary" (click)="onAddPositionToCart(position)">В заявку</button>
      </div>
    </div>
  </div>
</div>
<ng-template #noPositions>
  <div class="no-positions">
    Позиций не найдено
  </div>
</ng-template>

<ng-container *ngIf="contragent">
  <clr-modal [clrModalSize]="'lg'" [(clrModalOpen)]="contragentInfoModalOpened">
    <h3 class="modal-title">{{ contragent.shortName }}</h3>

    <div class="modal-body">
      <app-contragent-info
              [contragent]="contragent">
      </app-contragent-info>
    </div>
  </clr-modal>
</ng-container>
