<app-dashboard-agreements
  [agreements$]="agreements$"
  [tasks$]="tasks$"
  [tasksTotalCount$]="tasksTotalCount$"
  [agreementsTotalCount$]="agreementsTotalCount$"
  [agreementsBar$]="agreementsBar$"
  [tasksBar$]="tasksBar$"
  (switchView)="switchView($event)">
</app-dashboard-agreements>

<br><br>

<div class="app-row">
  <div class="app-col">
    <h2>Статистика по статусам и деньгам</h2>

    <app-dashboard-statistics
      #dashboardStatisticsComponent
      [statusesStatistics$]="statusesStatistics$"
      [filterRequestList$]="filterRequestList$"
      [filterCustomerList$]="filterCustomerList$"
      [filterResponsibleUsersList$]="filterResponsibleUsersList$"
      (submitFilter)="submitFilter($event)"
      (resetFilter)="resetFilter()"
    ></app-dashboard-statistics>
  </div>
</div>
