<app-dashboard-agreements
  [agreements]="agreements$ | async"
  [tasks]="tasks$ | async"
  [tasksTotalCount]="tasksTotalCount$ | async"
  [agreementsTotalCount]="agreementsTotalCount$ | async"
  [agreementsBar]="agreementsBar$ | async"
  [tasksBar]="tasksBar$ | async"
  (switchView)="switchView($event)">
</app-dashboard-agreements>

<br><br>

<div class="app-row">
  <div class="app-col">
    <h2>Статистика по статусам и деньгам</h2>

    <app-dashboard-statistics
      #dashboardStatisticsComponent
      [statusesStatistics]="statusesStatistics$ | async"
      [filterRequestList]="filterRequestList$ | async"
      [filterCustomerList]="filterCustomerList$ | async"
      [filterResponsibleUsersList]="filterResponsibleUsersList$ | async"
      (submitFilter)="submitFilter($event)"
      (resetFilter)="resetFilter()"
    ></app-dashboard-statistics>
  </div>
</div>
