@import "src/theme";
.stat-block {
  border-top: 1px solid uxg($theme, color-border);
  border-left: 1px solid uxg($theme, color-border);
  border-right: 1px solid uxg($theme, color-border);
  background: #F4F6FB;
  border-radius: uxg($theme, card-border-radius);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 27px 0 20px 50px;
  margin-top: 16px;
}

.no-tasks {
  border-bottom: 1px solid uxg($theme, color-border);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
