<form [formGroup]="form" (ngSubmit)="submit()" class="app-card">

  <div class="app-row app-align-items-center">
    <div class="app-col"><h3>Создать ценовой запрос</h3></div>
    <button type="button" uxgButton icon link (click)="close.emit()">
      <clr-icon shape="app-cross"></clr-icon>
    </button>
  </div>

  <!-- name -->
  <ng-container *ngTemplateOutlet="controlInput; context: {control: form.get('name'), label: 'Имя ценового запроса'}"></ng-container>

  <div class="app-row">
    <div class="app-col">
      <ng-container *ngTemplateOutlet="controlInput; context: {control: formRegions().controls[0], label: 'Регион'}">
      </ng-container>
    </div>
    <div class="app-col">
      <ng-container *ngTemplateOutlet="controlInput; context: {control: form.get('deliveryAddress'), label: 'Адрес'}">
      </ng-container>
    </div>
  </div>
  <div class="app-row">
    <div class="app-col">
      <ng-container *ngTemplateOutlet="controlInput; context: {control: form.get('deliveryConditions'), label: 'Условия оплаты и доставки'}">
      </ng-container>
    </div>
    <div class="app-col">
      <div class="app-row">
        <div class="app-col">
          <ng-container *ngTemplateOutlet="controlInput; context: {control: form.get('dateResponse'), label: 'Дата предоставления ответа на запрос'}">
          </ng-container>
        </div>
        <div class="app-col">
          <ng-container *ngTemplateOutlet="controlInput; context: {control: form.get('dateDelivery'), label: 'Предполагаемая дата поставки'}">
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let formGroup of formPositions().controls; index as i" formArrayName="positions">
    <div class="app-row app-align-items-center" formGroupName="{{i}}">
      <div class="app-col app-control-wrap">
        <input #nameRef uxgInput lg formControlName="name"/>
        <label class="app-control-label" (click)="nameRef.focus()">Имя позиции</label>
      </div>
      <button uxgButton outline lg icon type="button" (click)="formPositions().removeAt(i)">
        <clr-icon shape="app-trash"></clr-icon>
      </button>
    </div>
  </div>
  <p class="app-error-color text-center app-bold" *ngIf="formPositions()?.errors as e">
    <span *ngIf="e.required">Добавьте хотя бы одну позицию</span>
  </p>

  <div class="app-row app-justify-content-end app-section">
    <button uxgButton primary [disabled]="form.invalid || form.disabled">Создать</button>
    <button uxgButton secondary type="button" (click)="formPositions().push(getFormPosition())">Добавить позицию</button>
  </div>
</form>


<ng-template #controlInput let-control="control" let-label="label">
  <div class="app-control-wrap">
    <input #controlRef uxgInput lg [formControl]="control"/>
    <label class="app-control-label" (click)="controlRef.focus()">{{label}}</label>
    <div class="app-control-error" *ngIf="control.errors as e">
      <span *ngIf="e.required">Обязательное поле</span>
    </div>
  </div>
</ng-template>
