<form [formGroup]="form" (ngSubmit)="submit()" class="app-card">

  <div class="app-row app-align-items-center">
    <div class="app-col"><h3>Создать ценовой запрос</h3></div>
    <button type="button" uxgButton icon link (click)="close.emit()"><clr-icon shape="app-cross"></clr-icon></button>
  </div>

  <div class="section">
    <div class="app-row app-align-items-center">
      <ng-container *ngTemplateOutlet="controlInput; context: {control: form.get('name'), label: 'Имя ценового запроса'}"></ng-container>
      <div class="app-col app-secondary-color">
        Данное имя будет отображаться в списке и поможет легко отличить один ценовой запрос от другого
      </div>
    </div>

    <div class="app-row">
      <ng-container *ngTemplateOutlet="controlInput; context: {control: formRegions().at(0), label: 'Регион'}"></ng-container>
      <ng-container *ngTemplateOutlet="controlInput; context: {control: form.get('deliveryAddress'), label: 'Адрес'}"></ng-container>
    </div>

    <div class="app-row">
      <div class="app-col">
        <uxg-dropdown-input formControlName="deliveryConditions" placeholder="Условия оплаты и доставки" lg>
          <div uxgDropdownItem *ngFor="let term of paymentTermsLabels" [value]="term[0]">{{ term[1] }}</div>
          <ng-template #errors>
            <div class="app-control-error" *ngIf="form.get('deliveryConditions').errors as e">
              <span *ngIf="e.required">Обязательное поле</span>
            </div>
          </ng-template>
        </uxg-dropdown-input>
      </div>
      <div class="app-col">
        <div class="app-row">
          <ng-container *ngTemplateOutlet="controlInput; context: {control: form.get('dateResponse'), label: 'Дата предоставления ответа на запрос'}"></ng-container>
          <ng-container *ngTemplateOutlet="controlInput; context: {control: form.get('dateDelivery'), label: 'Предполагаемая дата поставки'}"></ng-container>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="section app-row">
    <div class="app-col">
      <div class="app-row position-info-item app-ghost-color app-uppercase app-bold">
        <small class="app-col app-ellipsis">Наименование позиции</small>
        <small class="app-col-sm app-ellipsis">Количество</small>
        <small class="app-col-sm app-ellipsis">ОКПД2</small>
      </div>

      <div><button uxgButton secondary type="button" (click)="addPositionsModal.open()">Добавить позиции</button></div>

      <div class="app-row position-info-item" *ngFor="let position of form.get('positions').value">
        <div class="app-col app-ellipsis app-bold">{{position.name}}</div>
        <div class="app-col-sm app-ellipsis">{{position.quantity}} <span class="app-ghost-color">{{position.okei}}</span></div>
        <div class="app-col-sm app-ellipsis">{{position.okpd2}}</div>
      </div>
    </div>
    <div class="app-col">
      <div class="app-row position-info-item app-uppercase app-ghost-color app-bold">
        <small class="app-col-m app-ellipsis">Максимальная цена</small>
        <small class="app-col app-ellipsis">Комментарий</small>
      </div>

      <div>
        <button uxgButton secondary type="button"
          [disabled]="form.get('positions').invalid"
          (click)="paramsPositionsModal.open()">Заполнить параметры</button>
      </div>
      <div class="app-row position-info-item" *ngFor="let position of form.get('positions').value">
        <div class="app-col-m app-ellipsis">{{position?.maxPrice | currency: 'RUB' :"symbol":"1.0-2"}}</div>
        <div class="app-col app-ellipsis">{{position?.comment}}</div>
      </div>
    </div>
  </div>

  <hr/>
  <div class="section"><app-documents-form-control [formControl]="filesControl"></app-documents-form-control></div>

  <div class="app-row app-justify-content-end app-section">
    <button uxgButton secondary type="button" (click)="close.emit()">Отмена</button>
    <button uxgButton primary [disabled]="form.invalid || form.disabled">Отправить ЦЗ</button>
  </div>
</form>

<clr-modal clrModalSize="lg" #addPositionsModal>
  <h2 class="modal-title">Добавление позиций к ЦЗ</h2>
  <div class="modal-body" *ngIf="addPositionsModal._open">
    <app-kim-price-order-form-positions [formControl]="form.get('positions')" (cancel)="addPositionsModal.close()">
    </app-kim-price-order-form-positions>
  </div>
</clr-modal>

<clr-modal clrModalSize="lg" #paramsPositionsModal>
  <h2 class="modal-title">Дополнительная информация о позициях</h2>
  <div class="modal-body" *ngIf="paramsPositionsModal._open">
    <app-kim-price-order-form-positions-params [formControl]="form.get('positions')" (cancel)="paramsPositionsModal.close()">
    </app-kim-price-order-form-positions-params>
  </div>
</clr-modal>

<ng-template #controlInput let-control="control" let-label="label">
  <div class="app-col">
    <div class="app-control-wrap">
      <input #controlRef uxgInput lg [formControl]="control"/>
      <label class="app-control-label" (click)="controlRef.focus()">{{label}}</label>
      <div class="app-control-error" *ngIf="control.errors as e">
        <span *ngIf="e.required">Обязательное поле</span>
      </div>
    </div>
  </div>
</ng-template>
