:host {
  display: block;
  animation: host-show 200ms;
  transform-origin: top;
}

.app-col:not(:last-child) {
  padding-right: 24px;
}

.section {
  margin-bottom: 32px;

  & ~ .section {
    margin-top: 32px;
  }

  &:first-child { margin-top: 0 }
}

.position-info-item {
  margin: 16px 0;
}

.app-col-sm {
  flex-grow: .15;
  max-width: 100px;
  flex-basis: 100px;
}
.app-col-m {
  flex-grow: .15;
  max-width: 200px;
  flex-basis: 200px;
}

@keyframes host-show {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
