h3 {
  margin-top: 30px;
}

.order-form {
  width: 100%;
}

.order-additional-information-block {
  margin-top: 20px;
}

.order-supplier-sum-block {
  text-align: right;
}

.is-delivery-date-asap {
  display: flex;
  align-items: flex-end;
  font-size: 14px;
}

.is-delivery-date-asap label {
  font-size: 14px;
  padding: 0 0 0 25px;
}

button {
  margin-bottom: 150px;
}
