<h3>Оформить заказ</h3>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="app-row">
    <div class="clr-col-6">
      <label>Наименование заявки <b class="required-star">*</b></label>
      <input type="text" formControlName="requestName" appFormControlInvalidClass="invalid"/>
    </div>
    <div class="clr-col-6">
      <div class="app-row">
        <div class="app-col"><label>Необходимый срок поставки <b class="required-star">*</b></label></div>
      </div>
      <div class="app-row app-align-items-center">
        <div class="app-col app-grow-0">
          <div style="position:relative">
              <input appDatepicker formControlName="deliveryDate" type="text" placeholder="Выберите дату"
                appFormControlInvalidClass="invalid"
              />
          </div>
        </div>
        <div class="app-col">
          <uxg-checkbox class="app-control" #isDeliveryDateAsap formControlName="isDeliveryDateAsap"></uxg-checkbox>
          <label (click)="isDeliveryDateAsap.check($event)">как можно скорее</label>
        </div>
      </div>
    </div>
  </div>
  <div class="app-row">
    <div class="clr-col-6">
      <label>Базис поставки (пункт, до которого требуется доставка) <b class="required-star">*</b></label>
      <input type="text" formControlName="deliveryBasis" appFormControlInvalidClass="invalid"/>
    </div>

    <div class="clr-col-6">
      <label>Условия оплаты <b class="required-star">*</b></label>

      <select clrSelect
              name="paymentTerms"
              id="paymentTerms"
              formControlName="paymentTerms"
              appFormControlInvalidClass="invalid">

        <option value="30 дней по факту поставки">
          30 дней по факту поставки
        </option>

        <option value="60 дней по факту поставки">
          60 дней по факту поставки
        </option>
      </select>
    </div>

  </div>
  <div class="app-row app-justify-content-end">
    <div class="app-col app-grow-0">
      <button class="btn btn-submit btn-primary" [clrLoading]="loadingState"
              [disabled]="form.invalid || isQuantityInvalid()">Сделать заказ
      </button>
    </div>
  </div>
</form>

