<h3>Оформить заказ</h3>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="clr-row">
    <div class="clr-col-6">
      <label>Наименование заявки</label>
      <input type="text" formControlName="requestName" appFormControlInvalidClass="invalid"/>
    </div>
    <div class="clr-col-6">
      <div class="clr-row">
        <div class="clr-col"><label>Необходимый срок поставки</label></div>
      </div>
      <div class="clr-row clr-align-items-center">
        <div class="clr-col clr-flex-grow-0">
          <div style="position:relative">
            <input formControlName="deliveryDate" type="text" clrDate
                   placeholder="Выберите дату"
                   appFormControlInvalidClass="invalid"/>
          </div>
        </div>
        <div class="clr-col">
          <clr-checkbox-wrapper class="asap-checkbox">
            <input type="checkbox" formControlName="isDeliveryDateAsap" clrCheckbox/>
            <label>как можно скорее</label>
          </clr-checkbox-wrapper>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-6">
      <label>Базис поставки (пункт, до которого требуется доставка)</label>
      <input type="text" formControlName="deliveryBasis" appFormControlInvalidClass="invalid"/>
    </div>
    <div class="clr-col-6">
      <label>Условия оплаты</label>
      <input type="text" formControlName="paymentTerms" appFormControlInvalidClass="invalid"/>
    </div>

  </div>
  <div class="clr-row clr-justify-content-end">
    <div class="clr-col clr-flex-grow-0">
      <button class="btn btn-submit btn-primary" [clrLoading]="loadingState"
              [disabled]="form.invalid || isQuantityInvalid()">Сделать заказ
      </button>
    </div>
  </div>
</form>

