<h3>Оформление заказа</h3>
<div class="order-form">
  <div class="order-form-row">
    <div class="form-group">
      <label>Необходимый срок поставки</label>
      <div class="clr-row">
        <div class="clr-col-3">
          <input type="date" clrDate placeholder="Выберите дату" [(clrDate)]="deliveryDate" [class.invalid]="deliveryDateInvalid" (input)="updateDateFieldInvalidState()">
        </div>
        <div class="clr-col-3">
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox (change)="isDeliveryDateAsap = $event.target.checked" />
            <label>как можно быстрее</label>
          </clr-checkbox-wrapper>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Базис поставки (пункт, до которого требуется доставка)</label>
      <input type="text" (input)="deliveryBasis = $event.target.value" [class.invalid]="deliveryBasisInvalid">
    </div>
    <div class="form-group">
      <label>Условия оплаты</label>
      <input type="text" value="30 банковских дней по факту поставки" (input)="paymentTerms = $event.target.value" [class.invalid]="paymentTermsInvalid">
    </div>
  </div>
</div>

<button class="btn btn-bg btn-success" (click)="onSubmitOrder()">Сделать заказ</button>
