h3 {
  margin: 30px 0 0;
}

input[type=text] {
  min-width: 250px;
}

form > .app-row {
  margin-bottom: 15px;
}

.btn.btn-submit {
  margin: 0 0 155px;
}

.inline {
  display: inline-flex;
}

.delivery-date-asap {
  margin: 0 10px;
}
