<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <h3 class="welcome">Добро пожаловать в</h3>
      Маркетплейс
      <h5 class="hint">Используйте ваш логин и пароль, чтобы войти в систему</h5>
    </section>
    <div class="login-group">

      <form [formGroup]="authForm">
          <input type="text"
                 name="username"
                 clrInput
                 placeholder="Логин / Email адрес"
                 formControlName="login"
                 [class.invalid]="isFieldInvalid('login')" />

          <input type="password"
                 name="password"
                 clrInput
                 placeholder="Пароль"
                 formControlName="password"
                 [class.invalid]="isFieldInvalid('password')" />
      </form>

      <div *ngIf="loginError" class="error active">
        Неверный пароль или логин
      </div>

      <button type="submit" class="btn btn-primary"
              [disabled]="authForm.invalid"
              (click)="onLoginClick()"
              [clrLoading]="loading">
        Войти
      </button>

      <div class="signup">
        Нет аккаунта? <a (click)="onRegistrationClick()">Зарегистрироваться</a>
      </div>
    </div>
  </form>
</div>
