<div class="app-card">
  <!-- header -->
  <div class="app-row app-align-items-center">
    <h3 class="app-col">
      <span>Договор с </span>
      <app-contragent-info-link class="app-bold" [contragent]="contract.supplier"></app-contragent-info-link>
    </h3>

    <ng-container [ngSwitch]="contract.status">
      <div class="app-ghost-color app-bold" *ngSwitchCase="'NEW'"><uxg-icon shape="app-draft"></uxg-icon><span>Черновик</span></div>
      <div class="app-ghost-color app-bold" *ngSwitchCase="'ON_APPROVAL'">
        <uxg-icon shape="app-waiting"></uxg-icon>
        <span *ngIf="!canApprove">На согласовании</span>
        <span *ngIf="canApprove">Необходимо рассмотреть</span>
      </div>
      <div class="app-warning-color app-bold" *ngSwitchCase="'REJECTED'"><uxg-icon shape="app-warning"></uxg-icon><span>На доработке</span></div>
      <div class="app-success-color app-bold" *ngSwitchCase="'APPROVED'"><uxg-icon shape="app-check"></uxg-icon><span>Согласован</span></div>
      <div class="app-success-color app-bold" *ngSwitchCase="'SIGNED'"><uxg-icon shape="app-check"></uxg-icon><span>Подписан</span></div>
      <div class="app-ghost-color app-bold" *ngSwitchCase="'ARCHIVE'"><uxg-icon shape="app-draft"></uxg-icon><span>Архив</span></div>
    </ng-container>

    <button uxgButton icon link (click)="folded = !folded">
      <uxg-icon shape="app-chevron" [attr.dir]="folded ? 'down' : 'up'"></uxg-icon>
    </button>
  </div>

  <form *ngIf="!folded" (ngSubmit)="send.emit(form.value)" [formGroup]="form">
    <div class="app-table app-no-border">
      <!-- positions -->
      <hr/>
      <div class="app-row app-uppercase app-ghost-color app-bold">
        <small class="app-col-6 app-ellipsis">Наименование позиции</small>
        <small class="app-col-2 app-ellipsis">Количество</small>
        <small class="app-col-2 app-ellipsis">Цена за единицу</small>
        <small class="app-col-2 app-ellipsis">Cумма</small>
      </div>
      <div class="app-row" *ngFor="let winner of contract.winners">
        <div class="app-col-6 app-ellipsis name">{{winner.offerPosition.requestPosition.name}}</div>
        <div class="app-col-2 app-ellipsis quantity">
          <span>{{winner.offerPosition.quantity}} </span>
          <span class="app-ghost-color">{{winner.offerPosition.measureUnit}}</span>
        </div>
        <div class="app-col-2 app-ellipsis price">
          <span>{{winner.offerPosition.priceWithoutVat | number:'1.0-2'}} </span>
          <span class="app-ghost-color">{{getCurrencySymbol(winner.offerPosition.currency, "narrow")}}</span>
        </div>
        <div class="app-col-2 app-ellipsis total">
          <span>{{(winner.offerPosition.priceWithoutVat * winner.offerPosition.quantity) | number:'1.0-2'}} </span>
          <span class="app-ghost-color">{{getCurrencySymbol(winner.offerPosition.currency, "narrow")}}</span>
        </div>
      </div>
      <div class="app-row">
        <div class="app-col-6 app-ellipsis name"></div>
        <div class="app-col-2 app-ellipsis quantity"></div>
        <div class="app-col-2 app-ellipsis price"></div>
        <div class="app-col-2 app-ellipsis total app-bold">
          <span>{{ total | number:'1.0-2' }}</span>
          {{getCurrencySymbol(contract.winners[0].offerPosition.currency, "narrow")}}
        </div>
      </div>

      <!-- contract file list -->
      <ng-container *ngIf="contract.documents.length as length">
        <hr/>

        <div class="app-row app-align-items-center">
          <h3 class="app-col">История согласования</h3>
          <ng-container *ngIf="length - historyFoldedLength > 0">
            <div class="app-ghost-color" *ngIf="historyFolded && length - historyFoldedLength > 0">
              Свернута ({{length}} итераций)
            </div>
            <button uxgButton icon link (click)="historyFolded = !historyFolded">
              <uxg-icon shape="app-chevron" size="12" [attr.dir]="historyFolded ? 'down' : 'up'"></uxg-icon>
            </button>
          </ng-container>
        </div>

        <div class="app-table app-striped app-no-border">
          <div class="app-striped-head app-row app-uppercase app-ghost-color app-bold">
            <small class="app-col-3 app-ellipsis">Проект договора</small>
            <small class="app-col-3 app-ellipsis">Автор</small>
            <small class="app-col-6 app-ellipsis">Комментарий</small>
          </div>
          <div class="app-striped-body app-row app-align-items-center" *ngFor="let document of contract.documents.slice(historyFolded ? -historyFoldedLength : 0)">
            <div class="app-col-3 app-ellipsis">
              <app-document-simple-list
                [documents]="[document]" size="s" [enableUpload]="false" [uploadedDateHidden]="true"
                [sizeInfoHidden]="true">
              </app-document-simple-list>
            </div>
            <div class="app-col-3 app-ellipsis">{{ document.user.shortName }} <span class="app-ghost-color">{{document.created | date : 'dd.MM.yyyy'}}</span></div>
            <div class="app-col-6 app-ellipsis">{{ document.comments }}</div>
          </div>
        </div>
      </ng-container>
      <!-- upload contract form -->
      <ng-container *ngIf="canSend || canReject || canApprove">
        <hr/>
        <div class="app-row app-uppercase app-ghost-color app-bold">
          <small class="app-col app-ellipsis">Комментарий и договор</small>
        </div>

        <div class="app-row app-align-items-center">
          <div class="app-col-6 app-ellipsis"><input uxgInput type="text" lg formControlName="comment" placeholder="Номер заявки или наименование"/></div>
          <app-document-upload-list
            *ngIf="form.get('file').value; else uploadFile"
            class="app-col-6"
            [documents]="[form.get('file').value]"
            (fileSelected)="form.get('file').setValue($event[0])"
            [uploadAvailable]="false"
          ></app-document-upload-list>

          <ng-template #uploadFile>
            <div class="app-col app-ghost-color">
              <span>Необходимо выбрать файл договора для прикрепления и отправки на согласование</span>
            </div>
            <div class="app-col-auto">
              <button uxgButton secondary appUploadFile type="button" (select)="form.get('file').setValue($event[0])">Выбрать документ</button>
            </div>
          </ng-template>
        </div>
      </ng-container>
      <!-- footer -->
      <ng-container *ngIf="canSend || canRollback || canReject || canApprove">
        <hr/>
        <div class="app-row" >
          <button uxgButton iconText secondary (click)="download.emit()">
            <uxg-icon shape="app-download"></uxg-icon>
            <span>Скачать типовой договор</span>
          </button>
          <div class="app-col"></div>
          <button uxgButton primary *ngIf="canSend" [disabled]="status !== 'received' && form.invalid">Отправить на согласование</button>
          <button uxgButton primary *ngIf="canRollback" [style.min-width.px]="140" [disabled]="status !== 'received'" (click)="rollback.emit()">
            Отозвать {{ rollbackDate | countdownTimer: rollbackDuration }}
          </button>
          <button uxgButton secondary *ngIf="canReject" type="button" [disabled]="status !== 'received'" (click)="reject.emit(form.value)">На доработку</button>
          <button uxgButton primary *ngIf="canApprove" type="button" [disabled]="status !== 'received'" (click)="approve.emit()">Согласовать</button>
        </div>
      </ng-container>
    </div>
  </form>
</div>

