<ng-container *ngIf="!request" class="load-block">
  <span class="spinner spinner-md"></span>
</ng-container>

<ng-container *ngIf="request">
  <div class="app-row">
    <div class="info-card app-col">
      <div class="technical-proposals">
        <div class="technical-proposal-card" *ngFor="let technicalProposal of technicalProposals; let i = index">
          <div class="app-row app-justify-content-between app-align-items-center">
            <span class="supplier-name clr-col-auto">
              <ng-container *ngIf="technicalProposal.supplierContragent; else noContragent">
                <app-contragent-info-link
                  [contragent]="technicalProposal.supplierContragent">
                </app-contragent-info-link>
              </ng-container>

              <ng-template #noContragent>
                <span>Поставщик</span>
              </ng-template>
            </span>

            <div *ngIf="isSendToReview(technicalProposal)" class="clr-col-5 send-for-approval">
              <button uxgButton secondary lg
                      (click)="toDeclineTechnicalProposals(technicalProposal.id, selectedTechnicalProposalsPositions[i])"
                      [disabled]="!isResolutionButtonsAvailable(i)"
                      [title]="isResolutionButtonsAvailable(i) ? '' : 'Для отклонения выберите необходимые позиции'">
                Отклонить
              </button>
              <button uxgButton primary lg
                      (click)="toAcceptTechnicalProposals(technicalProposal.id, selectedTechnicalProposalsPositions[i])"
                      [disabled]="!isResolutionButtonsAvailable(i)"
                      [title]="isResolutionButtonsAvailable(i) ? '' : 'Для согласования выберите необходимые позиции'">
                Согласовать
              </button>
            </div>
          </div>
          <div class="document">
            <app-document-simple-list
              [enableUpload]="false"
              [documents]="technicalProposal.documents"
            ></app-document-simple-list>
          </div>


          <div *ngIf="technicalProposal.positions && technicalProposal.positions.length > 0; else tpHasNoPositions">

            <table class="positions-list table table-noborder">
              <thead>
                <tr>
                  <th class="left">
                    <uxg-checkbox
                      *ngIf="hasSelectablePositions(technicalProposal.positions)"
                      [ngModel]="areAllPositionsChecked(technicalProposal.positions)"
                      (ngModelChange)="onSelectAllPositions($event, i, technicalProposal.positions)">
                    </uxg-checkbox>
                    <span class="position-header">Наименование позиции</span>
                  </th>
                  <th class="left">Заводское наименование</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let technicalProposalPosition of technicalProposal.positions">
                <td class="left">
                  <div class="app-row app-align-items-center" *ngIf="isPositionSelectorAvailable(technicalProposalPosition)">
                    <uxg-checkbox
                      class="app-control" #proposalPositionCheckbox
                      [(ngModel)]="technicalProposalPosition.checked"
                      (ngModelChange)="onSelectPosition(i, technicalProposalPosition)"
                    ></uxg-checkbox>
                    <label class="app-col position-label"
                           title="{{technicalProposalPosition.position.name}}"
                           (click)="proposalPositionCheckbox.check($event)">&nbsp;
                      {{ technicalProposalPosition.position.name }}</label>
                  </div>
                  <div *ngIf="isPositionStatusIndicatorAvailable(technicalProposalPosition)">
                    <uxg-icon class="accepted" *ngIf="technicalProposalPosition.status === 'ACCEPTED'"
                              shape="app-check"></uxg-icon>
                    <uxg-icon class="declined" *ngIf="technicalProposalPosition.status === 'DECLINED'"
                              shape="app-cross"></uxg-icon>
                    <span class="position-name">{{technicalProposalPosition.position.name}}</span>
                  </div>
                </td>
                <td class="left">
                  <div class="form-group compact">
                    {{ technicalProposalPosition.manufacturingName }}
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

          </div>

          <ng-template #tpHasNoPositions>
            <div class="tp-has-no-positions">Техническое предложение не содержит позиций</div>
          </ng-template>

        </div>
      </div>
    </div>
  </div>

</ng-container>
