<ng-container *ngIf="!request" class="load-block">
  <span class="spinner spinner-md"></span>
</ng-container>

<ng-container *ngIf="request">
  <div class="clr-row">
    <div class="info-card clr-col">
      <div class="technical-proposals">
        <div class="technical-proposal-card" *ngFor="let technicalProposal of technicalProposals; let i = index">
          <div class="clr-row clr-justify-content-between clr-align-items-center">
            <span class="supplier-name clr-col-auto">
              <ng-container *ngIf="technicalProposal.supplierContragent; else noContragent">
                <app-contragent-info-link
                  [contragent]="technicalProposal.supplierContragent">
                </app-contragent-info-link>
              </ng-container>

              <ng-template #noContragent>
                <span>Поставщик</span>
              </ng-template>
            </span>

            <div *ngIf="isSendToReview(technicalProposal)" class="clr-col-5 send-for-approval">
              <button class="btn btn-secondary"
                      (click)="toDeclineTechnicalProposals(technicalProposal.id, selectedTechnicalProposalsPositions[i])"
                      [disabled]="!isResolutionButtonsAvailable(i)"
                      [title]="isResolutionButtonsAvailable(i) ? '' : 'Для отклонения выберите необходимые позиции'">
                Отклонить
              </button>
              <button class="btn btn-primary"
                      (click)="toAcceptTechnicalProposals(technicalProposal.id, selectedTechnicalProposalsPositions[i])"
                      [disabled]="!isResolutionButtonsAvailable(i)"
                      [title]="isResolutionButtonsAvailable(i) ? '' : 'Для согласования выберите необходимые позиции'">
                Согласовать
              </button>
            </div>
          </div>
          <div class="document">
            <app-document-simple-list
              [enableUpload]="false"
              [documents]="technicalProposal.documents"
            ></app-document-simple-list>
          </div>


          <div *ngIf="technicalProposal.positions && technicalProposal.positions.length > 0; else tpHasNoPositions">

            <table class="positions-list table table-noborder">
              <thead>
              <tr>
                <th class="left">
                  <clr-checkbox-container>
                    <clr-checkbox-wrapper class="select-checkbox"
                                          *ngIf="hasSelectablePositions(technicalProposal.positions)">
                      <input class="checkbox select-checkbox" clrCheckbox type="checkbox"
                             (change)="onSelectAllPositions($event, i, technicalProposal.positions)"
                             [checked]="areAllPositionsChecked(technicalProposal.positions)"
                      />
                    </clr-checkbox-wrapper>
                  </clr-checkbox-container>
                  <span class="position-header">Наименование позиции</span>
                </th>
                <th class="left">Заводское наименование</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let technicalProposalPosition of technicalProposal.positions">
                <td class="left">
                  <clr-checkbox-wrapper *ngIf="isPositionSelectorAvailable(technicalProposalPosition)"
                                        class="select-checkbox">
                    <input clrCheckbox type="checkbox"
                           value="{{technicalProposalPosition}}"
                           [(ngModel)]="technicalProposalPosition.checked"
                           (change)="onSelectPosition(i, technicalProposalPosition)">
                    <label class="position-label">{{ technicalProposalPosition.position.name }}</label>
                  </clr-checkbox-wrapper>
                  <div *ngIf="isPositionStatusIndicatorAvailable(technicalProposalPosition)">
                    <clr-icon class="accepted" *ngIf="technicalProposalPosition.status === 'ACCEPTED'"
                              shape="check"></clr-icon>
                    <clr-icon class="declined" *ngIf="technicalProposalPosition.status === 'DECLINED'"
                              shape="times"></clr-icon>
                    <span class="position-name">{{technicalProposalPosition.position.name}}</span>
                  </div>
                </td>
                <td class="left">
                  <div class="form-group compact">
                    {{ technicalProposalPosition.manufacturingName }}
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

          </div>

          <ng-template #tpHasNoPositions>
            <div class="tp-has-no-positions">Техническое предложение не содержит позиций</div>
          </ng-template>

        </div>
      </div>
    </div>
  </div>

</ng-container>
