<div class="app-row">
  <div class="app-col">
    <form [formGroup]="form" class="create-request-form" (ngSubmit)="submit()">
      <ng-container *ngTemplateOutlet="actions"></ng-container>
      <br/>
      <div class="app-card">
        <h3>Наименование заявки</h3>
        <div class="app-control-wrap">
          <input #nameRef uxgInput type="text" lg formControlName="name"/>
          <label class="app-control-label" (click)="nameRef.focus()">Наименование заявки (обязательно)</label>
          <div class="app-control-error" *ngIf="form.get('name').errors as e">
            <span *ngIf="e.required">Обязательное поле</span>
          </div>
        </div>
      </div>

      <ng-container *ngFor="let position of formPositions.controls; let i=index">
        <div class="app-card">
          <div class="app-row app-align-items-center">
          <h3 class="app-col">Новая позиция</h3>
          <button uxgButton icon type="button" (click)="formPositions.removeAt(i)" *ngIf="formPositions.length > 1">
            <clr-icon shape="app-cross"></clr-icon>
          </button>
          </div>
          <app-request-position-form [formControl]="position" [isNewRequest]="true"></app-request-position-form>

        </div>
      </ng-container>
      <div class="app-card">
        <div class="addNext">
          <button uxgButton secondary type="button" (click)="pushPosition()">
            <clr-icon shape="plus"></clr-icon>Добавить еще одну позицию</button>
        </div>
      </div>
      <br/>
      <ng-container *ngTemplateOutlet="actions"></ng-container>
    </form>
  </div>

  <div class="app-col app-col-aside">
    <h3>Общая инф. по заявке</h3>
    <br>
    <div class="app-section">
      <div class="app-ghost-color">Заказчик</div>
      {{ user.getUserInfo().contragent.shortName }}
    </div>
    <div class="app-section">
      <div class="app-ghost-color">Контактное лицо</div>
      Вы, {{ user.getShortUserFio() }}
    </div>
    <div class="app-section">
      <div class="app-ghost-color">Документы заявки</div>
      <button uxgButton secondary class="download-docs" disabled>
        <clr-icon shape="app-upload"></clr-icon>
        <span>Загрузить документы</span>
      </button>
    </div>
  </div>
</div>

<ng-template #actions>
  <div class="submit">
    <div class="app-row app-align-items-center">
      <div class="app-col"><span class="app-ghost-color">Заполнено позиций: </span> {{ validPositions.length }}</div>
      <div class="app-row app-align-items-center">
        <div><span *ngIf="isLoading" class="spinner spinner-inline"></span></div>
        <button uxgButton secondary type="button" (click)="submit(false)"
          [disabled]="form.disabled || form.invalid">Сохранить черновик</button>
        <button uxgButton primary [disabled]="form.disabled || form.invalid" >Опубликовать</button>
      </div>
    </div>
  </div>
</ng-template>
