<div class="card">
  <div class="card-header">Default Buttons</div>
  <div class="card-block">
    <div class="card-title">Example</div>
    <div class="cart-body">
      <h4>Primary</h4>
      <div>
        <button uxgButton primary>Primary button</button>
        <button uxgButton primary icon>
          <clr-icon shape="app-message" size="16" class="is-solid"></clr-icon>
        </button>
        <button uxgButton primary iconText>
          <clr-icon shape="app-trash" size="16" class="is-solid"></clr-icon>
          <span>Удалить</span>
        </button>
        <button uxgButton primary disabled>Primary disabled</button>
      </div>
      <h4>Secondary</h4>
      <div>
        <button uxgButton secondary>Secondary button</button>
        <button uxgButton secondary disabled>Secondary disabled</button>
      </div>
      <h4>Outline / link</h4>
      <div>
        <button uxgButton outline>Outline button</button>
        <button uxgButton outline disabled>Outline disabled</button>
        <button uxgButton link>Link button</button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-title">Sources</div>
    <uxg-code language="html">{{example1}}</uxg-code>
  </div>
</div>

<div class="card">
  <div class="card-header">Large Buttons</div>

  <div class="card-block">
    <div class="card-title">Example</div>
    <div class="cart-body">
      <h4>Primary</h4>
      <div>
        <button uxgButton primary lg>L Primary button</button>
        <button uxgButton primary lg icon>
          <clr-icon shape="app-message" size="16" class="is-solid"></clr-icon>
        </button>
        <button uxgButton primary lg iconText>
          <clr-icon shape="app-trash" size="16" class="is-solid"></clr-icon>
          <span>Удалить</span>
        </button>
        <button uxgButton primary lg disabled>L Primary disabled</button>
      </div>
      <h4>Secondary</h4>
      <div>
        <button uxgButton secondary lg>L Secondary button</button>
        <button uxgButton secondary lg disabled>L Secondary disabled</button>
      </div>
      <h4>Outline / Link</h4>
      <div>
        <button uxgButton outline lg>L Outline button</button>
        <button uxgButton outline lg disabled>L Outline disabled</button>
        <button uxgButton link lg>L Link button</button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-title">Sources</div>
    <uxg-code language="html">{{example2}}</uxg-code>
  </div>
</div>


<div class="card">
  <div class="card-header">Group Buttons</div>
  <div class="card-block">
    <div class="card-title">Example</div>
    <div class="cart-body">
      <div class="app-btn-group">
        <button uxgButton outline>Create</button>
        <button uxgButton outline>Read</button>
        <button uxgButton outline>Update</button>
        <button uxgButton outline>Delete</button>
      </div>
      <div class="app-btn-group">
        <button uxgButton outline lg>Create</button>
        <button uxgButton outline lg>Read</button>
        <button uxgButton outline lg>Update</button>
        <button uxgButton outline lg>Delete</button>
      </div>
      <div class="app-btn-group">
        <button uxgButton primary lg>Create</button>
        <button uxgButton primary lg>Read</button>
        <button uxgButton primary lg>Update</button>
        <button uxgButton primary lg>Delete</button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-title">Sources</div>
    <uxg-code language="html">{{example3}}</uxg-code>
  </div>
</div>


