<ng-container *ngIf="!request" class="load-block">
  <span class="spinner spinner-md"></span>
</ng-container>

<ng-container *ngIf="request">
  <div class="clr-row">
    <div class="info-card clr-col">
      <div class="request-info">
        <div class="breadcrumbs">
          <a (click)="onRequestsClick()">Заявки</a> / <a (click)="onRequestClick()">Заявка №{{request.number}}</a>
        </div>
        <h2>Технические предложения</h2>
        <div class="technical-proposal-card" *ngFor="let technicalProposal of technicalProposals; let i = index">
          <div class="clr-row clr-align-items-center">
            <span class="supplier-name clr-col">
              <a (click)="showContragentInfo(technicalProposal.supplierContragent.id)">
                {{ technicalProposal.supplierContragent.shortName }}</a>
            </span>
          </div>
          <div class="document">
            <app-document-simple-list
              [enableUpload]="false"
              [documents]="technicalProposal.documents"
            ></app-document-simple-list>
          </div>
          <div class="clr-col send-for-approval">
            <button class="btn btn-link"
                    (click)="toDeclineTechnicalProposals(technicalProposal.id, selectedTechnicalProposalsPositions[i])"
                    *ngIf="isResolutionButtonsAvailable(i)">
              Отклонить
            </button>
            <button class="btn btn-primary"
                    (click)="toAcceptTechnicalProposals(technicalProposal.id, selectedTechnicalProposalsPositions[i])"
                    *ngIf="isResolutionButtonsAvailable(i)">
              Согласовать
            </button>
          </div>
          <table class="positions-list table table-noborder">
            <thead>
            <tr>
              <th class="left">Наименование позиции</th>
              <th class="left">Заводское наименование</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let technicalProposalPosition of technicalProposal.positions">
              <td class="left">
                <clr-checkbox-wrapper *ngIf="isPositionSelectorAvailable(technicalProposalPosition)" class="select-checkbox">
                  <input clrCheckbox type="checkbox"
                         value="{{i}}"
                         [(ngModel)]="technicalProposalPosition.checked"
                         (change)="onSelectPosition(i, technicalProposalPosition)">
                  <label class="position-label">{{ technicalProposalPosition.position.name }}</label>
                </clr-checkbox-wrapper>
                <div *ngIf="isPositionStatusIndicatorAvailable(technicalProposalPosition)">
                  <clr-icon class="accepted" *ngIf="technicalProposalPosition.status === 'ACCEPTED'"
                            shape="check"></clr-icon>
                  <clr-icon class="declined" *ngIf="technicalProposalPosition.status === 'DECLINED'"
                            shape="times"></clr-icon>
                  <span class="position-name">{{technicalProposalPosition.position.name}}</span>
                </div>
              </td>
              <td class="left">
                <div class="form-group compact">
                  {{ technicalProposalPosition.manufacturingName }}
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--  Модальное окно отображения информации о контрагенте -->

  <clr-modal [clrModalSize]="'lg'" [(clrModalOpen)]="contragentInfoModalOpened">
    <h3 class="modal-title">{{ contragent?.shortName }}</h3>

    <div class="modal-body">
      <app-contragent-info
              [contragent]="contragent">
      </app-contragent-info>
    </div>
  </clr-modal>


</ng-container>
