.breadcrumbs {
  margin-bottom: 15px;
}
.breadcrumbs, .breadcrumbs a {
  color: #646566;
  font-weight: 400;
  font-size: 20px;
}
.breadcrumbs a:hover {
  text-decoration: none;
}

.btn-add-contract {
  float: right;
}

input[type=file] {
  display: none;
}

clr-icon ~ * {
  margin-left: .5em;
}

clr-button span {
  padding: 0;
  background: red;
}

.clr-head {
  color: #999;
}

.total {
  padding-bottom: 2em;

  &:last-child {
    padding-bottom: 0;
  }
}
