.btn-add-contract {
  float: right;
}

input[type=file] {
  display: none;
}

clr-icon ~ * {
  margin-left: .5em;
}

clr-button span {
  padding: 0;
  background: red;
}

.clr-head {
  color: #999;
}

.total {
  padding-bottom: 2em;

  &:last-child {
    padding-bottom: 0;
  }
}
