
<ng-container *ngIf="!purchase" class="load-block">
  <span class="spinner spinner-md"></span>
</ng-container>

<ng-container *ngIf="purchase">

  <!-- Шапка -->
  <app-purchase-view-header [purchase]="purchase">
    <!-- Кнопка отправки запроса на снижения цены и уведомление об успешной отправке -->
    <ng-container *ngIf="canRequestPriceReduction()">
      <button class="btn btn-primary submit"
            (click)="onPriceReductionClick()">
      запрос снижения цены
      </button>
      <!--Модальное окно ввода даты окончания этапа запроса снижения цены-->
      <app-datetime-selector-modal [(opened)]="priceReductionModalOpen"
                                   [label]="'Введите дату и время окончания этапа'"
                                   (submitAction)="onCreateRequestPriceReduction($event)">
      </app-datetime-selector-modal>
    </ng-container>
    <div class="alert-created-request-price-reduction" *ngIf="requestPriceReductionCreated">
      <clr-alert [clrAlertType]="'alert-success'">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
              Запрос снижения цены успешно отправлен.
            </span>
        </div>
      </clr-alert>
    </div>

    <!-- Кнопка отправки запроса на снижения цены победителю и уведомление об успешной отправке -->
    <ng-container *ngIf="canRequestPriceReductionToWinner()">
      <button class="btn btn-primary submit"
            (click)="onPriceReductionClick()">
      запрос снижения цены победителю
      </button>
      <!--Модальное окно ввода даты окончания этапа запроса снижения цены победителю-->
      <app-datetime-selector-modal [(opened)]="priceReductionModalOpen"
                                   [label]="'Введите дату и время окончания этапа'"
                                   (submitAction)="onCreateRequestPriceReductionToWinner($event)">
      </app-datetime-selector-modal>
    </ng-container>
    <div class="alert-created-request-price-reduction" *ngIf="requestPriceReductionToWinnerCreated">
      <clr-alert [clrAlertType]="'alert-success'">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
              Запрос снижения цены победителю успешно отправлен.
            </span>
        </div>
      </clr-alert>
    </div>

    <!-- Кнопка создания заказа -->
    <ng-container *ngIf="canCreateOrder()">
      <button class="btn btn-primary submit"
              (click)="createOrder()"
              *ngIf="!orderCreated">
        Создать заказ
      </button>
    </ng-container>
    <div class="alert-created-procedure" *ngIf="orderCreated">
      <clr-alert [clrAlertType]="'alert-success'">
        <div clr-alert-item class="alert-item">
            <span class="alert-text">
              Заказ успешно создан.
            </span>
          <div class="alert-actions">
            <a class="alert-action" (click)="viewOrder()">Просмотреть</a>
          </div>
        </div>
      </clr-alert>
    </div>
  </app-purchase-view-header>

  <div class="clr-row">

    <!-- Левая панель -->
    <div class="clr-col-lg-7">
      <div class="card">
        <div class="card-header">
          <div class="clr-row clr-justify-content-between">
            <div class="clr-col-6 clr-justify-content-start">
              Список позиций
            </div>
            <div class="clr-col-auto clr-justify-content-end">
              <span class="gray count-items">Всего позиций: {{ positionsPage?.totalCount }}</span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <app-customer-positions
            [positionsLoading]="positionsLoading"
            [positionsPage]="positionsPage"
            (refreshPositions)="onRefreshPositions($event)">
          </app-customer-positions>
        </div>
      </div>
    </div>

    <!-- Правая панель -->
    <div class="clr-col-lg-5">

      <!-- Блок "Участники" -->
      <div class="card card-suppliers">
        <div class="card-header">
          <div class="clr-row clr-justify-content-between">
            <div class="clr-col-6 clr-justify-content-start">
              Участники
            </div>
            <div class="clr-col-auto clr-justify-content-end">
              <span class="gray count-items">Всего участников: {{ suppliersOffers?.length }}</span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <app-purchase-offers
            [purchase]="purchase"
            [suppliersOffers]="suppliersOffers"
            (offerClick)="onOfferClick($event)">
          </app-purchase-offers>
        </div>
      </div>


      <!-- Блок «Победитель» -->
      <div class="card" *ngIf="canSeeProcedureWinnerInfo()">
        <div class="card-header">
          <div class="clr-row clr-justify-content-between">
            <div class="clr-col-6 clr-justify-content-start">
              Победитель
            </div>
          </div>
        </div>
        <div class="card-block">
          <app-procedure-winner [winnerInfo]="procedureWinnerInfo"
                                [documents]="documentService.attachedFiles"
                                (downloadClick)="documentService.downloadFile($event)"
                                (acceptDocumentClick)="onAcceptDocument()"
                                (declineDocumentClick)="onDeclineDocument()">
          </app-procedure-winner>
        </div>
      </div>

      <!-- Блок "Извещение" -->
      <div class="card">
        <div class="card-header">
          Извещение
        </div>
        <div class="card-block">
          <app-purchase-notice [notice]="procedureNotice"></app-purchase-notice>
        </div>
      </div>

      <!-- Блок "Протоколы" -->
      <div class="card">
        <div class="card-header">
          <div class="clr-row clr-justify-content-between">
            <div class="clr-col-6 clr-justify-content-start">
              Протоколы
            </div>
            <div class="clr-col-auto clr-justify-content-end">
              <span class="gray count-items">Всего протоколов: {{ procedureProtocols?.length }}</span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <app-purchase-protocols [protocols]="procedureProtocols"></app-purchase-protocols>
        </div>
      </div>


    </div>

  </div>

</ng-container>
