.purchase-links-block {
  text-align: center;
}

.purchase-links-block .select-btn {
  font-weight: 500;
  margin: 0;
}

.clr-row.items-list {
  margin: 0;
}

.card-block {
  padding: 15px;
}
.card-suppliers .card-block {
  padding: 0 15px;
}

/* Панель экшенов в шапке карточки */
.btn.btn-primary.submit {
  margin-right: 0;
  font-size: 14px;
  text-transform: uppercase;
}

.nopadding {
  padding: 0;
}
