<ng-container *ngIf="(groups$ | async) as groups">
  <app-common-proposal-group-list
    *ngIf="(request$ | async) as request"
    [availablePositions]="availablePositions$ | async"
    [groups]="groups"
    [source]="procedureSource"
    [request]="request"
    [contragentsWithTp]="contragentsWithTp$ | async"
    (filter)="filter$.next($event)"
    (createGroup)="saveGroup($event)"
    (newProcedure)="store.dispatch(updateProcedures(request)); updateGroups()"
    (downloadTemplate)="store.dispatch(downloadTemplate(request))"
    (uploadTemplate)="uploadTemplate($event.groupName, $event.files)"
    (procedurePositionsSelected)="procedurePositionsSelected$.next($event)"
  ></app-common-proposal-group-list>
</ng-container>
