<div class="request-info" *ngIf="opened">
  <div class="card">
    <div class="action-bar">
      <div class="clr-row action-row">
        <div class="clr-col right">
          <button type="button"
                  class="btn btn-icon btn-link grey"
                  title="Развернуть панель"
                  *ngIf="!fullScreen"
                  (click)="onWindowFull(true)">
            <clr-icon shape="angle-double" size="20" style="transform: rotate(270deg);"></clr-icon>
          </button>
          <button type="button"
                  class="btn btn-icon btn-link grey"
                  title="Свернуть панель"
                  *ngIf="fullScreen"
                  (click)="onWindowFull(false)">
            <clr-icon shape="angle-double" size="20" style="transform: rotate(90deg);"></clr-icon>
          </button>
          <button type="button"
                  class="btn btn-icon btn-link grey btn-close"
                  title="Закрыть панель"
                  (click)="onWindowClose()">
            <clr-icon shape="window-close" size="20"></clr-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="card-content">
      <div class="clr-row" *ngIf="!isCustomerView">
        <div class="clr-col-4">
          <p class="title-info">Заказчик</p>
          {{request.contragent.shortName}}
        </div>
        <div class="clr-col-3">
          <p class="title-info">Контактное лицо</p>
          {{request.user.lastName}}
        </div>
        <div class="clr-col-3">
          <p class="title-info">Email</p>
          {{request.user.email}}
        </div>
        <div class="clr-col-2">
          <p class="title-info">Дата создания</p>
          {{request.createdDate | date :'shortDate'}}
        </div>
      </div>
      <div class="comment" *ngIf="checkIfFreeForm()">
        {{request.comment}}
      </div>
      <clr-tabs>
        <clr-tab>
          <button clrTabLink>Документы</button>
          <clr-tab-content *clrIfActive>
            <app-document-list [documents]="request.documents">
            </app-document-list>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Согласование</button>
          <clr-tab-content *clrIfActive>
            ...
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Коммерческие предложения</button>
          <clr-tab-content *clrIfActive>
            ...
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
</div>

