.position-view {
  padding-left: 8px;
}

.breadcrumbs {
  font-size: 11px;
  padding-top: 5px;
}

.card-title {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.08em;
  font-weight: 600;
  color: black;
  opacity: 0.6;
}

.price-card {
  background: #FFFFFF;
  border: 1px solid #D5DDE2;
  border-radius: 8px;
  padding: 10px 20px 20px 20px;
  margin-top: 40px;
}

.info-title  {
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
}

.document-label {
  font-size: 14px;
  line-height: 18px;
  color: black;
  opacity: 0.3;
}

.position-document {
  color: black;
  padding-top: 20px;
}

.position-info {
  padding-top: 40px;
}

.price-info {
  color: black;
  opacity: 0.6;
  line-height: 18px;
  padding-top: 12px;
}

.price {
  font-size: 22px;
  line-height: 28px;
  padding-top: 32px;
  padding-bottom: 10px;
}

.one-item {
  font-size: 14px;
  line-height: 18px;
  color: black;
  opacity: 0.6;
}

.quantity {
  width: 100px;
}
