.position-view {
  padding-left: 8px;
}

.card-title {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.08em;
  font-weight: 600;
  color: black;
  opacity: 0.6;
}

.price-card {
  background: #FFFFFF;
  border: 1px solid #D5DDE2;
  border-radius: 8px;
  padding: 15px 20px 20px 20px;
  margin-top: 30px;
}

.info-title  {
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
}

.document-label {
  font-size: 14px;
  line-height: 18px;
  color: black;
  opacity: 0.3;
  padding-right: 5px;
}

.position-document {
  color: black;
  padding-top: 45px;
}

.position-info {
  padding-top: 40px;
}

.price-info {
  color: black;
  opacity: 0.6;
  line-height: 18px;
  padding-top: 12px;
}

.price {
  font-size: 22px;
  line-height: 28px;
  padding-top: 14px;
  padding-bottom: 8px;
}

.one-item {
  font-size: 14px;
  line-height: 18px;
  color: black;
  opacity: 0.6;
}

.quantity {
  width: 80px;
  margin: 0 10px 0 12px;
  height: 40px;
  border-radius: 4px;
}

.description {
  padding-top: 10px;
  color: black;
  opacity: 0.6;
}

.btn-primary {
  margin-top: 0;
}

.tabs {
  padding-right: 20px;
}

.info {
  padding-right: 30px;
  padding-left: 35px;
}

img {
  max-height: 240px;
  max-width: 240px;
}

.img {
  max-width: 240px;
}

.disabled-cart img {
  opacity: 0.3;
}
