.app-section {
  margin-bottom: 16px;
  padding-right: 15px;
  white-space: initial;
}

.info-label {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
}

.info-field {
  & label {
    margin-bottom: 5px;
  }

  & span {
    font-size: 14px;
    color: #2B2B2B;
    text-transform: initial;
    font-weight: 500;
  }
}

.download-report-button {
  float: right;
}

::ng-deep .download-report-button.btn span {
  padding: 0;
}

.clr-control-label {
  text-transform: initial;
}

h3 {
  margin-bottom: 15px;
}

.report {
  text-align: end;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basic-info,
.legal-info,
.bank-info {
  margin-bottom: 25px;
}
