.info-field {
  margin-bottom: 15px;
}

.info-field label {
  margin-bottom: 5px;
}

.download-report-button {
  float: right;
}



.loader {
  display: table;
  float: right;

  .spinner.spinner-md {
    min-height: 20px;
    min-width: 20px;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 8px;
  }
}
