app-request-tp-filter-section:not(:last-child):after {
  content: '';
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 1px;
  display: block;
}

.filter-header {
  padding-bottom: 10px;

  & .title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
  }

  & .reset {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    opacity: 0.6;

    cursor: pointer;

    &:before {
      content: '';
      background-image: url('/assets/images/request-list/reset-filter.svg');
      width: 16px;
      height: 16px;
      background-size: 16px;
      margin-right: 5px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.filter-section {
  padding: 15px 0 0 0;
  display: block;
}

.agreement-state-list clr-checkbox-wrapper {
  padding-bottom: 10px
}