<div class="request-list-filter">

  <div class="filter-header clr-row clr-justify-content-between">
    <div class="clr-col">
      <span class="title">Фильтр</span>
    </div>

    <div class="clr-col-auto" *ngIf="formIsFilled()">
      <span class="reset" (click)="resetFilter()">Сбросить все</span>
    </div>
  </div>


  <div class="filter-body">

    <form [formGroup]="requestTpListFilterForm">

      <app-request-list-filter-section
              class="filter-section"
              [label]="'Наименование позиции'">

        <input type="text"
               placeholder="Введите наименование позиции.."
               formControlName="positionName" />

      </app-request-list-filter-section>


      <app-request-list-filter-section
              class="filter-section"
              [label]="'Контрагент'">

        <app-request-tp-filter-customer-list
                [contragents]="contragents"
                [limit]="5"
                formControlName="contragents">
        </app-request-tp-filter-customer-list>

      </app-request-list-filter-section>



      <app-request-list-filter-section
              class="filter-section"
              [label]="'Согласование'">

        <app-request-tp-filter-statuses-list
                [tpStatuses]="tpStatuses"
                formControlName="tpStatus">
        </app-request-tp-filter-statuses-list>

      </app-request-list-filter-section>


    </form>

  </div>

  <div class="show-results" style="display: none" (click)="hideFilterModal()">
    Показать <span class="results-count">{{ resultsCount }}</span>
  </div>

</div>

