<clr-datagrid class="clr-row">
  <clr-dg-column class="clr-col-3">Наименование к/а</clr-dg-column>
  <clr-dg-column class="clr-col-1">Цена</clr-dg-column>
  <clr-dg-column class="clr-col-1">Количество</clr-dg-column>
  <clr-dg-column class="clr-col-1">Дата поставки</clr-dg-column>
  <clr-dg-column class="clr-col-3">Условия оплаты</clr-dg-column>
  <clr-dg-column class="clr-col-2">КП</clr-dg-column>
  <clr-dg-column class="clr-col-1"></clr-dg-column>

  <clr-dg-row>
    <clr-dg-cell class="clr-col-3">ООО зайки попрыгайки
    </clr-dg-cell>
    <clr-dg-cell class="clr-col-1">130789 RUB</clr-dg-cell>
    <clr-dg-cell class="clr-col-1">5 шт.</clr-dg-cell>
    <clr-dg-cell class="clr-col-1">25.12.2019</clr-dg-cell>
    <clr-dg-cell class="clr-col-3">По факту 30 дней после доставки</clr-dg-cell>
    <clr-dg-cell class="clr-col-2"><button class="btn btn-link"><b>Загрузить</b></button></clr-dg-cell>
    <clr-dg-cell class="clr-col-1"></clr-dg-cell>
  </clr-dg-row>
  <clr-dg-row>
    <clr-dg-cell class="clr-col-3">
      <input>
    </clr-dg-cell>
    <clr-dg-cell class="clr-col-1">
      <input>
    </clr-dg-cell>
    <clr-dg-cell class="clr-col-1">
      <input>
    </clr-dg-cell>
    <clr-dg-cell class="clr-col-1">
      <input>
    </clr-dg-cell>
    <clr-dg-cell class="clr-col-3">
      <input>
    </clr-dg-cell>
    <clr-dg-cell class="clr-col-2"><button class="btn btn-link"><b>Загрузить</b></button></clr-dg-cell>
    <clr-dg-cell class="clr-col-1"></clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>

<div class="right-align-button">
  <button class="btn btn-primary"><b>Согласовать</b></button>
</div>
