label {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 1;
  margin-bottom: 19px;
}

.control {
  padding-bottom: 24px;
}