<div class="btn-group purchase-type">
  <div class="radio btn">
    <input type="radio" name="btn-radio" id="all" checked>
    <label (click)="onChangeType('')" for="all">Все</label>
  </div>
  <div class="radio btn">
    <input type="radio" name="btn-radio" id="requirements">
    <label (click)="onChangeType(purchaseTypes.REQUIREMENT)" for="requirements">Потребности</label>
  </div>
  <div class="radio btn">
    <input type="radio" name="btn-radio" id="procedures">
    <label (click)="onChangeType(purchaseTypes.PROCEDURE)" for="procedures">Процедуры</label>
  </div>
  <div class="radio btn">
    <input type="radio" name="btn-radio" id="orders">
    <label (click)="onChangeType(purchaseTypes.ORDER)" for="orders">Заказы</label>
  </div>
</div>
