/* Кнопки */

button:focus {
  outline: none;
}

.btn {
  border-radius: 2px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  background: #2585F5;
  border: 0;
  border-radius: 4px;
  line-height: 1;
  padding: 0 9px;
  max-width: initial;

  span { /* Дополнительный отступ вокруг текста в кнопке */
    padding: 0 4px;
  }

  &.large { /* Переопределение высоты для больших кнопок высотой 46px */
    height: 46px;
  }

  clr-icon { /* Фикс разной высоты текста в кнопках с иконкой и без */
    -webkit-transform: none;
    transform: none;
    vertical-align: sub;
  }
}

/* Синяя кнопка большая*/
.btn-primary {
  .btn, &.btn {
    background-color: #2585F5;
    color: white;

    &:hover {
      background-color: #1A71D8;
      color: white; // todo убрать?
    }

    &:active {
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: #1A71D8;
    }

    &:disabled {
      border-color: #E5E6E9;
      background-color: #E5E6E9;
      color: black;
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}

/* Синяя кнопка маленькая*/
.btn-secondary {
  .btn, &.btn {
    border-color: #2585F5;
    background-color: #2585F5;
    color: white;
    height: 32px;

    &:hover {
      border-color: #1A71D8;
      background-color: #1A71D8;
      color: white; // todo убрать?
    }

    &:active {
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #1A71D8;
      background-color: #1A71D8;
    }

    &:disabled {
      border-color: #E5E6E9;
      background-color: #E5E6E9;
      color: black;
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}

/* Кнопка-ссылка без рамки и фона */
.btn-link {
  .btn, &.btn {
    border-color: transparent;
    background-color: transparent;
    color: #2585F5;

    &:hover {
      border-color: transparent;
      background-color: transparent;
      color: #1A71D8;
    }

    &:active {
      border-color: transparent;
      background-color: transparent;
      color: #1A71D8;
    }

    &:disabled {
      border-color: transparent;
      background-color: transparent;
      color: #2585F5;
      cursor: not-allowed;
      opacity: .5;
    }
  }
}


