@import "projects/uxg/src/styles/index";

.flatpickr-calendar {
  border-radius: uxg($theme, control-border-radius);
  box-shadow: 0 0 16px rgba(black, 0.1), 0 4px 12px rgba(black, 0.1);
  border: none;
  width: 307.875px + 8px;

  .flatpickr-months {
    padding: 4px 4px 0;

    .flatpickr-current-month,
    .flatpickr-prev-month,
    .flatpickr-next-month {
      height: uxg($theme, control-height);
    }

    .flatpickr-current-month {
      padding: 0;

      .flatpickr-monthDropdown-months, input.cur-year {
        font-size: uxg($theme, font-size-m);
        font-weight: bold;
        padding: 6px 10px;
      }
    }
  }

  .flatpickr-innerContainer {
    padding: 0 4px 4px
  }

  .flatpickr-day {
    border-radius: uxg($theme, control-border-radius);
    height: uxg($theme, control-height);
    line-height: uxg($theme, control-height);
    font-weight: 500;

    &.flatpickr-disabled {
      cursor: default;

      &.today {
        border: 1px solid;
      }
    }

    &:not(.flatpickr-disabled) {
      &.today {
        background: uxg($theme, color-control-secondary);
        border-color: uxg($theme, color-control-secondary);

        &:hover {
          background-color: uxg($theme, color-control-secondary-hover);
          border-color: uxg($theme, color-control-secondary-hover);
          color: inherit;
        }
      }

      &:hover {
        border-color: uxg($theme, color-control-primary);
        background: none;
      }

      &.selected {
        background-color: uxg($theme, color-control-primary);
        border-color: uxg($theme, color-control-primary);
        color: uxg($theme, color-default);

        &:hover, &.today:hover {
          background-color: uxg($theme, color-control-primary-hover);
          border-color: uxg($theme, color-control-primary-hover);
          color: uxg($theme, color-default);
        }
      }
    }
  }

  &.showTimeInput.hasTime .flatpickr-time {
    line-height: uxg($theme, control-height);
    margin: 4px;

    &, .numInputWrapper {
      height: uxg($theme, control-height);
    }

    input[type=number] {
      &, &:focus {
        border: none !important; // fck stdlib
        border-radius: 0;
      }
    }
  }
}

.flatpickr-input[readonly] {
  cursor: text;
}
