/* Элементы информационных карточек */
.card {
  box-shadow: none;
  border-radius: 8px;
  border: 1px solid #B2D0FF;
  overflow: hidden;
}

.card-header {
  display: block;
  flex: 1 1 auto;
  padding: 10px 20px;
  background: #eceff1;
  font-size: 14px;
  width: 100%;
  line-height: 1;
  text-transform: uppercase;
  color: #828182;
  font-weight: 500;
}

.card-block {
  border-bottom: 1px solid #B2D0FF;
  padding: 15px;
}
