/*******************/
/* Чекбоксы-тогглы */

.toggle-label label {
  cursor: pointer;
}

.toggle-checkbox {
  input[type=checkbox] {
    height: 25px;
    width: 40px;
    display: block;
    opacity: 0;
    position: absolute;
    cursor: pointer;
  }

  label {
    cursor: pointer;
    width: 35px;
    height: 14px;
    background: #E5E8EF;
    display: inline-block;
    border-radius: 100px;
    position: relative;
    left: 2px;
    transition: 0.2s;
    vertical-align: middle;
    top: -2px;
  }

  label:after {
    content: "";
    position: absolute;
    top: -3px;
    left: -2px;
    width: 20px;
    height: 20px;
    background: #C3CAD1;
    border-radius: 50px;
    transition: 0.2s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  }

  input:checked + label {
    background: #B2D0FF;
  }

  input:checked + label:after {
    background: #2585F5;
    left: calc(100% + 2px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 25px;
  }
}
