/* Грид с пагинацией */


.datagrid-overlay-wrapper {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.datagrid {
  border: 0;
  margin-top: 14px;
  overflow: hidden;
  border-bottom: 1px solid #B2D0FF;
  border-radius: 0 0 8px 8px;

  .datagrid-row { /* Цвет разделительных линий между строками */
    border-top: 1px solid gray;

    &:hover { /* Цвет фона и курсор при наведении на строку */
      background-color: #F0F6FA;
      cursor: pointer;
      transition: background-color 0.5s ease;
    }
    &:focus { /* Убираем обводку при клике на строку */
      outline: 0;
    }

    &.datagrid-selected { /* Убираем фон отмеченной строки */
      background-color: #e6f3ff;
    }

    & .datagrid-row-detail {

      &.datagrid-container {
        background-color: white;
        padding-top: 1px;
        line-height: 20px;
        padding-bottom: 0 !important;
        font-size: 14px;
      }

      & .datagrid-cell {
        padding-top: 5px;
        line-height: 20px;
        padding-bottom: 5px;
        font-size: 14px;
        background-color: white;
      }
    }
  }

  .datagrid-column, .datagrid-head .datagrid-row-actions {
    letter-spacing: initial;
    padding: 10px 0 10px 20px;
    background-color: #FBFCFE;

    & .datagrid-column-title {
      color: black;
      opacity: 0.3;
      font-size: 11px;
      font-weight: 600;
      text-align: inherit;
      line-height: 1;
      align-self: flex-end;
      text-transform: uppercase;
      letter-spacing: 0.08em;
    }
  }

  .datagrid-cell {
    color: black;
    font-size: 14px;
    padding: 17px 10px 17px 20px;
    line-height: 18px;
  }

  .datagrid-select {
    padding: 11px 24px 8px 20px;
    -ms-flex: 0 0 0 !important;
    flex: 0 0 0 !important;
    max-width: 0 !important;
    min-width: 0 !important;
  }

  .datagrid-header {
    background-color: #D4D9E2;
    z-index: 1;

    .datagrid-fixed-column .datagrid-column-separator {
      display: none;
    }
  }

  .datagrid-row {
    border-top: 1px solid #B2D0FF;
    border-right: 1px solid #B2D0FF;
    border-left: 1px solid #B2D0FF;

    &:first-child {
      border: none;
      background-color: #FBFCFE;
    }

    &:nth-child(2) {
      border-radius: 8px 8px 0 0;
    }

    .datagrid-column-separator { /* Отключаем сепаратор справа от чекбокса в шапке грида */
      opacity: 0;

      &-overlay-wrapper {
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
      }

      &-placeholder { /* Переопределяем цвет нижнего бордера под последней строкой в гриде */
        border-top: 1px solid gray;
      }
    }
    &-foot {
      border-top: 1px solid gray;
      font-size: 12px;
      line-height: 34px;
      background-color: white;
    }

    & .datagrid-expandable-caret .datagrid-expandable-caret-icon {
      margin-top: 0;
    }
  }
}
