@import "projects/uxg/src/styles/index";

body {
  min-width: 1180px;
}

.app-layout {
  padding: 0 60px;
  width: 100%;
  max-width: uxg($theme, content-width);
  margin-left: auto;
  margin-right: auto;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .app-scroll {
    overflow-y: scroll;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .app-content {
      flex-grow: 1;
      width: 100%;

      & > .app-layout {
        max-width: 1180px;
        @media (min-width: 1480px) { max-width: 1480px }
        @media (min-width: 1780px) { max-width: uxg($theme, content-width) }
        @media (max-width: 1479px) {
          .app-col-aside.detachable { display: none }
        }
      }
    }

    .app-footer {
      align-items: center;
      background: uxg($theme, color-default);
      border-top: 1px #d5dde2 solid;
      flex: 0 0 64px;
      margin-top: 50px;
      width: 100%;

      a, a:hover {
        font-size: uxg($theme, font-size-l);
        color: inherit;
      }
    }
  }
}
