.main-container {
  background-color: #FBFCFE;

  & .content-container .content-area {
    padding: 30px;
  }
}

.container {
  width: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1600px;
  }
}


.w-100 {
  width: 100%!important;
}

