/* Хедер */

.header, header {
  background-color: #232b32 !important;
  height: 40px;
  white-space: nowrap;

  .header-nav {
    margin: 0 5px;

    .nav-link {
      position: relative;
      display: inline-block;
      color: #fafafa;
      opacity: .80;
      font-size: 17px;

      &:hover {
        color: white;
      }

      .fa, .nav-icon, .nav-text, &.nav-icon, &.nav-text {
        line-height: 40px;
      }


      &:first-of-type::before,
      &:last-of-type::after {
        position: absolute;
        content: '';
        display: none;
        opacity: 1;
        height: 40px;
      }
    }

    .nav-text {
      padding: 0 10px;
      font-weight: normal;
    }
  }


  .divider, .header-actions, .header-nav, .search, .search-box, .settings {
    height: 40px;
  }


  .header-actions, .settings {
    .nav-icon { /* Блок с изображением пользователя */
      height: auto;
      width: auto;
      line-height: 1 !important;
      opacity: 1 !important;
    }
  }

  .branding {
    & > .nav-link,
    & > a {
      height: 40px;
    }
  }
}

.main-container {
  .header, header {
    flex: 0 0 40px;
  }

  .sub-nav, .subnav {
    flex: 0 0 64px;
  }
}

.logo-block {
  display: inherit;

  span {
    font-family: PT Sans Narrow, sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 32px;
    color: black;
    display: inline-block;
    float: left;
    white-space: nowrap;
  }
}
.img-logo {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  display: inline-block;
  float: left;
}


.subnav {
  padding: 0 30px;

  .nav { /* Высота меню навигации в хедере и цвет нижней линии */
    height: 64px;
    box-shadow: inset 0 0 0 #ececec;

    .nav-link {
      &.active {
        box-shadow: inset 0 -2px 0 #005db2;
        transition: none;

        &:hover {
          color: #005db2;
          pointer-events: none;
        }
      }
      &:hover {
        box-shadow: none;
      }
      &.active, &.active:hover {
        color: #005db2;
        font-weight: 500;
        pointer-events: none;
      }
      &:active, &:hover, &:focus {
        color: inherit;
      }
    }

  }

  .nav-item {
    height: 100%;
  }

  a.nav-link {
    line-height: 50px;
    color: black;
    font-weight: 400;
    font-size: 17px;
    padding: 9px 0 5px 0 !important;
  }
}

.sub-nav, .subnav {
  padding: 0 30px; // todo обнулить боковые паддинги при подготовке контента и хедера под общую ширину
  box-shadow: 0 -1px 0 #ececec inset;
  *width: 1200px; // todo раскомментировать при подготовке контента и хедера под общую ширину
  *margin: 0 auto; // todo раскомментировать при подготовке контента и хедера под общую ширину

  .nav { /* Крайний левый отступ от ссылок в меню навигации под хедером */
    padding-left: 32px;
  }

  &, & aside {
    display: flex;
    align-items: center;
    height: 64px;
  }
}
