select option {
  background: #E5E8EF;
  border: 0;
  border-radius: 4px;
}

.clr-select-wrapper {
  max-height: initial !important;
}

.clr-select-wrapper select {
  background: #E5E8EF;
  border-radius: 4px;
  height: 32px;
  border-bottom: 0;
  padding-left: 16px;
}

::ng-deep .clr-select-wrapper {
  margin: 5px;
  color: black;
  border-bottom: 0;
}

.ng-select {
  .ng-select-container {
    color: black;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d4d9e2;
    min-height: 32px;

    .ng-value-container {
      padding-left: 15px;

      .ng-input > input {
        padding: 0;
        height: 100%;
        cursor: pointer !important;
      }
    }

    &:hover {
      box-shadow: none;
    }
  }

  &.ng-select-opened > .ng-select-container {
    border-color: #d4d9e2;

    .ng-arrow {
      border: 0;
      //background: url('../images/down-arrow.svg') no-repeat;
      width: 15px !important;
      height: 9px !important;
      top: 0;
    }
  }

  &.ng-select-single {
    .ng-select-container {
      .ng-value-container {
        .ng-input {
          height: 100%;
          line-height: 1;
          top: 0;
        }
      }
    }
  }


  &.ng-select-multiple {
    .ng-select-container  {
      .ng-value-container {
        padding-left: 13px;
        padding-top: 4px;

        .ng-value {
          font-size: 12px;
          margin-right: 5px;
          margin-bottom: 5px;
          background-color: #ffffff;
          border-radius: 0;
          border: 1px solid #d4d9e2;
          line-height: 20px;

          .ng-value-icon {
            font-size: 15px;
            line-height: 20px;

            &:hover {
              background-color: transparent;
            }

            &.right {
              border-left: none;
              line-height: 1;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }


  &.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    border-color: grey;
    box-shadow: none;
  }

  .ng-arrow-wrapper {
    .ng-arrow {
      border: 0;
      //background: url('../images/down-arrow.svg') no-repeat;
      width: 15px !important;
      height: 8px !important;
    }
  }

  input[type=text]:focus {
    border-color: transparent !important;
  }


  .ng-clear-wrapper {
    line-height: 1;
  }
}

.ng-dropdown-panel {
  background-color: #fff;
  border: 1px solid #d4d9e2;

  .ng-select-bottom {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-color: #d4d9e2;
    margin-top: -1px;
  }

  .ng-dropdown-panel-items {
    .ng-option {
      padding: 10px 10px 10px 15px;
      line-height: 1;

      &.ng-option-marked {
        background-color: white;
        color: grey;
      }

      &.ng-option-selected {
        color: grey;
        background-color: initial;

        .ng-option-label {
          font-weight: 400;
        }
      }
    }
  }
}


.form-group.compact {
  .ng-select {
    &.ng-select-single {
      .ng-select-container {
        height: 30px;
        font-size: 12px;
      }
    }

    .ng-select-container {
      min-height: 30px;
    }
  }
}


.select select {
  display: block;
  width: 100%;
  padding: 7px 15px;
  border: none;
  border-radius: 4px;
  height: 36px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1;
  box-sizing: border-box;
  color: black;
  min-width: initial;
  margin-bottom: 15px;
  transition: none !important;
  outline: 0;
  background-color: #E5E8EF;
  background-repeat: no-repeat;
  background-position: 97%;
  -o-appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
}

.select select:active {
  border: none;
  background-color: white;
}

.select select:hover {
  border-color: grey;
  background-color: white;
  cursor: pointer;
}
