$statuses: (
  DRAFT: #b3b3b3, // Черновик
  ON_CUSTOMER_APPROVAL: #b3b3b3, // На согласовании заказчика
  CANCELED: #b3b3b3, // Отменено
  NOT_RELEVANT: #b3b3b3, // Неактуально
  NEW: #EB5757, // Новый
  TECHNICAL_PROPOSALS_PREPARATION: #fb6a9e, // Подготовка ТП
  TECHNICAL_PROPOSALS_AGREEMENT: #fb6a9e, // Согласование ТП
  // временное решение для истории
  ACCEPTED: #fb6a9e,
  REVIEW: #fb6a9e,
  SENT_TO_EDIT: #fb6a9e,
  DECLINED: #fb6a9e,

  TECHNICAL_COMMERCIAL_PROPOSALS_PREPARATION: #EE64E8, // Подготовка ТКП
  TECHNICAL_COMMERCIAL_PROPOSALS_AGREEMENT: #EE64E8, // Согласование ТКП
  TCP_WINNER_SELECTED: #EE64E8, // Выбран победитель ТКП

  PROPOSALS_PREPARATION: #f38b00, // Подготовка КП
  // временное решение для истории
  ARCHIVE: #f38b00,
  RESULTS_AGREEMENT: #f38b00, // Выбор победителя
  WINNER_SELECTED: #f38b00, // Выбран победитель
  CONTRACT_AGREEMENT: #f2c94c, // Согласование договора
  CONTRACT_SIGNING: #f2c94c, // Подписание договора
  // временное решение для истории
  ON_APPROVAL: #f2c94c,
  IN_PROGRESS: #f2c94c,
  REJECTED: #f2c94c,
  APPROVED: #f2c94c,

  CONTRACTED: #f2c94c, // Законтрактовано
  RKD_AGREEMENT: #56b9f2, // Согласование РКД
  MANUFACTURING: #56b9f2, // Изготовление
  RKD_APPROVED: #56b9f2, // РКД согласована
  DELIVERY: #9b51e0, // Доставка
  DELIVERED: #9b51e0, // Поставлено
  RELATED_SERVICES_EXECUTION: #9b51e0, // Оказание сопутствующих услуг
  PAID: #9b51e0, // Оплачено
  WARRANTY: #9b51e0, // Гарантийные обязательства
  COMPLETED: #20b55f, // Завершено
);


