.container {
  width: 1000px;
}

.contragent-name-loader {
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
}

.contragent-info-content {
  padding: 40px 50px;
  background: white;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}
