<div class="title">Оцените работу сервиса</div>
<div class="description">
  Пожалуйста, оцените качество работы сервиса. Ваше мнение очень важно для нас, и поможет улучшить сервис в будущем.
</div>
<div class="stars clr-row clr-flex-row-reverse clr-flex-grow-0 clr-justify-content-end">

  <div class="clr-col">
    <div class="rating-stars">
      <a [class.active]="isActive(1)" (click)="rate(1)"></a>
      <a [class.active]="isActive(2)" (click)="rate(2)"></a>
      <a [class.active]="isActive(3)" (click)="rate(3)"></a>
      <a [class.active]="isActive(4)" (click)="rate(4)"></a>
      <a [class.active]="isActive(5)" (click)="rate(5)"></a>
    </div>
  </div>

</div>

<div class="actions clr-row clr-justify-content-end">
  <button (click)="cancel()" class="btn btn-secondary">Отмена</button>
  <button [disabled]="rating === 0" (click)="submit()" [clrLoading]="loadingState" class="btn btn-primary">Готово</button>
</div>
