<form class="modal" [formGroup]="form" (ngSubmit)="submit()">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="close.emit()">
          <clr-icon aria-hidden="true" shape="app-cross"></clr-icon>
        </button>
        <h3 class="modal-title">Новый договор</h3>
      </div>
      <div class="modal-body">
        <h5>Выберите поставщика</h5>

        <uxg-dropdown lg formControlName="contragent" placeholder="Поставщик">
          <div uxgDropdownItem *ngFor="let contragent of contragents" [value]="getContragentList(contragent)">
            {{contragent.shortName}}
          </div>
        </uxg-dropdown>

        <br/>

        <ng-container *ngIf="form.get('contragent').valid">
          <h5>Выберите позиции</h5>
          <div *ngFor="let position of formPositions.controls; index as i">
            <clr-checkbox-wrapper formArrayName="positions" >
              <input type="checkbox" clrCheckbox [formControlName]="i.toString()"/>
              <label>{{ getContragentPositions(form.get('contragent').value)[i].name }}</label>
            </clr-checkbox-wrapper>
          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="close.emit()">Отмена</button>
        <button class="btn btn-primary" [disabled]="form.invalid">Добавить</button>
      </div>
    </div>
  </div>
</form>
<div class="modal-backdrop" aria-hidden="true"></div>
