<ul class="list-unstyled">
  <li *ngFor="let document of documents">
    {{ document.name }}

    <button type="button" class="btn btn-link" (click)="removeDocument(document)">
      <clr-icon shape="times"></clr-icon>
    </button>
  </li>

  <div class="form-group">
    <label *ngIf="uploadLabel" for="file_upload" class="file-upload-label"><a>{{ uploadLabel }}</a></label>
    <input type="file"
           #uploadEl
           id="file_upload"
           multiple
           (change)="addDocument($event.target.files)">
  </div>
</ul>
