@import "src/theme";

.scrollbar {
  padding: 11px 3px 11px 11px;
  margin: -11px -19px 0 -11px;
  overflow-y: scroll;
  max-height: 285px;

  @include scrollbar($theme);

  .app-row:not(:last-child) {
    padding-bottom: 10px;
  }
}
