<div class="scrollbar">
  <div class="app-row" *ngFor="let item of statuses; index as i;">
    <uxg-checkbox #statusCheckbox [ngModel]="checked(i)" (ngModelChange)="check(i, $event)" class="app-control"></uxg-checkbox>
    <label class="app-col status-label" (click)="statusCheckbox.check($event)">{{PositionStatusesLabels[item.status]}}</label>
    <div class="app-col app-col-auto">
      <div class="app-position-status">
        <span class="app-ghost-color">{{ item.count }}</span>
        <div class="app-position-status-icon {{item.status}}"></div>
      </div>
    </div>
  </div>
</div>
<a *ngIf="isFolded" (click)="isFolded = false">Показать все</a>
<a *ngIf="!isFolded" (click)="isFolded = true">Свернуть</a>
