.free-form-request-content {
    text-align: left;
}

.free-form-request-content span {
    width: 470px;
    line-height: 1.5;
    display: block;
    padding-bottom: 10px;
}

.free-form-request-content .card-block {
    padding: 0;
}

.free-form-request-content .card-text {
    padding: 35px 40px 40px 40px;
}

.file-upload-label {
    padding-top: 20px;
}

.comment-block {
    width: 480px;
}

.comment-block textarea {
    width: 100%;
}

.comment-block label {
    display: block;
    line-height: 1.4;
    color: #2b2b2b;
    margin-bottom: 15px;
}

.card {
    box-shadow: 0 0 0 0;
    border-radius: 0;
    margin-bottom: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #d7d7d7;
}


::ng-deep label.file-upload-label  {
    padding-top: 5px;
}
::ng-deep label.file-upload-label a {
    font-weight: bold;
}

input#file_upload {
    display: none;
}


.submit {
    text-align: right;
    width: 1000px;
}


.btn-primary {
    margin-top: 20px;
    margin-right: 0;
    padding: 0 25px;
}

.request-name-input {
    margin: 10px 0 15px 0;
}
.request-name-input.ng-touched.required {
    border-color: #FF2519;
}