<div class="free-form-request-content">

  <form [formGroup]="freeFormRequestDataForm" class="form">
    <div class="card">
      <div class="card-block">
        <div class="card-text">
          <input uxgInput type="text"
                 lg
                 class="request-name-input"
                 [class.required]="!requestName.length"
                 id="request-name"
                 value="{{ requestName }}"
                 formControlName="name"
                 (input)="onRequestNameChange($event.target.value)"
                 placeholder="Наименование заявки"/>

          <span class="app-secondary-color">
              Загрузите сюда опросный лист или другой документ, который поможет нам понять какое оборудование или услуга вам нужны
            </span>
          <div class="form-group">
            <app-document-upload-list #uploadDocuments
              [dragAndDropAvailable]="true"
              (fileSelected)="onFreeFormDocumentSelected($event, freeFormRequestDataForm)">
            </app-document-upload-list>
          </div>
          <div class="form-group comment-block">
            <div class="comment-label">
              <h3>Комментарий</h3><span class="app-ghost-color">(необязательно, если нужно дополнить опросный лист)</span>
            </div>
            <textarea id="comment-block-textarea"
                      rows="3"
                      placeholder="Текст комментария"
                      formControlName="comments">
              </textarea>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="submit">
    <button type="button" uxgButton lg secondary
            (click)="onCancel(); uploadDocuments.clear()">Отмена
    </button>
    <button type="button"
            uxgButton lg primary=""
            (click)="onSendFreeFormRequest()"
            [disabled]="!checkCanSendRequest(freeFormRequestDataForm.value)">
      Опубликовать
    </button>
  </div>
</div>
