.free-form-request-content {
  text-align: left;
}

.free-form-request-content span {
  line-height: 1.5;
  display: block;
  padding-bottom: 10px;
}

.free-form-request-content .card-block {
  padding: 0;
}

.free-form-request-content .card-text {
  padding: 35px 0 0 0;
}

.file-upload-label {
  padding-top: 20px;
}

.comment-block textarea {
  width: 100%;
}

.comment-block .comment-label {
  display: inline-flex;
  padding-top: 10px;
}

.comment-label h3 {
  padding-right: 5px;
}

.card {
  box-shadow: 0 0 0 0;
  border-radius: 0;
  margin-bottom: 0;
  border: none;
}


::ng-deep label.file-upload-label {
  padding-top: 5px;
}

::ng-deep label.file-upload-label a {
  font-weight: bold;
}

input#file_upload {
  display: none;
}


.submit {
  text-align: right;
}


.btn-primary {
  margin-top: 20px;
  margin-right: 0;
  padding: 0 25px;
}

.request-name-input {
  margin: 10px 0 15px 0;
}

.request-name-input.ng-touched.required {
  border-color: #FF2519;
}
