<div class="row">
  <div class="card">
    <div class="card-header">
      <button class="btn btn-sm btn-link cart-delete-all-button" (click)="onDeleteAllItems(supplier)">Удалить всё</button>
      {{supplier.name}}
    </div>
    <div *ngFor="let item of supplier.items" [item]="item" class="app-cart-item card-block cart-card-block"></div>
    <div class="card-footer">
      <app-cart-supplier-sum
        [sum]="supplier.getSum()"
        [buttonText]="'Оформить заказ'"
        [style.display]="sumBlockDisplay"
        (buttonClick)="onOrderButtonClick()"
        class="cart-supplier-sum-block">
      </app-cart-supplier-sum>
      <app-cart-order [style.display]="orderDisplay" [supplier]="supplier"></app-cart-order>
    </div>
  </div>
</div>
