<div class="wrapper">
  <div class="request-list">
    <ul class="list-unstyled">
      <li>
        <input #requestsSearchField
               type="text"
               placeholder="Поиск по заявкам">
        <div class="loader" *ngIf="requestListSearchLoader">
          <span class="spinner spinner-md delivery-monitor-loader"></span>
        </div>
      </li>

      <ng-container *ngIf="(requests$ | async) as requests">
        <li *ngFor="let request of requests?.entities; trackBy: trackByRequestId"
            (click)="onRequestClick(request.request)"
            [ngClass]="{'selected': request.request.id === selectedRequest?.id}"
            [title]="request.request.name">

          <div class="title">
            <span><b>{{ request.request.number }} </b> {{ request.request.name }}</span>
          </div>
          <div class="counter" *ngIf="request.request?.context?.unreadCount as count">{{ count }}</div>
        </li>

        <li *ngIf="requests.entities.length < requests.totalCount">
          <button uxgButton primary (click)="loadMoreRequests(requests.entities.length)">Еще</button>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="request-items">
    <ng-container *ngIf="selectedRequest">
      <div class="app-row request-items-header">
        <div class="app-col request-info">
          Заявка №{{ selectedRequest?.number }}
          <div class="request-items-header-sub">
            {{ selectedRequest.contragent.shortName }}
          </div>
        </div>

        <a class="app-col request-link" [routerLink]="getRequestUrl()">
          <uxg-icon shape="app-hamburger"></uxg-icon>
          <span>Описание</span>
        </a>
      </div>

      <div class="request-items-list">
        <ul class="list-unstyled">
          <li class="search-bar">
            <input type="text" placeholder="Поиск по позициям и группам" (input)="onRequestItemFilterChange($event)">
          </li>

          <li (click)="onRequestContextClick()" class="status-position-default" [class.selected]="!selectedRequestsItem">
            <div class="app-ellipsis app-col">Обсуждение заявки</div>
            <div class="counter" *ngIf="selectedRequest?.conversation?.unreadCount as count">{{ count }}</div>
          </li>

          <ng-container *ngFor="let item of (requestsItems$ | async); trackBy: trackById">
            <li (click)="onRequestItemClick(item)"
                class="{{ getRequestItemClass(item) }}"
                [ngClass]="{'selected': item.id === selectedRequestsItem?.id}">
              <div class="app-ellipsis app-col">{{ item.name }}</div>
              <div class="counter" *ngIf="item.conversation?.unreadCount as count">{{ count }}</div>
            </li>

            <li *ngFor="let subItem of item?.positions; trackBy: trackByRequestId"
                (click)="onRequestItemClick(subItem)"
                class="sub-item {{ getRequestItemClass(subItem) }}"
                [ngClass]="{'selected': subItem.id === selectedRequestsItem?.id}">
              <div class="app-ellipsis app-col">{{ subItem.name }}</div>
              <div class="counter" *ngIf="subItem.conversation?.unreadCount as count">{{ count }}</div>
            </li>
          </ng-container>

        </ul>
      </div>
    </ng-container>
  </div>

  <div class="messages-list">
    <div class="messages-list-header">
      <div> {{ getMessageHeader() }} <span class="app-ghost-color">{{ getMessageHeaderExt() }}</span> </div>
      <div class="messages-list-header-desc">

        <!-- Статус для позиции -->
        <ng-container *ngIf="getRequestItemStatus(selectedRequestsItem) as itemStatus">
          <span  class="position-status status-position-{{ itemStatus.name }}">{{ itemStatus.label }}</span>
        </ng-container>

        <!-- Ссылка на заявку если в позиции или группе -->
        <a *ngIf="selectedRequestsItem && selectedRequestsItem.entityType === 'POSITION'" class="position-link"
           [routerLink]="getPositionUrl()">
          <uxg-icon shape="app-hamburger"></uxg-icon>
          <span>Описание</span>
        </a>

        <!-- Статус для заявки -->
        <span *ngIf="selectedRequest && !selectedRequestsItem" class="request-status status-request-{{ selectedRequest.status.name }}">
          {{ selectedRequest.status.label }}
        </span>

      </div>
    </div>

    <div class="messages-list-content">
      <ng-container *ngIf="(requests$ | async)?.entities.length !== 0; else noMessages">
        <app-message-messages [contextId]="contextId"
                              [contextType]="contextType"
                              [conversationId]="conversationId"
                              [selectedRequestsItemStatus]="getRequestItemStatus(selectedRequestsItem)"
                              (sendMessage)="sendMessage($event)">
        </app-message-messages>
      </ng-container>

      <ng-template #noMessages>
        <div class="no-messages">Сообщений нет</div>
      </ng-template>
    </div>
  </div>
</div>
