<div class="wrapper">
  <div class="request-list">
    <ul class="list-unstyled">
      <li>
        <input #requestsSearchField
               type="text"
               placeholder="Поиск по заявкам">
        <div class="loader" *ngIf="requestListSearchLoader">
          <span class="spinner spinner-md delivery-monitor-loader"></span>
        </div>
      </li>

      <li *ngFor="let request of (requests$ | async)?.entities"
          (click)="onRequestClick(request.request)"
          [ngClass]="{'selected': request.request.id === selectedRequest?.id}"
          [title]="request.request.name">

        <div class="title">
          <span><b>{{ request.request.number }} </b> {{ request.request.name }}</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="request-items">
    <ng-container *ngIf="selectedRequest">
      <div class="request-items-header">
        <button class="btn btn-link btn-description"
                [routerLink]="getRequestUrl()">
          <clr-icon shape="align-left-text"></clr-icon>
          Описание
        </button>

        Заявка №{{ selectedRequest?.number }}
        <div class="request-items-header-sub">
          {{ selectedRequest.contragent.shortName }}
        </div>
      </div>

      <div class="request-items-list">
        <ul class="list-unstyled">
          <li class="search-bar">
            <input type="text"
                   placeholder="Поиск по позициям и группам"
                   (input)="onRequestItemFilterChange($event)">
          </li>

          <li (click)="onRequestContextClick()"
              class="status-position-default"
              [class.selected]="!selectedRequestsItem">
            Обсуждение заказа
          </li>

          <ng-container *ngFor="let item of (requestsItems$ | async)">
            <li (click)="onRequestItemClick(item)"
                class="{{ getRequestItemClass(item) }}"
                [ngClass]="{'selected': item.id === selectedRequestsItem?.id}">
              {{ item.name }}
            </li>

            <li *ngFor="let subItem of item?.positions"
                (click)="onRequestItemClick(subItem)"
                class="sub-item {{ getRequestItemClass(subItem) }}"
                [ngClass]="{'selected': subItem.id === selectedRequestsItem?.id}">
              {{ subItem.name }}
            </li>
          </ng-container>

        </ul>
      </div>
    </ng-container>
  </div>

  <div class="messages-list">
    <div class="messages-list-header">
      <div> {{ getMessageHeader() }} <span class="text-muted">{{ getMessageHeaderExt() }}</span> </div>
      <div class="messages-list-header-desc">

        <!-- Статус для позиции -->
        <ng-container *ngIf="getRequestItemStatus(selectedRequestsItem) as itemStatus">
          <span  class="position-status status-position-{{ itemStatus.name }}">{{ itemStatus.label }}</span>
        </ng-container>

        <!-- @TODO: Переделать на ссылку в саму группу/позицию. -->
        <!-- Ссылка на заявку если в позиции или группе -->
        <button *ngIf="selectedRequestsItem" class="btn btn-link btn-description" [routerLink]="getRequestUrl()">
          <clr-icon shape="align-left-text"></clr-icon>
          Описание
        </button>

        <!-- Статус для заявки -->
        <span *ngIf="selectedRequest && !selectedRequestsItem" class="request-status status-request-{{ selectedRequest.status.name }}">
          {{ selectedRequest.status.label }}
        </span>

      </div>
    </div>
    <div class="messages-list-content">
      <app-message-messages [contextId]="contextId"
                            [contextType]="contextType">
      </app-message-messages>
    </div>
  </div>
</div>
