.text-muted {
  color: #000000;
  opacity: 0.4;
}

.btn-description {
  color: #000000;
  opacity: 0.4;
  height: 24px;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex: 1 1 auto;
  min-height: 1px;
  height: calc(100vh - 64px);
  align-items: stretch;

  .request-list {
    display: flex;

    width: 230px;
    overflow-y: auto;

    background: #FFFFFF;
    padding: 24px 16px;

    ul {
      width: 100%;
    }

    li {
      background: #F3F3F3;
      border-radius: 8px;
      width: 100%;
      cursor: pointer;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      padding: 8px 10px;
      min-width: 50px;
      position: relative;

      &.selected {
        background: #2585F5;
        color: #FFFFFF;

        &:before {
          position: absolute;
          height: 24px;
          width: 4px;
          left: -16px;
          top: 5px;
          content: '';
          background: #2585F5;
          border-radius: 0 4px 4px 0;
          margin: 0;
        }

        .title:after {
          background: linear-gradient(90deg, rgba(37,133,245,0) 0%, rgba(37,133,245,1) 100%);
        }
      }

      .title {
        overflow: hidden;
        position: relative;
        width: 100%;

        &:after {
          content: "";
          width: 20px;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          background: linear-gradient(90deg, rgba(243,243,243,0) 0%, rgba(243,243,243,1) 100%);
        }

        span {
          white-space: nowrap;
          display: block;
        }
      }

      & .loader {
        position: absolute;
        right: 15px;
        background: white;
        padding: 5px;

        & span.spinner.spinner-md {
          min-height: 15px;
          min-width: 15px;
          height: 15px;
          width: 15px;
        }
      }
    }
  }

  .request-items {
    max-width: 16rem;
    min-width: 9rem;
    width: 24%;
    overflow-y: auto;

    background: #F4F5F7;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.24);

    .request-items-header {
      padding: 24px 20px;
      font-size: 18px;
      color: #000000;

      .request-items-header-sub {
        color: #000000;
        opacity: 0.6;
        font-size: 14px;
      }

      .btn-description {
        float: right;
      }
    }

    .request-items-list {
      margin: 4px 8px;

      li {
        &.search-bar {
          height: 46px;
        }

        box-sizing: border-box;
        border-radius: 4px;
        padding: 8px 12px;
        margin-bottom: 4px;
        cursor: pointer;
        position: relative;
        height: 42px;
        background: #FFFFFF;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          width: 4px;
          height: 42px;
          border-radius: 4px 0 0 4px;
          margin: 0;
        }

        &.selected {
          //background: #FFFFFF;
          color: #ffffff;
          //opacity: 0.6;
        }

        &.selected.status-position-default {
          background: #568BF2;
        }

        &.sub-item {
          margin-left: 12px;
        }

        & .loader {
          position: absolute;
          right: 17px;
          background: white;
          padding: 5px;
          top: 11px;

          & span.spinner.spinner-md {
            min-height: 15px;
            min-width: 15px;
            height: 15px;
            width: 15px;
          }
        }
      }
    }
  }

  .messages-list {
    background: #FFFFFF;
    flex: 1;
    width: 100%;

    .messages-list-header {
      width: 100%;
      height: 90px;
      padding: 20px 40px;
      position: relative;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
      color: #000000;

      &-desc {
        display: flex;
        align-items: center;

        * + .btn-description {
          margin-left: 10px;
        }
      }
    }

    .messages-list-content {
      width: 100%;
      max-width: 100%;
      border-top: 1px solid transparent;
      height: calc(100% - 90px);
    }
  }
}

.request-items-card {
  background: #F4F5F7;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.24);
}

