<form [formGroup]="contragentForm" novalidate>
  <input class="searchContragent" id="searchContragent" placeholder="Введите наименование или ИНН контрагента"
         (click)="onShowContragentList()"
         formControlName="searchContragent"
         autocomplete="off">
</form>
<div class="container-dropdown" *ngIf="showContragentList">
  <div class="contragent-list"
       *ngFor="let contragent of contragents | searchFilter: getSearchValue()"
       (click)="selectContragent(contragent)">
    {{contragent.shortName}}
  </div>
</div>
