.container-dropdown {
  position: absolute;
  z-index: 100;
  width: 516px; /* todo временное решение */
  height: auto;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #d7d7d7;
  background: white;
}

.contragent-list {
  padding: 0 15px;
}

.contragent-list:hover {
  background-color: #D4D9E2;
}

.searchContragent {
  width: 100%;
  padding-left: 10px;
}
