<ng-container *ngIf="priceOrder.documents?.length">
  <small class="app-uppercase app-ghost-color app-bold">Документы предложения</small>
  <app-document-simple-list [gridable]="true" [enableUpload]="false" [documents]="priceOrder.documents">
  </app-document-simple-list>
</ng-container>
<small class="app-uppercase app-ghost-color app-bold">Параметры запроса</small>
<div class="modal-section">
  <div class="app-row modal-section-header">
    <div class="app-col app-ghost-color">Наименование контрагента</div>
    <!-- @TODO Ждём бэк -->
    <!--div class="app-col app-ghost-color">Способ оплты</div-->
  </div>
  <div class="app-row">
    <div class="app-col app-bold">
      <app-contragent-info-link [contragent]="proposal?.proposalSupplier.supplier" hiddenName="Наименование скрыто"></app-contragent-info-link>
    </div>
    <!-- @TODO Ждём бэк -->
    <!--div class="app-col app-bold">{{ proposal.paymentTerms }}</div-->
  </div>
</div>
<div class="modal-section modal-info">
  <div class="app-row app-ghost-color">
    <div class="app-col">Количество</div>
    <div class="app-col">Цена за единицу</div>
    <div class="app-col">Срок поставки</div>
    <div class="app-col">Сумма</div>
  </div>
  <div class="app-row">
    <h2 class="app-col">
      <span [class.app-error-color]="!helper.isQuantityValid(positionWithDeliveryDate, proposalWithDeliveryDate)">{{proposal.quantity}}</span>
      <!-- @TODO Ждём бэк -->
      <!--span class="app-ghost-color">{{proposal.measureUnit}}</span-->
      <span class="app-ghost-color">шт</span>
    </h2>
    <h2 class="app-col">
      {{proposal.priceWithoutVat | number:'1.0-2'}}
      <span class="app-ghost-color">{{getCurrencySymbol(proposal.currency, "narrow")}}</span>
    </h2>
    <h2 class="app-col" [class.app-error-color]="!helper.isDateValid(positionWithDeliveryDate, proposalWithDeliveryDate)">
      {{proposal.proposalSupplier.dateDelivery | date:"dd.MM.yyyy"}}
    </h2>
    <h2 class="app-col">
      {{proposal.priceWithoutVat * proposal.quantity | number:'1.0-2'}}
      <span class="app-ghost-color">{{getCurrencySymbol(proposal.currency, "narrow")}}</span>
    </h2>
  </div>
</div>
