@import "constants";

.app-accordion {
  &-title {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: $font-size-l;
    font-weight: bold;

    :first-child {
      flex-grow: 1;
    }

    &-icon {
      transition: transform 250ms;
    }
  }

  &-body {
    margin-top: .9em;
  }
}
