@import "constants";

.app-btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: $control-border-radius;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-m;
  min-height: 26px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  text-overflow: ellipsis;
  transition-duration: 250ms;
  transition-property: background-color, color, border;
  transition-timing-function: ease;
  white-space: nowrap;
  line-height: normal;

  &:not(&-clear) {
    height: $control-height;
    max-width: $button-max-width;
    min-width: $button-min-width;
    padding: $button-padding;

    // Если после кнопки есть элемент делаем отступ
    & + * {
      margin-left: .5rem;
    }

    // Если есть иконка делаем отступ
    > * + * {
      margin-left: .5em;
      vertical-align: middle;
    }
  }

  &-primary {
    background-color: $primary-control-color;
    color: $default-color;

    &:not(:disabled):hover {
      background-color: $primary-hover-control-color;
    }
  }

  &-secondary {
    background-color: $secondary-control-color;
    color: $primary-font-color;

    &:not(:disabled):hover {
      background-color: $secondary-hover-control-color;
    }
  }

  &-outline {
    border-color: $soft-color;
    color: $secondary-font-color;

    &:not(:disabled):hover {
      border-color: $secondary-hover-border-control-color;
    }
  }

  &-link {
    color: $secondary-font-color;

    &:not(:disabled):hover {
      color: $primary-font-color;
    }
  }

  &-large:not(&-clear)  {
    height: $control-l-height;
    padding: $button-l-padding;

    &.app-btn-icon {
      min-width: $control-l-height;
    }
  }

  &-icon:not(&-clear) {
    min-width: $control-height;
    padding: 0;
  }

  &-icon-text clr-icon {
    margin-left: -8px;
    align-self: center;
  }

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }

}

* + .app-btn {
  margin-left: .5rem;
}
