@import "constants";

.app-control {
  &[type=text], &[type=password] {
    border-radius: $control-border-radius;
    border: 1px solid $secondary-control-color;
    height: $control-height;
    cursor: text;
    margin-bottom: 2em;

    &.app-control-large {
      height: $control-l-height;
    }

    &:not(.invalid):focus {
      border-color: $primary-control-color
    }

    & + .app-control-error {
      display: none;
      margin-top: -2em;
      margin-bottom: 1em;
    }

    &.invalid {
      border-color: $invalid-control-color;

      & + .app-control-error {
        display: block;
      }
    }
  }

  &-error > * {
    color: $invalid-control-color;
    display: block;
    font-size: $font-size-s;
    font-weight: bold;
  }
}
