@import "constants";

$slider-margin: calc(.5em + 6px);

.app-control-slider {
  label ~ .app-control-checkbox {
    margin-left: $slider-margin;
  }

  input[type=checkbox] {
    display: none;

    & + .app-control-checkbox {
      background: $secondary-control-color;
      border-radius: 7px;
      display: inline-block;
      height: 14px;
      position: relative;
      transition: background-color 250ms;
      width: 34px;

      + label {
        margin-left: $slider-margin;
      }

      &:after {
        background: #c3cad1;
        border-radius: 50%;
        content: "";
        height: 20px;
        left: -3px;
        position: absolute;
        top: -3px;
        transition-property: left, background-color;
        transition-duration: 150ms;
        width: 20px;
      }
    }

    &:checked + .app-control-checkbox {
      background: $border-color;

      &:after {
        background: $primary-color;
        left: 17px;
      }
    }

    &:disabled + .app-control-checkbox {
      cursor: not-allowed;
    }
  }
}
