@import "accordion";
@import "buttons";
@import "buttons-group";
@import "constants";
@import "controls";
@import "grid";
@import "statuses";
@import "tabs";
@import "typography";
@import "dropdown";
@import "breadcrumbs";

.app-bold { font-weight: bold; }
.app-ghost-color { color: $ghost-font-color}
.app-secondary-color { color: $secondary-font-color}
.app-basis-auto { flex-basis: auto; }

.divider {
  background: $divider-color;
  border: none;
  display: block;
  height: 1px;
  margin: 15px 0;
  width: 100%;
}

.app-section {
  margin-bottom: .9em;

  :last-child {
    margin-bottom: 0;
  }
}

* + clr-icon {
  margin-left: .5em;
}

clr-icon {
  vertical-align: middle;
  align-self: center;

  & + * {
    margin-left: .5em;
  }
}
