@import "constants";

$draft: #b3b3b3;
$on-customer-approval: #b3b3b3;
$new: #b3b3b3;
$technical-proposals-preparation: #fb6a9e; // Подготовка ТП
$technical-proposals-agreement: #fb6a9e; // Согласование ТП
$proposals-preparation: #f38b00; // Подготовка КП
$results-agreement: #f38b00; // Выбор победителя
$winner-selected: #f38b00; // Выбран победитель
$contract-agreement: #f2c94c; // Согласование договора
$contract-signing: #f2c94c; // Подписание договора
$contracted: #f2c94c; // Законтрактовано
$rkd-agreement: #56b9f2; // Согласование РКД
$manufacturing: #56b9f2; // Изготовление
$delivery: #9b51e0; // Доставка
$delivered: #9b51e0; // Поставлено
$paid: #20b55f; // Оплачено
$completed: #20b55f; // Завершено

.app-position-status {
  white-space: nowrap;

  > * + * {
    margin-left: .5em;
  }

  &-icon {
    display: inline-block;
    width: .858em;
    height: .858em;
    border-radius: 50%;

    &.DRAFT { background-color: $draft; }
    &.ON_CUSTOMER_APPROVAL { background-color: $on-customer-approval; }
    &.NEW { background-color: $new; }
    &.TECHNICAL_PROPOSALS_PREPARATION { background-color: $technical-proposals-preparation; }
    &.TECHNICAL_PROPOSALS_AGREEMENT { background-color: $technical-proposals-agreement; }
    &.PROPOSALS_PREPARATION { background-color: $proposals-preparation; }
    &.RESULTS_AGREEMENT { background-color: $results-agreement; }
    &.WINNER_SELECTED { background-color: $winner-selected; }
    &.CONTRACT_AGREEMENT { background-color: $contract-agreement; }
    &.CONTRACT_SIGNING { background-color: $contract-signing; }
    &.CONTRACTED { background-color: $contracted; }
    &.RKD_AGREEMENT { background-color: $rkd-agreement; }
    &.MANUFACTURING { background-color: $manufacturing; }
    &.DELIVERY { background-color: $delivery; }
    &.DELIVERED { background-color: $delivered; }
    &.PAID { background-color: $paid; }
    &.COMPLETED { background-color: $completed; }
  }
}
