@import "constants";

.app-tabs {
  display: flex;
  position: relative;

  &-item {
    color: $secondary-font-color;
    cursor: pointer;
    display: block;
    padding: 10px 0;
    position: relative;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &-border {
    border-bottom: 1px $secondary-color solid;
  }

  &-indicator {
    background: $primary-color;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;

    &-left {
      transition: left .125s cubic-bezier(0.35, 0, 0.25, 1), right .25s cubic-bezier(0.35, 0, 0.25, 1);
    }

    &-right {
      transition: left .25s cubic-bezier(0.35, 0, 0.25, 1), right .125s cubic-bezier(0.35, 0, 0.25, 1);
    }
  }
}
