@import "constants";

.app-tabs {
  &-wrap {
    display: block;
    position: relative;
  }

  &-scroll {
    overflow: hidden;
    scroll-behavior: smooth;

    &-active {
      margin: 0 36px;

      & ~ .app-tabs-slide {
        display: flex;
      }
    }
  }

  & {
    display: inline-flex;
    position: relative;
  }

  &-item {
    color: $secondary-font-color;
    cursor: pointer;
    display: block;
    padding: 10px 0;
    position: relative;
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &[disabled]:not([disabled=false]) {
      cursor: default;
      opacity: .5;
    }
  }

  &-border {
    border-bottom: 1px $secondary-color solid;
  }

  &-indicator {
    background: $primary-color;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;

    &-left {
      transition: left .125s cubic-bezier(0.35, 0, 0.25, 1), right .25s cubic-bezier(0.35, 0, 0.25, 1);
    }

    &-right {
      transition: left .25s cubic-bezier(0.35, 0, 0.25, 1), right .125s cubic-bezier(0.35, 0, 0.25, 1);
    }
  }

  &-slide {
    position: absolute;
    top: 0;
    cursor: pointer;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    display: none;

    &-left { left: 0; }
    &-right { right: 0; }
  }
}
