@import "constants";

h1 {
  font-size: $font-size-xxl;
  font-weight: bold;
  margin-bottom: 24px;
}

h2 {
  font-size: $font-size-xl;
  font-weight: bold;
  margin-bottom: 14px;
}

h3 {
  font-size: $font-size-l;
  font-weight: bold;
}

body, h4, input {
  font-size: $font-size-m;
}

small {
  font-size: $font-size-s;
}

a.link,
a:link,
a[routerlink]:link,
a[ng-reflect-router-link]:link {
  color: $link-font-color;

  &:hover {
    color: $link-hover-font-color;
  }

  &.app-link-no-color {
    color: unset;
  }
}
