<div class="app-section">
  <span class="app-ghost-color">Запрос подписания копманией:</span> ОАО «Мастер Групп»
  <span class="app-ghost-color"> | </span>
  <span class="app-ghost-color">Подписант:</span> Алексеев Евгений Игоревич
</div>
<div class="app-card" style="background: none">
  <div class="app-row app-align-items-center">
    <div class="app-col-3 app-row app-justify-content-end">
      <uxg-icon shape="app-doc" size="270" [style.opacity]="0.1" [style.padding]="'50px 0'"></uxg-icon>
    </div>
    <div class="app-col-9">
      <h2 class="app-ghost-color">Заказчик подписал согласованный им договор</h2>
      <div class="app-section">
        <p>Пожалуйста ознакомьтесь с договором и если он вас устраивает подпишите его со своей стороны
        с помощью электронной цифровой подписи.</p>
      </div>
      <div class="app-section">
<!--        <button uxgButton secondary lg>Отказаться от подписания</button>-->
        <button uxgButton primary lg>Подписать ЭЦП</button>
      </div>
    </div>
  </div>
</div>
