<div class="proposals-footer-body app-row app-align-items-center">
  <button uxgButton outline lg (click)="chooseBy$.next('price')">Автовыбор по цене</button>
  <button uxgButton outline lg (click)="chooseBy$.next('date')">Автовыбор по дате</button>
  <div class="app-col"></div>
  <h3 *ngIf="total > 0">
    <span class="app-ghost-color app-font-normal">Общая сумма: </span>
    <span>
      {{total | number: "1.0-2"}} <span class="app-ghost-color">{{getCurrencySymbol('RUB', 'narrow') }}</span>
    </span>
  </h3>
  <button *ngIf="sendToEdit.observers.length" uxgButton secondary lg (click)="sendToEdit.emit()" [disabled]="loading">
    Все на доработку
  </button>
  <button *ngIf="reject.observers.length" uxgButton secondary lg (click)="reject.emit()" [disabled]="loading">
    Отклонить все
  </button>
  <button *ngIf="approve.observers.length" uxgButton primary lg (click)="approve.emit()" [disabled]="loading || disabled">
    Согласовать все
  </button>
</div>
