@import "src/theme";

.percentage-chart {
  position: relative;
  width: 100%;
  height: 8px;
  background: uxg($theme, color-control-disabled);
  border-radius: 10px;

  &-filler {
    position: absolute;
    background: uxg($theme, color-control-primary);
    height: inherit;
    border-radius: inherit;
  }
}

.percentage-col {
  padding-left: 20px;
  max-width: 70px;
}
