<form class="clr-form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="clr-row clr-justify-content-center">
    <div class="clr-col clr-col-6">
      <h2>Смена пароля</h2>
      <div class="card">
        <div class="clr-input-wrapper">
          <label>Пароль</label>
          <input class="clr-input" type="password" formControlName="password" appFormControlInvalidClass="invalid"/>
        </div>
        <br/>
        <div class="clr-input-wrapper">
          <label>Повторите</label>
          <input class="clr-input" type="password" formControlName="retypePassword" appFormControlInvalidClass="invalid"/>
        </div>
        <div class="clr-error" *ngIf="isPasswordInvalid">
          <span class="clr-subtext">Пароли не совпадают!</span>
        </div>
        <br/>
        <button [disabled]="form.invalid" [clrLoading]="loadingState" class="app-btn app-btn-primary app-btn-large">Сменить пароль</button>
      </div>
    </div>
  </div>
</form>
