<div class="group-info" *ngIf="opened">
  <div class="card">
    <div class="action-bar">
      <div class="clr-row action-row">
        <div class="clr-col right">
          <button type="button"
                  class="btn btn-icon btn-link grey"
                  title="Развернуть панель"
                  *ngIf="!fullScreen"
                  (click)="onWindowFull(true)">
            <clr-icon shape="angle-double" size="20" style="transform: rotate(270deg);"></clr-icon>
          </button>
          <button type="button"
                  class="btn btn-icon btn-link grey"
                  title="Свернуть панель"
                  *ngIf="fullScreen"
                  (click)="onWindowFull(false)">
            <clr-icon shape="angle-double" size="20" style="transform: rotate(90deg);"></clr-icon>
          </button>
          <button type="button"
                  class="btn btn-icon btn-link grey btn-close"
                  title="Закрыть панель"
                  (click)="onWindowClose()">
            <clr-icon shape="window-close" size="20"></clr-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="card-content">
      <div class="clr-row" *ngIf="!groupInfoEditable; else newGroupForm">
        <h4 class="group-title">{{requestGroup.name}}</h4>
      </div>
      <ng-template #newGroupForm>
        <label class="clr-control-label">Наименование группы</label>
        <input type="text" [formControl]="groupName"
               name="name"
               id="name">
        <button class="btn btn-primary" (click)="onSaveGroup(groupName.value)" [disabled]="!groupName.valid">
          Сохранить
        </button>
      </ng-template>
      <clr-tabs *ngIf="!isNewGroup()">
        <ng-container>
          <clr-tab>
            <button clrTabLink>Документы</button>
            <clr-tab-content *clrIfActive>
            </clr-tab-content>
          </clr-tab>

          <clr-tab>
            <button clrTabLink>Согласование</button>
            <clr-tab-content *clrIfActive>
            </clr-tab-content>
          </clr-tab>

          <clr-tab>
            <button clrTabLink>Коммерческие предложения</button>
            <clr-tab-content *clrIfActive>
            </clr-tab-content>
          </clr-tab>

          <clr-tab>
            <button clrTabLink>Договор</button>
            <clr-tab-content *clrIfActive>
            </clr-tab-content>
          </clr-tab>

          <clr-tab>
            <button clrTabLink>Изготовление</button>
            <clr-tab-content *clrIfActive>
            </clr-tab-content>
          </clr-tab>
        </ng-container>

      </clr-tabs>
    </div>
  </div>
</div>

