<div class="app-row app-align-items-center app-section app-layout">
  <ng-content></ng-content>
</div>

<div #gridRow class="grid-row app-row app-section items-row app-layout">
  <app-price-order-proposal-grid-cell
    *ngFor="let supplier of suppliers; trackBy: trackByProposalPositionId"
    [selectedProposalPosition]="isReviewed ? null : selectedProposalPosition"
    [proposalPosition]="getProposalPosition(supplier)"
    (clickOnProposalPosition)="clickOnProposalPosition.emit($event)"
  ></app-price-order-proposal-grid-cell>
</div>
