.card {
  padding: 10px;
}

.item-card {
  border-bottom: 1px solid #d7d7d7;
  padding: 10px;
}

.right-align {
  display: block;
  text-align: right;
}

.btn {
  margin-right: 0;
  margin-top: 40px;
}

.position-name {
  font-size: 16px;
  color: #0085FF;
  font-weight: 600;
  margin-top: 30px;
}

.description {
  color: #b9b9b9;
}

.supplier-name {
  color: #b9b9b9;
  font-weight: 600;
}

.price {
  font-weight: 600;
  font-size: 16px;
}

.image {
  height: 150px;
  margin-left: 25px;
  display: block;
  text-align: center;
  background-color: ghostwhite;
  color: #b9b9b9;
}

.image p {
  padding-top: 40px;
  color: #b9b9b9;
}

.clr-col-2.image {
  flex: 0 0 150px;
  padding: 0;
}
