<div class="clr-row">
  <div class="clr-offset-lg-3 clr-col-lg-9 text-center">

    <app-purchase-type-selector
    (changeType)="onChangeType($event)"
    ></app-purchase-type-selector>

  </div>
</div>

<div class="clr-row">
  <div class="clr-col-lg-3">

    <app-purchase-filter
    (filterApply)="onFilterApply($event)"
    (filterReset)="onFilterReset()"
    ></app-purchase-filter>

  </div>

  <div class="clr-col-lg-9">
    <div class="load-block">

      <div *ngIf="!supplierPurchase; else noItems">
        <span class="spinner spinner-md"></span>
      </div>
      <ng-template #noItems>
        <span *ngIf="supplierPurchase.length <= 0">Ничего не найдено</span>
      </ng-template>

    </div>

    <div *ngFor="let item of supplierPurchase">
      <div class="card card-link"
           [ngClass]="{'loading-item' : !typeDataLoaded }"
           (click)="onTitleClick(item)">
        <div class="card-header">
          <div class="clr-row">
            <div class="clr-col-8">
             {{ item.typeName }} №{{ item.number }} от {{ item.creationDate | date:'dd.MM.yyyy' }}
            </div>
            <div class="clr-col-4 header-status text-right">{{  item.lots[0].currentStep.label }}</div>
          </div>
        </div>

        <div class="card-block purchase-info">
          <div class="clr-row">
            <div class="clr-col main">
              <span class="registry-purchase-title">{{ item.title }}</span><br>
              <span class="gray">{{item.customer.name}}</span>
            </div>

            <div class="clr-col-2 suggestion text-center">
              <span class="gray purchase-label">{{ getStateLabel(item) }}</span><br>
              <span class="registry-item-value">{{ getStateDate(item) | date:'dd.MM.yyyy' }}</span>
            </div>
            <div class="clr-col-2 analogs text-center" *ngIf="item.type !== purchaseTypes.ORDER">
              <span class="gray purchase-label">Аналоги:</span><br>
              <span class="registry-item-value">{{ item.isAnalogAllowed ? 'Да' : 'Нет' }}</span>
            </div>
            <div class="clr-col-1 products text-center">
              <span class="gray purchase-label">Позиций:</span><br>
              <span class="registry-item-value">{{ item.positionsCount }}</span>
            </div>
            <div class="clr-col-2 nmck text-center">
              <span class="gray purchase-label">{{ getStartPriceColumnLabel(item) }}:</span>
              <br>
              <span class="registry-item-value">{{ item.lots[0].startMaxCost | currency:'RUB' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
