.app-col.id { max-width: 64px; }
.app-col.date { max-width: 120px; }
.app-col.status { max-width: 200px; }
.app-col.action {
  text-align: right;
  max-width: 200px;
}

.agreements-list {
  margin-bottom: 20px;
}
