<ng-container *ngIf="(request$ | async) as request; else loading">
  <ng-container *ngIf="(positions$ | async) as positions; else loading">
    <app-request
      [positions]="positions"
      [request]="request"
      [onDrafted]="sendOnApprove"
      [status]="status$ | async"
      (publish)="store.dispatch(publish(requestId))"
      (addPosition)="store.dispatch(refreshPositions(requestId))"
      (addGroup)="store.dispatch(refreshPositions(requestId))"
      (changeStatus)="store.dispatch([refreshPositions(requestId), refresh(requestId)])"
      (addResponsible)="store.dispatch(refreshPositions(requestId))"
      (uploadFromTemplate)="store.dispatch(uploadFromTemplate($event))"
    ></app-request>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="text-center">
    <span class="spinner spinner-md"></span>
  </div>
</ng-template>
