<ng-container *ngIf="(request$ | async) as request; else loading">
  <ng-container *ngIf="(positions$ | async) as positions; else loading">
    <app-request
      [positions]="positions"
      [request]="request"
      (addPosition)="getPositions()"
      (addGroup)="getPositions()"
      (addResponsible)="getPositions()"
      (uploadFromTemplate)="uploadFromTemplate($event)"
    ></app-request>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="text-center">
    <span class="spinner spinner-md"></span>
  </div>
</ng-template>
