<ng-container *ngIf="(request$ | async) as request; else placeholder">
  <ng-container *ngIf="(technicalCommercialProposals$ | async) as proposals; else placeholder">
    <!-- actions -->
    <div class="app-row">
      <div class="app-col">
        <div class="app-table app-no-border">

          <div class="secondary-action app-row app-justify-content-end">
            <div class="app-col app-basis-auto app-grow-0">
              <a href class="analytical-report-link" (click)="downloadAnalyticalReport()">Аналитическая справка</a>
            </div>
          </div>

          <div class="app-row app-justify-content-end">
            <div class="app-col app-basis-auto app-grow-0">

              <!-- Создать процедуру @TODO временно скрыто  -->
              <!--button uxgButton secondary iconText (click)="procedureModal.open()"
                      *ngIf="featureService.authorize('createProcedure')">
                <clr-icon shape="app-plus"></clr-icon>
                <span>Создать процедуру</span>
              </button-->

              <!-- Новое ТКП  -->
              <button uxgButton secondary iconText (click)="showForm = true">
                <clr-icon shape="app-plus"></clr-icon>
                <span>Новое ТКП</span>
              </button>

              <!-- Новое ТКП шаблона -->
              <button uxgButton primary iconText (click)="uploadTemplateModal.open()">
                <clr-icon shape="app-plus"></clr-icon>
                <span>ТКП из шаблона</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="app-col app-col-aside"></div>
    </div>

    <!-- list -->
    <div class="app-row">
      <div class="app-col app-technical-commercial-proposal-list">
        <app-technical-commercial-proposal-form
          *ngIf="(proposalsLength$ | async) === 0 || showForm"
          [request]="request"
          [closable]="proposals.length > 0"
          (close)="showForm = false"
        ></app-technical-commercial-proposal-form>

        <ng-container *ngFor="let proposal of proposals; trackBy: trackByProposalId">
          <app-request-technical-commercial-proposal
            [request]="request"
            [technicalCommercialProposal]="proposal"
          ></app-request-technical-commercial-proposal>
        </ng-container>
      </div>

      <div class="app-col-aside">
        <technical-commercial-proposal-filter></technical-commercial-proposal-filter>
      </div>
    </div>

    <!-- modals -->
    <clr-modal clrModalSize="lg" #procedureModal>
      <h2 class="modal-title">Создание новой процедуры</h2>
      <div class="modal-body" [style.overflow]="'visible'">
        <ng-container *ngIf="getPositions(proposals) as positions">
          <app-request-procedure-create
            *ngIf="procedureModal._open"
            [request]="request"
            [positions]="positions"
            [contragents]="getContragents(proposals)"
            [publicAccess]="false"
            (complete)="procedureModal.close()"
          ></app-request-procedure-create>
        </ng-container>
      </div>
    </clr-modal>
    <clr-modal #uploadTemplateModal [clrModalSize]="'lg'">
      <h2 class="modal-title"><b>Загрузить технико-коммерческие предложения из шаблона</b></h2>
      <div class="modal-body" *ngIf="uploadTemplateModal._open">
        <div class="app-secondary-color template">
          Вы можете загрузить ТКП списком, если заполните шаблон xls таблицы (<a (click)="onDownloadTemplate()"><b>скачать
          шаблон</b></a>), и загрузите файл в систему. Если указать несколько поставщиков, то будет создано несколько ТКП.
        </div>
        <div class="dragAndDropArea">
          <app-template-upload (fileSelected)="onChangeFilesList($event)"></app-template-upload>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" uxgButton secondary lg (click)="uploadTemplateModal.close()">Отмена</button>
        <button uxgButton primary lg (click)="onSendTemplatePositions(); uploadTemplateModal.close()"
                [disabled]="files.length === 0">
          Загрузить
        </button>
      </div>
    </clr-modal>
  </ng-container>
</ng-container>

<ng-template #placeholder>
  <div class="app-row">
    <div class="app-col">
      <div class="placeholder" *ngFor="let i of [].constructor(10)"></div>
    </div>
    <div class="app-col-aside"></div>
  </div>
</ng-template>
