@import "projects/uxg/src/styles/index";

.app-technical-commercial-proposal-list > *:not(:last-child) {
  display: block;
  margin-bottom: 24px;

  &.disabled {
    opacity: .5;
  }
}

.placeholder {
  height: 160px;
  background: #F2F2F2;
  margin-bottom: 24px;
  border-radius: 8px;
}

.template {
  padding-bottom: 20px;
}

.app-table > .app-row {
  padding-left: 0;
  padding-right: 0;
}

.analytical-report {
  margin-top: -26px;
  position: relative;
  top: -28px;
}

.position-row .position-item {
  padding-bottom: 15px;
}

