<ng-container *ngIf="(status$ | async) !== 'fetching' && (requestStatus$ | async) !== 'fetching'; else placeholder">
  <ng-container *ngIf="(request$ | async) as request">
    <ng-container *ngIf="(proposals$ | async) as proposals" [formGroup]="form">
      <!-- actions -->
      <div class="app-row" [class.app-layout]="view === 'grid'">
        <div class="app-col">
          <div class="app-row app-justify-content-end analytical-report">
            <button uxgButton clear class="app-link" (click)="store.dispatch(downloadAnalyticalReport(requestId))">
              <span>Аналитическая справка </span>
              <uxg-icon shape="app-download"></uxg-icon>
            </button>
          </div>
          <div class="app-table app-no-border">
            <div class="app-row app-align-items-center">
              <ng-container *ngIf="view === 'grid'">
                <uxg-checkbox formControlName="checked" uxgSelectAllFor="positions" *ngFor="let c of [form.get('positions')]">
                </uxg-checkbox>
                <uxg-popover #selectPopover>
                  <button uxgButton uxgPopoverTrigger link icon><uxg-icon shape="app-triangle down"></uxg-icon></button>
                  <div *uxgPopoverContent>
                    <div><button uxgButton clear (click)="form.get('checked').setValue(true); selectPopover.hide()">Все</button></div>
                    <div><button uxgButton clear (click)="form.get('checked').setValue(false); selectPopover.hide()">Ни одного</button></div>
                  </div>
                </uxg-popover>
              </ng-container>
              <div>
                <span class="app-secondary-color">показать: </span>
                <uxg-popover #viewPopover>
                  <button uxgButton uxgPopoverTrigger link clear [ngSwitch]="view">
                   <span *ngSwitchCase="'grid'"><b>по позициям матрица</b></span>
                   <span *ngSwitchCase="'list'"><b>по поставщикам</b></span>
                  </button>
                  <div *uxgPopoverContent>
                    <div><button uxgButton clear (click)="switchView('grid')">по позициям матрица</button></div>
                    <div><button uxgButton clear (click)="switchView('list')">по поставщикам</button></div>
                  </div>
                </uxg-popover>
              </div>
              <div class="app-col"></div>
              <div [ngSwitch]="view">

                <button uxgButton secondary iconText (click)="procedureModalPayload = {action: 'create'}"
                        *ngIf="featureService.authorize('createProcedure')">
                  <uxg-icon shape="app-plus"></uxg-icon>
                  <span>Создать процедуру</span>
                </button>

                <!-- Новое ТКП  -->
                <button *ngSwitchCase="'list'" uxgButton secondary iconText (click)="showForm = true">
                  <uxg-icon shape="app-plus"></uxg-icon>
                  <span>Новое ТКП</span>
                </button>

                <!-- Добавить столбец контрагента  -->
                <button *ngSwitchCase="'grid'" uxgButton secondary iconText
                        [disabled]="allPositionsOnReview()"
                        (click)="addContragentModal.open()">
                  <uxg-icon shape="app-plus"></uxg-icon>
                  <span>Контрагент</span>
                </button>

                <!-- Новое ТКП шаблона -->
                <button uxgButton primary iconText (click)="uploadTemplateModal.open()">
                  <uxg-icon shape="app-plus"></uxg-icon>
                  <span>ТКП из шаблона</span>
                </button>

                <!-- Отправить на согласование -->
                <button *ngSwitchCase="'grid'" uxgButton primary
                        [disabled]="selectedPositions?.length === 0 || (status$ | async) !=='received'"
                        (click)="store.dispatch(publishPositions(selectedPositions))">
                  Отправить на согласование
                </button>
              </div>
            </div>
          </div>
        </div>
        <div @sidebarHide *ngIf="view === 'list'" class="app-col app-col-aside detachable"></div>
      </div>

      <!-- grid -->
      <div class="grid-table" *ngIf="view ==='grid' && proposals.length" [formGroup]="form" [class.disabled]="(status$ | async) !== 'received'">

        <app-technical-commercial-proposal-grid-contragents-row [gridRows]="gridRows" [proposals]="proposals">
        </app-technical-commercial-proposal-grid-contragents-row>

        <!-- positions -->
        <div class="position-row" *ngFor="let proposalsByPos of proposalsByPositions$ | async; trackBy trackByProposalByPositionId; index as i" formArrayName="positions">

          <div class="position-item app-row app-align-items-center app-section app-layout" [formGroupName]="i">
            <uxg-checkbox class="app-control" #checked
                          formControlName="checked"
                          [disabled]="isReviewed(proposalsByPos) || isOnReview(proposalsByPos) || proposalsByPos.data.length === 0">
            </uxg-checkbox>
            <label (click)="checked.check($event)"><b>&nbsp; {{proposalsByPos.position.name}}</b> </label>

            <div class="app-ghost-color"> | {{proposalsByPos.position.quantity}} {{proposalsByPos.position.measureUnit}} </div>
            <div class="app-ghost-color"> |
              <ng-container *ngIf="proposalsByPos.position.isDeliveryDateAsap; else deliveryDate">как можно скорее</ng-container>
              <ng-template #deliveryDate>{{proposalsByPos.position.deliveryDate | date:"dd.MM.yyyy"}} </ng-template>
            </div>
            <div class="app-col"></div>
            <div class="app-success-color app-bold" *ngIf="isReviewed(proposalsByPos)">
              <uxg-icon shape="app-check"></uxg-icon>
              <span>Выбран победитель</span>
            </div>
            <div class="app-ghost-color app-bold" *ngIf="isOnReview(proposalsByPos)">
              <uxg-icon shape="app-waiting"></uxg-icon>
              <span>На согласовании</span>
            </div>
          </div>

          <div #gridRow class="grid-row app-row app-section items-row app-layout">
            <app-technical-commercial-proposal-grid-card
              *ngFor="let proposal of proposals; trackBy: trackById"
              [proposal]="proposal"
              [proposalPosition]="getProposalPosition(proposal, proposalsByPos.position)"
              [editable]="!isReviewed(proposalsByPos) && !isOnReview(proposalsByPos) && !withAnalogs(proposal)"
              (create)="addProposalPosition(proposal, proposalsByPos.position)"
            ></app-technical-commercial-proposal-grid-card>
          </div>
        </div>
      </div>

      <!-- list -->
      <div class="app-row" *ngIf="view === 'list'">
        <div class="app-col app-technical-commercial-proposal-list" [class.disabled]="(status$ | async) !== 'received'">
          <app-technical-commercial-proposal-form
            *ngIf="(proposals$ | async)?.length + (procedures$ | async)?.length === 0 || showForm"
            [request]="request"
            [closable]="proposals.length > 0"
            (close)="showForm = false"
          ></app-technical-commercial-proposal-form>

          <ng-container *ngFor="let procedure of procedures$ | async; trackBy: trackById">
            <app-request-procedure [procedure]="procedure"
               (bargain)="procedureModalPayload = {action: 'bargain', procedure: procedure}"
               (prolong)="prolongModalPayload = procedure"
            ></app-request-procedure>
          </ng-container>
          <ng-container *ngFor="let proposal of proposals; trackBy: trackById">
            <app-request-technical-commercial-proposal
              [request]="request"
              [proposal]="proposal"
            ></app-request-technical-commercial-proposal>
          </ng-container>
        </div>

        <div class="app-col-aside detachable">
          <technical-commercial-proposal-filter></technical-commercial-proposal-filter>
        </div>
      </div>

      <!-- modals -->
      <uxg-modal size="l" [(state)]="procedureModalPayload" [ngSwitch]="procedureModalPayload?.action">
        <h2 *ngSwitchCase="'create'">Создание новой процедуры</h2>
        <h2 *ngSwitchCase="'bargain'">Уторговывание процедуры №{{procedureModalPayload?.procedure.procedureId}}</h2>
        <h2 *ngSwitchCase="'prolong'">Продление процедуры №{{procedureModalPayload?.procedure.procedureId}}</h2>
        <ng-container *ngIf="(availablePositions$ | async) as positions">
          <app-request-procedure-form
            *ngIf="procedureModalPayload"
            [request]="request"
            [positions]="positions"
            [action]="procedureModalPayload.action"
            [procedure]="procedureModalPayload.procedure"
            [procedureSource]="procedureSource"
            (complete)="this.store.dispatch(updateProcedures()); procedureModalPayload = null"
            (cancel)="procedureModalPayload = null"
          ></app-request-procedure-form>
        </ng-container>
      </uxg-modal>

      <uxg-modal #uploadTemplateModal size="l" (stateChange)="$event && (files = [])">
        <ng-container *ngIf="uploadTemplateModal.state">
          <h2 class="modal-title"><b>Загрузить технико-коммерческие предложения из шаблона</b></h2>
          <div class="app-secondary-color template">
            Вы можете загрузить ТКП списком, если заполните шаблон xls таблицы (<a (click)="store.dispatch(downloadTemplate(requestId))"><b>скачать
            шаблон</b></a>), и загрузите файл в систему. Если указать несколько поставщиков, то будет создано несколько ТКП.
          </div>
          <div class="dragAndDropArea">
            <app-template-upload (fileSelected)="files = $event"></app-template-upload>
          </div>
          <ng-template uxgModalFooter>
            <button type="button" uxgButton secondary lg uxgModalClose>Отмена</button>
            <button uxgButton primary lg uxgModalClose (click)="store.dispatch(uploadTemplate(requestId, files))"
                    [disabled]="files.length === 0">
              Загрузить
            </button>
          </ng-template>
        </ng-container>
      </uxg-modal>

      <uxg-modal [(state)]="addProposalPositionPayload">
        <h2>Добавить новое ТКП от {{addProposalPositionPayload?.proposal?.supplier.shortName}}</h2>
        <technical-commercial-proposal-position-form
          *ngIf="addProposalPositionPayload"
          [position]="addProposalPositionPayload.position"
          [proposal]="addProposalPositionPayload.proposal"
          (close)="addProposalPositionPayload = null"
        ></technical-commercial-proposal-position-form>
      </uxg-modal>

      <uxg-modal #addContragentModal size="s">
        <h2><b>Добавить столбик контрагента</b></h2>
        <technical-commercial-proposal-contragent-form
          *ngIf="addContragentModal.state"
          [request]="request"
          [selectedContragents]="getContragents(proposals)"
          (close)="addContragentModal.close()">
        </technical-commercial-proposal-contragent-form>
      </uxg-modal>

      <uxg-modal [(state)]="prolongModalPayload" size="s">
        <h2>Продление процедуры №{{prolongModalPayload?.procedureId}}</h2>
        <app-prolongate-procedure
          *ngIf="prolongModalPayload"
          [date]="prolongModalPayload.dateEndRegistration"
          [procedureId]="prolongModalPayload.procedureId"
          [requestId]="requestId"
          (close)="prolongModalPayload = null"
          (complete)="this.store.dispatch(updateProcedures()); prolongModalPayload = null"
        ></app-prolongate-procedure>
      </uxg-modal>


    </ng-container>
  </ng-container>
</ng-container>

<ng-template #placeholder>
  <div class="app-row" [class.app-layout]="view === 'grid'">
    <div class="app-col">
      <div class="placeholder" *ngFor="let i of [].constructor(10)"></div>
    </div>
    <div class="app-col-aside detachable"></div>
  </div>
</ng-template>
