.create-request {
  margin: 20px 0 0 0;
}

.quantity {
  max-width: 200px;
  display: inline-flex;
}

.name {
  margin-bottom: 20px;
}

.quantity-label {
  padding-right: 10px;
}

.position-code, .measure-units {
  padding-top: 5px;
}
