@import "../uxg";

@mixin dropdown($theme) {
.app-dropdown {
  display: block;
  flex-direction: column;
  position: relative;
  z-index: 1;


  &-handler, &-items-item {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-items-item:hover {
    background: uxg($theme, color-list-hover);
  }

  &-handler {
    align-items: center;
    border: 1px uxg($theme, color-control-secondary) solid;
    background: uxg($theme, color-default);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding-right: 0;
    transition: border 250ms;

    &:hover {
      border-color: uxg($theme, color-control-primary);
    }

    &.active {
      border-color: uxg($theme, color-control-primary);
    }

    &:not(&-up).active {
      border-bottom-color: transparent;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &-up.active {
      border-top-color: transparent;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &-title {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-icon {
      display: flex;
      height: 24px;
      padding: 0 14px;
    }
  }

  &-items {
    max-height: 320px;
    overflow: auto;

    &-wrapper {
      animation: app-dropdown-show 300ms;
      background: uxg($theme, color-default);
      border: 1px uxg($theme, color-control-primary) solid;
      border-radius: 4px;
      box-sizing: border-box;
      left: 0;
      overflow: hidden;
      position: absolute;
      z-index: 999999;

      &:not(&-up) {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        transform-origin: top;
      }

      &-up {
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transform-origin: bottom;
      }

      &.hidden {
        display: none;
      }
    }

    @include scrollbar($theme);

    &-item[disabled]:not([disabled=false]) {
      cursor: default;
      opacity: .5;
    }
  }

  &-disabled .app-dropdown-handler {
    background: uxg($theme, color-control-secondary);
    border-color: uxg($theme, color-secondary);
    color: uxg($theme, color-font-ghost);
  }
}

@keyframes app-dropdown-show {
  0% {
    transform: scaleY(.7);
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
}
