@import "../uxg";

@mixin grid($theme) {
.app-row {
  display: flex;
  flex-wrap: wrap;
}

.app-col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;

  & + &-aside {
    margin-left: 20px;
  }

  &-aside {
    max-width: 280px;

    & + * {
      margin-left: 20px;
    }
  }
}

.app-card {
  border: 1px solid uxg($theme, color-border);
  background: uxg($theme, color-default);
  transition: background-color 250ms;
  border-radius: 8px;
  padding: 17px 24px;

  &-clickable:hover {
    background: uxg($theme, color-bg);
  }
}

.app-table {
  &:not(.app-no-border) > .app-row {
    @extend .app-card;
  }

  & > .app-row {
    padding: 17px 10px;

    &:not(:first-child) {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:not(:last-child) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    & > .app-col {
      padding: 0 14px;
      box-sizing: content-box;
    }
  }
}
}
