@import "../uxg";

@mixin statuses($theme, $statuses) {
.app-position-status {
  white-space: nowrap;

  > * + * {
    margin-left: .5em;
  }

  &-icon {
    display: inline-block;
    width: .858em;
    height: .858em;
    border-radius: 50%;

    @each $status, $color in $statuses {
      &.#{$status} {
        background-color: $color;
      }
    }
  }
}
}
