<div class="app-row">
  <div class="app-col">
    <div class="pie-chart">
      <canvas #chart></canvas>
    </div>
  </div>

  <div class="app-col" *ngIf="showLabel">
    <table class="label-table" >
      <tr *ngFor="let item of items">
        <th [class.app-ghost-color]="item.count === 0">
          {{ item.count }}<span class="app-ghost-color" *ngIf="item.count">{{ measure }}</span>
        </th>
        <th>
          <span [style.color]="item.color">{{ item.label }}</span>
        </th>
      </tr>
    </table>
  </div>
</div>
