@import "projects/uxg/src/styles/index";

.label-table {
  border: 0;
  margin-left: 1em;
  text-align: left;
  font-weight: 500;

  tr {
    cursor: pointer;
  }

  tr:hover {
    border-radius: 6px;
    background-color: #f5f5f5;
  }

  tr td {
    padding: 5px 10px;
  }

  tr td:first-child {
    padding-right: 10px;
  }

  .count-label {
    text-align: right;
    white-space: nowrap;
  }
}
