<div class="app-row" [style.margin-top.em]="2">
  <div class="app-col">
    <div class="app-row app-align-items-center">
      <img src="../pluginIcon.svg" [style.width.px]="128" [style.margin-right.em]="2"/>
      <div>
        <h1 style="margin: 0; font-size: 64px; font-weight: normal" [style.margin]="0">UXG</h1>
        <span class="app-ghost-color">UI kit for mobile and desktop Angular web applications.</span>
      </div>
    </div>
  </div>
  <div class="app-col">
    <h1>Installation</h1>
    <div>
      <h3>Step 1: Build an Angular App</h3>
      <div class="app-ghost-color">Create a new Angular application</div>
    </div>
    <br/>
    <br/>
    <div>
      <h3>Step 2: Install package</h3>
      <div class="app-ghost-color">Angular schematic coming soon</div>
      <br/>
      <ngx-prism language="shell">npm i coming-soon@0.0.0</ngx-prism>
    </div>
  </div>
</div>

<h1>Get started</h1>
<div>
  <h3>Step 3: Adding scripts and styles</h3>
  <div class="app-ghost-color">Update your angular.json and import styles</div>
  <br/>
  <ngx-prism language="css">@import "projects/uxg/src/styles/index";</ngx-prism>
  <ngx-prism language="html">{{angularJson}}</ngx-prism>
</div>
<br/>
<br/>
<div>
  <h3>Step 4: Add module to Angular application</h3>
  <div class="app-ghost-color">Update your AppModule file</div>
  <br/>
  <ngx-prism language="js">{{module}}</ngx-prism>
</div>
<br/>
<br/>
<div>
  <h3>Step 5. Add alias of package</h3>
  <div class="app-ghost-color">Update your tsconfig.json file</div>
  <br/>
  <ngx-prism language="json">{{tsconfigJson}}</ngx-prism>
</div>
<br/>
<br/>
