<div class="app-row dashboard">

  <!-- Горизонтальная инфа о позиции -->
  <div class="app-col app-table app-no-border actions">
    <div class="app-row">

      <div class="app-col">
        <span class="app-ghost-color">Изменена: </span>
        <span>{{ position.createdDate | date : "dd.MM.yyyy" }} </span>
        <span class="app-ghost-color">{{ position.createdDate | date : "hh:mm" }}</span>
      </div>

      <ng-container *ngIf="position.group">
        <div class="app-col separator"></div>

        <div class="app-col">
          <span class="app-ghost-color">Группа: </span>
          <span class="group-name" [title]="position.group.name">{{ position.group.name }}</span>
        </div>
      </ng-container>

      <div class="app-col separator"></div>

      <div class="app-col">
        <span class="app-ghost-color">Сообщений: </span>
        <span>5</span>
        &nbsp;
        <a routerLink="/messages/request/{{ position.request.id }}/position/{{ position.id }}">
          <span class="app-secondary-color">
            <clr-icon shape="app-comment"></clr-icon>
            <span>Перейти к чату по позиции</span>
          </span>
        </a>
      </div>
    </div>
  </div>

  <!-- Статус -->
  <div class="app-col app-col-aside status" *ngIf="user.isBackOffice() && statuses">
    <div class="app-position-status-icon" [ngClass]="position.status"></div>
    <uxg-dropdown class="clr-flex-grow-1" [(ngModel)]="position.status" (select)="changeStatus.emit({status: $event, position: position})">
      <div uxgDropdownItem *ngFor="let status of statuses" [value]="status[0]">{{ status[1] }}</div>
    </uxg-dropdown>
  </div>
</div>


<div class="app-row">

  <!-- Табы -->
  <div class="app-col">
    <uxg-tabs class="app-tabs-border">
      <uxg-tab-title #historyTab [active]="true">История</uxg-tab-title>
      <uxg-tab-title #docTab>Документы</uxg-tab-title>
      <uxg-tab-title #technicalTab disabled>Технические предложения</uxg-tab-title>
      <uxg-tab-title #offersTab>Коммерческие предложения</uxg-tab-title>
      <uxg-tab-title #productionTab disabled>Изготовление</uxg-tab-title>
      <uxg-tab-title #deliveryTab [hidden]="!isAfterManufacturing(position)">Доставка</uxg-tab-title>
    </uxg-tabs>
    <br/>
    <ng-container *uxgTab="historyTab">
      <app-position-info-history  [requestPosition]="position"></app-position-info-history>
    </ng-container>
    <ng-container *uxgTab="docTab">
      <div class="app-row">
        <div class="app-col">
          <h3>Все документы позиции</h3>
        </div>

        <button uxgButton secondary iconText appUploadFile (select)="uploadDocuments.emit({ files: $event, position: position })"
                [multiple]="true">
          <clr-icon shape="app-upload"></clr-icon>
          <span>Загрузить документы</span>
        </button>
      </div>
      <div class="documents" *ngFor="let dateWithDocs of datesWithDocuments">
        <h4>{{dateWithDocs.date}}</h4>
        <app-document-simple-list [gridable]="true" [enableUpload]="false" [documents]="dateWithDocs.documents"></app-document-simple-list>
      </div>
      <ng-container *ngIf="!datesWithDocuments || datesWithDocuments.length === 0">
        <br/>
        <h2 class="text-center" [style.opacity]="0.1">
          <clr-icon shape="app-doc" size="270"></clr-icon><br/>
          К позиции пока не загружено ни <br/> одного документа
        </h2>
      </ng-container>
    </ng-container>
    <ng-container *uxgTab="offersTab">
      <app-offers [requestPosition]="position" [requestId]="requestId" [isCustomerView]="user.isCustomer()"></app-offers>
    </ng-container>
    <ng-container *uxgTab="deliveryTab">
      <app-delivery-monitor [requestPosition]="position" [requestId]="requestId"></app-delivery-monitor>
    </ng-container>
  </div>


  <!-- Сайдбар с информацией -->
  <div class="app-col app-col-aside">
    <div class="app-row">
      <div class="app-col">
        <h3 class="sector-title">Общая информация о позиции</h3>

        <div class="app-ghost-color">Наименование МТР</div>
        <div class="app-bold">{{ position.name }}</div>
        <br/>

        <div class="app-ghost-color">Количество</div>
        <div class="app-bold">{{ position.quantity }} {{ position.measureUnit | lowercase }}</div>
        <br/>

        <div class="app-ghost-color">Необходимый срок поставки</div>
        <div class="app-bold">{{ position.deliveryDate | date : "dd.MM.yyyy" }}</div>
        <br/>

        <div class="app-ghost-color">Базис поставки</div>
        <div class="app-bold">{{ position.deliveryBasis }}</div>
        <br/>

        <div class="app-ghost-color">Условия оплаты</div>
        <div class="app-bold">{{ position.paymentTerms }}</div>
        <br/>

        <div class="app-ghost-color">Начальная максимальная цена</div>
        <div class="app-bold">{{ position.startPrice | currency: position.currency }}</div>
        <br/>

        <div class="app-ghost-color">Документ, в соответствии с которым необходимо изготовление</div>
        <div class="app-bold">{{ position.productionDocument }}</div>
        <br/>

        <ng-container *ngIf="position.isDesignRequired">
          <div class="app-ghost-color">Необходимость РКД</div>
          <div class="app-bold">Да, необходимо</div>
          <br/>
        </ng-container>

        <ng-container *ngIf="getRelatedServicesList(position)">
          <div class="app-ghost-color">Необходимость сопутствующих услуг</div>
          <div class="app-bold"> {{ getRelatedServicesList(position) }}</div>
          <br/>
        </ng-container>


        <ng-container *ngIf="position.comments">
          <div class="app-ghost-color">Дополнительные требования</div>
          <div class="app-bold">{{ position.comments }}</div>
          <br/>
        </ng-container>

        <div *ngIf="isBeforeManufacturing(position) || user.isCustomer()">
          <uxg-popover #more [openOnHover]="true">
            <button uxgButton secondary
                    uxgPopoverTrigger
                    (click)="edit.open()"
                    [disabled]="position.isEditingByAnotherUser">
              <clr-icon shape="app-pen"></clr-icon>
              <span>Редактировать</span>
            </button>

            <ng-container *ngIf="position.isEditingByAnotherUser">
              <div *uxgPopoverContent="PopoverContentDirection.bottomRight" (click)="more.hide()">
                <div>Позиция находится на согласовании.</div>
                <div>Редактирование недоступно.</div>
              </div>
            </ng-container>
          </uxg-popover>
        </div>

        <clr-modal #edit [clrModalStaticBackdrop]="false" clrModalSize="lg">
          <h2 class="modal-title">Редактирование общей информации по позиции</h2>
          <div class="modal-body">
            <app-request-position-form
              *ngIf="edit._open"
              [requestId]="requestId"
              [(position)]="position"
              (cancel)="edit.close()"
              (positionChange)="positionChange.emit($event); edit.close()"
              [onDrafted]="onDrafted"
            ></app-request-position-form>
          </div>
        </clr-modal>
      </div>
    </div>
  </div>
</div>
