<ul class="pagination-list" *ngIf="pagesCount > 1">
  <li *ngIf="page > 1">
    <button
      class="pagination-previous"
      (click)="showPrevPage()"
      type="button"></button>
  </li>
  <li *ngIf="page > 2">
    <button (click)="setCurrentPage(1)" type="button">1</button>
  </li>

  <li *ngIf="page > 3">...</li>
  <li *ngFor="let pageNum of middlePages" [class.pagination-current]="pageNum === page">
    <button
      *ngIf="pageNum !== page; else noButton"
      (click)="setCurrentPage(pageNum)"
      type="button">{{pageNum}}
    </button>
    <ng-template #noButton>{{pageNum}}</ng-template>
  </li>

  <li *ngIf="page < pagesCount - 2">...</li>
  <li *ngIf="page < pagesCount - 1">
    <button
      (click)="setCurrentPage(pagesCount)"
      type="button">{{pagesCount}}
    </button>
  </li>

  <li *ngIf="page < pagesCount">
    <button
      class="pagination-next"
      (click)="showNextPage()"
      type="button"></button>
  </li>
</ul>
