<div class="login-form">

  <div class="form-text">

    <ng-container *ngIf="!submitStateSuccess() && !submitStateError()">
      <span class="title">Восстановление пароля</span>
      <span class="description">
        Пожалуйста укажите <b>эл. почту</b>, которую Вы использовали для входа в Marketplace; на неё Вам будет выслана инструкция.
      </span>
    </ng-container>

    <ng-container *ngIf="submitStateSuccess()">
      <span class="title">Успешно!</span>
      <span class="description">
        Спасибо, на вашу почту отправлена подробная инструкция по восстановлению пароля.
      </span>
    </ng-container>

    <ng-container *ngIf="submitStateError()">
      <span class="title">Что-то пошло не так</span>
      <span class="description">
        Пожалуйста, проверьте корректность заполнения поля «Эл. почта» при восстановлении пароля, или попробйте еще раз чуть позже.
      </span>
    </ng-container>

  </div>

  <form [formGroup]="passwordRestoreForm" (ngSubmit)="submit()">

    <div *ngIf="!submitStateSuccess() && !submitStateError()" class="email-input">
      <input type="text"
             class="email"
             placeholder="Эл. почта"
             formControlName="email"
             appFormControlInvalidClass="invalid">
      <span class="error-msg-container">{{ getErrorMsg('email') }}</span>
    </div>

    <div class="clr-row">

      <ng-container *ngIf="!submitStateSuccess()">
        <div class="clr-col">
          <button class="btn btn-secondary"
                  (click)="router.navigateByUrl('auth/login')"
                  [disabled]="false">
            Отмена
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="!submitStateSuccess() && !submitStateError()">
        <div class="clr-col">
          <button type="submit"
                  class="btn btn-primary"
                  [disabled]="passwordRestoreForm.invalid"
                  [clrLoading]="loadingState">
            Отправить
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="submitStateError()">
        <div class="clr-col">
          <button (click)="loadingState = clrLoadingState.DEFAULT"
                  class="btn btn-primary"
                  [clrLoading]="loadingState">
            Попробовать снова
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="submitStateSuccess()">
        <div class="clr-col-12">
          <button type="submit"
                  class="btn btn-primary"
                  (click)="router.navigateByUrl('auth/login')">
            Готово
          </button>
        </div>
      </ng-container>

    </div>

  </form>

</div>