<form class="forgot-password-form" [ngSwitch]="state" [formGroup]="form" (ngSubmit)="submit()">
  <div class="app-section app-secondary-color">
    <ng-container *ngIf="['pristine', 'loading'].includes(state)" class="description">
      Пожалуйста укажите <b>эл. почту</b>, которую Вы использовали для входа; на неё Вам будет выслана инструкция.
    </ng-container>

    <ng-container *ngSwitchCase="'success'">
      Спасибо, на вашу почту отправлена подробная инструкция по восстановлению пароля.
    </ng-container>

    <ng-container *ngSwitchCase="'exception'">
      Пожалуйста, проверьте корректность заполнения поля «Эл. почта» при восстановлении пароля, или попробуйте ещё раз чуть позже.
    </ng-container>

    <ng-container *ngSwitchCase="'error'">
      Ссылка для восстановления пароля уже отправлена на Ваш электронный адрес.
      Для восстановления доступа к учетной записи перейдите по ссылке из письма.
      Вы можете запросить повторную отправку письма не ранее, чем через 10 минут.
    </ng-container>
  </div>

  <div class="app-control-wrap app-section" *ngIf="['pristine', 'loading'].includes(state)">
    <input #emailRef uxgInput type="text" lg formControlName="email"/>
    <label class="app-control-label" (click)="emailRef.focus()">Логин</label>
    <div class="app-control-error" *ngIf="form.get('email').errors as e">
      <span *ngIf="e.required">Необходимо заполнить эл. почту</span>
      <span *ngIf="!e.required && e.invalid_email">Пожалуйста, проверьте корректность введённой эл. почты</span>
    </div>
  </div>

  <div class="app-row">
    <button class="app-col app-basis-auto" uxgButton strength secondary lg type="button" routerLink='/auth/login' *ngIf="state !== 'success'">Отмена</button>
    <button class="app-col app-basis-auto" uxgButton strength primary lg [disabled]="form.invalid || state === 'loading'" *ngIf="['pristine', 'loading'].includes(state)">Отправить</button>
    <button class="app-col app-basis-auto" uxgButton strength primary lg type="button" (click)="reset()" *ngIf="['error', 'exception'].includes(state)">Попробовать снова</button>
    <button class="app-col" uxgButton primary strength lg type="button" routerLink='/auth/login' *ngSwitchCase="'success'">Готово</button>
  </div>
</form>
