@import "src/theme";

.title {
  font-size: 48px;
  line-height: 55px;
}

.welcome-msg {
  font-size: 17px;
  line-height: 21px;
}

.forgot-password-form {
  padding: 30px 32px;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(26, 84, 153, 0.5);
  border-radius: uxg($theme, card-border-radius);
  margin-bottom: 17px;

  & a {
    text-decoration: none;
    color: #2585F5;

    &:hover {
      color: #0960c3;
    }

  }

  & .form-text {

    & .title {
      display: block;
      color: #000000;
      font-weight: bold;
      font-size: 22px;
      line-height: 25px;
      padding-bottom: 15px;
    }

    & .description {
      display: block;
      color: rgba(0, 0, 0, 0.6);
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 32px;
    }
  }

  & .email-input,
  & .password-input {
    & .error-msg-container {
      display: block;
      height: 20px;
      padding-top: 5px;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 11px;
      line-height: 100%;
      color: #EB5757;
    }
  }

  & input.email,
  & input.password {
    height: 40px;
    width: 100%;
  }

  & button {
    width: 100%;
    margin: 0 0 12px 0;
  }
}
