<form (ngSubmit)="submit()" >
  <div class="paymentTerms">
    <label class="input-label">Условия оплаты</label>
    <uxg-dropdown placeholder="Условия оплаты" [formControl]="paymentTermsControl">
      <div uxgDropdownItem *ngFor="let term of paymentTerms" [value]="term[0]">{{term[1]}}</div>
    </uxg-dropdown>
  </div>

  <div class="divider"></div>
  <div class="parameters">
    <ng-container *ngFor="let form of formArray?.controls" [formGroup]="form">
      <p class="app-bold">{{ form.get("name").value }}</p>
      <div class="app-row section">
        <div class="app-col">
          <input uxgInput formControlName="priceWithoutVat" placeholder="Цена за единицу"/>
        </div>
        <div class="app-col">
          <input uxgInput formControlName="quantity" placeholder="Количество" [warning]="!isQuantityValid(form)"/>
        </div>
        <div class="app-col">

          <uxg-dropdown-input appSuggestions formControlName="measureUnit" placeholder="Ед. измерения"
            [$]="okeiList$" [searchFn]="searchOkei" #okei="appSuggestions" [appControlWrap]="false"
          >
            <ng-container *ngIf="(okei.suggestions$ | async) as okeiSuggestions">
              <div uxgDropdownItem *ngFor="let suggestion of okeiSuggestions"
                   [value]="suggestion.symbol | lowercase"
                   [attr.title]="suggestion.name | lowercase"
              >{{suggestion.symbol | lowercase }} <span class="app-ghost-color">- {{suggestion.name | lowercase}}</span></div>
            </ng-container>
          </uxg-dropdown-input>
        </div>
        <div class="app-col">
          <uxg-dropdown placeholder="Валюта" formControlName="currency">
            <div uxgDropdownItem [value]="currency[0]" *ngFor="let currency of currencies">{{ currency[1] }}</div>
          </uxg-dropdown>
        </div>
        <div class="app-col">
          <div style="position: relative">
            <input uxgInput formControlName="deliveryDate" placeholder="Дата" [warning]="!isDateValid(form)">
            <label class="app-control-icon" (click)="datepicker.toggleDatepicker($event)">
              <clr-icon shape="app-calendar-big" size="24"></clr-icon>
            </label>
          </div>
          <clr-date-container #datepicker class="hidden-datepicker">
            <input clrDate formControlName="deliveryDate" />
          </clr-date-container>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="divider"></div>
  <div class="app-row app-uppercase app-ghost-color app-bold section">
    <div class="app-col"><small>Цена за единицу</small></div>
    <div class="app-col"><small class="app-uppercase app-ghost-color">Количество</small></div>
    <div class="app-col"><small class="app-uppercase app-ghost-color">Ед. измерения</small></div>
    <div class="app-col"><small class="app-uppercase app-ghost-color">Валюта</small></div>
    <div class="app-col"><small class="app-uppercase app-ghost-color"></small></div>
  </div>
  <div class="app-row app-justify-content-end">
    <button uxgButton lg secondary type="button" (click)="cancel.emit()">Отмена</button>
    <button uxgButton lg primary [disabled]="formArray?.invalid">Сохранить</button>
  </div>
</form>
