.kim-menu {
  background: #1C243B;
  width: 100%;

  ::ng-deep .app-tabs {
    &-item {
      color: #fff;
      padding: 11px 0;

      &-active { color: #2585F5; }
    }

    &-indicator { height: 3px; }
  }
}

.basket-counter {
  background: #2585f5;
  border-radius: 50%;
  box-sizing: content-box;
  color: #fff;
  height: 16px;
  line-height: 16px;
  position: absolute;
  right: -20px;
  text-align: center;
  top: 12px;
  width: 16px;
}
