@import "src/theme";

.kim-menu {
  background: #3B385E;
  width: 100%;

  .basket-counter {
    background: uxg($theme, color-font-link);
    border-radius: uxg($theme, counter-border-radius);
    color: uxg($theme, color-default);
    line-height: 16px;
    text-align: center;
    height: 16px;
    width: 16px;
    margin-left: 5px;
  }

  ::ng-deep .app-tabs {
    &-item {
      color: #fff;
      padding: 11px 0;

      &[disabled=true] {
        pointer-events: none;
      }
    }

    &-indicator { height: 3px; background: #fff; }
  }
}

