.kim-menu {
  background: #1C243B;
  width: 100%;

  ::ng-deep .app-tabs {
    &-item {
      color: #fff;
      padding: 11px 0;

      &-active { color: #2585F5; }
    }

    &-indicator { height: 3px; }
  }
}
