<ng-container *ngIf="proposalPosition else emptyProposal">
  <button (click)="proposalPosition.status==='NEW' ? create.emit() : proposalModal.open()">
    <div class="app-row app-align-items-center">
      <!-- name -->
      <h3 class="app-col">
        <span>{{(proposalPosition.priceWithoutVat * proposalPosition.quantity) | number:'1.0-2'}} </span>
        <span class="app-ghost-color">{{getCurrencySymbol(proposalPosition.currency, "narrow")}}</span>
      </h3>
      <!-- status -->
      <ng-container [ngSwitch]="proposalPosition.status">
        <div class="winner" *ngSwitchCase="'APPROVED'">
          <svg height="25" width="101" viewBox="0 0 101 25" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0H101V25H0L7 12.5L0 0Z" fill="#0EA04B"></path>
            <text y="13" x="92" fill="#fff" alignment-baseline="middle" text-anchor="end">Победитель</text>
          </svg>
        </div>

        <div class="app-ghost-color" *ngSwitchCase="'REJECTED'">
          <uxg-icon shape="app-check"></uxg-icon>
        </div>

        <ng-container *ngSwitchDefault>
          <ng-container *ngIf="selectedProposalPosition">
            <uxg-radio-item
              [name]="proposalPosition.position.id"
              [value]="proposalPosition"
              [formControl]="selectedProposalPosition"
              (click)="$event.stopPropagation()"
            ></uxg-radio-item>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>

    <div>
      <!-- Количество, цена за ед. -->
      <span [ngClass]="!helper.isQuantityValid(proposalPosition) ? 'app-error-color app-bold' : ''">{{proposalPosition.quantity}} {{proposalPosition.measureUnit}}</span>
      <span class="app-ghost-color"> | </span>
      <span class="app-ghost-color">{{proposalPosition.priceWithoutVat | number:'1.0-2'}} </span>
      <span class="app-ghost-color">{{getCurrencySymbol(proposalPosition.currency, "narrow")}}/{{proposalPosition.measureUnit}}</span>
      <br/>

      <!-- Дата поставки. -->
      <span [ngClass]="!helper.isDateValid(proposalPosition) ? 'app-error-color app-bold' : ''">{{proposalPosition.deliveryDate | date:"dd.MM.yyyy"}}</span>
      <span class="app-ghost-color"> доставка</span>
    </div>
    <div class="app-ellipsis app-secondary-color">{{ proposalPosition.manufacturingName }}</div>
  </button>

  <uxg-modal #proposalModal>
    <h2><span class="app-bold">{{ proposalPosition.position.name }}</span></h2>
    <div *ngIf="proposalModal.state">
      <app-proposal-detail
        [supplier]="proposal.supplier"
        [paymentTerms]="proposalPosition.paymentTerms"
        [manufacturingName]="proposalPosition.manufacturingName"
        [documents]="proposal.documents"
        [proposal]="proposalPosition"
        [position]="proposalPosition.position"
      ></app-proposal-detail>
    </div>
    <ng-template uxgModalFooter>
      <div class="app-col app-bold">
        <div class="app-success-color" *ngIf="helper.isQuantityValid(proposalPosition)">- Позиция в нужном количестве</div>
        <div class="app-success-color" *ngIf="helper.isDateValid(proposalPosition)"> - Сроки укладываются в заданные</div>
        <div class="app-error-color" *ngIf="!helper.isQuantityValid(proposalPosition)">- Количество меньше нужного</div>
        <div class="app-error-color" *ngIf="!helper.isDateValid(proposalPosition)"> - Сроки не укладываются в заданные</div>
      </div>
      <!--      @TODO Доделать возможность выбрать из модалки -->
      <!--      <div *ngIf="!isReviewed">-->
      <!--        <button uxgButton lg secondary (click)="proposalModal.close()">Отмена</button>-->
      <!--        <button uxgButton lg primary (click)="selectedProposalPosition.setValue(data.proposalPosition); proposalModal.close();">Выбрать</button>-->
      <!--      </div>-->
      <!--      <div *ngIf="isReviewed">-->
      <!--        <button uxgButton lg secondary (click)="proposalModal.close()">Закрыть</button>-->
      <!--      </div>-->
      <button uxgButton lg secondary uxgModalClose>Закрыть</button>
    </ng-template>
  </uxg-modal>
</ng-container>

<ng-template #emptyProposal>
  <button [disabled]="!editable" (click)="create.emit()">
    <uxg-icon class="app-link" *ngIf="editable; else notProvided" shape="app-plus-big" size="24"></uxg-icon>
    <ng-template #notProvided><b>Не предоставлено</b></ng-template>
  </button>
</ng-template>
