<ng-container *ngIf="(status$ | async) !== 'fetching' && (requestStatus$ | async) !== 'fetching'; else placeholder">
  <ng-container *ngIf="(request$ | async) as request">
    <ng-container *ngIf="(proposals$ | async) as proposals">
      <app-common-proposal-view
        [positions]="positions$ | async"
        [request]="request"
        [proposals]="proposals"
        [status]="status$ | async"
        [groupId]="groupId"
        [procedures]="procedures$ | async"
        [proposalsByPositions]="proposalsByPositions$ | async"
        [requestStatus]="requestStatus$ | async"
        [source]="procedureSource"
        [contragentsWithTp]="contragentsWithTp$ | async"
        [canRollback]="canRollback"
        [source]="'cp'"
        (procedurePositionsSelected)="procedurePositionsSelected$.next($event)"
        (uploadTemplate)="store.dispatch(uploadTemplate(request.id, groupId, $event))"
        (downloadTemplate)="store.dispatch(downloadTemplate(request.id, groupId))"
        (rollback)="store.dispatch(rollback(request.id, groupId, $event))"
        (downloadAnalyticalReport)="store.dispatch(downloadAnalyticalReport(request.id, groupId))"
        (publishPositions)="store.dispatch(publishPositions($event))"
        (saveProposalItem)="saveProposalItem($event.item, $event.proposal)"
        (updateProcedures)="updateProcedures(request.id, groupId)"
        (viewChange)="switchView($event)"
        (create)="store.dispatch(create(request.id, groupId, $event.proposal, $event.items))"
        (edit)="store.dispatch(edit($event.proposal, $event.items))"
      ></app-common-proposal-view>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #placeholder>
  <div class="app-row app-layout">
    <div class="app-col">
      <div class="app-row">
        <div class="app-col app-row">
          <div class="placeholder-row" *ngFor="let i of [].constructor(2)" [style.height.px]="40" [style.width.px]="200"></div>
        </div>
        <div class="placeholder-row" [style.height.px]="40" [style.width.px]="80"></div>
      </div>

      <div class="placeholder" *ngFor="let i of [].constructor(10)" [style.height.px]="160"></div>
    </div>
    <div class="app-col-aside detachable"></div>
  </div>
</ng-template>
