<!-- Алерт, когда созданы новые позиции или отредактированы, но изменения не опубликованы -->
<clr-alert [clrAlertType]="'info'" [clrAlertAppLevel]="true" [clrAlertClosable]="true" *ngIf="canPublish()">
  <clr-alert-item>
        <span class="alert-text">
             В заявке присутствуют неопубликованные позиции в статусе Черновик
        </span>
    <div class="alert-actions">
      <button class="btn alert-action" (click)="onPublish()">Опубликовать все позиции</button>
    </div>
  </clr-alert-item>
</clr-alert>
<!-- Алерт, когда созданы новые позиции или отредактированы бэкофисом и отправлены на согласование заказчику -->
<clr-alert [clrAlertType]="'info'" [clrAlertAppLevel]="true" [clrAlertClosable]="true" *ngIf="canApproveOrReject()">
  <clr-alert-item>
        <span class="alert-text">
             В заявке присутствуют позиции, требующие согласования
        </span>
    <div class="alert-actions">
      <button class="btn alert-action" (click)="onApprove()">Согласовать все позиции</button>
      <button class="btn alert-action decline" (click)="onShowDeclineMessageModal()">Отклонить все позиции</button>
    </div>
  </clr-alert-item>
</clr-alert>
<app-request-view [isCustomerView]="true"
                  [request]="request"
                  [requestPositions]="requestPositions"
                  [updatedPosition]="updatedPosition">
</app-request-view>

<clr-modal [(clrModalOpen)]="rejectionMessageModalOpen">
  <h3 class="modal-title">Укажите причину отклонения</h3>
  <div class="modal-body">
    <textarea (input)="rejectionMessage = $event.target.value"></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
            (click)="onDecline()"
            [disabled]="!checkDeclineButtonEnabled()"><b>Отклонить</b>
    </button>
  </div>
</clr-modal>
