<h2>Согласования по статусам</h2>
<div class="app-row app-align-items-center">
  <div class="app-col"></div>
  <div class="app-col-auto">
      <a routerLink="/agreements/customer"><b>Все согласования ({{agreementsTotalCount$ | async}})</b></a>
    </div>
  </div>
<app-dashboard-agreements
  [agreements]="agreements$ | async"
  [agreementsTotalCount]="agreementsTotalCount$ | async"
  [agreementsBar]="agreementsBar$ | async"
  [view]="view"
  (sendRating)="sendRating($event.requestId, $event.positionId, $event.rating)">
</app-dashboard-agreements>

<br><br>

<div class="app-row">
  <div class="app-col">
    <h2>Статистика по статусам и деньгам</h2>

    <app-dashboard-statistics
      #dashboardStatisticsComponent
      [statusesStatistics]="statusesStatistics$ | async"
      [filterRequestList]="filterRequestList$ | async"
      [filterApplicantsList]="filterApplicantsList$ | async"
      (submitFilter)="submitFilter()"
      (resetFilter)="resetFilter()"
    ></app-dashboard-statistics>
  </div>
</div>

<div class="app-card" style="background: none" *ngIf="!user.getContragentId()">
  <div class="app-row app-align-items-center">
    <div class="app-col-3 app-row app-justify-content-center">
      <uxg-icon shape="app-check" size="270" [style.opacity]="0.1" [style.padding]="'50px 0'"></uxg-icon>
    </div>

    <div class="app-col-9">
      <h1 class="app-ghost-color">Добро пожаловать</h1>
      <div class="app-section">
        <p>Добро пожаловать на платформу для оказания услуг аутсорсинга коммерческих закупок полного цикла Processor.<br/>
          Для начала работы необходимо зарегистрироваться как представитель контрагента.<br/>
          Для этого напишите нам на e-mail: <a href="mailto:processor@isource.ru">processor@isource.ru</a> свой логин и ИНН контрагента
        </p>
      </div>
    </div>
  </div>
</div>
