<input #inputRef
       uxgInput
       class="app-dropdown-handler"
       [warning]="warning"
       [lg]="lg"
       [value]="(value && displayByFn && displayByFn(value)) || value"
       [disabled]="disabled"
       (input)="input($event)"
       (focus)="focus.emit(inputValue || value)"
       [class.active]="!isHidden"
/>
<label *ngIf="placeholder" class="app-control-label" (click)="inputRef.focus()">{{ placeholder }}</label>
<ng-container *ngTemplateOutlet="errors"></ng-container>
<div #itemsWrapper class="app-dropdown-items-wrapper" [class.hidden]="isHidden">
  <div class="app-dropdown-items">
    <ng-content></ng-content>
  </div>
</div>
