<clr-modal [clrModalStaticBackdrop]="false" clrModalSize="lg">
  <h2 class="modal-title"><b>Создать новую заявку</b></h2>
  <div class="modal-body">
    <div class="app-row app-align-items-center">
      <div class="app-col">
        <uxg-tabs>
          <uxg-tab-title #template [active]="true">Загрузить из шаблона</uxg-tab-title>
          <uxg-tab-title #freeForm>Произвольная заявка</uxg-tab-title>
        </uxg-tabs>
      </div>
      <a [routerLink]="'/requests/customer/create'">
        <b><span>Заполнить вручную</span><clr-icon shape="arrow right"></clr-icon></b>
      </a>
    </div>

    <ng-container *uxgTab="template">
      <app-add-from-excel (submit)="uploadFromTemplate.emit($event); close()"
                          (publish)="publishFromTemplate.emit($event); close()"
                          (cancel)="cancel.emit()"
                          [templateUrl]="'assets/RequestTemplate.xlsx'"
                          [newRequest]="true"
                          [buttonLabel]="'Сохранить черновик'">
      </app-add-from-excel>
    </ng-container>
    <ng-container *uxgTab="freeForm">
      <app-request-form-free
        (cancel)="cancel.emit()"></app-request-form-free>
    </ng-container>

  </div>
</clr-modal>
