<uxg-modal size="l">
  <h2>Создать новую заявку</h2>
  <div class="app-row app-align-items-center">
    <div class="app-col">
      <uxg-tabs>
        <uxg-tab-title #template [active]="true">Загрузить из шаблона</uxg-tab-title>
        <uxg-tab-title #freeForm>Произвольная заявка</uxg-tab-title>
      </uxg-tabs>
    </div>
    <a [routerLink]="'/requests/customer/create'">
      <span>Заполнить вручную</span><uxg-icon shape="app-arrow right"></uxg-icon>
    </a>
  </div>
  <ng-container *ngIf="modal?.state">
    <ng-container *uxgTab="template">
      <app-add-from-excel (submit)="uploadFromTemplate.emit($event); close()"
                          (publish)="publishFromTemplate.emit($event); close()"
                          (cancel)="cancel.emit()"
                          [templateUrl]="'assets/RequestTemplate.xlsx'"
                          [newRequest]="true"
                          [buttonLabel]="'Сохранить черновик'">
      </app-add-from-excel>
    </ng-container>
    <ng-container *uxgTab="freeForm">
      <app-request-form-free
        (cancel)="cancel.emit()"></app-request-form-free>
    </ng-container>
  </ng-container>
</uxg-modal>
