<div class="app-row app-align-items-center app-section app-layout">
  <ng-content></ng-content>
</div>

<div #gridRow class="grid-row app-row items-row app-layout">
  <ng-container *ngTemplateOutlet="positionTpl"></ng-container>
  <ng-container *ngIf="!simpleView">
    <ng-container *ngFor="let supplier of suppliers; trackBy: trackByProposalPositionId">
      <app-grid-cell
        [selectedProposal]="isReviewed ? null : selectedProposal"
        [position]="position"
        [editable]="editable && !supplier.hasAnalogs"
        [proposal]="getProposal(supplier)"
        (show)="show.emit($event)"
        (edit)="edit.emit($event)"
        (create)="create.emit(supplier)"
      ></app-grid-cell>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="simpleView">
    <app-grid-cell *ngIf="editable" [editable]="editable" (create)="create.emit(null)"></app-grid-cell>

    <ng-container *ngFor="let proposal of proposals; trackBy: trackBySupplierId">
      <app-grid-cell
        [selectedProposal]="isReviewed ? null : selectedProposal"
        [position]="position"
        [editable]="editable"
        [proposal]="proposal"
        [supplier]="getSupplier(proposal)"
        (show)="show.emit($event)"
        (edit)="edit.emit($event)"
        (create)="create.emit(null)"
      ></app-grid-cell>
    </ng-container>
  </ng-container>
</div>
