<ul class="list-unstyled">
  <li class="document" [class.awaiting]="document.id === null" *ngFor="let document of getDocuments()">
    <button *ngIf="enableDelete"
            (click)="onDeleteDocument(document)"
            type="button"
            class="btn btn-link btn-delete"
            title="Удалить">
      {{ deleteLabel }}
    </button>

    <document-icon [name]="document.filename" [size]="documentIconSize.medium"></document-icon>
    <div (click)="onDownloadDocument(document)" title="{{ document.filename }}">
      <div class="title">{{ document.filename }}</div>
      <div class="description">
        <span *ngIf="document.size > 0">{{document.size | bytesToSize : 2}}</span>
        <span *ngIf="document.created">
          <ng-container *ngIf="document.id === null">будет скорректирован до</ng-container>
          {{document.created  | date :' d MMMM y '}}
        </span>
      </div>

    </div>
  </li>

  <ng-container *ngIf="limit > 0 && limit < documents.length">
    <div class="more" (click)="showAll = !showAll">
      <clr-icon shape="angle" [dir]="showAll ? 'up' : 'down'"></clr-icon>
      <span *ngIf="!showAll"> Еще {{ documents.length - limit | pluralize: "документ" : "документа" : "документов"}}</span>
      <span *ngIf="showAll"> Скрыть</span>

    </div>
  </ng-container>

  <div class="form-group" *ngIf="enableUpload">
    <label for="{{ uploadInputId }}" class="file-upload-label"><a>{{ uploadLabel }}</a></label>
    <input #uploadEl
           type="file"
           id="{{ uploadInputId }}"
           class="file-upload"
           multiple
           (change)="onChangeDocuments($event.target.files)">
  </div>
</ul>
