.gridable {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .document {
    max-width: 33%;
    flex-grow: 1;
  }
}

.file-upload {
  display: none;
}

.document {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;

  &.awaiting {
    opacity: .5;
  }

  &:not(.awaiting) > div {
    overflow: hidden;
  }

  &:not(.awaiting) > div,
  &:not(.awaiting) > document-icon {
    cursor: pointer;
  }

  & > div {
    margin: 8px;
    line-height: 1.4em;
    flex-grow: 1;

    .title {
      font-size: 1.2em;
    }

    .description {
      color: #999;

      span:first-child {
        margin-right: 5px;
      }
    }

  }
}

.more {
  color: #666;
  font-size: 1.2em;
  margin: 10px 0;
  cursor: pointer;
}

.btn-delete {
  display: none;
  margin: 0;
  flex-shrink: 0;
  animation: show-btn 300ms;
}

li:hover .btn-delete{
  display: block;
}

@keyframes show-btn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
