<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="app-card">

    <!-- page title -->
    <div class="app-row">
      <div class="app-col">
        <h3 *ngIf="!isEditing">Новое техническое предложение</h3>
        <h3 *ngIf="isEditing">Редактирование технического предложения</h3>
      </div>
      <!-- Пока не реализовано на бэка -->
<!--      <div class="app-col clr-flex-grow-0" *ngIf="isEditing">-->
<!--        <button type="button" uxgButton icon link (click)="visibleChange.emit(false)">-->
<!--          <clr-icon shape="app-trash"></clr-icon>-->
<!--        </button>-->
<!--      </div>-->
      <div class="app-col clr-flex-grow-0">
        <button type="button" uxgButton icon link (click)="visibleChange.emit(false)">
          <clr-icon shape="app-cross"></clr-icon>
        </button>
      </div>
    </div>

    <!-- contragent -->
    <div class="app-row clr-align-items-center">
      <div class="app-col">
        <div class="app-control-wrap">
          <uxg-dropdown-input
            formControlName="contragent" placeholder="Наименование контрагента" appSuggestions #sug="appSuggestions"
            [$]="contragents$" [lg]="true" [strictMode]="true" [displayByFn]="getContragentName" [searchFn]="searchContragent"
          >
            <ng-container *ngIf="(sug.suggestions$ | async) as contragents">
              <div uxgDropdownItem *ngFor="let contragent of contragents" [value]="contragent">
                {{contragent.shortName || contragent.fullName}}
                <span class="app-ghost-color">{{contragent.inn | splitNumber}}</span>
              </div>
            </ng-container>
            <ng-template #errors>
              <div class="app-control-error" *ngIf="form.get('contragent').errors as e">
                <span *ngIf="e.required">Обязательное поле</span>
                <span *ngIf="e.notFromList">Выберите контрагента из списка</span>
              </div>
            </ng-template>
          </uxg-dropdown-input>
        </div>
      </div>
      <div class="app-col app-secondary-color">
        Начните вводить наименование контрагента или его ИНН и система предложит вам варианты
      </div>
    </div>

    <hr/>

    <!-- documents -->
    <proposal-form-documents
      [documents]="defaultTPValue('documents')"
      [files]="formDocuments.value"
      [disabled]="form.get('documents').disabled"
      (select)="filesSelected($event)"
      (remove)="formDocuments.removeAt($event)"
    ></proposal-form-documents>


    <hr/>
    <br>
    <div class="app-row">
      <div class="app-col">
        <button type="button" uxgButton secondary
                (click)="uploadTemplateModal.open()"
                [disabled]="!form.get('contragent').value">Загрузить из шаблона
        </button>
      </div>
      <div class="app-col app-secondary-color">
        Чтобы загрузить позиции и заводские наименования из шаблона нужно выбрать поставщика выше
      </div>
    </div>
    <br>
    <div class="app-secondary-color">
      Вы можете либо приложить необходимые документы, либо заполнить все заводские наименования, либо приложить
      документы и заполнить все заводские наименования.
    </div>
    <br/>
    <br/>

    <!-- positions -->
    <div class="app-row">
      <div class="app-col">
        <small class="app-ghost-color app-bold">НАИМЕНОВАНИЕ ПОЗИЦИИ</small>
        <div>
          <button
            type="button" uxgButton secondary (click)="positionsModal.open()"
            [disabled]="form.get('positions').disabled">Выбрать позиции
          </button>
        </div>
      </div>
      <div class="app-col">
        <small class="app-ghost-color app-bold">ЗАВОДСКОЕ НАИМЕНОВАНИЕ</small>
        <div>
          <button
            type="button" uxgButton secondary (click)="manufacturerModal.open()"
            [disabled]="form.get('positions').disabled || form.get('positions').value?.length <= 0">Заполнить
            наименования
          </button>
        </div>
      </div>
    </div>
    <div class="positions">
      <div class="app-row" *ngFor="let positionWithName of form.get('positions').value">
        <div class="app-col">
          {{positionWithName.position.name}}
        </div>
        <div class="app-col">
          <ng-container *ngIf="positionWithName.manufacturingName as name; else manufactureError">
            <span class="app-secondary-color">{{ name }}</span>
          </ng-container>
          <ng-template #manufactureError>
            <ng-container *ngIf="!isManufacturerPristine && form.get('positions').hasError('manufacturer_name_error')">
              <span class="app-error-color app-bold">Необходимо заполнить!</span>
            </ng-container>
          </ng-template>
        </div>
      </div>
    </div>

    <hr/>

    <!-- footer -->
    <div class="app-row clr-align-items-center">
      <div class="app-col app-secondary-color">
        Черновики технических предложений видны только сотрудникам бэкофиса, но не заказчику
      </div>
      <div class="app-row app-col clr-flex-grow-0 app-basis-auto clr-align-items-center">
        <span *ngIf="isLoading" class="spinner spinner-inline">Загрузка...</span>
        <button
          type="button" uxgButton secondary (click)="submit(false)"
          [disabled]="form.disabled || form.invalid">Сохранить {{isEditing ? 'изменения' : 'черновик'}}
        </button>
        <button uxgButton primary [disabled]="form.disabled || form.invalid">Отправить на согласование</button>
      </div>
    </div>

    <!-- modals -->
    <clr-modal #positionsModal [clrModalSize]="'lg'">
      <h2 class="modal-title">Выбор позиций для технического предложения</h2>
      <div class="modal-body">
        <div class="app-secondary-color">
          Выберите все необходимые позиции или группы позиций в заявке <b>№{{request.number}}</b>, по которым вы хотите
          создать техническое предложение от одного контрагента.
        </div>
        <br/>
        <br/>
        <ng-container *ngIf="(positionsWithManufacturer$ | async) as positionsWithManufacturer">
          <select-items-with-search
            #positionsSearch
            placeholder="Наименование позиции или группы"
            formControlName="positions"
            class="select-list select-list-positions"
            [liveUpdate]="false"
            [items]="positionsWithManufacturer"
            (ngModelChange)="positionsModal.close()"
            [filterFn]="positionsWithManufacturerFilter"
            [disabledFn]="positionSelectDisabled"
            [trackBy]="trackByPositionId"
          >
            <ng-template let-formGroup="formGroup" let-positionWithMan="item">
              <div class="app-row" [formGroup]="formGroup" *ngIf="positionWithMan.position as position">
                <div class="app-col clr-flex-grow-0">
                  <uxg-checkbox formControlName="checked"></uxg-checkbox>
                </div>
                <div class="app-col app-bold select-list-item-title">{{ position.name }}</div>
                <div class="app-col select-list-item-quantity">
                  <span>{{ position.quantity }} </span>
                  <span class="app-ghost-color">{{ position.measureUnit | lowercase }}</span>
                </div>
                <div class="app-col select-list-item-date">
                  <ng-container *ngIf="position.isDeliveryDateAsap; else deliveryDate">Как можно скорее</ng-container>
                  <ng-template #deliveryDate>{{ position.deliveryDate | date : 'dd.MM.yyyy' }}</ng-template>
                </div>
              </div>
            </ng-template>
          </select-items-with-search>
          <br/>
          <div class="app-row clr-justify-content-end">
            <button type="button" uxgButton lg secondary (click)="positionsModal.close()">Отмена</button>
            <button uxgButton lg primary (click)="positionsSearch.submit()"
                    [disabled]="!positionsSearch.checkedFormItems.length">Всё готово</button>
          </div>
        </ng-container>
      </div>
    </clr-modal>

    <clr-modal #manufacturerModal [clrModalSize]="'lg'">
      <h2 class="modal-title">Заполнение заводских наименований</h2>
      <div class="modal-body">
        <app-request-proposal-form-manufacturer
          *ngIf="manufacturerModal._open"
          (cancel)="manufacturerModal.close()"
          (ngModelChange)="manufacturerModal.close()"
          [disabledFn]="positionManufacturerNameDisabled"
          formControlName="positions"
        ></app-request-proposal-form-manufacturer>
      </div>
    </clr-modal>

    <clr-modal #uploadTemplateModal [clrModalSize]="'lg'">
      <h2 class="modal-title"><b>Загрузить позиции и заводские наименования из шаблона</b></h2>
      <div class="modal-body">
        <div class="app-secondary-color">
          Вы можете загрузить позиции и заводские наименования списком, если заполните шаблон xls таблицы (<a (click)="onDownloadTemplate()"><b>скачать
          шаблон</b></a>), и загрузите файл в систему.
        </div>
        <div class="dragAndDropArea">
          <app-template-upload (fileSelected)="onChangeFilesList($event)"></app-template-upload>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" uxgButton secondary lg (click)="uploadTemplateModal.close()">Отмена</button>
        <button uxgButton primary lg (click)="onSendTemplatePositions(); uploadTemplateModal.close()">Загрузить</button>
      </div>
    </clr-modal>

  </div>
</form>
