<clr-modal [(clrModalOpen)]="opened">
  <h3 class="modal-title">Добавление позиции в прайс-лист</h3>
  <div class="modal-body">
    <form class="form">
      <div class="form-block">
        <div class="clr-form-control">
          <label class="clr-control-label">Наименование позиции</label>
          <input type="text" id="namePosition" name="namePosition" [value]="dictionaryItem?.title">
          <label class="clr-control-label">Ставка НДС</label>
          <div class="clr-control-container clr-control-inline">
            <input type="radio" id="nds20" name="nds" value="20" class="clr-radio" [(ngModel)]="nds">
            <label for="nds20" class="radio-label">20%</label>
            <input type="radio" id="nds10" name="nds" [value]="10" class="clr-radio" [(ngModel)]="nds">
            <label for="nds10" class="radio-label">10%</label>
          </div>
          <label class="clr-control-label">Цена с НДС за ед.</label>
          <div class="inline-block">
            <input type="number" id="price" name="price" min="0.1" step="0.01" class="hidden-arrows text-right price"
                   [(ngModel)]="pricePosition" [class.invalid]="!pricePosition"><span>₽</span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onCloseClick()">Отмена</button>
    <button type="button" class="btn btn-primary"
            (click)="onActionClick(dictionaryItem, nds, pricePosition)"
            [disabled]="!pricePosition"
            >Добавить</button>
  </div>
</clr-modal>

