label.clr-control-label {
  padding-top: 20px;
  font-size: 12px;
  color: #999999;
  font-weight: 300;
  padding-bottom: 5px;
}

.clr-form-control {
  margin: 0;
}

form {
  padding: 0;
}

.radio-label {
  padding: 0 40px 0 5px;
}

.hidden-arrows.text-right.price {
  width: 110px;
  margin-right: 5px;
}

.inline-block {
  display: inline-flex;
}

span.form {
  padding-left: 5px;
}

.modal-footer {
  padding: 0;
}

.modal-title {
  padding: 0;
}

.modal-title {
  font-size: 20px;
  font-weight: 400;
  padding: 0;
}
