<ng-template #loading class="load-block">
  <span class="spinner spinner-md"></span>
</ng-template>

<ng-container *ngIf="(contragent$ | async) as contragent; else loading">
  <div class="app-row action">
    <button uxgButton secondary iconText *ngIf="user.isSeniorBackoffice()" disabled>
      <clr-icon shape="app-pen"></clr-icon>
      Редактировать контрагента
    </button>
    <button uxgButton primary
            [clrLoading]="getLoaderState()"
            (click)="onDownloadPrimaInformReport()">
      Отчет Прима-информ
    </button>
  </div>
  <div class="app-row content">
    <div class="app-col">
      <uxg-tabs class="app-tabs-border">
        <uxg-tab-title #contragentInfoTab [active]="true">Информация о контрагенте</uxg-tab-title>
        <uxg-tab-title #employeesTab [hidden]="user.isCustomer()">Сотрудники</uxg-tab-title>
      </uxg-tabs>
      <br/>
      <ng-container *uxgTab="contragentInfoTab">
        <app-contragent-info [contragent]="contragent"
                            [modalView]="false">
        </app-contragent-info>
      </ng-container>
      <ng-container *uxgTab="employeesTab">
        <div class="app-row action" *ngIf="user.isSeniorBackoffice()">
          <button uxgButton secondary (click)="createEmployeeModal.open()">
            <clr-icon shape="app-plus"></clr-icon>
            Новый сотрудник
          </button>
        </div>
        <ng-template #loading class="load-block">
          <span class="spinner spinner-md"></span>
        </ng-template>

        <div class="app-row app-align-items-center" *ngIf="(employeesList$ |async) as employeesList; else loading">
          <div class="app-col">
            <div class="app-card">
              <div class="app-row employee-row" *ngFor="let employee of employeesList">
                <div class="app-col">
                  {{employee.lastName}} {{employee.firstName}} {{employee.middleName}}
                </div>
                <div class="app-col">
                  {{employee.username}}
                </div>
                <div class="app-col">
                  {{employee.phone}}
                </div>
                <div class="app-col edit" [style.max-width.px]="60">
                  <button uxgButton secondary icon *ngIf="user.isSeniorBackoffice()" (click)="editedEmployee = employee; createEmployeeModal.open()">
                    <clr-icon shape="app-pen"></clr-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="app-col app-col-aside">
      <ng-container *ngIf="(contragent$ | async) as contragent">
        <h3>Контакты и ответственный</h3>
        <div class="app-section">
          <div class="app-ghost-color">Email контрагента</div>
          <div>{{contragent.email}}</div>
        </div>
        <div class="app-section">
          <div class="app-ghost-color">Телефон контрагента</div>
          <div>{{contragent.phone}}</div>
        </div>
        <div class="app-section">
          <div class="app-ghost-color">Ответственный менеджер БО</div>
          <div>{{contragent.responsible}}</div>
        </div>
      </ng-container>
    </div>
  </div>
  <clr-modal #createEmployeeModal [clrModalSize]="'lg'">
    <h2 class="modal-title" *ngIf="!editedEmployee; else editEmployee">Добавить нового сотрудника {{contragent.shortName}}</h2>
    <ng-template #editEmployee>
      <h2 class="modal-title">Редактировать сотрудника {{contragent.shortName}}</h2>
    </ng-template>
    <div class="modal-body">
      <app-employee-form
        *ngIf="createEmployeeModal._open"
        (cancel)="createEmployeeModal.close()"
        (addEmployee)="addEmployee($event); createEmployeeModal.close()"
        (editEmployee)="updateEmployeeListItem($event); createEmployeeModal.close()"
        [employee]="editedEmployee"></app-employee-form>
    </div>
  </clr-modal>
</ng-container>


