.action-bar {
  justify-content: flex-end;
  margin-top: -60px;
}

.content {
  margin-top: 30px;
}

h3 {
  margin-bottom: 15px;
}

.action {
  justify-content: flex-end;
}

.edit {
  text-align: right;
}

.employee-row {
  padding: 17px 20px;

  .app-col {
    align-self: center;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #b2d0ff;
  }
}

.app-card {
  padding: 0;
  margin-top: 30px;
}

