<div class="clr-row linked-items">
  <div class="clr-col-9">
  </div>
  <div class="clr-col-3 clr-justify-content-center">
    <span class="price-input-label">Цена с НДС за ед.</span>
  </div>
</div>
<div class="clr-row linked-items" *ngFor="let linkedItem of linkedItems">
  <div class="clr-col-9 clr-align-self-center">
    <div *ngIf="!linkedItem">
      <span class="spinner spinner-sm"></span>
    </div>
    <clr-icon class="key-item" *ngIf="linkedItem.isMainItem" shape="key">
    </clr-icon>
    {{ linkedItem.title }}
      <span *ngIf="linkedItem.analogue" class="label label-orange">
        аналог
      </span>
    </div>
  <div class="clr-col-3 price-input clr-align-self-center clr-justify-content-center">
    <input class="price-input-field hidden-arrows text-right" type="number" [value]="linkedItem.price"
           (change)="onChangePrice(linkedItem, $event.target.value)" *ngIf="canEditPurchase; else showUneditablePrice">
    <ng-template #showUneditablePrice>
        {{linkedItem.price}}
    </ng-template>
    <span>₽</span>
    <button class="btn btn-link delete-button" (click)="onDeleteLinkedItem(linkedItem, $event)" *ngIf="canEditPurchase">
      <clr-icon shape="times" size="20"></clr-icon>
    </button>
  </div>
</div>
