<div class="clr-row">
  <div class="clr-col-6 search">
    <input clrinput
           placeholder="Введите строку для поиска"
           name="searchStr"
           type="text"
           (keyup.enter)="onSearch()"
           [(ngModel)]="searchStr"/>
  </div>
  <div class="clr-col-1">
    <input clrinput
           class="btn btn-link"
           type="submit"
           (click)="onSearch()"
           value="Поиск"/>
  </div>
  <div class="clr-col-3">
  </div>
  <div class="clr-col-2 align-right">
    <clr-dropdown>
      <button type="button" class="btn btn-primary" clrDropdownTrigger>
        Добавить позицию
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
        <button type="button" clrDropdownItem (click)="onAddItemToPriceListClick()">Добавить</button>
        <button type="button" clrDropdownItem>Импорт списка позиций</button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</div>

<!--Модальное окно добавления новой позиции в прайс-лист-->
<app-add-item-modal [(opened)]="addItemToPriceListModalOpen"
                    (submitAction)="onAddItemToPriceList($event)">
</app-add-item-modal>
<div class="clr-row">
  <div class="clr-col-10 nopadding">
    <div class="btn-group">
      <button type="button" class="btn  btn-secondary action" [ngClass]="{ 'disabled' : selected.length == 0 }">Связать</button>
      <button type="button" class="btn btn-secondary action" [ngClass]="{ 'disabled' : selected.length  != 1 }">Изменить</button>
      <button type="button" class="btn btn-secondary action" [ngClass]="{ 'disabled' : selected.length == 0 }">Удалить</button>
    </div>
    <clr-dropdown>
      <button type="button" class="btn btn-secondary" clrDropdownTrigger>
      Экспорт
      <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
        <button type="button" clrDropdownItem>Прайс-листа</button>
        <button type="button" clrDropdownItem [ngClass]="{ 'disabled' : selected.length == 0 }">Выбранных позиций</button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
  <div class="clr-col-2 align-right clr-align-self-end">
    <span>Всего позиций: {{total}}</span>
  </div>
</div>
<div class="clr-row">
  <div class="card-block">
    <clr-datagrid (clrDgRefresh)="refresh($event)"
                  [clrDgLoading]="loading"
                  [(clrDgSelected)]="selected"
    >
      <clr-dg-column class="clr-col-6">Наименование позиции</clr-dg-column>
      <clr-dg-column class="clr-col-auto"><ng-container *clrDgHideableColumn="{hidden: false}">Единицы измерения</ng-container></clr-dg-column>
      <clr-dg-column class="clr-col-auto">Цена с НДС</clr-dg-column>
      <clr-dg-column class="clr-col-auto"><ng-container *clrDgHideableColumn="{hidden: false}">НДС</ng-container></clr-dg-column>
      <clr-dg-column class="clr-col-auto"><ng-container *clrDgHideableColumn="{hidden: false}">Цена без НДС</ng-container></clr-dg-column>
      <clr-dg-column class="clr-col-auto"><ng-container *clrDgHideableColumn="{hidden: false}">Дата обновления</ng-container></clr-dg-column>

      <clr-dg-row   *ngFor="let item of this.priceListItems"
                    [clrDgItem]="item"
      >
        <clr-dg-cell class="clr-col-6"><clr-icon shape="link" [ngClass]="{'link-disable' : !item.linksExist }"></clr-icon> <span [innerHtml]="item.itemName"></span>
        </clr-dg-cell>
        <clr-dg-cell class="clr-col-auto"></clr-dg-cell>
        <clr-dg-cell class="clr-col-auto">
          <b>{{ item.priceWithVat | currency:'RUB' }}</b>
        </clr-dg-cell>
        <clr-dg-cell class="clr-col-auto"></clr-dg-cell>
        <clr-dg-cell class="clr-col-auto"></clr-dg-cell>
        <clr-dg-cell class="clr-col-auto">{{ item.lastUpdatedDate | date:'shortDate' }}</clr-dg-cell>
      </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-column-toggle>
            <clr-dg-column-toggle-title></clr-dg-column-toggle-title>
            <clr-dg-column-toggle-button clrType="selectAll">Выбрать все</clr-dg-column-toggle-button>
            <clr-dg-column-toggle-button clrType="ok"><clr-icon shape="check"></clr-icon></clr-dg-column-toggle-button>
          </clr-dg-column-toggle>
          <clr-dg-pagination #pagination [clrDgTotalItems]="total" [clrDgPageSize]="pageSize"></clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

