@import "../../../../../../../theme";

.disabled {
  opacity: 0.5;
}

.app-table {
  &.tp-card {
    margin-bottom: 24px;
  }
}

.tp-header {
  display: flex;
  align-items: center;
}

.status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon-status {
  max-width: 18px;
}

.section {
  padding-top: 5px;
}

.position-list {
  padding-bottom: 15px;

  & > .app-col:not(:last-child) {
    padding-right: 15px;
  }
}

.extendable-block hr {
  border: none;
  border-top: 1px uxg($theme, color-border) dotted;
  margin: 14px 0;
}

.checkbox-space {
  width: 32px;
}

.tp-comment {
  padding: 15px 0;
}

.comment-datetime {
  font-size: 11px;

  & .date {
    padding-right: 5px;
  }

  & .date, & .time {
    display: inline-block;
  }
}

label[for='comment'] {
  font-size: 11px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 3px;
  display: block;
}

textarea#comment {
  height: initial;
}
