.d-flex {
  display: flex;
}

.btn {
  margin-top: 0;
}

.btn-categories {
  width: 130px;
}

.btn-search {
  margin-right: 0;
}

.search-icon {
  position: absolute;
  top: 9px;
  left: 10px;
  z-index: 1;
  color: #777;
}

.search-input {
  padding-left: 35px;
}
