<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="app-card">

    <!-- page title -->
    <div class="app-row">
      <div class="app-col">
        <h3>Новое техническое предложение</h3>
      </div>
      <div class="app-col clr-flex-grow-0">
        <button type="button" uxgButton icon (click)="visibleChange.emit(false)">
          <clr-icon shape="app-trash"></clr-icon>
        </button>
      </div>
    </div>

    <!-- contragent -->
    <div class="app-row clr-align-items-center">
      <div class="app-col">
        <div class="app-control-wrap">
          <!-- @TODO uxg-autocomplete! -->
          <input #contragentName uxgInput lg (input)="autocomplete.onInput.next($event.target.value)"
                 formControlName="contragentName"/>
          <label class="app-control-label" (click)="contragentName.focus()">Наименование контрагента</label>
          <app-contragent-autocomplete #autocomplete formControlName="contragent"></app-contragent-autocomplete>
        </div>
      </div>
      <div class="app-col app-secondary-color">
        Начните вводить наименование контрагента или его ИНН и система предложит вам варианты
      </div>
    </div>

    <hr/>

    <!-- upload documents -->
    <small class="app-ghost-color app-bold">ДОКУМЕНТЫ ПРЕДЛОЖЕНИЯ</small>
    <div class="app-row">
      <div class="app-col app-bold">
        <div class="upload-area" hoverClass="upload-area-hover" (appOnDropFile)="filesDropped($event)">
          <div>Перетащите документы сюда</div>
        </div>
      </div>

      <div class="app-col app-row clr-justify-content-between clr-flex-column">
        <div class="app-secondary-color">
          Вы можете перетащить документы в окно слева, или нажать на кнопку ниже, и выбрать необходимые документы в
          проводнике
        </div>
        <div>
          <button
            type="button" uxgButton secondary (click)="inputFile.click()"
            [disabled]="form.get('documents').disabled">Выбрать документы
          </button>
          <input #inputFile type="file" multiple (change)="filesSelected($event)"/>
        </div>
      </div>
    </div>

    <br/>

    <!-- document list -->
    <ng-container *ngIf="formDocuments.controls.length">
      <small class="app-ghost-color app-bold">ЗАГРУЖЕННЫЕ ДОКУМЕНТЫ</small>
      <div class="documents">
        <div class="app-row">
          <div class="app-col" *ngFor="let document of formDocuments.controls; index as i">
            <document-icon [name]="document.value.name"></document-icon>
            <div class="documents-title">
              <div>{{ document.value.name }}</div>
              <div *ngIf="document.value.size > 0" class="app-secondary-color">
                {{document.value.size | bytesToSize : 2}}
              </div>
            </div>
            <div class="clr-align-self-start" *ngIf="!form.get('documents').disabled">
              <button type="button" uxgButton link icon clear (click)="formDocuments.removeAt(i)">
                <clr-icon shape="app-trash"></clr-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <hr/>

    <div class="app-secondary-color">
      Вы можете либо приложить необходимые документы, либо заполнить все заводсике наименования, либо приложить
      документы и заполнить все заводские наименования.
    </div>

    <br/>
    <br/>

    <!-- positions -->
    <div class="app-row">
      <div class="app-col">
        <small class="app-ghost-color app-bold">НАИМЕНОВАНИЕ ПОЗИЦИИ</small>
        <div>
          <button
            type="button" uxgButton secondary (click)="positionsModal.open()"
            [disabled]="form.get('positions').disabled">Выбрать позиции
          </button>
        </div>
      </div>
      <div class="app-col">
        <small class="app-ghost-color app-bold">ЗАВОДСКОЕ НАИМЕНОВАНИЕ</small>
        <div>
          <button
            type="button" uxgButton secondary (click)="manufacturerModal.open()"
            [disabled]="form.get('positions').disabled || form.get('positions').value?.length <= 0">Заполнить
            наименования
          </button>
        </div>
      </div>
    </div>
    <div class="positions">
      <div class="app-row" *ngFor="let positionWithName of form.get('positions').value">
        <div class="app-col">
          {{positionWithName.position.name}}
        </div>
        <div class="app-col">
          <ng-container *ngIf="positionWithName.manufacturer_name as name; else manufactureError">
            <span class="app-secondary-color">{{ name }}</span>
          </ng-container>
          <ng-template #manufactureError>
            <ng-container *ngIf="!isManufacturerPristine && form.get('positions').hasError('manufacturer_name_error')">
              <span class="app-error-color app-bold">Необходимо заполнить!</span>
            </ng-container>
          </ng-template>
        </div>
      </div>
    </div>

    <hr/>

    <!-- footer -->
    <div class="app-row clr-align-items-center">
      <div class="app-col app-secondary-color">
        Черновики технических предложений видны только сотрудникам бэкофиса, но не заказчику
      </div>
      <div class="app-row app-col clr-flex-grow-0 app-basis-auto clr-align-items-center">
        <span *ngIf="isLoading" class="spinner spinner-inline">Загрузка...</span>
        <button
          type="button" uxgButton secondary (click)="submit(true)"
          [disabled]="form.disabled || form.invalid">Сохранить черновик
        </button>
        <button uxgButton primary [disabled]="form.disabled || form.invalid" >Отправить на согласование</button>
      </div>
    </div>

    <!-- modals -->
    <clr-modal #positionsModal [clrModalSize]="'lg'">
      <h2 class="modal-title">Выбор позиций для технического предложения</h2>
      <div class="modal-body">
        <app-request-technical-proposals-create-positions
          [request]="request"
          (cancel)="positionsModal.close()"
          (ngModelChange)="positionsModal.close()"
          formControlName="positions"
        ></app-request-technical-proposals-create-positions>
      </div>
    </clr-modal>

    <clr-modal #manufacturerModal [clrModalSize]="'lg'">
      <h2 class="modal-title">Заполнение заводских наименований</h2>
      <div class="modal-body">
        <app-request-technical-proposals-create-manufacturer
          (cancel)="manufacturerModal.close()"
          (ngModelChange)="manufacturerModal.close()"
          formControlName="positions"
        ></app-request-technical-proposals-create-manufacturer>
      </div>
    </clr-modal>

  </div>
</form>
