<div class="from-excel-request-content">
  <form class="clr-form-control view">
    <div class="card">
      <div class="card-block">
        <div class="card-text">

          <ng-container *ngIf="showRequestName">
            <label for="request-name">
              Введите наименование заявки <b class="required-star">*</b>:
            </label>

            <input [(ngModel)]="requestName"
                   [ngModelOptions]="{ standalone: true }"
                   type="text"
                   class="request-name-input"
                   [class.required]="!requestName.length"
                   id="request-name"
                   value="{{ requestName }}"
                   (input)="onRequestNameChange($event.target.value)"
                   placeholder="Наименование заявки.."/>
          </ng-container>

          <span class="app-secondary-color">
            Вы можете загрузить новые позиции списком, если заполните шаблон xls таблицы (<a [href]="templateUrl"><b>скачать шаблон</b></a>)
            и загрузить файл в систему.
          </span>

          <app-template-upload (fileSelected)="onChangeFilesList($event)"></app-template-upload>
        </div>
      </div>
    </div>
  </form>

  <div class="submit">
    <button class="btn btn-primary"
            type="button"
            (click)="onSendClick()"
            [disabled]="files.length === 0 || (showRequestName && requestName.trim().length === 0)">
      <span *ngIf="showRequestName; else addPositions">Отправить</span>
      <ng-template #addPositions>Добавить</ng-template>

    </button>
  </div>
</div>
