$layout_max_width: 1600px;

$font_roboto: Roboto, sans-serif;
$font_size_basic: 14px;

$color_black: #2B2B2B;
$color_blue: #0085FF;
$color_orange: #FF9E00;
$color_green: #417505;
$color_red: #FF2519;
$color_gray: #999999;
$color_light_gray: #D4D9E2;

@import "assets/styles/color-and-typography.scss";
@import "assets/styles/checkboxes.scss";
@import "assets/styles/buttons-radio.scss";
@import "assets/styles/inputs.scss";
@import "assets/styles/tooltips.scss";
@import "assets/styles/alerts.scss";
