@import "projects/uxg/src/styles/index";

.linked-offer {
  min-width: 280px;
  max-width: 280px;
  height: 130px;
  margin: 0 20px 20px 0;
  border-radius: 4px;
  border: 1px solid #E3EEFF;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    background-color: uxg($theme, color-bg);
  }
}

.add-offer {
  display: flex;
  justify-content: center;
  color: uxg($theme, color-font-link);
}

.action-bar {
  padding-left: 0;
}

.position-card {
  background-color: #F4F6FB;
  margin: 0 -160px 10px -160px;
  padding: 10px 160px 20px 160px;
  .app-col {
    padding: 10px 0;

    &:first-child {
      padding-left: 0;
      padding-right: 6px;
    }

    &:last-child {
      padding-right: 0;
    }

    .procedure-name {
      font-size: uxg($theme, font-size-l);
    }

    .position-title {
      font-weight: 500;
    }

    .divide {
      padding: 0 10px;
    }

    &.linked-offer {
      padding: 16px;

      .app-col {
        padding: 0;

        .winner {
          margin-right: -16px;
        }
      }

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin: 0;

        &.delivery-date {
          padding-bottom: 10px;
        }
      }

      span.supplier {
        font-weight: 200;
      }

      .icon-status {
        text-align: right;
      }
    }

    &.status {
      font-weight: 800;
      text-align: right;

      clr-icon {
        margin-right: 5px;
      }
    }
  }
}

.actions {
  text-align: right;
  padding-right: 0;
}

.fixedHeight {
  max-height: 130px;
  overflow: hidden;
}

.fixedWidth {
  min-width: 135px;
}

.offer-status {
  padding-right: 20px;
}

.status {
  justify-content: flex-end;
  min-width: 550px;
}


