<ng-template #loading class="load-block">
  <span class="spinner spinner-md"></span>
</ng-template>

<ng-container *ngIf="(request$ | async) as request; else loading">
  <ng-container *ngIf="(contracts$ | async) as contracts; else loading">
    <ng-container *ngIf="userInfoService.isBackOffice()">
      <ng-container *ngIf="(contragentsWithPositions$ | async) as contragentsWithPositions;">
        <div class="app-row app-justify-content-end app-section">
          <button uxgButton outline (click)="showModal = true"
                  [title]="isAvailableToCreate(contragentsWithPositions) ? '' : 'Нет доступных позиций для создания договора'"
                  [disabled]="!isAvailableToCreate(contragentsWithPositions)">
            <clr-icon shape="app-plus" class="is-solid"></clr-icon>
            <span>Добавить договор</span>
          </button>
        </div>

        <app-request-contract-create
          *ngIf="showModal"
          [request]="request"
          [contragentsWithPositions]="contragentsWithPositions"
          (close)="showModal = false"
          (create)="addContract($event)"
        ></app-request-contract-create>
      </ng-container>
    </ng-container>

    <div class="card" *ngFor="let contract of contracts">
      <div class="card-header">
        <div class="app-row">
          <div class="app-col">
            <app-contragent-info-link *ngIf="contract.supplier; else hiddenSupplierName"
                    [contragent]="contract.supplier">
            </app-contragent-info-link>

            <ng-template #hiddenSupplierName>
              <span>Имя поставщика скрыто</span>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="app-row">
          <div class="app-col">

            <div class="app-row clr-head">
              <div class="clr-col-4 clr-col-xl-6">Позиция</div>
              <div class="clr-col-2">Количество</div>
              <div class="clr-col-3 clr-col-xl-2">Цена за ед.</div>
              <div class="clr-col-3 clr-col-xl-2">Сумма</div>
            </div>
            <ng-container *ngFor="let currency of getCurrencies(contract);">
            <div class="app-row" *ngFor="let offerPosition of groupPositionsByCurrency(contract)[currency].offerPositions">

              <div class="clr-col-4 clr-col-xl-6">{{ offerPosition.requestPosition.name }}</div>
              <div class="clr-col-2">{{ offerPosition.quantity }} {{ offerPosition.measureUnit}}</div>
              <div class="clr-col-3 clr-col-xl-2">{{ offerPosition.priceWithoutVat | currency: currency }}</div>
              <div class="clr-col-3 clr-col-xl-2">{{ offerPosition.priceWithoutVat * offerPosition.quantity  | currency: currency }}</div>
            </div>
            <div class="app-row total">
              <div class="clr-col-9 clr-col-xl-10"></div>
              <div class="clr-col-3 clr-col-xl-2"><b>{{ groupPositionsByCurrency(contract)[currency].total | currency: currency }}</b></div>
            </div>
            </ng-container>
          </div>
        </div>

        <div class="app-row">
          <div class="app-col"
               *ngIf="isShowGenerateContractButton(contract) && featureService.available('contractGeneration')">
            <button uxgButton primary (click)="onGenerateContract(request, contract)"> Создать типовой договор </button>
          </div>

          <div class="app-col"
               *ngIf="isShowSignContractButton(contract) && featureService.available('contractGeneration')">
            <button uxgButton primary (click)="onSignContract(contract)"> Подтвердить подписание договора </button>
          </div>
        </div>

      </div>
      <div class="card-block" *ngIf="contract.documents.length > 0 || getAttachedFiles(contract).length > 0">
        <div class="card-text">
          <div class="app-row" >
            <div class="app-col"><b>Документы</b></div>
            <div [ngSwitch]="contract.status">
              <span class="label label-warning" *ngSwitchCase="ContractStatus.REJECTED">
                <clr-icon shape="app-waiting"></clr-icon>На доработке
              </span>
              <span class="label label-info" *ngSwitchCase="ContractStatus.ON_APPROVAL">
                <clr-icon shape="app-waiting"></clr-icon>На согласовании
              </span>
              <span class="label label-success" *ngSwitchCase="ContractStatus.APPROVED">
                <clr-icon shape="app-check"></clr-icon>Согласовано
              </span>
            </div>
          </div>
          <div class="app-row">
            <div class="app-col">
              <app-request-contract-list-upload-document
                [request]="request"
                [contract]="contract"
                [documents]="contract.documents"
                [files]="getAttachedFiles(contract)"
                (complete)="removeFile(contract)"
              ></app-request-contract-list-upload-document>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="app-row">
          <div class="app-col">
            <div class="app-btn-group" *ngIf="userInfoService.isBackOffice()">
              <button uxgButton secondary appUploadFile (select)="attachFileToContract($event, contract)" [disabled]="!isAvailableToAttach(contract)">
                <uxg-icon shape="app-attach"></uxg-icon><span>Прикрепить документ</span>
              </button>

              <button uxgButton secondary [disabled]="!isAvailableForApproval(contract)"
                          (click)="changeStatus(contract, ContractStatus.ON_APPROVAL)">
                <clr-icon shape="app-check"></clr-icon><span>Отправить на согласование</span>
              </button>
            </div>

            <div class="app-btn-group" *ngIf="userInfoService.isCustomer()">
              <button uxgButton secondary [disabled]="contract.status !== ContractStatus.ON_APPROVAL" class="btn-success-outline"
                          (click)="changeStatus(contract, ContractStatus.APPROVED)">
                <clr-icon shape="app-check"></clr-icon>
                <span>Согласовать</span>
              </button>
              <button uxgButton secondary appUploadFile [disabled]="contract.status !== ContractStatus.ON_APPROVAL"
                          (select)="attachFileToContract($event, contract)" class="btn-info-outline">
                <clr-icon shape="attachment"></clr-icon>
                <span>Прикрепить замечания</span>
              </button>
              <button uxgButton secondary [disabled]="contract.status !== ContractStatus.ON_APPROVAL" class="btn-warning-outline"
                          (click)="changeStatus(contract, ContractStatus.REJECTED)">
                <span>На доработку</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
