<form [formGroup]="manufacturingForm" class="form" *ngIf="canUpload">
  <app-document-upload-list (fileSelected)="onDocumentSelected($event)"
                            [documents]="uploadedFiles"></app-document-upload-list>
  <div class="clr-row" *ngIf="uploadedFiles.length !== 0">
    <div class="clr-col-9">
      <input type="text" id="comments" formControlName="comments" placeholder="Введите комментарии">
    </div>
    <div class="clr-col-3">
      <button class="btn btn-link" (click)="onAddManufacturingDocument()" [disabled]="!canSendFiles()">
        Загрузить
      </button>
    </div>
  </div>
</form>
<clr-datagrid class="clr-row" *ngIf="requestPosition?.manufacturingDocuments">
  <clr-dg-column class="clr-col-5">Наименование документа</clr-dg-column>
  <clr-dg-column class="clr-col-2">Сотрудник</clr-dg-column>
  <clr-dg-column class="clr-col-2">Статус позиции</clr-dg-column>
  <clr-dg-column class="clr-col-1">Дата загрузки</clr-dg-column>
  <clr-dg-column class="clr-col-2">Комментарии</clr-dg-column>

  <clr-dg-row *ngFor="let document of requestPosition?.manufacturingDocuments">
    <clr-dg-cell class="clr-col-5"><a (click)="onDownloadFile(document)">{{ document.filename }}</a>
    </clr-dg-cell>
    <clr-dg-cell class="clr-col-2">{{ document?.user?.shortName }}</clr-dg-cell>
    <clr-dg-cell class="clr-col-2">{{requestPosition.statusLabel}}</clr-dg-cell>
    <clr-dg-cell class="clr-col-1">{{ document.created | date:'dd.MM.yyyy' }}</clr-dg-cell>
    <clr-dg-cell class="clr-col-2">{{document.comments}}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>



<ng-template #loading>
  <span class="spinner spinner-md manufacturing-monitor-loader"></span>
</ng-template>

<ng-container *ngIf="(deliveryMonitorInfo$ | async ) as deliveryMonitorInfo; else loading">

  <app-good-card
          [requestPosition]="requestPosition"
          [deliveryMonitorInfo]="deliveryMonitorInfo">
  </app-good-card>


  <div class="date-bubble-block">
    <div class="status-dot"></div>
    <div class="date-bubble">Ср, 20.09</div>
  </div>

  <clr-accordion class="manufacturing-timeline-block" [clrAccordionMultiPanel]="true">

    <clr-accordion-panel class="manufacturing-timeline-panel" [clrAccordionPanelDisabled]="true">

      <clr-accordion-title class="manufacturing-timeline-header">

        <div class="status-dot">
          <span class="time-item">12:00</span>
        </div>

        <div class="clr-row">
          <div class="clr-col manufacturing-timeline-item">
            <div class="manufacturing-icon plus-icon"></div>

            <div class="item-info-block">
              <div class="item-name">Создан производственный график</div>
              <div class="item-info">
                <div class="clr-row">
                  <div class="clr-col-5">Объёмом: 3,15</div>
                  <div class="clr-col-7">Период: Вс, 01.09.2019 г. — Пн, 30.09.2019 г.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </clr-accordion-title>

      <clr-accordion-content class="item-info-inner-content" *clrIfExpanded>
      </clr-accordion-content>

    </clr-accordion-panel>




    <clr-accordion-panel class="manufacturing-timeline-panel" [clrAccordionPanelDisabled]="true">

      <clr-accordion-title class="manufacturing-timeline-header">

        <div class="status-dot">
          <span class="time-item">12:15</span>
        </div>

        <div class="clr-row">
          <div class="clr-col manufacturing-timeline-item">
            <div class="manufacturing-icon manufacturing-chain"></div>

            <div class="item-info-block">
              <div class="item-name">Пакеты прошли через производственное звено</div>
              <div class="item-info">
                <div class="clr-row">
                  <div class="clr-col-5">Цех 2. Прокат труб</div>
                  <div class="clr-col-7">Общая масса: 3,15 т / кол-во: 24 трубы</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </clr-accordion-title>

      <clr-accordion-content class="item-info-inner-content" *clrIfExpanded>
      </clr-accordion-content>

    </clr-accordion-panel>




    <clr-accordion-panel class="manufacturing-timeline-panel">

      <clr-accordion-title class="manufacturing-timeline-header">

        <div class="status-dot">
          <span class="time-item">12:20</span>
        </div>

        <div class="clr-row">
          <div class="clr-col manufacturing-timeline-item">
            <div class="manufacturing-icon alert-icon"></div>

            <div class="item-info-block">
              <div class="item-name">Выписано уведомление о несоответствии</div>
              <div class="item-info">
                <div class="clr-row">
                  <div class="clr-col-5">Ср, 20.09 в 12:20</div>
                  <div class="clr-col-7 alert-status-dot">Существенно</div>
                </div>
              </div>
            </div>

            <div class="item-status-block">
              <div class="item-toggle-icon"></div>
            </div>
          </div>
        </div>
      </clr-accordion-title>

      <clr-accordion-content class="item-info-inner-content" *clrIfExpanded="true">

        <div class="clr-row">
          <div class="clr-col-6">
            <div class="item-info-element">
              <p class="item-info-label">Описание несоответствия</p>
              <p class="item-info-content">На резьбе есть заусенцы</p>
            </div>
          </div>

          <div class="clr-col-6">
            <div class="item-info-element">
              <p class="item-info-label">Нарушено требование</p>
              <p class="item-info-content">Гост</p>
            </div>
          </div>
        </div>


        <div class="clr-row">
          <div class="clr-col-6">
            <div class="item-info-element">
              <p class="item-info-label">Степень критичности</p>
              <p class="item-info-content">Существенно</p>
            </div>
          </div>

          <div class="clr-col-6">
            <div class="item-info-element">
              <p class="item-info-label">Срок предоставления поставщиком плана корректирующих мероприятий</p>
              <p class="item-info-content">24.09.2019</p>
            </div>
          </div>
        </div>

      </clr-accordion-content>

    </clr-accordion-panel>

  </clr-accordion>

</ng-container>