<ng-container *ngIf="(request$ | async) as request; else loading;">
  <ng-container *ngIf="(requestPositionsWithOffers$ | async) as positionsWithOffers">
    <app-request-commercial-proposal-list
      [requestPositions]="positionsWithOffers.positions"
      [suppliers]="positionsWithOffers.suppliers"
      [request]="request"
      [view]="view"
      (viewChange)="switchView($event)"
      (sentForAgreement)="selectedPositions = $event.selectedPositions; confirmToast.open()"
      (cancelOffer)="onCancelPublishOffers($event)"
      (addOffer)="showAddOfferModal($event)"
      (addOffersTemplate)="onSendOffersTemplateFilesClick($event)"
      (editOffer)="showEditOfferModal($event)"
      (procedureAction)="procedureAction($event)"
      (downloadReport)="store.dispatch(downloadAnalyticalReport(requestId))"
      (refresh)="updatePositionsAndSuppliers()"
    ></app-request-commercial-proposal-list>

    <uxg-modal size="l" [(state)]="procedureModalPayload" [ngSwitch]="procedureModalPayload?.action">
      <h2 *ngSwitchCase="'create'">Создание новой процедуры</h2>
      <h2 *ngSwitchCase="'bargain'">Уторговывание процедуры №{{procedureModalPayload.position.procedureId}}</h2>
      <h2 *ngSwitchCase="'prolong'">Продление процедуры №{{procedureModalPayload.position.procedureId}}</h2>
      <ng-container *ngIf="procedureModalPayload">
        <app-request-procedure-form
          *ngIf="!procedureModalPayload.procedure$ || (procedureModalPayload.procedure$ | async)"
          [request]="request"
          [action]="procedureModalPayload.action"
          [procedure]="procedureModalPayload.procedure$ | async"
          [positions]="positionsWithOffers.positions"
          [contragents]="contragents$ | async"
          [procedureSource]="procedureSource.COMMERCIAL_PROPOSAL"
          (updateSelectedPositions)="updateContragents($event)"
          (complete)="updatePositionsAndSuppliers(); procedureModalPayload = null"
          (cancel)="procedureModalPayload = null"
        ></app-request-procedure-form>
      </ng-container>
    </uxg-modal>
  </ng-container>

  <uxg-modal
    #requestCommercialProposalModal
    class="cp-creation-modal"
    [state]="showForm || showEditForm"
    (stateChange)="showEditForm = showForm = $event"
  >
    <h2>{{ showForm ? 'Новое коммерческое предложение' : 'Редактирование коммерческого предложения'}}</h2>

    <div class="modal-body">
      <app-request-commercial-proposal-form
        *ngIf="requestCommercialProposalModal.state"
        [position]="currentRequestPosition"
        [commercialProposal]="selectedLinkedOffer"
        [editMode]="showEditForm"
        [request]="request"
        (create)="addCommercialProposal(); requestCommercialProposalModal.close()"
        (edit)="editCommercialProposal(); requestCommercialProposalModal.close()"
        (cancel)="showEditForm = showForm = false">
      </app-request-commercial-proposal-form>
    </div>
  </uxg-modal>

</ng-container>

<ng-template #loading>
  <div class="text-center">
    <span class="spinner spinner-md"></span>
  </div>
</ng-template>

<uxg-modal #confirmToast size="s">
  <div  class="app-section">
    <h3 *ngIf="!hasProsedure">Отправить на согласование</h3>
    <h3 *ngIf="hasProsedure">Процедура сбора КП по позиции еще не завершена</h3>
  </div>
  <div class="app-section">Вы уверены, что хотите отправить созданные предложения на согласование заказчику?</div>
  <ng-template uxgModalFooter>
    <button uxgButton secondary lg uxgModalClose>Отменить</button>
    <button uxgButton primary lg (click)="publish(); confirmToast.close()">Да, отправить</button>
  </ng-template>
</uxg-modal>
