<ng-container *ngIf="order">

  <!--Шапка с общей информацией о заказе-->
  <app-order-header
    contragentLabel="Покупатель"
    [contragentFullName]="order.customer.name"
    [order]="order"
    [buttonsProfile]="getButtonsProfile()"
    (sendOrderClick)="onSendOrder()"
  ></app-order-header>

  <!--Панель с табами-->
  <div class="clr-row">
    <div class="clr-col">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink id="link1">Позиции</button>
          <clr-tab-content>
            <!-- Кнопки общих действий -->
            <div class="clr-row">
              <div class="clr-col">
                <div class="positions-actions">
                  <button class="btn btn-link"
                          (click)="onAllPositionsResponseTypeClick(positionSupplierResponseTypes.IN_STOCK)"
                          [clrLoading]="positionsResponseTypeBtnState">
                    <clr-icon shape="check"></clr-icon>
                    Все в наличии
                  </button>
                  <button class="btn btn-link"
                          (click)="onAllPositionsResponseTypeClick(positionSupplierResponseTypes.OUT_OF_STOCK)"
                          [clrLoading]="positionsResponseTypeBtnState">
                    <clr-icon shape="times"></clr-icon>
                    Все отсутствует
                  </button>
                </div>
              </div>
            </div>

            <div class="clr-row">

              <!--Панель со списком позиций-->
              <div class="clr-col-8">
                <app-order-positions
                  [order]="order"
                  [supplierResponseReadOnly]="false"
                ></app-order-positions>
              </div>

              <!--Боковая панель-->
              <div class="clr-col-4">

                <!--Панель информации о доставке-->
                <div class="clr-row">
                  <div class="clr-col">
                    <app-order-delivery [order]="order"></app-order-delivery>
                  </div>
                </div>

                <!--Финансовая информация-->
                <div class="clr-row">
                  <div class="clr-col">
                    <app-order-finance [order]="order"></app-order-finance>
                  </div>
                </div>
              </div>

            </div>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Общие сведения</button>
          <clr-tab-content>
            ...
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Документация</button>
          <clr-tab-content>
            ...
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Способы оплаты</button>
          <clr-tab-content>
            ...
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Журнал событий</button>
          <clr-tab-content>
            ...
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
</ng-container>



