<div class="app-layout">
  <ng-container *ngComponentOutlet="toast.component"></ng-container>
  <ng-container *ngTemplateOutlet="toast.template; context: {$implicit: toast}"></ng-container>
  <ng-container *ngIf="toast.text">
    <div class="app-row app-align-items-center">
      <div>{{ toast.text }}</div>
      <ng-container [ngSwitch]="toast.type">
        <uxg-icon *ngSwitchCase="'info'" shape="app-info" size="24"></uxg-icon>
        <uxg-icon *ngSwitchCase="'success'" class="app-success-color" shape="app-check" size="24"></uxg-icon>
        <uxg-icon *ngSwitchCase="'warning'" class="app-warning-color" shape="app-warning" size="24"></uxg-icon>
        <uxg-icon *ngSwitchCase="'error'" class="app-error-color" shape="app-warning" size="24"></uxg-icon>
      </ng-container>
    </div>
  </ng-container>
</div>
