@import "projects/uxg/src/styles/index";

:host {
  background: rgba(#000, 0.8);
  display: block;
  color: uxg($theme, color-default);
  animation: app-toast-show 300ms ease;
  transform-origin: bottom;
  position: relative;
  z-index: 9999;
  overflow: hidden;

  .container {
    font-size: uxg($theme, font-size-l);
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


@keyframes app-toast-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

