<ng-container *ngIf="proposal else emptyProposal">
  <button (click)="show.emit(proposal)">
    <div class="app-row app-align-items-center">
      <!-- name -->
      <h3 class="app-col">
        <span>{{(proposal.priceWithoutVat * proposal.quantity) | number:'1.0-2'}} </span>
        <span class="app-ghost-color">{{getCurrencySymbol(proposal.currency, "narrow")}}</span>
      </h3>
      <!-- status -->
      <ng-container *ngIf="!selectedProposal">
        <div class="winner" *ngIf="proposal.isWinner">
          <svg height="25" width="101" viewBox="0 0 101 25" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0H101V25H0L7 12.5L0 0Z" fill="#0EA04B"></path>
            <text y="13" x="92" fill="#fff" alignment-baseline="middle" text-anchor="end">Победитель</text>
          </svg>
        </div>

        <div class="app-ghost-color" *ngIf="!proposal.isWinner">
          <uxg-icon shape="app-check"></uxg-icon>
        </div>
      </ng-container>

      <ng-container *ngIf="selectedProposal">
        <uxg-radio-item
          [name]="proposal.proposalSupplierId"
          [value]="proposal"
          [formControl]="selectedProposal"
          (click)="$event.stopPropagation()"
        ></uxg-radio-item>
      </ng-container>
    </div>

    <div>
      <!-- Количество, цена за ед. -->
      <!-- @TODO Ждём бэк -->
      <span>{{proposal.quantity}} шт<!--{{proposal.measureUnit}}--></span>
      <span class="app-ghost-color"> | </span>
      <span class="app-ghost-color">{{proposal.priceWithoutVat | number:'1.0-2'}} </span>
      <span class="app-ghost-color">{{getCurrencySymbol(proposal.currency, "narrow")}}/<!--{{proposal.measureUnit}}--></span>
      <br/>

      <!-- Дата поставки. -->
      <span>{{proposal.proposalSupplier.dateDelivery | date:"dd.MM.yyyy"}}</span>
      <span class="app-ghost-color"> доставка</span>
    </div>
  </button>
</ng-container>

<ng-template #emptyProposal>
  <button disabled><b>Не предоставлено</b></button>
</ng-template>
