.content { margin-top: 32px }
.filter-button { display: none }

@media (max-width: 1520px) {
  .app-col-aside:not(.visible) { display: none }
  .filter-button { display: block }
}

hr {
  margin: 21px 0;
}

.placeholder {
  background: #F2F2F2;
  margin-bottom: 24px;
  border-radius: 4px;

  &-row {
    @extend .placeholder;

    & + & {
      margin-left: 1em;
    }
  }
}
