<ng-container *ngIf="(status$ | async) !== 'fetching'; else placeholder">
    <div class="app-row">
    <div class="app-col">
      <div class="app-row app-align-items-center">
        <uxg-tabs class="app-col">
          <uxg-tab-title #reviewTab [disabled]="!reviewTabCount" [active]="reviewTabCount > 0">
            Необходимо рассмотреть  <span class="app-ghost-color" *ngIf="reviewTabCount as cnt">({{cnt}})</span>
          </uxg-tab-title>
          <uxg-tab-title #progressTab [active]="reviewTabCount === 0">
            Запросы а процессе <span class="app-ghost-color" *ngIf="priceOrdersLength$ | async as cnt">({{cnt}})</span>
          </uxg-tab-title>
          <uxg-tab-title #reviewedTab [disabled]="!reviewedTabCount">
            Рассмотренные <span class="app-ghost-color" *ngIf="reviewedTabCount as cnt">({{cnt}})</span>
          </uxg-tab-title>
        </uxg-tabs>
        <button *ngIf="(priceOrdersLength$ | async)"
          uxgButton primary (click)="progressTab.activate(); showForm = true">Создать ценовой запрос</button>
        <button class="filter-button" uxgButton secondary (click)="showFilter = !showFilter">Фильтр</button>
      </div>
    </div>
    <div class="app-col-aside" [class.visible]="showFilter"></div>
  </div>
  <div class="app-row content">
    <div class="app-col">
      <ng-container *ngIf="progressTab.active">
          <app-kim-price-order-form
            *ngIf="progressTab.active && ((priceOrdersLength$ | async) === 0 || showForm)"
            (close)="showForm = false"
            @formHide
          ></app-kim-price-order-form>

        <div class="app-card" *ngFor="let order of priceOrders$ | async; trackBy: getOrderId; let folded = null">
          <!-- title -->
          <div class="app-row app-align-items-center">
            <h3 class="app-col">{{order.name}}</h3>
            <a class="app-bold" target="_blank" href="https://demo2.etpgpb.ru/#nsi/priceorder/directCustomer/orderId/{{order.nsiId}}">Показать на ЭТП ГПБ</a>
            <button uxgButton icon link (click)="folded = !folded">
              <clr-icon shape="app-chevron" [attr.dir]="folded ? 'down' : 'up'"></clr-icon>
            </button>
          </div>

          <ng-container *ngIf="!folded">
            <hr/>
            <div class="app-row">
              <div class="app-col">
                <div class="app-secondary-color">Прием заявок до</div>
                <p>
                  <span>{{ order.dateResponse | date : "dd.MM.yyyy" }} </span>
                  <span class="app-ghost-color">{{ order.dateResponse | date : "HH:mm" }}</span>
                </p>
              </div>
              <div class="app-col">
                <div class="app-secondary-color">Ожидаемая дата доставки</div>
                <p>{{ order.dateDelivery | date: "dd.MM.yyyy"}}</p>
              </div>
              <div class="app-col app-row app-justify-content-end">
                <button uxgButton secondary>Продлить запрос</button>
              </div>
            </div>

            <hr/>
            <div class="app-uppercase app-ghost-color app-bold"><small>Наименование позиций ценового запроса</small></div>
            <p *ngFor="let position of order.positions">
              {{ position.name }}
            </p>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="app-col-aside" [class.visible]="showFilter">
      <h3>Фильтр</h3>
    </div>
  </div>
</ng-container>

<ng-template #placeholder>
  <div class="app-row">
    <div class="app-col">
      <div class="app-row">
        <div class="app-col app-row">
          <div class="placeholder-row" *ngFor="let i of [].constructor(3)" [style.height.px]="32" [style.width.px]="150"></div>
        </div>
        <div class="placeholder-row" [style.height.px]="32" [style.width.px]="192"></div>
      </div>

      <div class="placeholder" *ngFor="let i of [].constructor(10)" [style.height.px]="160"></div>
    </div>
    <div class="app-col-aside"></div>
  </div>
</ng-template>
