<div class="clr-row orders-list">
  <div class="clr-col-lg-3">
    <app-orders-filter></app-orders-filter>
  </div>
  <div class="clr-col-lg-9">
    <app-orders-popular-statuses></app-orders-popular-statuses>
    <clr-stack-view class="orders-list-item" *ngFor="let item of orders">
      <clr-stack-block [clrSbExpanded]="false">
        <clr-stack-label class="base-info-block">
          <div class="clr-row">
            <div class="clr-col-7">
              <span><b>№ {{item.number}}</b> от {{item.creationDate}}</span>
              <clr-icon shape="paperclip"></clr-icon>
              <span>{{item.filesCount}}</span>
              <a>Подробнее</a>
            </div>
            <div class="clr-col-5 align-right">
              <div class="clr-row clr-justify-content-end">
                <span class="badge status-badge"></span>
                <span class="status-label">{{item.statusLabel}}</span>
              </div>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-7">
              <span class="gray">{{item.supplierName}}</span>
            </div>
            <div class="clr-col-5 align-right">
              <div *ngIf="item.isWaitingForSupplierResponse()" class="clr-row clr-justify-content-end">
                <span class="gray label-margin">Ожидает ответа:</span>
                <span>{{item.supplierResponseDate | orderParamRepresentation}}</span>
              </div>
            </div>
          </div>
        </clr-stack-label>
        <clr-stack-block>
          <div class="clr-row expanded-block">
            <div class="clr-col-9">
              <li>
                <span class="gray label-margin">Всего позиций:</span>
                <span>{{item.positionsCount | orderPositionsCountPresentation}}</span>
                <a>Посмотреть</a>
              </li>
              <li>
                <span class="gray label-margin">Адрес доставки:</span>
                <span>{{item.deliveryAddress | orderParamRepresentation}}</span>
              </li>
              <li>
                <span class="gray label-margin">Предполагаемая дата доставки:</span>
                <span>{{item.deliveryDate | orderParamRepresentation}}</span>
              </li>
              <li>
                <span class="gray label-margin">Дополнительная информация:</span>
                <span>{{item.orderAdditionalInfo | orderParamRepresentation}}</span>
              </li>
              <div class="action-buttons">
                <button class="btn btn-outline"><span>Оставить комментарий</span></button>
                <button class="btn btn-outline"><span>Повторить заказ</span></button>
              </div>
            </div>
            <div class="clr-col-3">
              <div class="clr-row margin-top">
                <div class="clr-col-7">
                  <span>Сумма с НДС</span>
                </div>
                <div class="clr-col-5 align-right">
                  <span>{{item.positionsCostWithVat | number:'1.2-2'}}</span>
                </div>
              </div>
              <div class="clr-row margin-top">
                <div class="clr-col-7">
                  <span>Доставка</span>
                </div>
                <div class="clr-col-5 align-right">
                  <span>{{item.deliveryCost | orderParamRepresentation}}</span>
                </div>
              </div>
              <div class="clr-row margin-top">
                <div class="clr-col-7">
                  <span><b>К оплате</b></span>
                </div>
                <div class="clr-col-5 align-right">
                  <span><b>{{item.totalCost | number:'1.2-2'}}</b></span>
                </div>
              </div>
              <div class="clr-row right-align-button">
                <!-- TODO тут будет должна быть провека на статус "Ожидает оплаты" -->
                <button *ngIf="false"
                        class="btn btn-primary">Оплатить</button>

                <button *ngIf="item.isWaitingForCustomerConfirm()"
                        class="btn btn-primary"
                        (click)="onConsiderationClick(item)">Рассмотреть предложение</button>
              </div>
            </div>
          </div>
        </clr-stack-block>
      </clr-stack-block>
    </clr-stack-view>

    <app-orders-pagination
      [pageSize]="pageSize"
      (changePage)="onChangePage()"></app-orders-pagination>
  </div>
</div>



