<clr-datagrid class="supplier-datagrid">
  <clr-dg-column></clr-dg-column>
  <clr-dg-column></clr-dg-column>

  <clr-dg-row *ngIf="supplierInfo?.fullName">
    <clr-dg-cell><span class="gray">Наименование организации</span></clr-dg-cell>
    <clr-dg-cell>{{ supplierInfo.fullName }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-row *ngIf="supplierInfo?.contact.fio">
    <clr-dg-cell><span class="gray">Контактное лицо</span></clr-dg-cell>
    <clr-dg-cell>{{ supplierInfo.contact.fio }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-row *ngIf="supplierInfo?.contact.phone">
    <clr-dg-cell><span class="gray">Телефон</span></clr-dg-cell>
    <clr-dg-cell>{{ supplierInfo.contact.phone }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-row *ngIf="supplierInfo?.contact.email">
    <clr-dg-cell><span class="gray">Электронная почта</span></clr-dg-cell>
    <clr-dg-cell>{{ supplierInfo.contact.email }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-row *ngIf="supplierInfo?.addresses.factual">
    <clr-dg-cell><span class="gray">Местонахождение</span></clr-dg-cell>
    <clr-dg-cell>{{ supplierInfo.addresses.factual }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-row *ngIf="supplierInfo?.addresses.post">
    <clr-dg-cell><span class="gray">Почтовый адрес</span></clr-dg-cell>
    <clr-dg-cell>{{ supplierInfo.addresses.post }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-row *ngIf="supplierInfo?.requisites.inn">
    <clr-dg-cell><span class="gray">ИНН</span></clr-dg-cell>
    <clr-dg-cell>{{ supplierInfo.requisites.inn }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-row *ngIf="supplierInfo?.requisites.kpp">
    <clr-dg-cell><span class="gray">КПП</span></clr-dg-cell>
    <clr-dg-cell>{{ supplierInfo.requisites.kpp }}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>