::ng-deep .position-info form.form label {
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
    color: #999999;
}

::ng-deep .position-info .form, form {
    padding-top: 0;
}

::ng-deep .checkbox-block,
::ng-deep .checkbox-block .isDeliveryDateAsap {
    display: flex;
    align-items: flex-end;
}
