<form [formGroup]="positionInfoDataForm" class="form">
  <div class="clr-row">

    <div class="clr-col-12">
      <clr-input-container>
        <label>Наименование МТР <b class="required-star">*</b></label>
        <input clrInput
               type="text"
               name="name"
               formControlName="name"
               [class.invalid]="isFieldValid('name')"
               />
      </clr-input-container>
    </div>

    <div class="clr-break-row"></div>

    <div class="clr-col-4">
      <clr-date-container>
        <label for="deliveryDate">Необходимый срок поставки <b class="required-star">*</b></label>
        <input clrDate
               type="date"
               id="deliveryDate"
               name="deliveryDate"
               placeholder="ДД.ММ.ГГГГ"
               formControlName="deliveryDate"
               [class.invalid]="isFieldValid('deliveryDate')"/>
      </clr-date-container>
    </div>

    <div class="clr-col-4 checkbox-block">
      <div class="isDeliveryDateAsap">
        <clr-checkbox-container>
          <clr-checkbox-wrapper>
            <input clrCheckbox
                   type="checkbox"
                   name="isDeliveryDateAsap"
                   formControlName="isDeliveryDateAsap"
                   [class.invalid]="isFieldValid('isDeliveryDateAsap')">
            <label>как можно скорее</label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
      </div>
    </div>


    <div class="clr-break-row"></div>


    <div class="clr-col-12">
      <clr-input-container>
        <label>Базис поставки <br>
          (пункт, до которого требуется доставка) <b class="required-star">*</b></label>
        <input clrInput
               type="text"
               formControlName="deliveryBasis"
               [class.invalid]="isFieldValid('deliveryBasis')"
               value="{{requestPosition.deliveryBasis}}">
      </clr-input-container>
    </div>


    <div class="clr-break-row"></div>


    <div class="clr-col-6">
        <label>Условия оплаты <b class="required-star">*</b></label>

        <select clrSelect
                name="paymentTerms"
                id="paymentTerms"
                formControlName="paymentTerms"
                [class.invalid]="isFieldValid('paymentTerms')">
          <option value="30 дней по факту поставки">
            30 дней по факту поставки
          </option>
          <option value="60 дней по факту поставки">
            60 дней по факту поставки
          </option>
        </select>
    </div>


    <div class="clr-break-row"></div>


    <div class="clr-col-6">
      <clr-input-container>
        <label>Количество <b class="required-star">*</b></label>
        <input clrInput
               type="number"
               name="quantity"
               formControlName="quantity"
               min="0.1"
               step="0.01" class="hidden-arrows text-right price"
               value="{{requestPosition.quantity}}"
               [class.invalid]="isFieldValid('quantity')">
      </clr-input-container>
    </div>


    <div class="clr-col-6">
      <label>Ед. измерения <b class="required-star">*</b></label>
      <app-okei-selector id="measureUnit"
                         formControlName="measureUnit"
                         [class.invalid]="isFieldValid('measureUnit')">
      </app-okei-selector>
    </div>


    <div class="clr-break-row"></div>


    <div class="clr-col-6">
      <clr-input-container>
        <label>Начальная максимальная цена</label>
        <input clrInput
               type="number"
               name="startPrice"
               formControlName="startPrice"
               min="0.1"
               step="0.01" class="hidden-arrows text-right price"
               value="{{requestPosition.startPrice}}"
               [class.invalid]="isFieldValid('startPrice')">
      </clr-input-container>
    </div>

    <div class="clr-col-6">
      <clr-select-container>
        <label>Валюта</label>
        <select clrSelect name="currency" formControlName="currency">
          <option value="RUB">RUB</option>
          <option value="USD" disabled>USD</option>
          <option value="EUR" disabled>EUR</option>
          <option value="CHF" disabled>CHF</option>
        </select>
      </clr-select-container>
    </div>


    <div class="clr-break-row"></div>


    <div class="clr-col-12">
      <clr-input-container>
        <label>
          Документ, в соответствии с которым необходимо изготовление <br>
          (НТД: ГОСТ/ТУ, ТЗ, ОЛ, ЗТП и т.п.) <b class="required-star">*</b>
        </label>

        <input clrInput
               type="text"
               formControlName="productionDocument"
               value="{{requestPosition.productionDocument}}">
      </clr-input-container>
    </div>


    <div class="clr-break-row"></div>


    <div class="clr-col-12">
      <div class="isDesignRequired">
        <clr-checkbox-wrapper>
          <input type="checkbox" formControlName="isDesignRequired" clrCheckbox>
          <label class="clr-control-label nopadding">Требуется РКД</label>
        </clr-checkbox-wrapper>
      </div>
    </div>

    <div class="clr-break-row"></div>


    <div class="clr-col-12">
      <div class="relatedServices clr-row">
        <div class="clr-col-12">
          <label class="nopadding">Необходимость сопутствующих услуг
            (ШМР, ПНР, Инспекционный контроль)</label>
        </div>

        <div class="clr-col-auto">
          <clr-checkbox-container>
            <clr-checkbox-wrapper>
              <input clrCheckbox type="checkbox" formControlName="isShmrRequired">
              <label class="clr-control-label nopadding">ШМР</label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
        </div>

        <div class="clr-col-auto">
          <clr-checkbox-container>
            <clr-checkbox-wrapper>
              <input type="checkbox" formControlName="isPnrRequired" clrCheckbox>
              <label class="clr-control-label nopadding">ПНР</label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
        </div>

        <div class="clr-col-auto">
          <clr-checkbox-container>
            <clr-checkbox-wrapper>
              <input type="checkbox" formControlName="isInspectionControlRequired" clrCheckbox>
              <label class="clr-control-label nopadding">Инспекционный контроль</label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
        </div>


      </div>
    </div>


    <div class="clr-break-row"></div>


    <div class="clr-col-12">
      <clr-textarea-container>
        <label>Дополнительные требования</label>
        <textarea clrTextarea
                  type="textarea"
                  name="comments"
                  formControlName="comments">
                {{requestPosition.comments}}
        </textarea>
      </clr-textarea-container>
    </div>


    <div class="clr-break-row"></div>


    <div class="clr-col-12">
      <button type="button"
              class="btn btn-primary"
              (click)="onSavePositionInfo()"
              [disabled]="positionInfoDataForm.invalid">
        {{ requestPosition.id ? 'Сохранить' : 'Создать' }}
      </button>
    </div>
  </div>
</form>
