<form [formGroup]="positionInfoDataForm" class="form">
  <div class="clr-row">

    <div class="clr-col-8">
      <label class="clr-control-label">Наименование МТР</label>
      <input type="text"
             name="name"
             id="name"
             formControlName="name"
             [class.invalid]="isFieldValid('name')"
             value="{{ requestPosition.name }}">
    </div>

    <div class="clr-break-row"></div>

    <div class="clr-col-3">
      <label class="clr-control-label">Необходимый срок поставки</label>
      <div class="deliveryDate">
        <input clrDate
               [textMask]="{mask: dateMask, keepCharPositions: true, pipe: autoCorrectedDatePipe}"
               id="deliveryDate"
               placeholder="ДД.ММ.ГГГГ"
               type="text"
               formControlName="deliveryDate"
               [class.invalid]="isFieldValid('deliveryDate')" />
      </div>
    </div>

    <div class="clr-col-4 checkbox-block">
      <div class="isDeliveryDateAsap">
        <input clrCheckbox
               type="checkbox"
               name="isDeliveryDateAsap"
               id="isDeliveryDateAsap"
               formControlName="isDeliveryDateAsap"
               [class.invalid]="isFieldValid('isDeliveryDateAsap')">
        <label for="isDeliveryDateAsap">как можно скорее</label>
      </div>
    </div>



    <div class="clr-break-row"></div>



    <div class="clr-col-8">
      <label class="clr-control-label">Базис поставки <br>
        (пункт, до которого требуется доставка)</label>
      <input type="text" id="deliveryBasis"
             formControlName="deliveryBasis"
             [class.invalid]="isFieldValid('deliveryBasis')"
             value="{{requestPosition.deliveryBasis}}">
    </div>


    <div class="clr-break-row"></div>


    <div class="clr-col-8">
      <label class="clr-control-label">Условия оплаты</label>
      <input type="text" id="paymentTerms"
             formControlName="paymentTerms"
             value="{{requestPosition.paymentTerms}}"
             [class.invalid]="isFieldValid('paymentTerms')">
    </div>


    <div class="clr-break-row"></div>


    <div class="clr-col-4">
      <label class="clr-control-label">Количество</label>
      <input type="number"
             id="quantity"
             name="quantity"
             formControlName="quantity"
             min="0.1"
             step="0.01" class="hidden-arrows text-right price"
             value="{{requestPosition.quantity}}"
             [class.invalid]="isFieldValid('quantity')">
    </div>


    <div class="clr-col-4">
      <label class="clr-control-label">Ед. измерения</label>
      <input type="text"
             id="measureUnit"
             name="measureUnit"
             formControlName="measureUnit"
             value="{{requestPosition.measureUnit}}"
             [class.invalid]="isFieldValid('measureUnit')">
    </div>


    <div class="clr-break-row"></div>


    <div class="clr-col-4">
      <label class="clr-control-label">Начальная максимальная цена</label>
      <input type="number"
             id="startPrice"
             name="startPrice"
             formControlName="startPrice"
             min="0.1"
             step="0.01" class="hidden-arrows text-right price"
             value="{{requestPosition.startPrice}}"
             [class.invalid]="isFieldValid('startPrice')">
    </div>

    <div class="clr-col-4">
      <label class="clr-control-label" for="currency">Валюта</label>
      <div class="select">
        <select name="currency" id="currency" formControlName="currency">
          <option value="RUB" [selected]="checkIfSelected('RUB')">RUB</option>
          <option value="USD" [selected]="checkIfSelected('USD')">USD</option>
          <option value="EUR" [selected]="checkIfSelected('EUR')">EUR</option>
          <option value="CHF" [selected]="checkIfSelected('CHF')">CHF</option>
        </select>
      </div>
    </div>


    <div class="clr-break-row"></div>


    <div class="clr-col-8">
      <label class="clr-control-label">
        Документ, в соответствии с которым необходимо изготовление <br>
        (НТД: ГОСТ/ТУ, ТЗ, ОЛ, ЗТП и т.п.)
      </label>

      <input type="text"
             id="productionDocument"
             formControlName="productionDocument"
             value="{{requestPosition.productionDocument}}">
    </div>


    <div class="clr-break-row"></div>


    <div class="clr-col-8" *ngIf="isPositionStatusPreviousManufacturing(requestPosition)">
      <div class="isDesignRequired">
        <clr-checkbox-wrapper>
          <input type="checkbox" formControlName="isDesignRequired" clrCheckbox>
          <label class="clr-control-label nopadding">Требуется РКД</label>
        </clr-checkbox-wrapper>
      </div>
    </div>

    <div class="clr-break-row"></div>


    <div class="clr-col-8">
      <div class="relatedServices">
        <label class="clr-control-label nopadding">Необходимость сопутствующих услуг
          (ШМР, ПНР, Инспекционный контроль)</label>
        <input type="text" id="relatedServices"
               name="relatedServices"
               formControlName="relatedServices"
               value="{{requestPosition.relatedServices}}">
      </div>
    </div>


    <div class="clr-break-row"></div>


    <div class="clr-col-8">
      <div class="relatedServices">
        <label class="clr-control-label">Примечания/комментарии</label>
        <textarea style="width: 100%"
                  type="textarea"
                  id="comments"
                  name="comments"
                  formControlName="comments">
                  {{requestPosition.comments}}
        </textarea>
      </div>
    </div>


    <div class="clr-break-row"></div>


    <div class="clr-col-8">
      <button type="button"
              class="btn btn-primary"
              (click)="onSavePositionInfo()"
              [disabled]="positionInfoDataForm.invalid">
        {{ requestPosition.id ? 'Сохранить' : 'Создать' }}
      </button>
    </div>
  </div>
</form>
