<div class="clr-row w-100">
  <div class="clr-col-12">
    <label for="supplierName"><p>Наименование поставщика</p></label>
    <input type="text" id="supplierName" name="supplierName" value="{{ technicalProposal?.name }}">
  </div>

  <div class="clr-col-12" style="margin: 15px 0 0 0;"
       *ngIf="technicalProposal && technicalProposal.documents">
    <app-document-simple-list [documents]="technicalProposal.documents"></app-document-simple-list>
  </div>
</div>


<div class="clr-row w-100">
  <div class="clr-col-12">
    <p>Позиции технического предложения</p>
  </div>



  <div class="clr-col-10 search">
    <input clrinput
           placeholder="Введите строку для поиска"
           name="searchStr"
           type="text"
           (keyup.enter)="onSearch()"
           [(ngModel)]="searchStr">
  </div>

  <div class="clr-col-2">
    <input clrinput
           class="btn btn-link"
           type="submit"
           (click)="onSearch()"
           value="Поиск">
  </div>


  <div class="clr-col-12">

    <div class="card-block">
      <clr-datagrid>
        <clr-dg-column>Наименование позиции</clr-dg-column>
            <clr-dg-row  *ngFor="let technicalProposalPosition of technicalProposalsPositions" [clrDgItem]="technicalProposal">
              <clr-dg-cell class="clr-col-auto">technicalProposalPosition.name</clr-dg-cell>
            </clr-dg-row>
      </clr-datagrid>
    </div>
  </div>
</div>