.search {
  max-width: 60px;
  padding-top: 20px;
  margin-left: 16px;
}

.desc {
  padding-top: 20px;
  max-width: 580px;
}

.app-uppercase {
  padding: 10px 20px;
}

.name {
  flex-grow: .5;
}

.dictionary-name {
  flex-grow: .3;
}

.measure, .quantity {
  flex-grow: .1;
}

.name, .dictionary-name {
  margin-right: 10px;
}

.app-card {
  padding: 0;
}

.item {
  padding: 20px;
  &:not(:last-child) {
    border-bottom: 1px solid #b2d0ff;
  }

.quantity {
display: inline-flex}
}

h1 {
  margin: 60px 0 10px 0;
}

.start-search-block {
  max-width: 580px;
}
