

.container {
  text-align: -webkit-center;
}

.newRequest {
  text-align: left;
  width: 1000px;

}
.new-request-tabs {
  display: block;
  width: 1000px;
}

h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

