<div class="container">
  <h2 class="individual-request">Индивидуальная заявка</h2>

  <clr-tabs class="individual-request-tabs">

    <clr-tab>
      <button clrTabLink>Загрузить xls-шаблон</button>
      <clr-tab-content *clrIfActive="true">
        <app-add-from-excel (submit)="onSendExcelFile($event)" [templateUrl]="'assets/RequestTemplate.xlsx'">
        </app-add-from-excel>
      </clr-tab-content>
    </clr-tab>

    <clr-tab>
      <button clrTabLink>Произвольная заявка</button>
      <clr-tab-content *clrIfActive>
        <app-create-request-free-form></app-create-request-free-form>
      </clr-tab-content>
    </clr-tab>

    <clr-tab>
      <button clrTabLink>Заполнить вручную</button>
      <clr-tab-content *clrIfActive>
        <app-create-request-form
          (submit)="onAddRequest($event)">
        </app-create-request-form>
      </clr-tab-content>
    </clr-tab>

  </clr-tabs>
</div>
