.container {
  text-align: -webkit-center;
}

.individual-request {
  text-align: left;
  width: 1000px;

}
.individual-request-tabs {
  display: block;
  width: 1000px;
}

h2 {
  margin-bottom: 20px;
  font-weight: 600;
}
