<ng-container *ngIf="positions; else loading">
  <div class="app-table app-no-border">
    <div class="app-row">
      <small class="app-col app-ghost-color id"><b>№ ЗАЯВКИ</b></small>
      <small class="app-col app-ghost-color name"><b>НАИМЕНОВАНИЕ ПОЗИЦИИ/ГРУППЫ</b></small>
      <small class="app-col app-ghost-color date"><b>НА СОГЛАСОВАНИИ С</b></small>
      <small class="app-col app-ghost-color status"><b>СТАТУС</b></small>
      <small class="app-col app-ghost-color action"><b>СОГЛАСОВАНИЯ</b></small>
    </div>
  </div>

  <div class="app-table">
    <div class="app-row app-align-items-center" *ngFor="let position of positions">
      <div class="app-col id">{{ position.request.number}}</div>
      <div class="app-col name"><b>{{position.name}}</b></div>
      <div class="app-col date">
        <span>{{ position.createdDate | date : "dd.MM.yyyy" }} </span>
        <span class="app-ghost-color">{{ position.updatedDate | date : "HH:mm" }}</span>
      </div>
      <div class="app-col status">
        <uxg-position-status [label]="position.statusLabel" [status]="position.status">
        </uxg-position-status>
      </div>
      <div class="app-col action">
        <a [routerLink]="getRouterLink(position)">
          {{labels[position.status]?.label }}
        </a>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <div class="app-card">
    <div class="text-center">
      <span class="spinner spinner-md"></span>
    </div>
  </div>
</ng-template>
