.breadcrumbs {
  margin-bottom: 30px;
}

.content-area.no-padding {
  padding: 0;
}

.content-area.no-padding .container {
  max-width: 100%;
  padding: 0;
}


.footer {
  display: block;
  background: white;
  height: 28px;
  width: 100%;
  margin-top: 80px;
}

.footer > div {
  height: 100%;
}

.file-icon {
  display: inline-block;
  background: url('/assets/images/file-formats/doc-s.svg') no-repeat;
  width: 21px;
  height: 28px;
}

span.file-link {
  height: 28px;
  display: inline-block;
  line-height: 28px;
  vertical-align: top;
  margin-left: 10px;
}