<div class="main-container">
  <app-nav></app-nav>

  <div class="content-container">
    <div class="content-area" [ngClass]="{ 'no-padding': noContainerPadding }">
      <div class="container">
        <div class="breadcrumbs" *ngIf="!isBreadcrumbsHidden">
          <uxg-breadcrumbs [breadcrumbs]="bc.breadcrumbs"></uxg-breadcrumbs>
        </div>
        <h1 *ngIf="!isTitleHidden">{{ titleService.getTitle() }}</h1>

        <router-outlet></router-outlet>

      </div>


      <div class="footer" *ngIf="!noContainerPadding">
        <div class="clr-row clr-align-items-center">
          <div class="clr-col">
            <span class="gray">© Marketplace, 2020</span>
          </div>

          <div class="clr-col-auto" *ngIf="featureService.available('instructionsFileForCustomer', user.roles)">
            <div class="file-block">
              <div class="file-icon"></div>
              <span class="file-link">
                  <a target="_blank" href="assets/GPN_Marketpleys_Rukovodstvo_zakazchika_05.02.2020.pdf">Скачать инструкцию</a>
                </span>
            </div>
          </div>

          <div class="clr-col-auto" *ngIf="featureService.available('instructionsFileForBackoffice', user.roles)">
            <div class="file-block">
              <div class="file-icon"></div>
              <span class="file-link">
                  <a target="_blank" href="assets/GPN_Marketpleys_Rukovodstvo_sotrudnika_bek-ofisa_05.02.2020.pdf">Скачать инструкцию</a>
                </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
