<div class="app-table requests-list-datagrid">

  <a class="app-row app-link-no-color app-align-items-center" *ngFor="let request of requests" [routerLink]="['/requests', 'backoffice', request.request.id]">
    <div class="request-number clr-col-1">
      <b>{{ request.request?.number }}</b>
    </div>

    <div class="customer-name clr-col-3"
                 title="{{ request.request.contragent?.shortName }}">
      {{ request.request.contragent?.shortName }}
    </div>

    <div class="request-name app-col"
                 title="{{ request.request.name }}">
      {{ request.request.name }}
    </div>

    <div class="request-completed clr-col-1">
      <div class="pie-chart">
        <svg width="20" height="20" class="chart">
          <circle r="10" cx="10" cy="10" class="pie" />
          <circle r="10" cx="10" cy="10" class="pie" [attr.stroke-dashoffset]="calcPieChart(request)" />
        </svg>

        <div>
          <span [ngClass]="{ 'light-grey' : request.completedCount === 0}">
            {{ request.completedCount }}
          </span>
          <span class="light-grey"> из</span> {{ request.positionCount }}
        </div>
      </div>
    </div>
  </a>

</div>
