<ng-container *ngIf="!request" class="load-block">
  <span class="spinner spinner-md"></span>
</ng-container>

<ng-container *ngIf="request">
  <div class="clr-row">
    <div class="info-card clr-col">
      <div class="request-info">
        <div class="breadcrumbs">
          <a (click)="onRequestsClick()">Заявки</a> / <a (click)="onRequestClick()">Заявка №{{request.number}}</a>
        </div>
        <h2>Технические предложения</h2>

        <div class="clr-row w-100">
          <div class="clr-col-2">
            <span class="add-technical-proposal">
              + Добавить ТП
            </span>
          </div>
        </div>



        <div class="technical-proposal-card" *ngFor="let technicalProposal of technicalProposals">
          <div class="clr-row clr-align-items-center">
            <span class="supplier-name clr-col">
              <span>{{ technicalProposal.name }}</span>
              <div class="edit-btn">
                <clr-icon shape="pencil"></clr-icon>
              </div>
            </span>

            <div class="clr-col send-for-approval">
              <button class="btn btn-primary"
                      [disabled]="!isReadyToSendForApproval(technicalProposal)">
                <b>Отправить на согласование</b>
              </button>
            </div>
          </div>

          <app-document-simple-list
                  [enableUpload]="false"
                  [documents]="technicalProposal.documents">
          </app-document-simple-list>


          <table class="positions-list table table-noborder">
            <thead>
              <tr>
                <th class="left">Наименование позиции</th>
                <th class="left">Заводское наименование</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let technicalProposalPosition of technicalProposal.positions">
                <td class="left">{{ technicalProposalPosition.position.name }}</td>
                <td class="left">
                  <div class="form-group compact">
                    <input type="text"
                           placeholder="Наименование не заполнено.."
                           value="{{ technicalProposalPosition.manufacturingName }}" />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</ng-container>