.modal-body:focus {
  outline: 0;
}

::ng-deep .file-upload-label {
  margin-top: 10px;
  font-weight: bold;
}

.add-technical-proposal {
  margin-top: 20px;
  display: block;
  color: #484848;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    color: #0085FF;
  }
}

.technical-proposal-card {
  background: white;
  padding: 20px 35px;
  margin-top: 30px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.13);
}

.edit-btn {
  display: inline-block;
  padding: 0 10px;

  &:hover {
    cursor: pointer;
    color: #0085FF;
  }
}

span.supplier-name {
  font-size: 17px;
  line-height: 100%;
}

span.supplier-name-label, span.positions-list-label {
  padding-bottom: 5px;
  display: block;
  color: gray;
}

.send-for-approval {
  text-align: right;

  & button.btn.btn-primary {
    margin-right: 0;

    &.disabled {
      pointer-events: none;
    }
  }

  & p.sent-label {
    font-weight: bold;
    color: #388E3C;
  }
}

.positions-list th {
  width: 40%;
  color: gray;
  font-size: 12px;
  font-weight: 400;
}

.positions-list th:nth-of-type(2) {
  padding-left: 20px;
}

.positions-list tbody tr:not(:hover) td:nth-of-type(2) input {
  border: 1px solid transparent;
}

.positions-list .form-group input {
  font-size: 13px;
}

.positions-list td .form-group.compact {
  margin-bottom: 0;
  display: block;
}

.positions-list td .form-group.compact {
  margin-bottom: 0;
}

.positions-list tbody tr td {
  line-height: 30px;
  padding: 5px 10px;
}

.positions-list tbody tr:hover {
  background: #e1f1f6;
}

.positions-list tbody tr:hover .form-group.compact {
  display: block !important;
}

.positions-list tbody tr:hover span {
  display: none !important;
}

.tp-positions-list {
  display: block;
}

::ng-deep .tp-documents-list button.btn.btn-link {
  height: 100%;
}

.not-clickable {
  pointer-events: none;
}

.history {
  width: 250px;
}


p.readonly-supplier-name {
  margin: 0;
}

.accepted {
  color: green;
  margin: 0 4px 3px 0;
}

.declined {
  color: red;
  margin: 0 4px 3px 0;
}

.unknown-status {
  color: #e7a20b;
  margin: 0 4px 3px 0;
}
