<ng-container *ngIf="!request" class="load-block">
  <span class="spinner spinner-md"></span>
</ng-container>

<ng-container *ngIf="request">
  <div class="clr-row">
    <div class="info-card clr-col">
      <div class="technical-proposals">
        <div class="clr-row clr-justify-content-between">

          <div class="clr-col">
            <button class="btn btn-primary"
                    [clrLoading]="getLoaderState()"
                    (click)="onShowAddTechnicalProposalModal()">
              <clr-icon shape="plus"></clr-icon>
              Добавить ТП
            </button>
          </div>

          <div *ngIf="featureService.available('createProcedure')"
               class="clr-col-auto">
            <button class="btn btn-primary send-offers"
                    (click)="createProcedureWizard.open()"
                    [clrLoading]="creatingProcedureLoader">
              <b>Создать процедуру</b>
            </button>
          </div>

        </div>

        <div class="technical-proposal-card-list">
          <div  class="technical-proposal-card" *ngFor="let technicalProposal of technicalProposals; let i = index">
            <div class="clr-row clr-justify-content-between clr-align-items-center">
              <span class="supplier-name clr-col-auto">

                <ng-container *ngIf="technicalProposal.supplierContragent; else noContragent">

                  <app-contragent-info-link
                          [contragent]="technicalProposal.supplierContragent">
                  </app-contragent-info-link>

                </ng-container>

                <ng-template #noContragent>
                  <span>Отсутствует наименование контрагента</span>
                </ng-template>

                <div class="edit-btn"
                     *ngIf="isTpHasEditablePositions(technicalProposal) || tpHasDeclinedPosition(technicalProposal)"
                     (click)="onShowEditTechnicalProposalModal(technicalProposal)">
                  <clr-icon shape="pencil"></clr-icon>
                </div>

              </span>


              <div class="clr-col-5 send-for-approval">
                <div *ngIf="isTpHasEditablePositions(technicalProposal); else sentForReview">
                  <button class="btn btn-primary"
                          [class.disabled]="!isReadyToSendForApproval(technicalProposal)"
                          (click)="onSendForApproval(technicalProposal); showLoader($event)">
                    <b>Отправить на согласование</b>
                  </button>
                </div>

                <button *ngIf="availableCancelSendToReview(technicalProposal)"
                        class="btn btn-primary btn-cancel-send-to-approval"
                        (click)="onCancelSendForApproval(technicalProposal)"
                        [clrLoading]="loaders.cancelReview">
                  Отозвать <span class="cancel-timer">{{ technicalProposal.statusChangedDate | countdownTimer: durationCancelReview }} </span>
                </button>

                <ng-template #sentForReview>
                  <p class="sent-label">{{ tpStatusLabel(technicalProposal) }}</p>
                </ng-template>
              </div>
            </div>

            <div>
              <app-document-simple-list
                      [documents]="technicalProposal.documents"
                      [enableUpload]="false"
              ></app-document-simple-list>
            </div>


            <div *ngIf="technicalProposal.positions && technicalProposal.positions.length > 0; else tpHasNoPositions">
              <table class="positions-list table table-noborder">
                <thead>
                <tr>
                  <th class="left">Наименование позиции</th>
                  <th class="left">Заводское наименование</th>
                  <th class="left">Решение принято</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let technicalProposalPosition of technicalProposal.positions"
                    [class.not-clickable]="
                        !isEditablePosition(technicalProposalPosition) &&
                        technicalProposalPosition.status !== 'DECLINED'">

                  <td class="left">
                    <clr-icon class="accepted"
                              shape="check"
                              *ngIf="technicalProposalPosition.status === 'ACCEPTED'"></clr-icon>
                    <clr-icon class="declined"
                              shape="times"
                              *ngIf="technicalProposalPosition.status === 'DECLINED'" ></clr-icon>
                    <clr-icon class="unknown-status"
                              shape="unknown-status"
                              *ngIf="!isEditablePosition(technicalProposalPosition) &&
                                       technicalProposalPosition.status !== 'DECLINED' &&
                                       technicalProposalPosition.status !== 'ACCEPTED'"></clr-icon>

                    {{ technicalProposalPosition.position.name }}
                  </td>

                  <td class="left">
                    <div class="form-group compact">
                      <input type="text"
                             placeholder="Наименование не заполнено.."
                             (change)="updateTpPositionManufacturingName(
                                 technicalProposalPosition,
                                 technicalProposal.id,
                                 $event.target.value
                               )"
                             value="{{ technicalProposalPosition.manufacturingName }}" />
                    </div>
                  </td>
                  <td class="left history"><b>{{ technicalProposalPosition.history?.user.shortName }}</b>
                    {{technicalProposalPosition.history?.createdDate | date :'shortDate'}}</td>
                </tr>
                </tbody>
              </table>
            </div>

            <ng-template #tpHasNoPositions>
              <div class="tp-has-no-positions">Техническое предложение не содержит позиций</div>
            </ng-template>



          </div>
        </div>
      </div>
    </div>
  </div>


  <!--  Модальное окно добавления и редактирования ТП-->

  <clr-modal *ngIf="technicalProposal" [(clrModalOpen)]="showAddTechnicalProposalModal" [clrModalClosable]="false">
    <h3 class="modal-title">{{
        tpModalInEditMode(technicalProposal) ?
        "Редактирование технического предложения" :
        "Новое техническое предложение"
      }}</h3>

    <div class="modal-body">

      <div class="clr-row">
        <div class="clr-col-12">
          <label>
            <span class="supplier-name-label">Наименование поставщика</span>
          </label>

          <app-supplier-select
                  *ngIf="!(technicalProposal.positions && tpIsOnReview(technicalProposal)); else readonly"
                  [contragentName]="getCurrentTpContragentName()"
                  (selectedContragent)="onSelectedContragent($event)"
                  (contragentNameChange)="onContragentInputChange($event)">
          </app-supplier-select>

          <ng-template #readonly>
            <p class="readonly-supplier-name">{{ technicalProposal.supplierContragent.shortName }}</p>
          </ng-template>

        </div>

        <div class="clr-col-12">
          <div *ngIf="!tpModalInEditMode(technicalProposal); else editUploadedDocsBlock">
            <form [formGroup]="documentsForm" class="form tp-documents-list">
              <app-document-upload-list
                  (fileSelected)="onDocumentSelected($event, documentsForm)"
                  [documents]="documentsForm.get('documents').value"
              ></app-document-upload-list>
            </form>
          </div>

          <ng-template #editUploadedDocsBlock>
            <form [formGroup]="documentsForm" class="form tp-documents-list">
              <app-document-simple-list
                  [documents]="technicalProposal.documents"
                  [enableUpload]="false"
              ></app-document-simple-list>

              <app-document-upload-list
                  (fileSelected)="onDocumentSelected($event, documentsForm)"
                  [documents]="documentsForm.get('documents').value"
              ></app-document-upload-list>
            </form>
          </ng-template>
        </div>
      </div>

      <div class="clr-row clr-align-items-center"
           *ngIf="!(technicalProposal.positions && tpIsOnReview(technicalProposal)) || technicalProposal.id === null">
        <div class="clr-col-12">
          <span class="positions-list-label">Позиции технического предложения:</span>
        </div>

        <div class="clr-col-12">
          <div class="card-block">

            <ng-container class="load-block"
                          *ngIf="!(technicalProposalsPositions && technicalProposalsPositions.length > 0)">
              <span class="spinner spinner-md"></span>
            </ng-container>

            <ng-container *ngFor="let technicalProposalPosition of technicalProposalsPositions">
              <clr-checkbox-wrapper class="tp-positions-list">
                <input type="checkbox"
                       clrCheckbox
                       value="{{ technicalProposalPosition.id }}"
                       (change)="onTechnicalProposalPositionSelected(technicalProposalPosition)"
                       [checked]="checkIfPositionIsChecked(technicalProposalPosition)" />
                <label>{{ technicalProposalPosition.name }}</label>
              </clr-checkbox-wrapper>
            </ng-container>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <div class="clr-row w-100">
        <div class="clr-col-12 text-right">
          <button class="btn btn-link" (click)="onCloseModal()">Отмена</button>

          <ng-container *ngIf="!tpModalInEditMode(technicalProposal); else saveBtn">
            <button class="btn btn-primary"
                    [disabled]="!checkIfCreatingIsEnabled()"
                    (click)="onAddTechnicalProposal()">Добавить</button>
          </ng-container>

          <ng-template #saveBtn>
            <button class="btn btn-primary"
                    [disabled]="!checkIfSavingIsEnabled(technicalProposal)"
                    (click)="onSaveTechnicalProposal()">Сохранить</button>
          </ng-template>
        </div>
      </div>
    </div>
  </clr-modal>

  <app-wizard-create-procedure
    #createProcedureWizard
    [request]="request"
    [requestPositions$]="requestPositions$"
    [contragents$]="contragentList$"
    [allowOpenedProcedure]="true"
    (publishProcedure)="onPublishProcedure($event)">
  </app-wizard-create-procedure>

</ng-container>
