.breadcrumbs {
  margin-bottom: 15px;
}
.breadcrumbs, .breadcrumbs a {
  color: #646566;
  font-weight: 400;
  font-size: 20px;
}
.breadcrumbs a:hover {
  text-decoration: none;
}

::ng-deep .file-upload-label {
  margin-top: 10px;
  font-weight: bold;
}

.technical-proposals {
  margin-bottom: 60px;
}

.technical-proposal-card {
  background: white;
  padding: 20px 35px;
  margin-top: 30px;
  border: 1px solid #B2D0FF;
  border-radius: 8px;
}

.card-block {
  padding: 10px 0 15px 0
}

::ng-deep .technical-proposals .send-offers.btn span {
  padding: 0;
}

.tp-has-no-positions {
  background: #eee;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: gray;
  text-align: center;
}

.edit-btn {
  display: inline-block;
  padding: 0 10px;

  &:hover {
    cursor: pointer;
    color: #0085FF;
  }
}

span.supplier-name {
  font-size: 17px;
  line-height: 100%;
  max-width: 600px;
}

span.supplier-name-label, span.positions-list-label {
  padding-bottom: 5px;
  display: block;
  color: gray;
}

.send-for-approval {
  text-align: right;

  & button.btn.btn-primary {
    margin-right: 0;
    overflow: initial;

    &.disabled {
      pointer-events: none;
    }
  }

  /** Цвета лейблов статусов */
  & p.status-default {
    font-weight: bold;
    color: #666;
  }
  & p.status-NEW {
    color: blue;
  }
  & p.status-SENT_TO_REVIEW {
    color: #f38b00;
  }
  & p.status-ACCEPTED {
    color: #388E3C;
  }
  & p.status-PARTIALLY_ACCEPTED {
    color: #fb6a9e;
  }
  & p.status-CANCELED {
    color: red;
  }
  /** /Цвета лейблов статусов */
}

.positions-list th {
  width: 40%;
  color: gray;
  font-size: 12px;
  font-weight: 400;
}

.positions-list th:nth-of-type(2) {
  padding-left: 20px;
}

.positions-list tbody tr:not(:hover) td:nth-of-type(2) input {
  border: 1px solid transparent;
}

.positions-list .form-group input {
  font-size: 13px;
}

.positions-list td .form-group.compact {
  margin-bottom: 0;
  display: block;
}

.positions-list td .form-group.compact {
  margin-bottom: 0;
}

.positions-list tbody tr td {
  line-height: 30px;
  padding: 5px 10px;
}

.positions-list tbody tr:hover {
  background: #e1f1f6;
}

.positions-list tbody tr:hover .form-group.compact {
  display: block !important;
}

.positions-list tbody tr:hover span {
  display: none !important;
}

.tp-positions-list {
  display: block;
}

::ng-deep .tp-documents-list button.btn.btn-link {
  height: 100%;
}

.not-clickable {
  pointer-events: none;
}

.history {
  width: 250px;
}


p.readonly-supplier-name {
  margin: 0;
}

.accepted {
  color: green;
  margin: 0 4px 3px 0;
}

.declined {
  color: red;
  margin: 0 4px 3px 0;
}

.unknown-status {
  color: #e7a20b;
  margin: 0 4px 3px 0;
}

.loading-state {
  pointer-events: none;

  &:before {
    content: '';
    height: 15px;
    width: 15px;
    display: block;
    color: black;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    background: url('data:image/svg+xml;charset=utf8,%3Csvg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cstyle%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20.cls-1%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20.cls-2%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20fill%3A%20none%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20stroke-miterlimit%3A%2010%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20stroke-width%3A%205px%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%20%20.cls-1%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20stroke%3A%20%23000000%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20stroke-opacity%3A%200.15%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%20%20.cls-2%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20stroke%3A%20%230077b8%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%3C%2Fstyle%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Ctitle%3EPreloader_72x2%3C%2Ftitle%3E%0A%20%20%20%20%3Ccircle%20class%3D%22cls-1%22%20cx%3D%2236%22%20cy%3D%2236%22%20r%3D%2233%22%2F%3E%0A%20%20%20%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M14.3%2C60.9A33%2C33%2C0%2C0%2C1%2C36%2C3%22%3E%0A%20%20%20%20%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A') no-repeat;
    float: left;
    margin-left: -50px;
  }
}
.btn-cancel-send-to-approval {
  min-width: 150px;
  .cancel-timer {
    opacity: 0.3;
  }
}

