<ng-container class="load-block"
              *ngIf="!customers">
  <span class="spinner spinner-md"></span>
</ng-container>

<div class="search" *ngIf="customers">
  <input #customerSearchInput
         type="text"
         placeholder="Заказчик"
         autocomplete="off"
         [value]="customerSearchValue"
         (input)="onCustomerSearchInputChange($event.target.value)" />
</div>


<div class="customers-list">
  <div class="app-row" *ngFor="let customer of getCustomers() | contragentSearchFilter: getCustomerSearchInputValue()">
    <uxg-checkbox #statusCheckbox [ngModel]="checked(customer.id)" (ngModelChange)="check(customer.id)" class="app-control">
    </uxg-checkbox>
    <label class="app-col status-label" (click)="statusCheckbox.check($event)">{{ customer.shortName }}</label>
  </div>
</div>

<ng-container *ngIf="
    customers &&
    limit > 0 &&
    limit < customers.length && !showAll ||
    (showAll && limit < ( getCustomers() | contragentSearchFilter: getCustomerSearchInputValue() ).length)">

  <div class="show-all" (click)="showAll = !showAll">
    <a>{{ showAll ? 'Свернуть' : 'Показать всех' }}</a>
  </div>

</ng-container>
