<ng-container *ngIf="procedure; else loader">
  <app-procedure-info
    [procedure]="procedure"
    (bargain)="procedureModalPayload = { action: 'bargain', procedure: procedure }"
    (prolong)="prolongModalPayload = procedure">
  </app-procedure-info>

  <!-- modals -->
  <uxg-modal size="l" [(state)]="procedureModalPayload" [ngSwitch]="procedureModalPayload?.action">
    <h2 *ngSwitchCase="'bargain'">Уторговывание процедуры №{{procedureModalPayload?.procedure.procedureId}}</h2>
    <h2 *ngSwitchCase="'prolong'">Продление процедуры №{{procedureModalPayload?.procedure.procedureId}}</h2>

    <app-request-procedure-form
      *ngIf="procedureModalPayload"
      [request]="(request$ | async)"
      [positions]="(positions$ | async)"
      [action]="procedureModalPayload.action"
      [procedure]="procedureModalPayload.procedure"
      [procedureSource]="getSourceCode(sourceFromUrl)"
      (cancel)="procedureModalPayload = null"
      (complete)="refreshProcedures(sourceFromUrl); procedureModalPayload = null"
    ></app-request-procedure-form>
  </uxg-modal>

  <uxg-modal [(state)]="prolongModalPayload">
    <h2>Продление процедуры №{{prolongModalPayload?.procedureId}}</h2>
    <app-procedure-prolongate
      *ngIf="prolongModalPayload"
      [date]="prolongModalPayload.dateEndRegistration"
      [procedureId]="prolongModalPayload.procedureId"
      [requestId]="requestId"
      (close)="prolongModalPayload = null"
      (complete)="refreshProcedures(sourceFromUrl); prolongModalPayload = null"
    ></app-procedure-prolongate>
  </uxg-modal>
</ng-container>

<ng-template #loader>
  <span class="spinner spinner-md"></span>
</ng-template>
