@import "projects/uxg/src/styles/index";

:host {
  display: block;
  position: relative;
}

.zoom {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 450;

  button {
    display: block;
    margin: 0;

    &:first-child {
      margin-bottom: 1em;
    }
  }
}

.annotation {
  position: absolute;
  bottom: 1px;
  left: 1px;
  right: 1px;
  background: rgba(#fff, 0.6);
  backdrop-filter: blur(8px);
  z-index: 450;
  padding: 20px;
  border-radius: 0 0 8px 8px;
}

.square {
  width: 16px;
  height: 16px;
  margin-right: .5em;

  &-success {background-color: uxg($theme, color-font-success);}
  &-warning {background-color: uxg($theme, color-font-warning); }
  &-invalid {background-color: uxg($theme, color-control-invalid);}
}

.legend {
  margin: 1em 1em 0 0;

  uxg-icon {color: uxg($theme, color-font-link);}
}

$pointTypes: (err: #EB5757, warn: #F2C94C, succ: #20B55F, contragent: #2585F5);

.dashboard-map-marker {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: default;

  &-icon {
    flex-shrink: 0;
    color: #b2d0ff;
  }

  &-percent {
    color: #fff;
    padding: 1px 6px;
    width: 42px;
    text-align: center;
  }

  &-title {
    color: #000;
    white-space: nowrap;
  }

  @each $type, $color in $pointTypes {
    &-#{$type} {
      color: $color;
      .dashboard-map-marker-icon { color: $color }
      .dashboard-map-marker-percent { background: $color }
    }
  }
}
