<div class="zoom">
  <button uxgButton primary icon (click)="map.zoomIn()"><clr-icon shape="app-plus"></clr-icon></button>
  <button uxgButton primary icon (click)="map.zoomOut()"><clr-icon shape="app-minus"></clr-icon></button>
</div>
<div class="annotation app-row">
  <div class="app-col">
    <div><b>Общий статус обеспечения</b></div>
    <br/>
    <div class="app-row">
      <div class="app-col app-row app-align-items-center">
        <div class="square square-success"></div>
        <div>Высокий <span class="app-ghost-color">(60-100%)</span></div>
      </div>
      <div class="app-col app-row app-align-items-center">
        <div class="square square-warning"></div>
        <div>Средний <span class="app-ghost-color">(30-59%)</span></div>
      </div>
      <div class="app-col app-row app-align-items-center">
        <div class="square square-invalid"></div>
        <div>Низкий <span class="app-ghost-color">(0-29%)</span></div>
      </div>
    </div>
  </div>
  <div class="app-col">
    <div><b>Условные обозначения</b></div>
    <div class="app-row ">
      <div class="legend"><clr-icon shape="map-basis"></clr-icon> - Базис поставки</div>
      <div class="legend"><clr-icon shape="map-contragent"></clr-icon> - Контрагент</div>
    </div>
  </div>
</div>
<div appDashboardMap class="app-card"
     [center]="[57.30208668581665, 67.80538384664513]"
     [style.height.px]="600"
     [scrollWheelZoom]="false"
     [zoom]="5"
     [zoomControl]="false"
     (initMap)="initMap($event)"
>
  <ng-container *ngFor="let markerData of markersData$ | async">
    <div appDashboardMapMarker [type]="getPointType(markerData)" [coords]="markerData?.coords"
         [iconSize]="[100, 42]" [iconAnchor]="[0,0]" (initMarker)="markersGroup.addLayer($event)"
    >
      <clr-icon shape="map-basis" class="dashboard-map-marker-icon" size="42"></clr-icon>
      <div>
        <div class="dashboard-map-marker-percent">{{markerData.progress}}%</div>
        <div class="dashboard-map-marker-title">{{markerData.title}}</div>
      </div>
    </div>

    <ng-container *ngFor="let contragent of markerData?.contragents">
      <div appDashboardMapMarker type="contragent"
           [iconSize]="[27, 37]" [coords]="contragent?.coords" [iconAnchor]="[13.5, 37]"
           (initMarker)="addContragentMarker($event, [markerData?.coords, contragent?.coords])"
      >
        <clr-icon shape="map-contragent" class="dashboard-map-marker-icon" size="37"></clr-icon>
      </div>
    </ng-container>
  </ng-container>
</div>
