@import "projects/uxg/src/styles/index";

.app-menu {
  background: uxg($theme, color-default);
  border-bottom: 1px #d5dde2 solid;
  height: 64px;

  & > .app-row {
    align-items: center;
  }

  &-logo {
    font-size: uxg($theme, font-size-xl);
    margin-right: 32px;

    &:after {
      color: uxg($theme, color-font-ghost);
      content: "Альфа";
      font-size: 11px;
      font-weight: normal;
      position: relative;
      top: -5px;
      vertical-align: super;
    }
  }

  &-item {
    font-size: uxg($theme, font-size-l);
    line-height: 64px;
    margin: 0 12px;
    position: relative;

    &.active, &.active:hover {
      font-weight: 500;
      color: uxg($theme, color-font-link);

      &:after {
        background: uxg($theme, color-font-link);
        border-radius: 4px 4px 0 0;
        bottom: 0;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }

  &-icon {
    margin: 0 8px;
    position: relative;

    .basket-counter {
      background: uxg($theme, color-font-link);
      border: 2px solid;
      border-radius: 50%;
      box-sizing: content-box;
      color: uxg($theme, color-default);
      height: 16px;
      line-height: 16px;
      position: absolute;
      right: -8px;
      text-align: center;
      top: -8px;
      width: 16px;
    }
  }

  &-login {
    align-self: center;
    border-left: 1px #d5dde2 solid;
    margin-left: 20px;
    padding-left: 20px;

    .app-row {
      flex-wrap: nowrap;
      cursor: pointer;
      > div { max-width: 130px}
      img { margin-right: 8px }
    }
  }
}
