<nav *ngIf="showMenu" class="subnav">
  <div class="container">
    <div class="clr-row w-100">
      <div class="clr-col-8 menu">
        <div class="logo-block">
          <a [routerLink]="'/'">Marketplace</a>
        </div>

        <ul class="nav menu-block">
          <li class="nav-item" *ngFor="let link of mainMenu">
            <a class="nav-link" [routerLink]="link.path" routerLinkActive="link-active">{{ link.text }}</a>

            <span *ngIf="link.children.length > 0">
          (<a *ngFor="let link of link.children">
            <a [routerLink]="link.path">{{ link.text }}</a>
          </a>)
        </span>
          </li>
        </ul>
      </div>
      <div class="clr-col">
      </div>
      <div class="clr-col-3">
        <ul class="nav login-block">

          <li *ngIf="!auth.isAuth() && !isLoginPage()" class="nav-item">
            <a routerLink="/login" class="nav-icon nav-logout">
              Вход
              <clr-icon shape="login" size="32"></clr-icon>
            </a>
          </li>

          <ng-container *ngIf="auth.isAuth()">
            <li class="nav-item">
              <a [routerLink]="'messages'" routerLinkActive="link-active" class="nav-icon message-icon">
                <img src="../../../assets/images/messages.svg">
              </a>
            </li>

            <li *ngIf="user.isCustomer()" class="nav-item">
              <a *ngIf="cartStoreService.getCount() > 0; else emptyCart" [routerLink]="'/cart'" routerLinkActive="link-active" class="nav-icon">
                <img src="../../../assets/images/cart.svg">
                <cart-widget class="cart-widget-margin"></cart-widget>
              </a>
              <ng-template #emptyCart>
                <span class="nav-icon"><img src="../../../assets/images/cart.svg"></span>
              </ng-template>
            </li>

            <li class="nav-item">
              <clr-dropdown class="btn-user">
                <button class="nav-icon" clrDropdownTrigger>
                <span class="avatar">
                 <img src="../../../assets/images/{{ getUserAvatarFile() }}">
                </span>
                  <div class="user-info-block">
                    <p class="user-name">{{ user.getShortUserFio() }}</p>
                    <p class="user-role gray" title="{{ getUserBriefInfo(user) }}">{{ getUserBriefInfo(user) }}</p>
                  </div>
                </button>

                <clr-dropdown-menu class="user-info-dropdown" *clrIfOpen clrPosition="bottom-right">
                  <ng-container *ngIf="user.isBackOffice()">
                    <h4 class="dropdown-header" title="{{ user.getUserInfo().contragent?.shortName }}">
                      {{ user.getUserInfo().contragent?.shortName }}
                    </h4>

                    <div class="dropdown-divider"></div>
                  </ng-container>

                  <button (click)="logout()" clrDropdownItem>Выход</button>
                </clr-dropdown-menu>
              </clr-dropdown>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</nav>
