::ng-deep .main-container .alert.alert-app-level {
  margin-top: -20px;
  margin-bottom: 20px;
}

.alert-actions {
  margin: 0!important;
}

.alert-action {
  border: 1px solid #fff;
}

::ng-deep .alert-app-level .alert-icon-wrapper {
  margin: 0!important;
}
