<div class="clr-row clr-justify-content-end vat-toggle-block">
  <div class="clr-col-auto toggle-switch">
    <input type="checkbox" id="vat-toggle" checked clrToggle
           [checked]="pricesWithVAT"
           (change)="pricesWithVAT = !pricesWithVAT" >
    <label for="vat-toggle">Показывать цены с НДС</label>
  </div>
</div>

<clr-datagrid class="datagrid-suppliers-list datagrid-select-hidden"
              [(clrDgSingleSelected)]="selectedSupplierOffer"
              [clrDgRowSelection]="true"
              (clrDgSingleSelectedChange)="onOfferClick($event)">

  <clr-dg-column *ngIf="canSeePlaceColumn()"
                 class="clr-col-1" [clrDgSortBy]="'place'" [clrDgSortOrder]="ascSort">Место</clr-dg-column>
  <clr-dg-column class="clr-col-4" [clrDgSortBy]="'supplierName'">Поставщик</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="'positionsCount'">Позиций</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="'deliveryCost'">Цена {{ getVATLabel() }} </clr-dg-column>
  <clr-dg-column [clrDgSortBy]="'offerCost'">Цена {{ getVATLabel() }} <br>(с доставкой)</clr-dg-column>

  <clr-dg-row
    *clrDgItems="let supplierOffer of suppliersOffers"
    [clrDgItem]="supplierOffer"
    [ngClass]="{'gray': checkOfferPositionsCount(supplierOffer)}">

    <clr-dg-cell class="clr-col-1" *ngIf="canSeePlaceColumn()">{{ supplierOffer.place }}</clr-dg-cell>

    <clr-dg-cell class="clr-col-4">
      {{ supplierOffer.supplierName }}
      <span *ngIf="supplierOffer.attachedFilesCount > 0">
          <clr-icon shape="paperclip"></clr-icon>
        {{ supplierOffer.attachedFilesCount }}
      </span>
    </clr-dg-cell>

    <clr-dg-cell>{{ supplierOffer.positionsCount }}</clr-dg-cell>


    <clr-dg-cell>
      {{ (pricesWithVAT ? supplierOffer.offerCostWithVat : supplierOffer.offerCostWithoutVat) | currency:'RUB' }}
    </clr-dg-cell>


    <clr-dg-cell>
      <span [ngClass]="getOfferCostFieldClass(supplierOffer)">
        {{ (pricesWithVAT ? supplierOffer.offerCostWithVatAndDelivery : supplierOffer.offerCostWithoutVatAndDelivery) | currency:'RUB' }}
      </span>
    </clr-dg-cell>

  </clr-dg-row>

  <clr-dg-placeholder>Предложений не найдено</clr-dg-placeholder>

  <clr-dg-footer *ngIf="suppliersOffers?.length > pageSize">
    <clr-dg-pagination [clrDgPageSize]="pageSize"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<div class="nmc-info">
  <div class="clr-row">
    <div class="clr-col-4">
      <b>НМЦ</b>
    </div>
    <div class="clr-col-5">
      <b>{{ purchase.positionsCount }}</b>
    </div>
    <div class="clr-col-3">
      <b>{{ getStartMaxCost() | currency:'RUB' }}</b>
    </div>
  </div>
</div>
