::ng-deep .datagrid-suppliers-list .gray clr-dg-cell {
  color: #9fa8b0 !important;
}

.nmc-info {
  padding: 10px 0 10px 10px;
  border-top: 1px solid #dddddd;
  margin-top: 5px;
}

::ng-deep .clr-row.supplier-row {
  padding-bottom: 12px;
}

::ng-deep .clr-row.linked-items {
  padding-bottom: 7px;
}

::ng-deep .datagrid-suppliers-list .datagrid-body {
  overflow-x: hidden;
}

::ng-deep .clr-toggle-wrapper {
    display: inline-block;
    margin-right: -9px;
    float: right;
}

.vat-toggle-block {
    padding: 14px 0 7px 0;
}
.toggle-switch label {
    margin-right: 9px;
}
.toggle-switch {
    margin-right: 0;
}