@import "controls-checkbox", "controls-input", "controls-switcher";

@mixin controls($theme) {
@include controls-switcher($theme);
@include controls-input($theme);
@include controls-checkbox($theme);

label ~ .app-control,
.app-control ~ label,
.app-control label,
.app-control-checkbox {
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}
}
