<div class="date-bubble-block" *ngIf="inspectorStages && inspectorStages.length > 0">
  <div class="status-dot"></div>
  <div class="date-bubble">Инспекционный контроль</div>
</div>

<clr-accordion class="manufacturing-timeline-block" [clrAccordionMultiPanel]="true">
  <clr-accordion-panel *ngFor="let inspectorEvent of inspectorStages" class="manufacturing-timeline-panel"
                       [clrAccordionPanelDisabled]="true">

    <clr-accordion-title class="manufacturing-timeline-header">
      <div class="status-dot">
        <span class="time-item">{{ inspectorEvent.createdDate | date : "dd.MM.yyyy" }}</span>
      </div>
      <div class="clr-row">
        <div class="clr-col manufacturing-timeline-item">
          <div class="icon">
            <clr-icon shape="asterisk" class="is-solid" size="20"></clr-icon>
          </div>
          <div class="item-info-block">
            <div class="item-name">{{inspectorEvent.title}}</div>
            <div class="item-info">
              {{inspectorEvent.description}}
            </div>
          </div>
        </div>
      </div>
    </clr-accordion-title>
  </clr-accordion-panel>
</clr-accordion>









<ng-template #inspectorEventsLoading>
  <span class="spinner spinner-md manufacturing-monitor-loader"></span>
</ng-template>

<ng-container *ngIf="(inspectorEvents$ | async ) as inspectorEvents; else inspectorEventsLoading">

  <div class="date-bubble-block">
    <div class="status-dot"></div>
    <div class="date-bubble">{{ getEventsStartDate(inspectorEvents) }}</div>
  </div>

  <clr-accordion class="manufacturing-timeline-block" [clrAccordionMultiPanel]="true">

    <ng-container *ngFor="let event of inspectorEvents.data.good.mtrEvents">

      <clr-accordion-panel  class="manufacturing-timeline-panel" [clrAccordionPanelDisabled]="true">

        <clr-accordion-title class="manufacturing-timeline-header">

          <div class="status-dot">
            <span class="time-item">{{ event.occurredAt | date : 'HH:mm' }}</span>
          </div>

          <div class="clr-row">
            <div class="clr-col manufacturing-timeline-item">
              <div class="manufacturing-icon {{ event.type}}-icon"></div>

              <div class="item-info-block">
                <div class="item-name">{{ getEventTitleByType(event.type) }}</div>
                <div class="item-info" style="display: none">
                  <div class="clr-row">
                    <div class="clr-col-4">Объёмом: 3,15</div>
                    <div class="clr-col-8">Период: Вс, 01.09.2019 г. — Пн, 30.09.2019 г.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </clr-accordion-title>

        <clr-accordion-content class="item-info-inner-content" *clrIfExpanded>
        </clr-accordion-content>

      </clr-accordion-panel>
    </ng-container>






    <!--    <clr-accordion-panel class="manufacturing-timeline-panel" [clrAccordionPanelDisabled]="true">-->

    <!--      <clr-accordion-title class="manufacturing-timeline-header">-->

    <!--        <div class="status-dot">-->
    <!--          <span class="time-item">12:15</span>-->
    <!--        </div>-->

    <!--        <div class="clr-row">-->
    <!--          <div class="clr-col manufacturing-timeline-item">-->
    <!--            <div class="manufacturing-icon manufacturing-chain"></div>-->

    <!--            <div class="item-info-block">-->
    <!--              <div class="item-name">Пакеты прошли через производственное звено</div>-->
    <!--              <div class="item-info">-->
    <!--                <div class="clr-row">-->
    <!--                  <div class="clr-col-4">Цех 2. Прокат труб</div>-->
    <!--                  <div class="clr-col-8">Общая масса: 3,15 т / кол-во: 24 трубы</div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </clr-accordion-title>-->

    <!--      <clr-accordion-content class="item-info-inner-content" *clrIfExpanded>-->
    <!--      </clr-accordion-content>-->

    <!--    </clr-accordion-panel>-->



    <!--    <clr-accordion-panel class="manufacturing-timeline-panel">-->

    <!--      <clr-accordion-title class="manufacturing-timeline-header">-->

    <!--        <div class="status-dot">-->
    <!--          <span class="time-item">12:20</span>-->
    <!--        </div>-->

    <!--        <div class="clr-row">-->
    <!--          <div class="clr-col manufacturing-timeline-item">-->
    <!--            <div class="manufacturing-icon alert-icon"></div>-->

    <!--            <div class="item-info-block">-->
    <!--              <div class="item-name">Выписано уведомление о несоответствии</div>-->
    <!--              <div class="item-info">-->
    <!--                <div class="clr-row">-->
    <!--                  <div class="clr-col-4">Ср, 20.09 в 12:20</div>-->
    <!--                  <div class="clr-col-8 alert-status-dot">Существенно</div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->

    <!--            <div class="item-status-block">-->
    <!--              <div class="item-toggle-icon"></div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </clr-accordion-title>-->

    <!--      <clr-accordion-content class="item-info-inner-content" *clrIfExpanded="true">-->

    <!--        <div class="clr-row">-->
    <!--          <div class="clr-col-6">-->
    <!--            <div class="item-info-element">-->
    <!--              <p class="item-info-label">Описание несоответствия</p>-->
    <!--              <p class="item-info-content">На резьбе есть заусенцы</p>-->
    <!--            </div>-->
    <!--          </div>-->

    <!--          <div class="clr-col-6">-->
    <!--            <div class="item-info-element">-->
    <!--              <p class="item-info-label">Нарушено требование</p>-->
    <!--              <p class="item-info-content">Гост</p>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->


    <!--        <div class="clr-row">-->
    <!--          <div class="clr-col-6">-->
    <!--            <div class="item-info-element">-->
    <!--              <p class="item-info-label">Степень критичности</p>-->
    <!--              <p class="item-info-content">Существенно</p>-->
    <!--            </div>-->
    <!--          </div>-->

    <!--          <div class="clr-col-6">-->
    <!--            <div class="item-info-element">-->
    <!--              <p class="item-info-label">Срок предоставления поставщиком плана корректирующих мероприятий</p>-->
    <!--              <p class="item-info-content">24.09.2019</p>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->

    <!--      </clr-accordion-content>-->

    <!--    </clr-accordion-panel>-->

  </clr-accordion>

</ng-container>
