<div class="digital-inspector-content">
  <ng-template #noData>
    <ng-template #loadingInspectorData>
      <span class="spinner spinner-md delivery-monitor-loader"></span>
    </ng-template>

    <ng-container *ngIf="inspectorStages && inspectorStages.length === 0; else loadingInspectorData">
      <p class="no-inspector-data gray">На данный момент событий нет</p>
    </ng-container>
  </ng-template>

  <ng-container *ngIf="inspectorStages && inspectorStages.length !== 0; else noData">

    <div class="date-bubble-block">
      <div class="status-dot"></div>
      <div class="date-bubble">Инспекционный контроль</div>
    </div>

    <clr-accordion class="manufacturing-timeline-block" [clrAccordionMultiPanel]="true">
      <clr-accordion-panel *ngFor="let inspectorEvent of inspectorStages" class="manufacturing-timeline-panel"
                           [clrAccordionPanelDisabled]="true">

        <clr-accordion-title class="manufacturing-timeline-header">

          <div class="status-dot">
            <span class="time-item">{{ inspectorEvent.occurredAt | date : "dd.MM.yyyy" }}</span>
          </div>

          <div class="clr-row">
            <div class="clr-col manufacturing-timeline-item">
              <div class="manufacturing-icon {{ inspectorEvent.type}}-icon"></div>

              <div class="item-info-block">
                <div class="item-name">{{ getEventTitleByType(inspectorEvent.type) }}</div>
                <div class="item-info"></div>
              </div>
            </div>
          </div>
        </clr-accordion-title>
      </clr-accordion-panel>
    </clr-accordion>

  </ng-container>
</div>