.manufacturing-monitor-loader {
  margin: 20px auto;
}

.manufacturing-timeline-block {
  max-width: 650px;
  padding-left: 90px;
}

.manufacturing-icon {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  vertical-align: top;

  &.CertificateUploaded-icon {
    background-image: url('/assets/images/manufacturing/сertificate-icon.svg');
    background-repeat: no-repeat;
  }

  &.ConsignmentLoaded-icon {
    background-image: url('/assets/images/manufacturing/сertificate-icon.svg');
    background-repeat: no-repeat;
  }

  &.ConsignmentCreated-icon {
    background-image: url('/assets/images/manufacturing/сertificate-icon.svg');
    background-repeat: no-repeat;
  }

  &.ConsignmentIsMoving-icon {
    background-image: url('/assets/images/manufacturing/сertificate-icon.svg');
    background-repeat: no-repeat;
  }

  &.PackagesLeftProductionOperationLink-icon {
    background-image: url('/assets/images/manufacturing/сertificate-icon.svg');
    background-repeat: no-repeat;
  }

  &.OptionVerification-icon {
    background-image: url('/assets/images/manufacturing/сertificate-icon.svg');
    background-repeat: no-repeat;
  }

  &.ConsignmentIsMoving-icon {
    background-image: url('/assets/images/manufacturing/сertificate-icon.svg');
    background-repeat: no-repeat;
  }
}

.item-status-block {
  float: right;

  & .item-toggle-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url('/assets/images/delivery-monitor/toggle-arrow-icon.svg');
    background-repeat: no-repeat;
    margin-left: 20px;

    transition: transform 0.3s ease-in-out;
  }
}

::ng-deep .clr-accordion.manufacturing-timeline-block:not(.clr-stepper-forms) .clr-accordion-header-button {
  padding: 24px 20px;

  & .clr-accordion-status {
    display: none;
  }
}

::ng-deep .manufacturing-timeline-header {
  width: 100%;
}

::ng-deep .manufacturing-timeline-panel .clr-accordion-header:hover {
  background-color: initial;
}

::ng-deep .manufacturing-timeline-panel .clr-accordion-panel-open {
  .clr-accordion-header {
    background: initial;
  }
}


.item-info-block {
  & .item-name {
    font-size: 16px;
    line-height: 18px;
    color: #254456;
    margin-bottom: 5px;
  }

  & .item-info {
    font-size: 14px;
    line-height: 17px;
    color: #8B9AA3;
  }
}

::ng-deep .clr-accordion-panel-open .item-status-block .item-toggle-icon {
  transition: transform 0.3s ease-in-out;
  transform: rotate(-180deg);
}

::ng-deep .manufacturing-icon, ::ng-deep .item-info-block, ::ng-deep .status-block {
  display: inline-block;
}

::ng-deep .manufacturing-timeline-block .clr-accordion-header,
::ng-deep .manufacturing-timeline-block .clr-accordion-content,
::ng-deep .manufacturing-timeline-block .clr-accordion-panel:last-child .clr-accordion-content,
::ng-deep .manufacturing-timeline-block .clr-accordion-panel:last-child .clr-accordion-header {
  border: 0;
}


::ng-deep .manufacturing-timeline-block .clr-accordion-header,
::ng-deep .manufacturing-timeline-block .clr-accordion-panel:last-child .clr-accordion-header,
::ng-deep .manufacturing-timeline-block.clr-accordion:not(.clr-stepper-forms) .clr-accordion-panel:first-child .clr-accordion-header {
  border-top: 1px solid #F0F3F5;
  border-radius: 0;
  background-color: white;

  &:hover {
    background-color: #f1f6f9;
  }
}

::ng-deep .manufacturing-timeline-block[disabled=true] .clr-accordion-header:hover,
::ng-deep .manufacturing-timeline-block[disabled=true] .clr-accordion-panel:last-child .clr-accordion-header:hover,
::ng-deep .manufacturing-timeline-block[disabled=true].clr-accordion:not(.clr-stepper-forms) .clr-accordion-panel:first-child .clr-accordion-header:hover {
  background-color: initial;
  cursor: default;
}


.item-info-inner-content {
  padding-top: 10px;
  display: block;
}


.item-info-element {
  padding-bottom: 25px;
}

.item-info-label {
  font-size: 14px;
  line-height: 17px;
  color: #A9BBC6;
  padding-bottom: 5px;
  margin: 0;
}

.item-info-content {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}



.from-to-block {
  padding-top: 35px;
  padding-bottom: 20px;
}

.from-to-icon {
  width: 15px;
  height: 12px;
  background-image: url('/assets/images/delivery-monitor/forward-arrow-icon.svg');
  background-repeat: no-repeat;
}

.item-info-block {
  width: calc(100% - 75px);
}

clr-accordion-panel.manufacturing-timeline-panel {
  border-left: 2px solid #0096EB;
  padding: 0 0 0 15px;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  margin-left: -36px;
  margin-top: 14px;
}

.status-dot:before {
  content: "";
  border: 5px solid;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: block;
  margin-left: -50%;
  margin-top: -50%;
  color: #0071B2;
}

.date-bubble-block .status-dot:after {
  content: '';
  width: 2px;
  height: 25px;
  background: #0096eb;
  display: block;
  margin-left: -1px;
}

.manufacturing-timeline-panel:last-of-type {
  border-left: 2px solid transparent;
}

.manufacturing-timeline-panel:last-of-type:before {
  content: "";
  width: 2px;
  height: 35px;
  background: #0096eb;
  margin-left: -17px;
  position: absolute;
}


.time-item {
  margin-left: -90px;
  margin-top: -14px;
  position: absolute;
  font-size: 15px;
  color: #A9BBC6;
  text-align: right;
  width: 75px;
}



.date-bubble-block {
  padding-left: 105px;

  & .date-bubble {
    padding: 8px 15px;
    display: inline-block;
    border-radius: 50px;
    margin-bottom: 10px;
    background: #f0f3f5;
  }

  & .status-dot {
    margin-left: -14px;
    margin-top: 20px;
  }
}

.alert-status-dot:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background-color: #EC343A;
}

::ng-deep .manufacturing-timeline-panel .clr-accordion-panel-open {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.06) !important;
}

.manufacturing-icon.plus-icon:after {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  background: #90C6E5;
  float: right;
  border-radius: 50%;
  box-sizing: border-box;
}