/* Цветовые индикаторы к лейблам статусов */

.status-request-NEW:before,
.status-request-IN_PROGRESS:before,
.status-request-COMPLETED:before,

.status-position-NEW:before,
.status-position-PROPOSALS_PREPARATION:before,
.status-position-RESULTS_AGREEMENT:before,
.status-position-WINNER_SELECTED:before,
.status-position-CONTRACT_AGREEMENT:before,
.status-position-CONTRACT_SIGNING:before,
.status-position-CONTRACTED:before,
.status-position-RKD_AGREEMENT:before,
.status-position-MANUFACTURING:before,
.status-position-DELIVERY:before,
.status-position-DELIVERED:before,
.status-position-PAID:before,
.status-position-COMPLETED:before
{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    margin: -2px 4px 0 0;
    border-radius: 50%;
}


.status-request-NEW:before {
    background: #b9b9b9;
}
.status-request-IN_PROGRESS:before {
    background: #f48f32;
}
.status-request-COMPLETED:before {
    background: #00b75e;
}


.status-position-NEW:before {
    background: #b9b9b9;
}
.status-position-PROPOSALS_PREPARATION:before {
    background: #28b1ec;
}
.status-position-RESULTS_AGREEMENT:before {
    background: #00b75e;
}
.status-position-WINNER_SELECTED:before {
    background: rgb(255, 71, 90);
}
.status-position-CONTRACT_AGREEMENT:before {
    background: rgb(97, 77, 255);
}
.status-position-CONTRACT_SIGNING:before {
    background: rgb(159, 56, 255);
}
.status-position-CONTRACTED:before {
    background: rgb(150, 183, 57);
}
.status-position-RKD_AGREEMENT:before {
    background: rgb(142, 46, 90);
}
.status-position-MANUFACTURING:before {
    background: rgb(149, 65, 25);
}
.status-position-DELIVERY:before {
    background: rgb(84, 199, 171);
}
.status-position-DELIVERED:before {
    background: rgb(100, 142, 255);
}
.status-position-PAID:before {
    background: rgb(231, 200, 35);
}
.status-position-COMPLETED:before {
    background: rgb(255, 127, 127);
}