/* Подключение шрифтов */
@import "assets/styles/fonts";

$font_ptroot: PT Root UI, Roboto, sans-serif;
/* deprecated section, do not use this styles */
$clr-use-custom-properties: false;
$color_black: #000000;
$color_blue: #0085FF;
$color_orange: #FF9E00;
$color_green: #417505;
$color_red: #FF2519;
$color_gray: #999999;
$color_light_gray: #D4D9E2;
$font_size_basic: 14px;
@import "~@clr/ui/src/main";

@import "assets/styles/deprecated/card-items";
@import "assets/styles/deprecated/input-fields";
@import "assets/styles/deprecated/alerts";
@import "assets/styles/deprecated/styles";
/* end of deprecated sectiion */


@import "~nouislider/distribute/nouislider.min.css";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "~flatpickr/dist/flatpickr.min.css";

@import "projects/uxg/src/styles/default-theme";
@import "assets/styles/grid";
@import "assets/styles/proposals-grid";
@import "assets/styles/statuses";

body,
html {
  height: 100%;
}

body, body p, h1, h2, h3, h4, h5, h6 {
  font-family: $font_ptroot;
  line-height: normal;
}

body {
  color: uxg($theme, color-font-primary);
  background-color: #FBFCFE;
}

*:focus {
  outline: 0;
}

a, a:hover, a:visited, [routerlink]:hover, [ng-reflect-router-link]:hover {
  text-decoration: none;
  cursor: pointer;
}

.app-position-status {
  white-space: nowrap;

  > * + * { margin-left: .5em }

  &-icon {
    display: inline-block;
    width: .858em;
    height: .858em;
    border-radius: 50%;

    @each $status, $color in $statuses {
      &.#{$status} { background-color: $color }
    }
  }
}
