<ng-container *ngIf="!request" class="load-block">
  <span class="spinner spinner-md"></span>
</ng-container>

<ng-container *ngIf="request">
  <div class="clr-row commercial-proposals">
    <div class="info-card clr-col">
      <div class="request-info">
        <div class="breadcrumbs">
          <a (click)="onRequestsClick()">Заявки</a> → <a (click)="onRequestClick()">Заявка №{{request.number}}</a>
        </div>

        <div class="clr-row">
          <div class="clr-col-5">
            <h2>Коммерческие предложения</h2>
          </div>

          <div class="clr-col-7 price-auto-select">
            <button class="btn btn-outline" (click)="onAutoselectOfferByMinPrice()">Автовыбор по минимальной цене</button>
          </div>
        </div>

        <div class="table-header-wrapper">
          <table class="table" #tableHeader>
            <thead>
            <tr>
              <th class="position-name"></th>
              <th class="contragent-name" *ngFor="let supplier of suppliers; let i = index">
                <div class="contragent-info">
                  <span class="name">{{ supplier }}</span>
                </div>
              </th>
            </tr>
            </thead>
          </table>
        </div>

        <div class="table-body-wrapper">
          <table class="table" #tableBody>
            <tbody>
              <tr *ngFor="let requestPosition of requestPositions"
                  [ngClass]="{ 'has-selected-offer' : positionHasSelectedOffer(requestPosition),
                               'has-winner' : positionHasWinner(requestPosition) }">
                <td class="position-name">
                  <span class="position-label">{{ requestPosition.name }}</span>

                  <span class="gray">{{requestPosition.quantity}} {{requestPosition.measureUnit}}
                    <span *ngIf="requestPosition.deliveryDate; else ASAP">
                      к {{ makeReadableDate(requestPosition.deliveryDate) }}
                    </span>
                    <ng-template #ASAP>
                      как можно быстрее
                    </ng-template>
                  </span>
                </td>

                <td *ngFor="let supplier of suppliers">
                  <ng-container *ngFor="let linkedOffer of getSupplierLinkedOffers(requestPosition.linkedOffers, supplier)">
                    <div class="offer"
                           (click)="onSelectOffer(requestPosition, supplier, linkedOffer)"
                           [ngClass]="{ 'selected' : offerIsSelected(requestPosition, supplier) || offerIsWinner(linkedOffer) }">
                      <div class="counted-price-block">
                        <div class="clr-row clr-justify-content-between">
                          <div class="clr-col-auto">
                            <span class="counted-offer-price">
                              {{ linkedOffer.priceWithVat * linkedOffer.quantity | currency : linkedOffer.currency }}

                              <span class="offer-quantity">за
                                <span [class.warning-text]="linkedOffer.quantity < requestPosition.quantity">
                                  {{linkedOffer.quantity}} {{linkedOffer.measureUnit}}
                                </span>
                              </span>
                            </span>
                          </div>

                          <div *ngIf="positionHasWinner(requestPosition)" class="clr-col-auto clr-align-self-start">
                            <clr-icon shape="lock" class="lock-icon is-solid" size="14"></clr-icon>
                          </div>
                        </div>
                      </div>

                      <div class="per-unit-price-block">
                        {{ linkedOffer.priceWithVat | currency : linkedOffer.currency }}/{{linkedOffer.measureUnit}}
                      </div>

                      <div class="delivery">Поставят к
                        <span [class.warning-text]="incorrectDeliveryDate(linkedOffer.deliveryDate, requestPosition.deliveryDate)">
                          {{ makeReadableDate(requestPosition.deliveryDate) }}
                        </span>
                      </div>

                      <a *ngIf="linkedOffer.documents.length > 0"
                         (click)="onShowDocumentsModal($event, linkedOffer.documents)"
                         class="offer-documents">{{ getDocumentCountLabel(linkedOffer.documents.length) }}
                      </a>
                    </div>

                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-footer-wrapper">
          <table class="table" (scroll)="onSupplierListScroll($event)">
            <thead>
            <tr>
              <th class="position-name">
                <div class="clr-row footer-total-sum">
                  <span class="clr-col">Итого {{ getTotalSum() | currency: 'RUB' }}</span>

                  <div class="clr-col send-for-agreement-btn">
                    <button class="btn btn-primary"
                            [disabled]="!isSendButtonEnabled()"
                            (click)="sendForAgreement()">Согласовать</button>
                  </div>
                </div>
              </th>

              <th class="contragent-name" *ngFor="let supplier of suppliers; let i = index">
                <div class="contragent-info">
                  <div class="clr-row clr-align-items-center">
                    <div class="clr-col">
                          <span class="total-sum">
                            {{ getTotalSumBySupplier(requestPositions, supplier) | currency : 'RUB' }}
                          </span>
                    </div>
                  </div>

                  <div class="clr-row clr-align-items-center">
                    <div class="clr-col">
                          <span class="selected-sum">
                            Выбрано на сумму {{ getSelectedSumBySupplier(requestPositions, supplier) | currency : 'RUB' }}
                          </span>
                    </div>
                  </div>

                  <div class="clr-row">
                    <div class="clr-col hover-switch-block">
                      <div class="alert-labels">
                        <p>{{ positionsCountValidationLabel(requestPositions, supplier) }}</p>
                        <p>{{ positionsDeliveryDateValidationLabel(requestPositions, supplier) }}</p>
                      </div>

                      <div class="select-all-button" style="display: none">
                        <button class="btn btn-primary"
                              (click)="onSelectAll(requestPositions, supplier)">Выбрать всё</button>
                      </div>
                    </div>
                  </div>

                </div>
              </th>
            </tr>
            </thead>
          </table>
        </div>

      </div>
    </div>
  </div>
</ng-container>

<clr-modal [(clrModalOpen)]="commercialProposalsDocumentsModalOpened">
  <h3 class="modal-title">Документы</h3>

  <div class="modal-body">
    <app-document-simple-list
            [documents]="linkedOfferDocuments"
            [enableUpload]="false">
    </app-document-simple-list>
  </div>
</clr-modal>