<div class="app-table app-no-border">
  <div class="app-row">
    <small class="app-col app-ghost-color">НАИМЕНОВАНИЕ КОНТРАГЕНТА</small>
    <small class="app-col app-ghost-color" [style.flex-grow]="0.5">ИНН</small>
    <small class="app-col app-ghost-color" [style.flex-grow]="0.5">КПП</small>
  </div>
</div>

<div class="app-table">
  <div class="app-row" *ngFor="let contragent of contragents | contragentSearchFilter: searchValue">
    <div class="app-col">
      <a target="_blank" href="/contragents/{{ contragent.id }}/info">{{contragent.shortName}}</a>
    </div>

    <div class="app-col" [style.flex-grow]="0.5">{{contragent.inn}}</div>
    <div class="app-col" [style.flex-grow]="0.5">{{contragent.kpp}}</div>
  </div>
</div>
