<ng-template #loading class="load-block">
  <span class="spinner spinner-md"></span>
</ng-template>

<ng-container *ngIf="contragents; else loading">
  <div class="app-table app-no-border">
    <div class="app-row app-uppercase app-ghost-color app-bold">
      <small class="app-col">Наименование контрагента</small>
      <small class="app-col">ИНН</small>
      <small class="app-col">КПП</small>
      <small class="app-col">E-mail</small>
      <small class="app-col">Ответственный менеджер БО</small>
      <small class="app-col edit" *ngIf="user.isSeniorBackoffice()"></small>
    </div>
  </div>

  <div class="app-table">
    <ng-container *ngFor="let contragent of contragents | contragentSearchFilter: searchValue">
      <a class="app-row app-align-items-center app-link-no-color" [routerLink]="['/contragents', contragent.id, 'info']">
        <div class="app-col app-bold">{{ contragent.shortName }}</div>
        <div class="app-col">{{ contragent.inn }}</div>
        <div class="app-col">{{ contragent.kpp }}</div>
        <div class="app-col">
          <a (click)="mailto($event, contragent.email)" href="mailto:{{ contragent.email }}">{{ contragent.email }}</a>
        </div>
        <div class="app-col">{{ contragent.responsible?.shortName }}</div>
        <div class="app-col edit" *ngIf="user.isSeniorBackoffice()">
          <button uxgButton secondary icon (click)="edit($event, contragent)">
            <uxg-icon shape="app-pen"></uxg-icon>
          </button>
        </div>
      </a>
    </ng-container>
  </div>
</ng-container>
