import { GpnmarketConfigInterface } from "../core/config/gpnmarket-config.interface";

export const AppConfig: GpnmarketConfigInterface = {
  clientId: 'gpnmarket-front',
  endpoints: {
    api: 'api/',
  }
};
