import { GpnmarketConfigInterface } from "../core/config/gpnmarket-config.interface";

export const AppConfig: GpnmarketConfigInterface = {
  clientId: 'gpnmarket-front',
  endpoints: {
    api: 'api/',
    ws: 'ws://localhost:3000'
  },
  dadata: {
    apiKey: 'fc06e6b8af300332f72a366ccdd3dad784e773cd',
  },
  paginator: {
    pageSize: 10,
  },
  procedure: {
    url: 'https://demo2.etpgpb.ru/#com/procedure/edit/id/',
  },
  disabledFeatures: [
    "deliveryMonitor",
    "catalog",
    "contractGeneration"
  ],
};
