<clr-datagrid class="requests-list-datagrid clr-row" (clrDgRefresh)="refresh($event)" [clrDgLoading]="datagridLoader">
  <clr-dg-column class="request-number clr-col-1">
    Номер
  </clr-dg-column>

  <clr-dg-column class="customer-name clr-col-3" *ngIf="customerNameColumnShow">
    Заказчик
  </clr-dg-column>

  <clr-dg-column class="request-status clr-col">
    Наименование
  </clr-dg-column>

  <clr-dg-column class="request-positions-list clr-col-3">
    Сроки поставки
  </clr-dg-column>

  <clr-dg-column class="request-delivery-dates clr-col-1">
    Задач
  </clr-dg-column>

  <clr-dg-column class="request-position-statuses clr-col-1">
    Заверш/Поз.
  </clr-dg-column>

  <clr-dg-row *ngFor="let request of requests; let i = index" (click)="onRowClick(request)">
    <clr-dg-cell class="request-number clr-col-1"><b>{{request.request.number}}</b></clr-dg-cell>
      <clr-dg-cell class="customer-name clr-col-3" *ngIf="customerNameColumnShow">
        {{request.customer?.shortName}}
      </clr-dg-cell>
      <clr-dg-cell class="request-name clr-col" title="{{ request.request.name }}">
        {{ request.request.name }}
      </clr-dg-cell>
      <clr-dg-cell class="request-delivery-dates clr-col-3">
        <span class="request-name">
           {{ getDeliveryDate(request) }}
        </span>
      </clr-dg-cell>
      <clr-dg-cell class="request-delivery-dates clr-col-1">

      </clr-dg-cell>

      <clr-dg-cell class="request-position-statuses clr-col-1">

      </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination
                       [clrDgTotalItems]="totalItems"
                       [clrDgPageSize]="pageSize"
    ></clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>


