::ng-deep h2 {
    margin-bottom: 20px;
    font-weight: 600;
}

.more-positions {
    color: gray;
}
.position-count {
    float: right;
    color: gray;
}


::ng-deep .requests-list-datagrid .datagrid .datagrid-header {
    padding: 0;
}
::ng-deep .requests-list-datagrid .datagrid .datagrid-row:hover {
    background-color: rgba(247, 247, 252, 1);
}
::ng-deep .requests-list-datagrid .datagrid {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}
::ng-deep .requests-list-datagrid .datagrid .datagrid-column {
    padding: 0;
}
::ng-deep .requests-list-datagrid .datagrid-table .datagrid-column .datagrid-column-title {
    color: #5a5a5a;
    font-size: 13px;
}

::ng-deep .requests-list-datagrid .datagrid-table .datagrid-column .datagrid-column-title {
    padding: 23px 10px 23px 30px;
}
::ng-deep .requests-list-datagrid .datagrid .datagrid-cell {
    padding: 13px 10px 13px 30px;
}





::ng-deep .requests-list-datagrid .datagrid-table .datagrid-column .datagrid-column-title,
::ng-deep .requests-list-datagrid .datagrid .request-number.datagrid-cell {
    font-weight: bold;
}
::ng-deep .requests-list-datagrid .datagrid .datagrid-cell {
    font-size: 13px !important;
    line-height: 1.6;
}
::ng-deep .requests-list-datagrid .datagrid-table .datagrid-column .datagrid-column-flex,
::ng-deep .requests-list-datagrid .datagrid-table .datagrid-column .datagrid-column-title {
    display: inherit;
}
::ng-deep .requests-list-datagrid .datagrid-table .datagrid-column .datagrid-column-separator {
    top: 0;
}


::ng-deep .requests-list-datagrid .datagrid-table .request-number.datagrid-column,
::ng-deep .requests-list-datagrid .datagrid .request-number.datagrid-cell {
    max-width: 120px;
}
::ng-deep .requests-list-datagrid .datagrid-table .request-status.datagrid-column,
::ng-deep .requests-list-datagrid .datagrid .request-status.datagrid-cell {
    max-width: 150px;
}
::ng-deep .requests-list-datagrid .datagrid-table .request-positions-list.datagrid-column,
::ng-deep .requests-list-datagrid .datagrid .request-positions-list.datagrid-cell {
    min-width: 320px;
}
::ng-deep .requests-list-datagrid .datagrid-table .request-delivery-dates.datagrid-column,
::ng-deep .requests-list-datagrid .datagrid .request-delivery-dates.datagrid-cell {
    max-width: 160px;
}
::ng-deep .requests-list-datagrid .datagrid-table .request-position-statuses.datagrid-column,
::ng-deep .requests-list-datagrid .datagrid .request-position-statuses.datagrid-cell {
    max-width: 250px;
}

::ng-deep .requests-list-datagrid .datagrid .datagrid-cell .position-info {
    padding-bottom: 10px;
    min-height: 40px;
}

.status-request-NEW:before,
.status-request-IN_PROGRESS:before,
.status-request-COMPLETED:before,

.status-position-NEW:before,
.status-position-PROPOSALS_PREPARATION:before,
.status-position-RESULTS_AGREEMENT:before,
.status-position-CONTRACT_SIGNING_BY_SUPPLIER:before,
.status-position-CONTRACT_SIGNING_BY_CUSTOMER:before
{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    margin: -2px 4px 0;
    border-radius: 50%;
}


.status-request-NEW:before {
    background: #b9b9b9;
}
.status-request-IN_PROGRESS:before {
    background: #f48f32;
}
.status-request-COMPLETED:before {
    background: #00b75e;
}


.status-position-NEW:before {
    background: #b9b9b9;
}
.status-position-PROPOSALS_PREPARATION:before {
    background: #28b1ec;
}
.status-position-RESULTS_AGREEMENT:before {
    background: #00b75e;
}
.status-position-CONTRACT_SIGNING_BY_SUPPLIER:before {
    background: rgb(255, 71, 90);
}
.status-position-CONTRACT_SIGNING_BY_CUSTOMER:before {
    background: rgba(142, 80, 210, 0.97);
}