@import "src/assets/styles/helpers";

.app-table {
  .number { flex-basis: 50px; }
  .published { flex-basis: 100px; }
  .tasks { flex-basis: 40px; }
  .delivery-date {
    min-width: 330px;

    & span:not(:last-of-type):after {
      content: '|';
      padding: 0 5px;
      opacity: 0.3;
    }
  }
  .pie { flex-basis: 94px; }
  .positions { flex-basis: 94px; }
  .tasks + .positions { flex-basis: 142px; }
  .customer, .name {
    min-width: 140px;
  }

  &.disabled {
    opacity: .5;
  }
}

@media (min-width: col(5)) {
  .clr-col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .filter-button {
    display: none;
  }

  .app-col-aside {
    display: block;
  }

  .backdrop {
    display: none;
  }

  ::ng-deep .app-col-aside div.show-results {
    display: none !important;
  }
  ::ng-deep .app-col-aside .close-btn {
    display: none !important;
  }
}

@media (max-width: col(5) - 1) {
  .app-col-aside {
    position: fixed;
    background: white;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 999;
    width: 320px;
    max-width: 320px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
    padding: 35px 20px 20px 20px;
    transition: margin 0.3s ease-out;
  }

  .app-col-aside:not(.opened) {
    margin-right: -320px;
    transition: margin 0.3s ease-out;
    box-shadow: none;
  }

  .app-col-aside.opened {
    margin-right: 0;
    transition: margin 0.3s ease-out;
  }

  .close-btn {
    background-color: white;
    background-image: url('/assets/images/cross.svg');
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-left: -80px;
    margin-top: -10px;
    box-shadow: 0 2px 12px 1px rgba(0, 0, 0, 0.15);
    float: left;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  .close-btn:hover {
    box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-out;
  }

  .close-btn:not(.opened) {
    display: none;
  }


  ::ng-deep .app-col-aside .show-results {
    display: block;
  }

  .backdrop {
    position: fixed;
    background: rgba(0, 0, 0, 0.15);
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 950;
    width: 100%;
    max-width: 100%;
    transition: margin 0.3s ease-out;
  }

  .backdrop:not(.opened) {
    margin-right: -320px;
    display: none;
    transition: margin 0.3s ease-out;
  }

  .backdrop.opened {
    margin-right: 0;
    display: block;
    transition: margin 0.3s ease-out;
  }
}

.counter-bubble {
  background: #2585f5;
  display: inline-block;
  border-radius: 50px;
  color: white;
  width: 15px;
  height: 15px;
  font-size: 10px;
  line-height: 15px;
}

.status-count-loader {
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
  margin-left: 5px;
  margin-bottom: -2px;
  display: inline-block;
}

.chart {
  margin-right: .5em;
  transform: rotate(-90deg);
  border-radius: 50%;
  display: block;

  circle {
    width: 100%;
    height: 100%;
    stroke-width: 7;
    stroke-linecap: round;
    fill: none;
    stroke: #E5E8EF;
  }

  circle:nth-child(2) {
    stroke: #0074d9;
    stroke-width: 7;
    stroke-linecap: butt;
    stroke-dasharray: 65;
    transition: stroke-dasharray 2s ease;
  }
}

.alert-actions {
  margin: 0 !important;

  .alert-action {
    border: 1px solid #fff;

    ::ng-deep .alert-app-level .alert-icon-wrapper {
      margin: 0 !important;
    }
  }
}
