::ng-deep h2 {
    margin-bottom: 20px;
    font-weight: 600;
}

.more-positions {
    color: gray;
}
.position-count {
    float: right;
    color: gray;
}

::ng-deep .clear-filter {
    position: absolute;
    top: 17px;
}

::ng-deep .request-number .datagrid-filter {
    width: 160px;
}

::ng-deep .requests-list-datagrid .datagrid {
    overflow: visible;
}
::ng-deep .requests-list-datagrid .datagrid-table {
    overflow: visible;
}
::ng-deep .requests-list-datagrid .datagrid-header {
    top: -50px;
    border-bottom: 1px solid #d4d9e2;
}



::ng-deep .requests-list-datagrid .datagrid .datagrid-header {
    padding: 0;
}
::ng-deep .requests-list-datagrid .datagrid .datagrid-row:hover {
    background-color: rgba(247, 247, 252, 1);
}
::ng-deep .requests-list-datagrid .datagrid {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}
::ng-deep .requests-list-datagrid .datagrid .datagrid-column {
    padding: 0;
}
::ng-deep .requests-list-datagrid .datagrid-table .datagrid-column .datagrid-column-title {
    color: #5a5a5a;
    font-size: 13px;
}

::ng-deep .requests-list-datagrid .datagrid-table .datagrid-column .datagrid-column-title {
    padding: 23px 10px 23px 30px;
}
::ng-deep .requests-list-datagrid .datagrid .datagrid-cell {
    padding: 13px 10px 13px 30px;
}





::ng-deep .requests-list-datagrid .datagrid-table .datagrid-column .datagrid-column-title,
::ng-deep .requests-list-datagrid .datagrid .request-number.datagrid-cell {
    font-weight: bold;
}
::ng-deep .requests-list-datagrid .datagrid .datagrid-cell {
    font-size: 13px !important;
    line-height: 1.6;
}
::ng-deep .requests-list-datagrid .datagrid-table .datagrid-column .datagrid-column-flex,
::ng-deep .requests-list-datagrid .datagrid-table .datagrid-column .datagrid-column-title {
    display: inherit;
}
::ng-deep .requests-list-datagrid .datagrid-table .datagrid-column .datagrid-column-separator {
    top: 0;
}


::ng-deep .requests-list-datagrid .datagrid-table .request-number.datagrid-column,
::ng-deep .requests-list-datagrid .datagrid .request-number.datagrid-cell {
    min-width: 110px;
    max-width: 120px;
}
::ng-deep .requests-list-datagrid .datagrid-table .customer-name.datagrid-column,
::ng-deep .requests-list-datagrid .datagrid .customer-name.datagrid-cell {
    min-width: 170px;
    max-width: 190px;
}
::ng-deep .requests-list-datagrid .datagrid-table .request-status.datagrid-column,
::ng-deep .requests-list-datagrid .datagrid .request-status.datagrid-cell {
    min-width: 150px;
    max-width: 180px;
}
::ng-deep .requests-list-datagrid .datagrid-table .request-positions-list.datagrid-column,
::ng-deep .requests-list-datagrid .datagrid .request-positions-list.datagrid-cell {
    min-width: 320px;
    max-width: 510px;
}
::ng-deep .requests-list-datagrid .datagrid-table .request-delivery-dates.datagrid-column,
::ng-deep .requests-list-datagrid .datagrid .request-delivery-dates.datagrid-cell {
    min-width: 140px;
    max-width: 160px;
}
::ng-deep .requests-list-datagrid .datagrid-table .request-position-statuses.datagrid-column,
::ng-deep .requests-list-datagrid .datagrid .request-position-statuses.datagrid-cell {
    min-width: 180px;
    max-width: 210px;
}

::ng-deep .requests-list-datagrid .datagrid .request-delivery-dates.datagrid-cell {
    padding-top: 15px;
}
::ng-deep .requests-list-datagrid .datagrid .request-position-statuses.datagrid-cell {
    padding-top: 45px;
}

::ng-deep .requests-list-datagrid .datagrid-table .datagrid-column:last-of-type,
::ng-deep .requests-list-datagrid .datagrid .datagrid-cell:last-of-type {
    padding-right: 10px;
}

::ng-deep .requests-list-datagrid .datagrid .datagrid-cell .position-info {
    padding-bottom: 5px;
    min-height: 25px;
}


::ng-deep clr-dg-footer.datagrid-footer {
    background-color: transparent;
}

::ng-deep clr-datagrid.requests-list-datagrid.datagrid-host {
    height: auto !important;
}

::ng-deep .pagination-list .pagination-current:focus {
    background-color: white;
}

span.request-name {
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 12px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
