<clr-datagrid class="requests-list-datagrid">
  <clr-dg-column class="request-number">№ Заявки</clr-dg-column>

  <clr-dg-column class="customer-name" *ngIf="customerNameColumnShow">Наименование заказчика
    <clr-dg-string-filter [clrDgStringFilter]="customerNameFilter"></clr-dg-string-filter>
  </clr-dg-column>

  <clr-dg-column class="request-status">Статус заявки
    <clr-dg-string-filter [clrDgStringFilter]="requestStatusFilter"></clr-dg-string-filter>
  </clr-dg-column>

  <clr-dg-column class="request-positions-list">Состав</clr-dg-column>

  <clr-dg-column class="request-delivery-dates">Сроки поставки</clr-dg-column>

  <clr-dg-column class="request-position-statuses">Статус
    <clr-dg-string-filter [clrDgStringFilter]="positionStatusFilter"></clr-dg-string-filter>
  </clr-dg-column>

  <clr-dg-row *clrDgItems="let request of requests" (click)="onRowClick(request)">


      <clr-dg-cell class="request-number">{{request.request.number}}</clr-dg-cell>


      <clr-dg-cell class="customer-name" *ngIf="customerNameColumnShow">
        {{request.customer?.name}}
      </clr-dg-cell>


      <clr-dg-cell class="request-status status-request-{{request.request.status.name}}">
        {{request.request.status.label}}
      </clr-dg-cell>


      <clr-dg-cell class="request-positions-list">
        <ng-container *ngFor="let position of request.positions">
          <div class="position-info">
            <span class="position-title">{{ position?.name }}</span>
            <span class="position-count">{{ position?.quantity }} {{ position.measureUnit }}</span>
          </div>
        </ng-container>


        <ng-container *ngIf="request.positionsCount > 3">

          <ng-container *ngIf="customerNameColumnShow; else linkForCustomer">
            <span class="more-positions">{{ getMorePositionsLabel(request.positionsCount) }}</span>
          </ng-container>

          <ng-template #linkForCustomer>
            <span class="more-positions">{{ getMorePositionsLabel(request.positionsCount) }}</span>
          </ng-template>

        </ng-container>

      </clr-dg-cell>

      <clr-dg-cell class="request-delivery-dates">{{ getDeliveryDate(request) }}</clr-dg-cell>

      <clr-dg-cell class="request-position-statuses">
        <ng-container *ngFor="let position of request.positions">
          <div class="position-info">
            <span class="position-status status-position-{{position.status.name}}">
              {{position.status.label}}
            </span>
          </div>
        </ng-container>
      </clr-dg-cell>


  </clr-dg-row>
</clr-datagrid>
