<clr-modal [clrModalStaticBackdrop]="false" clrModalSize="lg">
  <h2 class="modal-title"><b>Создать новую заявку</b></h2>
  <div class="modal-body">

    <uxg-tabs>
      <uxg-tab-title #template [active]="true">Загрузить из шаблона</uxg-tab-title>
      <uxg-tab-title #freeForm>Произвольная заявка</uxg-tab-title>
    </uxg-tabs>

    <ng-container *uxgTab="template">
      <app-add-from-excel (submit)="uploadFromTemplate.emit($event); close()"
                          (cancel)="cancel.emit()"
                          [templateUrl]="'assets/RequestTemplate.xlsx'"
                          [showRequestName]="true">
      </app-add-from-excel>
    </ng-container>
    <ng-container *uxgTab="freeForm">
      <app-create-request-free-form
        (cancel)="cancel.emit()"></app-create-request-free-form>
    </ng-container>

  </div>
</clr-modal>
