.notification-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  right: 10px;
  top: 45px;
  z-index: 100;
  width: 280px;
  max-height: 260px;
  padding: 20px;

  &:before {
    content: "";
    position: absolute;
    top: -15px;
    right: 0;
    border: 15px solid transparent;
    border-right: 15px solid white;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 25px;
  }

  .user-container {
    display: flex;
    height: 40px;

    .avatar {
      padding: 5px 8px 0 0;
    }

    .user-info {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;

      .user-name {
        font-size: 17px;
      }
    }
  }

  .message {

    position: relative;
    background: #EBF3FF;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    padding: 20px 20px 15px 20px;
    margin-top: 20px;
    white-space: normal;
    hyphens: auto;
    line-height: 140%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      border: 10px solid transparent;
      border-left: 10px solid #EBF3FF;
    }

    .message-body {
      margin-top: 0;
      flex-grow: 1;
      overflow: hidden;
      /** todo Обрезание текста с точками в конце не кросбраузерное */
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }

    .message-date {
      text-align: right;
      margin-top: 10px;
    }
  }
}
