<form [formGroup]="form" (ngSubmit)="submit()" class="change-password-form" [ngSwitch]="state">
  <div class="app-section app-secondary-color">
    <ng-container *ngIf="['pristine', 'loading'].includes(state)">
      Пожалуйста, учтите, что Ваш новый пароль должен удовлетворять всем требованиям
      <a class="app-link" (click)="state = 'security'; title.setTitle('Выдержка из политики безопасности')">политики безопасности</a>
    </ng-container>

    <ng-container *ngSwitchCase="'success'">
      Ваш пароль успешно изменён, следующая смена пароля запланирована на {{ passwordExpireDate | date : 'shortDate'}}
    </ng-container>

    <ng-container *ngSwitchCase="'error'">
      <div class="app-section">Произошла ошибка при изменении пароля, пожалуйста, попробуйте снова.</div>
      <div class="app-error-color" *ngIf="error?.detail">{{ error?.detail }}</div>
    </ng-container>

    <ng-container *ngSwitchCase="'security'">
        Обратите внимание на эти требования при создании нового пароля:
        <p>— Длина пароля – не менее 6 (шести) символов</p>
        <p>— Кириллический и латинский алфавиты и цифры</p>
        <p>— Пароль должен содержать минимум одну цифру, одну букву нижнего регистра, одну букву верхнего регистра</p>
        <p>— Пароль не должен совпадать с последними тремя паролями</p>
    </ng-container>
  </div>

  <div class="app-section" *ngIf="['pristine', 'loading'].includes(state)">
    <div class="app-control-wrap">
      <input #passwordRef uxgInput type="password" lg formControlName="password"/>
      <label class="app-control-label" (click)="passwordRef.focus()">Пароль</label>
      <div class="app-control-error" *ngIf="form.get('password').errors as e">
        <span *ngIf="e.required">Необходимо заполнить новый пароль</span>
        <span *ngIf="!e.required && e.invalid_password">Пароль не соответствует требованиям политики безопасности</span>
      </div>
    </div>

    <div class="app-control-wrap">
      <input #retypePasswordRef uxgInput type="password" lg formControlName="retypePassword"/>
      <label class="app-control-label" (click)="retypePasswordRef.focus()">Повтор пароля</label>
        <div class="app-control-error" *ngIf="form.get('retypePassword').errors as e">
          <span *ngIf="e.required">Необходимо повторно заполнить новый пароль</span>
          <span *ngIf="e.password_mismatch">Пароли не совпадают</span>
        </div>
    </div>
  </div>

  <div class="app-row">
    <button class="app-col" uxgButton primary strength lg *ngIf="['pristine', 'loading'].includes(state)" [disabled]="form.invalid || state === 'loading'">
      Изменить пароль
    </button>
    <button class="app-col" uxgButton primary strength lg type="button" routerLink="/auth/login" *ngSwitchCase="'success'">
      Готово
    </button>
    <button class="app-col" uxgButton primary strength lg type="button" (click)="reset()" *ngIf="state === 'error' && !error.code">
      Попробовать снова
    </button>
    <button class="app-col" uxgButton primary strength lg type="button" routerLink="/auth/forgot-password" *ngIf="state === 'error' && error.code === 'restoration-link-invalid'" >
      Отправить новое письмо
    </button>
    <button class="clr-col-auto" uxgButton primary lg iconText (click)="reset()" *ngSwitchCase="'security'">
      <uxg-icon shape="app-chevron" dir="left"></uxg-icon>
      <span>Назад</span>
    </button>
  </div>
</form>
