<div class="change-password-form">

  <div class="form-text">

    <ng-container *ngIf="!submitStateSuccess() && !submitStateError() && !passwordHintSheetShown">
      <span class="title">Изменение пароля</span>
      <span class="description">
        Пожалуйста, учтите, что Ваш новый пароль должен удовлетворять всем требованиям
        <a (click)="passwordHintSheetShown = true">политики безопасности</a>
      </span>
    </ng-container>

    <ng-container *ngIf="submitStateSuccess()">
      <span class="title">Пароль изменён</span>
      <span class="description">
        Ваш пароль успешно изменён, следующая смена пароля запланирована на
        {{ getPasswordExpireDate() | date : 'shortDate'}}
      </span>
    </ng-container>

    <ng-container *ngIf="submitStateError()">
      <span class="title">Не удалось изменить пароль</span>
      <span class="description">
        Произошла ошибка при изменении пароля, пожалуйста, попробуйте снова
        <span *ngIf="errorMsg" class="error-message">{{ errorMsg }}</span>
      </span>
    </ng-container>



    <ng-container *ngIf="passwordHintSheetShown === true">
      <span class="title">Выдержка из политики безопасности</span>
      <span class="description">
        Обратите внимание на эти требования при создании нового пароля:

        <p>— Длина пароля – не менее 6 (шести) символов</p>
        <p>— Кириллический и латинский алфавиты и цифры</p>
        <p>— Пароль должен содержать минимум одну цифру, одну букву нижнего регистра, одну букву верхнего регистра</p>
        <p>— Пароль не должен совпадать с последними тремя паролями</p>
      </span>
    </ng-container>

  </div>

  <form [formGroup]="passwordChangeForm" (ngSubmit)="submit()">

    <div class="new-password-input"
         *ngIf="!submitStateSuccess() && !submitStateError() && !passwordHintSheetShown" >
      <input type="password"
             class="new-password"
             placeholder="Пароль"
             formControlName="password"
             [class.invalid]="isFieldInvalid('password')">
      <span class="error-msg-container">{{ getErrorMsg('password') }}</span>
    </div>

    <div class="new-password-repeat-input"
         *ngIf="!submitStateSuccess() && !submitStateError() && !passwordHintSheetShown">
      <input type="password"
             class="new-password-repeat"
             placeholder="Повтор пароля"
             formControlName="retypePassword"
             [class.invalid]="isFieldInvalid('retypePassword')" />
      <span class="error-msg-container">{{ getErrorMsg('retypePassword') }}</span>
    </div>


    <div class="app-row">

      <ng-container *ngIf="!submitStateSuccess() && !submitStateError() && !passwordHintSheetShown">
        <div class="app-col">
          <button uxgButton primary lg type="submit"
                  [disabled]="passwordChangeForm.invalid"
                  [clrLoading]="loadingState">
            Изменить пароль
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="submitStateSuccess()">
        <div class="app-col">
          <button uxgButton primary lg  (click)="router.navigateByUrl('auth/login')">
            Готово
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="submitStateError() && !errorCode">
        <div class="app-col">
          <button uxgButton primary lg (click)="loadingState = clrLoadingState.DEFAULT" [clrLoading]="loadingState">
            Попробовать снова
          </button>
        </div>
      </ng-container>


      <ng-container *ngIf="submitStateError() && errorCode === restorationErrorCode.RESTORATION_LINK_INVALID">
        <div class="app-col">
          <button uxgButton primary lg (click)="router.navigateByUrl('auth/forgot-password')">
            Отправить новое письмо
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="passwordHintSheetShown">
        <div class="clr-col-auto">
          <button uxgButton primary lg (click)="passwordHintSheetShown = false">
            <uxg-icon shape="app-chevron" dir="left"></uxg-icon>
            Назад
          </button>
        </div>
      </ng-container>

    </div>

  </form>

</div>
