<ng-container appFilter>
<div class="app-row">
  <div class="app-col app-table app-no-border">
    <div class="app-row app-align-items-center">
      <div>
        <span class="app-secondary-color">показать: </span>
        <uxg-popover #viewPopover>
          <button uxgButton uxgPopoverTrigger link clear>
            <span><b>по предложениям</b></span>
          </button>
          <div *uxgPopoverContent>
            <div>
              <button uxgButton clear>по предложениям</button>
            </div>
          </div>
        </uxg-popover>
      </div>
      <div class="app-col"></div>
      <div class="app-col-auto">
        <!-- Фильтр  -->
        <app-filter-button></app-filter-button>
      </div>
    </div>
  </div>
  <div class="app-col-aside detachable"></div>
</div>
<div class="app-row">
  <div class="app-col">
    <app-proposal-group
      *ngFor="let group of tcpGroups$ | async"
      [group]="group"
    ></app-proposal-group>
  </div>

  <app-filter [formGroup]="form" [count]="(tcpGroups$ | async)?.length" (filter)="filter($event)">
    <app-filter-section label="Наименование позиции">
      <input uxgInput type="text" formControlName="requestPositionName" placeholder="Наименование позиции или его часть" />
    </app-filter-section>

    <app-filter-section label="Дата создания">
      <div class="app-row">
        <div class="app-col" [style.padding-right.px]="15">
          <div class="app-control-wrap" [style.padding]="0">
            <input #createdDateFrom uxgInput uxgDatepicker placeholder="Дата с" formControlName="createdDateFrom">
            <label class="app-control-icon" (click)="createdDateFrom.focus()">
              <uxg-icon shape="app-calendar-big" size="24"></uxg-icon>
            </label>
          </div>
        </div>

        <div class="app-col">
          <div class="app-control-wrap" [style.padding]="0">
            <input #createdDateTo uxgInput uxgDatepicker placeholder="Дата по" formControlName="createdDateTo">
            <label class="app-control-icon" (click)="createdDateTo.focus()">
              <uxg-icon shape="app-calendar-big" size="24"></uxg-icon>
            </label>
          </div>
        </div>
      </div>
    </app-filter-section>
  </app-filter>
</div>
</ng-container>
