<ng-container *ngIf="!request" class="load-block">
  <span class="spinner spinner-md"></span>
</ng-container>
<ng-container *ngIf="request">
  <div class="clr-row">
    <div class="info-card clr-col">
      <div class="request-info">
        <div class="breadcrumbs">
          <a (click)="onRequestsClick()">Заявки</a> / <a (click)="onRequestClick()">Заявка №{{request.number}}</a>
        </div>
        <div class="clr-row w-100">
          <div class="clr-col-5">
            <h2>Коммерческие предложения</h2>
          </div>
          <div class="clr-col-7 add-contragent">
            <button class="btn btn-link add-contragent"
                    (click)="onShowAddContragentModal()"
                    *ngIf="requestPositions.length !== 0">
              <clr-icon shape="plus"></clr-icon>
              Добавить контрагента
            </button>
          </div>
        </div>

        <div class="clr-row w-100">
          <div class="clr-col-6">
            <div class="btn-group" *ngIf="requestPositions.length !== 0">
              <button class="btn btn-outline import-export"
                      (click)="onDownloadOffersTemplate()">
                Экспортировать шаблон
              </button>
              <button class="btn import-export"
                      (click)="onShowImportOffersExcel()">Импортировать КП
              </button>
            </div>

          </div>
          <div class="clr-col-6 send-offers">
            <button class="btn btn-primary send-offers"
                    *ngIf="selectedRequestPositions.length !== 0"
                    (click)="onPublishOffers()"
            >
              <b>Отправить на согласование</b>
            </button>

            <button class="btn btn-primary send-offers"
                    (click)="wizard.open()"
            >
              <b>Создать процедуру</b>
            </button>

            <button class="btn btn-primary"
                    (click)="onImportOffersFromProcedure()"
            >
              <b>Получить КП из процедуры</b>
            </button>
          </div>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th class="position-name">
              <div class="clr-row">
                <clr-checkbox-container *ngIf="positionHasSelectableOffers(requestPositions)">
                  <clr-checkbox-wrapper class="select-checkbox">
                    <input class="checkbox select-checkbox" clrCheckbox type="checkbox"
                           (change)="onSelectAllPositions($event, requestPositions)"
                           [checked]="areAllPositionsChecked(requestPositions)"
                    />
                    <label class="nopadding">Выбрать все позиции</label>
                  </clr-checkbox-wrapper>
                </clr-checkbox-container>
              </div>
            </th>
            <th class="contragent-name" *ngFor="let supplier of suppliers">
              <a (click)="showContragentInfo(supplier.id)">{{ supplier.shortName }}</a>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let requestPosition of requestPositions">
            <td class="position-name">
              <clr-checkbox-wrapper class="select-checkbox">
                <input clrCheckbox type="checkbox"
                       value="{{requestPosition}}"
                       [(ngModel)]="requestPosition.checked"
                       (change)="onSelectPosition(requestPosition)"
                       *ngIf="positionCanBeSelected(requestPosition)">
                <label class="position-label">{{ requestPosition.name }}
                  <span class="grey">{{requestPosition.quantity}} {{requestPosition.measureUnit}}</span>
                </label>
              </clr-checkbox-wrapper>
              <p class="delivery-date">
                Срок поставки:
                <span *ngIf="requestPosition.deliveryDate; else ASAP"><b>{{requestPosition.deliveryDate | date :'shortDate'}}</b></span>
                <ng-template #ASAP>
                  <b>как можно быстрее</b>
                </ng-template>
              </p>

              <span class="sent-for-agreement-label"
                    *ngIf="positionIsSentForAgreement(requestPosition)">Отправлено на согласование</span>
              <span class="has-procedure-label"
                    *ngIf="positionHasProcedure(requestPosition)">Создана процедура</span>
              <span class="has-finished-procedure-label"
                    *ngIf="positionHasFinishedProcedure(requestPosition)">Процедура завершена</span>


            </td>
            <td class="contragent-name" *ngFor="let supplier of suppliers">
              <ng-container
                *ngIf="getSupplierLinkedOffers(
                  requestPosition.linkedOffers,
                  supplier
                ).length; else addLinkedOfferButton">
                <ng-container
                  *ngFor="let linkedOffer of getSupplierLinkedOffers(requestPosition.linkedOffers, supplier)">
                  <div class="offer"
                       [class.disabled]="!isOfferClickable(requestPosition)"
                       (click)="isOfferClickable(requestPosition) ?
                       onShowEditOfferModal(requestPosition, supplier, linkedOffer) : false">
                    <span class="counted-offer-price">
                              {{ linkedOffer.priceWithVat * linkedOffer.quantity | currency : linkedOffer.currency }}
                              <span class="offer-quantity">за
                                <span>{{linkedOffer.quantity}} {{linkedOffer.measureUnit}}</span>
                              </span>
                    </span>
                    <div class="per-unit-price-block">
                      {{ linkedOffer.priceWithVat | currency : linkedOffer.currency }}/{{linkedOffer.measureUnit}}
                    </div>
                    <p class="delivery">{{linkedOffer.deliveryDate | date :'shortDate'}}</p>
                  </div>
                </ng-container>
              </ng-container>
              <ng-template #addLinkedOfferButton>
                <div class="add-offer"
                     *ngIf="isOfferClickable(requestPosition)"
                     (click)="onShowAddOfferModal(requestPosition, supplier)">
                  <clr-icon shape="plus"></clr-icon>
                </div>
              </ng-template>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <!-- Модальное окно добавление контрагента -->
  <clr-modal [(clrModalOpen)]="showAddContragentModal"
             [clrModalClosable]="false">
    <h3 class="modal-title">Добавление контрагента</h3>
    <div class="modal-body">
    <app-supplier-select (selectedContragent)="onSelectedContragent($event)">
    </app-supplier-select>
      <div class="contragent-info" *ngIf="selectedContragent">
        <div class="error-message" *ngIf="isSupplierOfferExist()">
          Коммерческое предложение от выбранного поставщика уже добавлено
        </div>
        <p class="label-contragent">Наименование контрагента:</p>
        {{selectedContragent.shortName}}
        <p class="label-contragent">ИНН:</p>
        {{selectedContragent.inn}}
        <p class="label-contragent">КПП:</p>
        {{selectedContragent.kpp}}
        <p class="label-contragent">Email:</p>
        {{selectedContragent.email}}
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-link" (click)="onCloseAddContragentModal()">Отмена</button>
      <button class="btn btn-primary"
              (click)="onAddContragent()"
              [disabled]="!selectedContragent || isSupplierOfferExist()"><b>Добавить</b>
      </button>
    </div>
  </clr-modal>

  <!-- Модальное окно добавления/редактирования КП -->
  <clr-modal [(clrModalOpen)]="showAddOfferModal"
             [clrModalClosable]="false">
    <div class="modal-body">
      <form [formGroup]="offerForm" class="form">
        <div class="form-block">
          <div class="clr-form-control">
            <div class="clr-row w-100">
              <div class="clr-col-4">
                <label class="clr-control-label" for="priceWithVat">Цена за ед. (без НДС)</label>
                <input type="number" id="priceWithVat" name="priceWithVat" formControlName="priceWithVat" min="0.1"
                       step="0.01" class="hidden-arrows text-right price"
                       [class.invalid]="isFieldValid('priceWithVat')">
              </div>
              <div class="clr-col-8">
                <label class="clr-control-label" for="currency">Валюта</label>
                <div class="select">
                  <select name="currency" id="currency" formControlName="currency"
                          [class.invalid]="isFieldValid('currency')">
                    <option value="RUB">
                      RUB
                    </option>
                    <option value="USD">
                      USD
                    </option>
                    <option value="EUR">
                      EUR
                    </option>
                    <option value="CHF">
                      CHF
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="clr-row w-100">
              <div class="clr-col-4">
                <label class="clr-control-label" for="quantity">Количество</label>
                <input type="number" id="quantity" name="quantity" formControlName="quantity" min="0"
                       step="0.01" class="hidden-arrows text-right price"
                       [class.invalid]="isFieldValid('quantity')">
              </div>
              <div class="clr-col-8">
                <label class="clr-control-label" for="measureUnit">Единицы измерения</label>
                <input type="text" name="measureUnit" id="measureUnit" formControlName="measureUnit"
                       [class.invalid]="isFieldValid('measureUnit')">
              </div>
            </div>
            <div class="clr-row w-100">
              <div class="clr-col-4">
                <label class="clr-control-label" for="deliveryDate">Срок поставки</label>
                <input id="deliveryDate" placeholder="дд.мм.гггг" type="date" clrDate
                       formControlName="deliveryDate"
                       [class.invalid]="isFieldValid('deliveryDate')"/>
              </div>
              <div class="clr-col-8">
                <label class="clr-control-label" for="paymentTerms">Условия оплаты</label>
                <input type="text" id="paymentTerms" formControlName="paymentTerms"
                       [class.invalid]="isFieldValid('paymentTerms')">
              </div>
            </div>
          </div>
          <div class="document-list" *ngIf="editMode">
            <div class="document" *ngFor="let document of selectedOffer?.documents">
              <a (click)="onDownloadFile(document)">{{document.filename}}</a>
            </div>
          </div>
          <app-document-upload-list (fileSelected)="onDocumentSelected($event, offerForm)"
                                    [documents]="offerFiles">
          </app-document-upload-list>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="clr-row w-100">
        <div class="clr-col-6">
        </div>
        <div class="clr-col-6">
          <button class="btn btn-link" (click)="onCloseAddOfferModal()">Отмена</button>
          <button *ngIf="!editMode" class="btn btn-primary" (click)="onAddOffer()" [disabled]="offerForm.invalid">
            Добавить
          </button>
          <button *ngIf="editMode" class="btn btn-primary" (click)="onEditOffer()" [disabled]="offerForm.invalid">
            Сохранить
          </button>
        </div>
      </div>
    </div>
  </clr-modal>

  <clr-modal [(clrModalOpen)]="showImportOffersExcel">
    <h3 class="modal-title">Выберите файл для импорта</h3>
    <div class="modal-body">
      <form class="clr-form-control view">
        <div class="card">
          <div class="card-block">
            <div class="card-text">
              <span class="gray">
                Вы можете загрузить необходимый список предложений, скачав шаблон по нажатию кнопки
                Экспортировать шаблон и заполнив его
              </span>

              <app-document-upload-list
                [documents]="files"
                (fileSelected)="onChangeFilesList($event)">
              </app-document-upload-list>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary"
              type="button"
              (click)="onSendOffersTemplateFilesClick()"
              [disabled]="this.files.length === 0">
        Отправить
      </button>
    </div>
  </clr-modal>

  <clr-wizard #wizard clrWizardSize="lg">
    <clr-wizard-title><b>Новая процедура</b></clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Отмена</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Назад</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Далее</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Опубликовать</clr-wizard-button>

    <clr-wizard-page
      [clrWizardPageNextDisabled]="procedureBasicDataForm.invalid || selectedProcedurePositions.length === 0"
      (clrWizardPageOnCancel)="resetWizardForm()">
      <ng-template clrPageTitle>Общие сведения</ng-template>
      <form [formGroup]="procedureBasicDataForm" class="form">
        <div class="form-block">
          <div class="clr-form-control">
            <div class="clr-row w-100">
              <label class="clr-control-label" for="procedureTitle">Наименование закупки</label>
              <input id="procedureTitle" type="text" formControlName="procedureTitle"
                     [class.invalid]="isDataFieldValid('procedureTitle')"/>
            </div>
            <div class="clr-row w-100">
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="dishonestSuppliersForbidden"
                       id="dishonestSuppliersForbidden"
                       formControlName="dishonestSuppliersForbidden">
                <label class="clr-control-label nopadding">Требование к отсутствию участников закупки в
                  реестре недобросовестных поставщиков ФАС</label>
              </clr-checkbox-wrapper>
            </div>
            <div class="clr-row w-100">
              <div class="clr-col-6 dates">
                <label class="clr-control-label left" for="dateEndRegistration">Прием заявок до:</label>
                <input id="dateEndRegistration" placeholder="ДД.ММ.ГГГГ" type="date" clrDate
                       formControlName="dateEndRegistration"
                       [class.invalid]="isDataFieldValid('dateEndRegistration')"/>
              </div>
              <div class="clr-col-6 dates">
                <label class="clr-control-label left" for="summingupDate">Подведение итогов:</label>
                <input id="summingupDate" placeholder="ДД.ММ.ГГГГ" type="date" clrDate
                       formControlName="summingupDate"
                       [class.invalid]="isDataFieldValid('summingupDate')"/>
              </div>
            </div>

            <div class="clr-row w-100">
              <div class="clr-col-6 positions">
                <label class="clr-control-label">Позиции, участвующие в процедуре:</label>

                <input #searchPositionInput
                       placeholder="Введите наименование позиции"
                       autocomplete="off"
                       type="text"
                       [value]="positionSearchValue"
                       (input)="onPositionSearchInputChange($event.target.value)" />

                <div class="position-list">
                  <clr-checkbox-container>
                    <clr-checkbox-wrapper class="select-checkbox"
                                          *ngFor="let requestPosition of requestPositions |
                                          positionSearchFilter: getPositionSearchValue();">

                      <label class="nopadding">{{ requestPosition.name }}</label>

                      <input class="checkbox select-checkbox"
                             clrCheckbox
                             type="checkbox"
                             [checked]="checkIfPositionIsChecked(requestPosition)"
                             (change)="onPositionSelect(requestPosition)">
                    </clr-checkbox-wrapper>
                  </clr-checkbox-container>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </clr-wizard-page>

    <clr-wizard-page
      [clrWizardPageNextDisabled]="showPrivateAccessContragents && selectedPrivateAccessContragents.length < 2"
      (clrWizardPageOnCancel)="resetWizardForm()">
      <ng-template clrPageTitle>Свойства процедуры</ng-template>
      <form [formGroup]="procedurePropertiesForm" class="form">
        <div class="form-block">
          <div class="clr-form-control">
            <div class="clr-row w-100 padding-top">
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="manualEndRegistration" id="manualEndRegistration"
                       formControlName="manualEndRegistration">
                <label class="clr-control-label nopadding">Досрочное завершение приема заявок на
                  участие</label>
              </clr-checkbox-wrapper>
            </div>
            <div class="clr-row w-100">
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="positionsRequiredAll" id="positionsRequiredAll"
                       formControlName="positionsRequiredAll">
                <label class="clr-control-label nopadding">Обязательная подача предложений на все
                  позиции</label>
              </clr-checkbox-wrapper>
            </div>
            <div class="clr-row w-100">
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="positionsAnalogs" id="positionsAnalogs"
                       formControlName="positionsAnalogs">
                <label class="clr-control-label nopadding">Разрешается прием аналогов</label>
              </clr-checkbox-wrapper>
            </div>
            <div class="clr-row w-100">
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="positionsAllowAnalogsOnly"
                       id="positionsAllowAnalogsOnly" formControlName="positionsAllowAnalogsOnly">
                <label class="clr-control-label nopadding">Возможность подачи аналогов без основного
                  предложения</label>
              </clr-checkbox-wrapper>
            </div>
            <div class="clr-row w-100">
              <clr-checkbox-wrapper>
                <input type="checkbox" clrCheckbox name="positionsEntireVolume" id="positionsEntireVolume"
                       formControlName="positionsEntireVolume">
                <label class="clr-control-label nopadding">Заявка подается на весь закупаемый объем</label>
              </clr-checkbox-wrapper>
            </div>
            <div class="clr-row">
              <label class="clr-control-label" for="prolongateEndRegistration">Продление времени приема заявок
                на участие
                (минут)</label>
              <input class="input-time" id="prolongateEndRegistration" type="number"
                     formControlName="prolongateEndRegistration"/>
            </div>
            <div class="clr-row w-100 padding-top">
              <clr-radio-container>
                <label class="clr-control-label nopadding radio-label"><b>Отображение наименований участников
                  в таблице</b></label>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio formControlName="positionsSuppliersVisibility" value="Name"/>
                  <label class="clr-control-label nopadding">Участники и их наименования отображаются в
                    таблице</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio formControlName="positionsSuppliersVisibility"
                         value="NameHidden"/>
                  <label class="clr-control-label nopadding">Участники отображаются в таблице, но их
                    наименования скрыты</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio formControlName="positionsSuppliersVisibility" value="None"/>
                  <label class="clr-control-label nopadding">Участники не отображаются в таблице</label>
                </clr-radio-wrapper>
              </clr-radio-container>
            </div>
            <div class="clr-row w-100 padding-top">
              <clr-radio-container>
                <label class="clr-control-label nopadding radio-label"><b>Ограничение на подачу цен
                  участниками</b></label>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="positionsBestPriceType"
                         formControlName="positionsBestPriceType" value="LowerStartPrice"/>
                  <label class="clr-control-label nopadding">Участники подают цены ниже начальной цены</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="positionsBestPriceType"
                         formControlName="positionsBestPriceType" value="LowerPriceBest"/>
                  <label class="clr-control-label nopadding">Нет ограничений на цены участников</label>
                </clr-radio-wrapper>
              </clr-radio-container>
            </div>
            <div class="clr-row w-100 padding-top">
              <clr-radio-container>
                <label class="clr-control-label nopadding radio-label"><b>Отображение цен участников в
                  таблице</b></label>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio formControlName="positionsApplicsVisibility"
                         value="PriceAndRating"/>
                  <label class="clr-control-label nopadding">Видны и цены, и рейтинг участников</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio formControlName="positionsApplicsVisibility"
                         value="OnlyPrice"/>
                  <label class="clr-control-label nopadding">Видны только цены, подаваемые участниками</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio formControlName="positionsApplicsVisibility"
                         value="OnlyRating"/>
                  <label class="clr-control-label nopadding">Виден только рейтинг цен</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio formControlName="positionsApplicsVisibility" value="None"/>
                  <label class="clr-control-label nopadding">Цены и рейтинг скрыты</label>
                </clr-radio-wrapper>
              </clr-radio-container>
            </div>
            <div class="clr-row w-100 padding-top">
              <clr-radio-container>
                <label class="clr-control-label nopadding radio-label"><b>Доступ к процедуре</b></label>
                <clr-radio-wrapper>
                  <input type="radio"
                         clrRadio
                         name="isPrivateAccess"
                         value="false"
                         (change)="onHidePrivateAccessContragents()"
                         checked/>
                  <label class="clr-control-label nopadding">Открытая процедура</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio"
                         clrRadio
                         name="isPrivateAccess"
                         value="true"
                         (change)="onShowPrivateAccessContragents()"/>
                  <label class="clr-control-label nopadding">Для ограниченного круга участников</label>
                </clr-radio-wrapper>
              </clr-radio-container>
              <clr-checkbox-container class="w-100" *ngIf="showPrivateAccessContragents">
                <label class="clr-control-label nopadding radio-label">Выберите мин. 2х участников:</label>
                <clr-checkbox-wrapper class="select-checkbox" *ngFor="let contragent of contragentsWithTp">
                  <input class="checkbox select-checkbox"
                         clrCheckbox
                         type="checkbox"
                         (change)="onSelectPrivateAccessContragent(contragent)">
                  <label class="nopadding">
                    {{ contragent.shortName }}
                    (ИНН {{ contragent.inn }}, КПП {{ contragent.kpp }}, Email {{ contragent.email }})
                  </label>
                </clr-checkbox-wrapper>
              </clr-checkbox-container>
            </div>
          </div>
        </div>
      </form>
    </clr-wizard-page>

    <clr-wizard-page (clrWizardPageOnCommit)="onPublishProcedure()"
                     (clrWizardPageOnCancel)="resetWizardForm()">
      <ng-template clrPageTitle>Документы</ng-template>
      <div class="w-100" *ngIf="request.documents.length">
        <div class="clr-row">
          <label class="clr-control-label">Документы процедуры:</label>
        </div>
        <div class="clr-row document-list">
          <clr-checkbox-container>
            <clr-checkbox-wrapper
              class="select-checkbox"
              *ngFor="let document of request.documents">
              <input class="checkbox select-checkbox" clrCheckbox type="checkbox"
                     (change)="onSelectProcedureDocument(document)">
              <label class="nopadding">{{ document.filename }}</label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
        </div>
      </div>

      <div class="w-100" *ngIf="isDocumentsExists(selectedProcedurePositions)">
        <div class="clr-row">
          <label class="clr-control-label">Документы лота:</label>
        </div>
        <div class="clr-row document-list">
          <div *ngFor="let position of selectedProcedurePositions">
            <clr-checkbox-container class="w-100" *ngIf="position.documents.length">
              <label class="clr-control-label">{{ position.name }}:</label>
              <clr-checkbox-wrapper
                class="select-checkbox"
                *ngFor="let document of position.documents">
                <input class="checkbox select-checkbox" clrCheckbox type="checkbox"
                       (change)="onSelectProcedureLotDocument(document)">
                <label class="nopadding">{{ document.filename }}</label>
              </clr-checkbox-wrapper>
            </clr-checkbox-container>
          </div>
        </div>
      </div>
    </clr-wizard-page>
  </clr-wizard>


  <ng-container *ngIf="contragent">
    <clr-modal [clrModalSize]="'lg'" [(clrModalOpen)]="contragentInfoModalOpened">
      <h3 class="modal-title">{{ contragent.shortName }}</h3>

      <div class="modal-body">
        <app-contragent-info
                [contragent]="contragent">
        </app-contragent-info>
      </div>
    </clr-modal>
  </ng-container>


</ng-container>
