<ng-container *ngIf="!request" class="load-block">
  <span class="spinner spinner-md"></span>
</ng-container>
<ng-container *ngIf="request">
  <div class="clr-row">
    <div class="info-card clr-col">
      <div class="request-info">
        <div class="clr-row w-100">
          <div class="clr-col-7">
          </div>
        </div>

        <div class="clr-row w-100">
          <div class="clr-col-6">
            <button class="btn btn-primary"
                    (click)="onShowAddContragentModal()"
                    *ngIf="requestPositions.length !== 0">
              <clr-icon shape="plus"></clr-icon>
              Добавить контрагента
            </button>

            <div class="btn-group" *ngIf="requestPositions.length !== 0">
              <button class="btn btn-outline"
                      (click)="onDownloadOffersTemplate()">
                Экспортировать шаблон
              </button>
              <button class="btn btn-outline"
                      (click)="onShowImportOffersExcel()">Импортировать КП
              </button>
            </div>
          </div>

          <div class="clr-col-6 send-offers">
            <button class="btn btn-primary"
                    [disabled]="selectedRequestPositions.length === 0"
                    (click)="onPublishOffers()"
                    [clrLoading]="loaders.sendOffers">
              Отправить на согласование
            </button>

            <button class="btn btn-primary add-offers-btn send-offers"
                    (click)="onCreateProcedureWizardOpen()"
                    [clrLoading]="loaders.creatingProcedure">
              <b>Создать процедуру</b>
            </button>
          </div>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th class="position-name">
              <div class="clr-row">
                <clr-checkbox-container *ngIf="positionHasSelectableOffers(requestPositions)">
                  <clr-checkbox-wrapper class="select-checkbox">
                    <input class="checkbox select-checkbox" clrCheckbox type="checkbox"
                           (change)="onSelectAllPositions($event, requestPositions)"
                           [checked]="areAllPositionsChecked(requestPositions)"
                    />
                    <label class="nopadding">Выбрать все позиции</label>
                  </clr-checkbox-wrapper>
                </clr-checkbox-container>
              </div>
            </th>

            <th class="contragent-name" *ngFor="let supplier of suppliers">
              <app-contragent-info-link
                      [contragent]="supplier">
              </app-contragent-info-link>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let requestPosition of requestPositions">
            <td class="position-name">
              <clr-checkbox-wrapper class="select-checkbox">
                <input clrCheckbox type="checkbox"
                       value="{{requestPosition}}"
                       [(ngModel)]="requestPosition.checked"
                       (change)="onSelectPosition(requestPosition)"
                       *ngIf="positionCanBeSelected(requestPosition)">
                <label class="position-label">{{ requestPosition.name }}
                  <span class="grey">{{requestPosition.quantity}} {{requestPosition.measureUnit}}</span>
                </label>
              </clr-checkbox-wrapper>
              <p class="delivery-date">
                Срок поставки:
                <span *ngIf="requestPosition.deliveryDate; else ASAP"><b>{{requestPosition.deliveryDate | date :'shortDate'}}</b></span>
                <ng-template #ASAP>
                  <b>как можно скорее</b>
                </ng-template>
              </p>

              <span class="sent-for-agreement-label"
                    *ngIf="positionIsSentForAgreement(requestPosition)">Отправлено на согласование</span>

              <div class="has-procedure-info"
                    *ngIf="positionHasProcedure(requestPosition)">
                <a class="has-procedure-link" target="_blank" href="{{ getProcedureLink(requestPosition) }}">
                  Создана процедура №{{ requestPosition.procedureId }}
                </a>

                <div class="end-date-info gray">
                  Подведение итогов процедуры: <b>{{ requestPosition.procedureEndDate | date : 'shortDate' }}</b>
                  (<a (click)="openProcedureProlongateModal(requestPosition.procedureId)">продлить</a>)
                </div>
              </div>

              <span class="has-finished-procedure-label"
                    *ngIf="positionHasFinishedProcedure(requestPosition)">Процедура завершена</span>

              <button *ngIf="availableCancelPublishOffers(requestPosition)"
                      class="btn btn-primary btn-cancel-publish"
                      [clrLoading]="loaders.cancelPublish"
                      (click)="onCancelPublishOffers(requestPosition)">
                Отозвать <span class="cancel-timer"> {{ requestPosition.statusChangedDate | countdownTimer: durationCancelPublish }} </span>
              </button>

            </td>
            <td class="contragent-name" *ngFor="let supplier of suppliers">
              <ng-container
                *ngIf="getSupplierLinkedOffers(
                  requestPosition.linkedOffers,
                  supplier
                ).length; else addLinkedOfferButton">
                <ng-container
                  *ngFor="let linkedOffer of getSupplierLinkedOffers(requestPosition.linkedOffers, supplier)">
                  <div class="offer"
                       [class.disabled]="!isOfferClickable(requestPosition)"
                       (click)="isOfferClickable(requestPosition) ?
                       onShowEditOfferModal(requestPosition, supplier, linkedOffer) : false">
                    <span class="counted-offer-price">
                              {{ linkedOffer.priceWithVat * linkedOffer.quantity | currency : linkedOffer.currency }}
                              <span class="offer-quantity">за
                                <span>{{linkedOffer.quantity}} {{linkedOffer.measureUnit}}</span>
                              </span>
                    </span>
                    <div class="per-unit-price-block">
                      {{ linkedOffer.priceWithVat | currency : linkedOffer.currency }}/{{linkedOffer.measureUnit}}
                    </div>
                    <p class="delivery">{{linkedOffer.deliveryDate | date :'shortDate'}}</p>
                  </div>
                </ng-container>
              </ng-container>
              <ng-template #addLinkedOfferButton>
                <div class="add-offer"
                     *ngIf="isOfferClickable(requestPosition)"
                     (click)="onShowAddOfferModal(requestPosition, supplier)">
                  <clr-icon shape="plus"></clr-icon>
                </div>
              </ng-template>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <!-- Модальное окно добавление контрагента -->
  <clr-modal [(clrModalOpen)]="showAddContragentModal"
             [clrModalClosable]="false">
    <h3 class="modal-title">Добавление контрагента</h3>
    <div class="modal-body">
    <app-supplier-select
      [inputContragents]="getContragentsWithTpIfAllTpAccepted()"
      (selectedContragent)="onSelectedContragent($event)">
    </app-supplier-select>
      <div class="contragent-info" *ngIf="selectedContragent">
        <div class="error-message" *ngIf="isSupplierOfferExist()">
          Коммерческое предложение от выбранного поставщика уже добавлено
        </div>
        <p class="label-contragent">Наименование контрагента:</p>
        {{selectedContragent.shortName}}
        <p class="label-contragent">ИНН:</p>
        {{selectedContragent.inn}}
        <p class="label-contragent">КПП:</p>
        {{selectedContragent.kpp}}
        <p class="label-contragent">Email:</p>
        {{selectedContragent.email}}
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-link" (click)="onCloseAddContragentModal()">Отмена</button>
      <button class="btn btn-primary"
              (click)="onAddContragent()"
              [disabled]="!selectedContragent || isSupplierOfferExist()"><b>Добавить</b>
      </button>
    </div>
  </clr-modal>

  <!-- Модальное окно добавления/редактирования КП -->
  <clr-modal [(clrModalOpen)]="showAddOfferModal"
             [clrModalClosable]="false">
    <div class="add-offers-modal modal-body">
      <form [formGroup]="offerForm" class="form">
        <div class="form-block">
          <div class="clr-form-control">
            <div class="clr-row w-100">
              <div class="clr-col-4">
                <label class="clr-control-label" for="priceWithVat">Цена за ед. (без НДС) <b class="required-star">*</b></label>
                <input type="number" id="priceWithVat" name="priceWithVat" formControlName="priceWithVat" min="0.1"
                       step="0.01" class="hidden-arrows text-right price"
                       [class.invalid]="isFieldValid('priceWithVat')">
              </div>
              <div class="clr-col-8">
                <label class="clr-control-label" for="currency">Валюта</label>
                <select clrSelect
                        name="currency"
                        id="currency"
                        formControlName="currency"
                        [class.invalid]="isFieldValid('currency')">
                  <option value="RUB">
                    RUB
                  </option>
                  <option value="USD" disabled>
                    USD
                  </option>
                  <option value="EUR" disabled>
                    EUR
                  </option>
                  <option value="CHF" disabled>
                    CHF
                  </option>
                </select>
              </div>
            </div>
            <div class="clr-row w-100">
              <div class="clr-col-4">
                <label class="clr-control-label" for="quantity">Количество <b class="required-star">*</b></label>
                <input type="number" id="quantity" name="quantity" formControlName="quantity" min="0"
                       step="0.01" class="hidden-arrows text-right price"
                       [class.invalid]="isFieldValid('quantity')">
              </div>
              <div class="clr-col-8">
                <label class="clr-control-label" for="measureUnit">Единицы измерения <b class="required-star">*</b></label>
                <input type="text" name="measureUnit" id="measureUnit" formControlName="measureUnit"
                       [class.invalid]="isFieldValid('measureUnit')">
              </div>
            </div>
            <div class="clr-row w-100">
              <div class="clr-col-4">
                <label class="clr-control-label" for="deliveryDate">Срок поставки <b class="required-star">*</b></label>
                <input id="deliveryDate" placeholder="дд.мм.гггг" type="date" clrDate
                       formControlName="deliveryDate"
                       [class.invalid]="isFieldValid('deliveryDate')"/>
              </div>
              <div class="clr-col-8">
                <label class="clr-control-label" for="paymentTerms">Условия оплаты <b class="required-star">*</b></label>
                <select clrSelect
                        name="paymentTerms"
                        id="paymentTerms"
                        formControlName="paymentTerms"
                        [class.invalid]="isFieldValid('paymentTerms')">
                  <option value="30 дней по факту поставки">
                    30 дней по факту поставки
                  </option>
                  <option value="60 дней по факту поставки">
                    60 дней по факту поставки
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="document-list" *ngIf="editMode">
            <div class="document" *ngFor="let document of selectedOffer?.documents">
              <a (click)="onDownloadFile(document)">{{document.filename}}</a>
            </div>
          </div>
          <app-document-upload-list (fileSelected)="onDocumentSelected($event, offerForm)"
                                    [documents]="offerFiles">
          </app-document-upload-list>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="clr-row w-100">
        <div class="clr-col-6">
        </div>
        <div class="clr-col-6">
          <button class="btn btn-link" (click)="onCloseAddOfferModal()">Отмена</button>
          <button *ngIf="!editMode" class="btn btn-primary" (click)="onAddOffer()" [disabled]="offerForm.invalid">
            Добавить
          </button>
          <button *ngIf="editMode" class="btn btn-primary" (click)="onEditOffer()" [disabled]="offerForm.invalid">
            Сохранить
          </button>
        </div>
      </div>
    </div>
  </clr-modal>

  <clr-modal [(clrModalOpen)]="showImportOffersExcel">
    <h3 class="modal-title">Выберите файл для импорта</h3>
    <div class="modal-body">
      <form class="clr-form-control view">
        <div class="card">
          <div class="card-block">
            <div class="card-text">
              <span class="gray">
                Вы можете загрузить необходимый список предложений, скачав шаблон по нажатию кнопки
                Экспортировать шаблон и заполнив его
              </span>

              <app-document-upload-list
                [documents]="files"
                (fileSelected)="onChangeFilesList($event)">
              </app-document-upload-list>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary"
              type="button"
              (click)="onSendOffersTemplateFilesClick()"
              [disabled]="this.files.length === 0">
        Отправить
      </button>
    </div>
  </clr-modal>


  <!-- Модальное окно редактирования даты окончания процедуры -->
  <clr-modal class="procedure-prolongation" [(clrModalOpen)]="showProcedureProlongateModal">
    <h3 class="modal-title">Продление процедуры</h3>

    <div class="modal-body">
      <form [formGroup]="procedureEndDateForm" (ngSubmit)="saveProcedureEndDate()">
        <label for="procedureEndDate">Окончание процедуры:</label>
        <input clrDate
               type="date"
               placeholder="ДД.ММ.ГГГГ"
               appFormControlInvalidClass="invalid"
               formControlName="procedureEndDate">
        <br>
        <button type="submit" class="btn btn-primary"
                [clrLoading]="loaders.prolongateProcedure"
                [disabled]="procedureEndDateForm.invalid">Сохранить</button>
      </form>
    </div>
  </clr-modal>

  <app-wizard-create-procedure
    #createProcedureWizard
    [request]="request"
    [requestPositions$]="requestPositions$"
    [allowOpenedProcedure]="false"
    (publishProcedure)="onPublishProcedure($event)"
  ></app-wizard-create-procedure>

</ng-container>
