<clr-datagrid class="clr-row" *ngIf="documents">
  <clr-dg-column class="clr-col-6">Наименование документа</clr-dg-column>
  <clr-dg-column class="clr-col-2">Сотрудник</clr-dg-column>
  <clr-dg-column class="clr-col-2">Статус позиции</clr-dg-column>
  <clr-dg-column class="clr-col-2">Дата загрузки</clr-dg-column>

  <clr-dg-row *ngFor="let document of documents">
    <clr-dg-cell class="clr-col-6">
      <a (click)="onDownloadFile(document)">{{ document.filename }}</a>
    </clr-dg-cell>

    <clr-dg-cell class="clr-col-2">{{ document?.user?.shortName }}</clr-dg-cell>

    <clr-dg-cell class="clr-col-2">Новая</clr-dg-cell>

    <clr-dg-cell class="clr-col-2">{{ document.created | date:'dd.MM.yyyy' }}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>
<ng-container *ngIf="!documents">
  <div class="clr-row no-documents">
    <p>Загруженные документы отсутствуют</p>
  </div>
</ng-container>

<div class="right-align-button">
  <label for="document-list-upload" class="file-upload-label"><a>Загрузить</a></label>
  <input type="file"
         id="document-list-upload"
         class="file-upload"
         multiple
         (change)="onChangeDocuments($event.target.files)">
</div>
