<div class="clr-row">
  <div class="clr-col clr-flex-grow-0">
    <img *ngIf="item.catalogPosition.image; else noImage" src="{{ item.catalogPosition.image }}"/>

    <ng-template #noImage>
      <img src="../../../../assets/images/no-image.svg" alt="Изображение отсуствует"/>
    </ng-template>
  </div>
  <div class="clr-col">
    <div class="clr-row">
      <div class="clr-col">
        <a class="title"
                [routerLink]="['/catalog', 'position', item.catalogPosition.id]">{{ item.catalogPosition.name }}</a>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col">
        <div class="description">
          <div>{{ item.catalogPosition.description }}</div>
          <br/>
          <div>Срок поставки: <span class="productionTime">{{ item.catalogPosition.productionTime }} дней</span></div>
          Поставщик:
          <app-contragent-info-link
                  [contragent]="item.catalogPosition.supplierContragent">
          </app-contragent-info-link>
        </div>
      </div>
      <div class="clr-col-3">
        <div>
          За 1 {{ item.catalogPosition.measureUnit }}<br/>
          <span class="unitPrice">{{ item.catalogPosition.price | number : '1.0-2' }} </span>
          <span class="currency">{{ getCurrencySymbol('RUB', 'narrow') }}</span>
        </div>
        <input type="number" name="quantity" step="1" min="1"
               [value]="item.quantity"
               (change)="updateItemQuantity(item, $event.target.value)"
               [class.invalid]="item.quantity <= 0"
               (keypress)="filterEnteredText($event)"
        />
        <div>Общая:</div>
        <div class="price">
          <span>{{ item.getSum() | number : '1.0-2' }} </span>
          <span class="currency">{{ getCurrencySymbol('RUB', 'narrow') }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="clr-col clr-flex-grow-0">
    <button class="btn btn-link btn-delete" (click)="onDeleteItem(item)">
      <clr-icon shape="trash" class="is-solid" size="21"></clr-icon>
    </button>
  </div>
</div>
