<div class="login-splash">

  <div class="login-block-wrapper">

    <div class="login-form-block">

      <div class="welcome-text">
        <span class="title">Marketplace</span>
        <span class="welcome-msg">Добро пожаловать</span>
      </div>

      <div class="login-form">

        <div class="form-text">
          <span class="login-title">Вход в систему</span>
          <span class="login-description">
            Используйте ваш логин и пароль, чтобы войти в систему (логином является адрес электронной почты).
          </span>
        </div>

        <form [formGroup]="authForm" (ngSubmit)="submit()">

          <div class="login-input">
            <input type="text"
                   name="login"
                   placeholder="Логин"
                   formControlName="login"
                   [class.invalid]="isFieldInvalid('login')" />
            <span class="error-msg-container">{{ getErrorMsg('login') }}</span>
          </div>

          <div class="password-input">
            <input type="password"
                   name="password"
                   placeholder="Пароль"
                   formControlName="password"
                   [class.invalid]="isFieldInvalid('password')" />
            <span class="error-msg-container">{{ getErrorMsg('password') }}</span>
          </div>

          <button type="submit"
                 class="btn btn-primary"
                 [disabled]="authForm.invalid"
                 [clrLoading]="loading">
            Войти
          </button>

        </form>

        <div class="clr-row clr-justify-content-between">
          <div class="clr-col-auto">
            <a (click)="passwordRecoverModal.open()">Забыли пароль?</a>
          </div>

          <div class="clr-col-auto">
            <a (click)="router.navigateByUrl('/registration')">Регистрация</a>
          </div>
        </div>

      </div>

      <div class="footer-text">
        © Marketplace, 2020
      </div>

    </div>
  </div>

</div>


<app-password-recover-modal #passwordRecoverModal></app-password-recover-modal>
