<div class="login-wrapper">
  <form [formGroup]="form" class="login" (ngSubmit)="submit()">
    <section class="title">
      <h3 class="welcome">Добро пожаловать в</h3>
      Маркетплейс
      <h5 class="hint">Используйте ваш логин и пароль, чтобы войти в систему</h5>
    </section>
    <div class="login-group">
      <input type="text" clrInput placeholder="Логин / Email адрес" formControlName="login" />
      <input type="password" clrInput placeholder="Пароль" formControlName="password"/>

      <div *ngIf="this.form.hasError('invalid_credentials')" class="error active">
        Неверный пароль или логин
      </div>

      <button class="btn btn-primary" [disabled]="form.invalid" [clrLoading]="loading">Войти</button>

      <div class="signup">
        <!--<a (click)="router.navigateByUrl('/registration')">Зарегистрироваться</a> | -->
        <a (click)="passwordRecoverModal.open()">Забыли пароль?</a>
        <app-password-recover-modal #passwordRecoverModal></app-password-recover-modal>
      </div>
    </div>
  </form>
</div>
