@import "projects/uxg/src/styles/index";

.app-notification {
  &.loading {
    transition: opacity 250ms;
    opacity: 0.4;
  }

  &-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;

    @each $status, $color in $statuses {
      &.#{$status} { background-color: $color }
    }

    &:after {
      content: "";
      width: 8px;
      height: 8px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      border-radius: 50%;
    }

    &-top, &-bottom {
      @extend .app-notification-icon;
      height: 10px;
      &:after { content: none; }
    }

    &-top { border-radius: 10px 10px 0 0 }
    &-bottom { border-radius: 0 0 10px 10px }
  }
}

.content > *:not(:last-child){
  margin-bottom: 7px;
}
