<ng-container [formGroup]="form" *ngIf="value">
  <p class="app-row app-align-items-center" *ngIf="form.get('restrictDeclinePrice')">
    <uxg-checkbox class="app-control" formControlName="restrictDeclinePrice" #restrictDeclinePrice></uxg-checkbox>
    <label (click)="restrictDeclinePrice.check($event)"> &nbsp; Обязательная подача предложений на все позиции</label>
  </p>
  <p class="app-row app-align-items-center">
    <uxg-checkbox class="app-control" formControlName="positionsRequiredAll" #positionsRequiredAll></uxg-checkbox>
    <label (click)="positionsRequiredAll.check($event)"> &nbsp; Обязательная подача предложений на все позиции</label>
  </p>

  <p class="app-row app-align-items-center">
    <uxg-checkbox class="app-control" formControlName="positionsAnalogs" #allowAnalogs></uxg-checkbox>
    <label (click)="allowAnalogs.check($event)"> &nbsp; Разрешается прием аналогов</label>
  </p>

  <p class="app-row app-align-items-center">
    <uxg-checkbox class="app-control" formControlName="positionsAllowAnalogsOnly" #allowAnalogsOnly></uxg-checkbox>
    <label (click)="allowAnalogsOnly.check($event)"> &nbsp; Возможность подачи аналогов без основного предложения</label>
  </p>

  <p class="app-row app-align-items-center">
    <uxg-checkbox class="app-control" formControlName="positionsEntireVolume" #entireVolume></uxg-checkbox>
    <label (click)="entireVolume.check($event)"> &nbsp; Заявка подается на весь закупаемый объем</label>
  </p>
  <br/>

  <div class="app-row">
    <div class="app-col">
      <b>Отображение наименований участников в таблице</b>
      <p class="app-row app-align-items-center">
        <uxg-radio-item class="app-control" #suppliersVisibility1 value="Name" formControlName="positionsSuppliersVisibility"></uxg-radio-item>
        <label (click)="suppliersVisibility1.select($event)">&nbsp;Участники и их наименования отображаются в таблице</label>
      </p>
      <p class="app-row app-align-items-center">
        <uxg-radio-item class="app-control" #suppliersVisibility2 value="NameHidden" formControlName="positionsSuppliersVisibility"></uxg-radio-item>
        <label (click)="suppliersVisibility2.select($event)">&nbsp;Участники отображаются со скрытыми наименованиями</label>
      </p>
      <p class="app-row app-align-items-center">
        <uxg-radio-item class="app-control" #suppliersVisibility3 value="None" formControlName="positionsSuppliersVisibility"></uxg-radio-item>
        <label (click)="suppliersVisibility3.select($event)">&nbsp;Участники не отображаются в таблице</label>
      </p>
    </div>
    <div class="app-col">
      <b>Ограничение на подачу цен участниками</b>
      <p class="app-row app-align-items-center">
        <uxg-radio-item class="app-control" #priceRestrict1 value="LowerStartPrice" formControlName="positionsBestPriceType"></uxg-radio-item>
        <label (click)="priceRestrict1.select($event)">&nbsp;Участники подают цену ниже начальной цены</label>
      </p>
      <p class="app-row app-align-items-center">
        <uxg-radio-item class="app-control" #priceRestrict2 value="LowerPriceBest" formControlName="positionsBestPriceType"></uxg-radio-item>
        <label (click)="priceRestrict2.select($event)">&nbsp;Нет ограничений на цены участников</label>
      </p>
    </div>
  </div>

  <br/>

  <div class="app-row">
    <div class="app-col">
      <b>Отображение цен участников в таблице</b>
      <p class="app-row app-align-items-center">
        <uxg-radio-item class="app-control" #priceVisibility1 value="PriceAndRating" formControlName="positionsApplicsVisibility"></uxg-radio-item>
        <label (click)="priceVisibility1.select($event)">&nbsp;Видны и цены, и рейтинг участников</label>
      </p>
      <p class="app-row app-align-items-center">
        <uxg-radio-item class="app-control" #priceVisibility2 value="OnlyPrice" formControlName="positionsApplicsVisibility"></uxg-radio-item>
        <label (click)="priceVisibility2.select($event)">&nbsp;Видны только поданные цены</label>
      </p>
      <p class="app-row app-align-items-center">
        <uxg-radio-item class="app-control" #priceVisibility3 value="OnlyRating" formControlName="positionsApplicsVisibility"></uxg-radio-item>
        <label (click)="priceVisibility3.select($event)">&nbsp;Виден только рейтинг цен</label>
      </p>
      <p class="app-row app-align-items-center">
        <uxg-radio-item class="app-control" #priceVisibility4 value="None" formControlName="positionsApplicsVisibility"></uxg-radio-item>
        <label (click)="priceVisibility4.select($event)">&nbsp;Цены и рейтинг скрыты</label>
      </p>
    </div>
    <div class="app-col">
      <b>Доступ к процедуре</b>
      <p class="app-row app-align-items-center">
        <uxg-radio-item class="app-control" #publicAccess1 [value]="true" formControlName="publicAccess"></uxg-radio-item>
        <label (click)="publicAccess1.select($event)">&nbsp;Открытая процедура</label>
      </p>
      <p class="app-row app-align-items-center">
        <uxg-radio-item class="app-control" #publicAccess2 [value]="false" formControlName="publicAccess"></uxg-radio-item>
        <label (click)="publicAccess2.select($event)">&nbsp;Для ограниченного круга участников</label>
      </p>
    </div>
  </div>
</ng-container>
