<ng-container uxgFilter>

  <div class="app-row">
    <div class="app-col"></div>

    <div class="app-col-auto filter-button">
      <uxg-filter-button></uxg-filter-button>
    </div>
  </div>

  <div class="app-row">
    <div class="app-col table-col">
      <app-procedures-list
        [procedures]="procedures$ | async"
      ></app-procedures-list>
      <br>
      <app-pagination [total]="proceduresTotalCount$ | async" [pageSize]="2" [pages$]="pages$" (change)="fetchFilters$.next({page: $event})"></app-pagination>
    </div>

    <uxg-filter [formGroup]="filterForm" (filter)="fetchFilters$.next({filters: $event})">
      <uxg-filter-section label="Номер процедуры" *ngIf="filterForm.get('procedureId')">
        <input uxgInput type="text" formControlName="procedureId" placeholder="Номер процедуры" />
      </uxg-filter-section>

      <uxg-filter-section label="Наименование процедуры" *ngIf="filterForm.get('procedureTitle')">
        <input uxgInput type="text" formControlName="procedureTitle" placeholder="Наименование процедуры" />
      </uxg-filter-section>

      <uxg-filter-section label="ОКПД2" *ngIf="filterForm.get('okpd2')">
        <uxg-dropdown-input
          appSuggestions
          formControlName="okpd2"
          placeholder="OКПД2"
          [$]="availableOkpd2List$"
          [searchFn]="searchOkpd2"
          #okpd2="appSuggestions"
          [strictMode]="true"
          [appControlWrap]="false"
          [displayByFn]="getOkpd2Name">
          <ng-container *ngFor="let suggestion of okpd2.suggestions$ | async">
            <div uxgDropdownItem [value]="suggestion.code" [attr.title]="suggestion.name">
              <b>{{suggestion.code}}</b>&nbsp;{{ suggestion.name }}
            </div>
          </ng-container>
        </uxg-dropdown-input>
      </uxg-filter-section>

      <uxg-filter-section label="Заказчик" *ngIf="filterForm.get('customersIds')">
        <uxg-filter-checkbox-list
          formControlName="customersIds"
          searchPlaceholder="Наименование контрагента или ИНН/КПП"
          [foldedSearch]="false"
          [items$]="contragentsFilter$"
          [limit]="5"
          (search)="contragentsSearch$.next($event)">
        </uxg-filter-checkbox-list>
      </uxg-filter-section>

      <uxg-filter-section label="Тип процедуры" *ngIf="filterForm.get('purchaseForm')">
        <p class="app-row app-align-items-center">
          <uxg-radio-item class="app-control" #purchaseForm1 value="any" formControlName="purchaseForm"></uxg-radio-item>
          <label (click)="purchaseForm1.select($event)">&nbsp; Любая</label>
        </p>
        <p class="app-row app-align-items-center">
          <uxg-radio-item class="app-control" #purchaseForm2 value="opened" formControlName="purchaseForm"></uxg-radio-item>
          <label (click)="purchaseForm2.select($event)">&nbsp; Открытая</label>
        </p>
        <p class="app-row app-align-items-center">
          <uxg-radio-item class="app-control" #purchaseForm3 value="closed" formControlName="purchaseForm"></uxg-radio-item>
          <label (click)="purchaseForm3.select($event)">&nbsp; Закрытая</label>
        </p>
      </uxg-filter-section>

      <uxg-filter-section label="Уторговывание" *ngIf="filterForm.get('isRetrade')">
        <div class="app-row app-align-items-center">
          <label class="app-col" (click)="retradeRef.switch($event)">Уторговывание</label>
          <uxg-switcher class="app-col-auto" #retradeRef formControlName="isRetrade"></uxg-switcher>
        </div>
      </uxg-filter-section>

      <uxg-filter-section label="Статус процедуры" *ngIf="filterForm.get('statuses')">
        <uxg-filter-checkbox-list
          formControlName="statuses"
          searchPlaceholder="Статус процедуры"
          [foldedSearch]="true"
          [items$]="availableStatusesList$"
          [limit]="5">
        </uxg-filter-checkbox-list>
      </uxg-filter-section>


      <uxg-filter-section label="Дата публикации" *ngIf="filterForm.get('datePublishedFrom') && filterForm.get('datePublishedTo')">
        <div class="app-row">
          <div class="app-col" [style.padding-right.px]="15">
            <div class="app-control-wrap" [style.padding]="0">
              <input #datePublishedFrom uxgInput uxgDatepicker placeholder="Дата с" class="delivery-date" formControlName="datePublishedFrom">
              <label class="app-control-icon" (click)="datePublishedFrom.focus()">
                <uxg-icon shape="app-calendar-big" size="24"></uxg-icon>
              </label>
            </div>
          </div>

          <div class="app-col">
            <div class="app-control-wrap" [style.padding]="0">
              <input #datePublishedTo uxgInput uxgDatepicker placeholder="Дата по" class="delivery-date" formControlName="datePublishedTo">
              <label class="app-control-icon" (click)="datePublishedTo.focus()">
                <uxg-icon shape="app-calendar-big" size="24"></uxg-icon>
              </label>
            </div>
          </div>
        </div>
      </uxg-filter-section>

      <uxg-filter-section label="Окончание приема заявок" *ngIf="filterForm.get('dateEndRegistrationFrom') && filterForm.get('dateEndRegistrationTo')">
        <div class="app-row">
          <div class="app-col" [style.padding-right.px]="15">
            <div class="app-control-wrap" [style.padding]="0">
              <input #dateEndRegistrationFrom uxgInput uxgDatepicker placeholder="Дата с" class="delivery-date" formControlName="dateEndRegistrationFrom">
              <label class="app-control-icon" (click)="dateEndRegistrationFrom.focus()">
                <uxg-icon shape="app-calendar-big" size="24"></uxg-icon>
              </label>
            </div>
          </div>

          <div class="app-col">
            <div class="app-control-wrap" [style.padding]="0">
              <input #dateEndRegistrationTo uxgInput uxgDatepicker placeholder="Дата по" class="delivery-date" formControlName="dateEndRegistrationTo">
              <label class="app-control-icon" (click)="dateEndRegistrationTo.focus()">
                <uxg-icon shape="app-calendar-big" size="24"></uxg-icon>
              </label>
            </div>
          </div>
        </div>
      </uxg-filter-section>

      <uxg-filter-section label="Дата подведения итогов" *ngIf="filterForm.get('dateSummingUpFrom') && filterForm.get('dateSummingUpTo')">
        <div class="app-row">
          <div class="app-col" [style.padding-right.px]="15">
            <div class="app-control-wrap" [style.padding]="0">
              <input #dateSummingUpFrom uxgInput uxgDatepicker placeholder="Дата с" class="delivery-date" formControlName="dateSummingUpFrom">
              <label class="app-control-icon" (click)="dateSummingUpFrom.focus()">
                <uxg-icon shape="app-calendar-big" size="24"></uxg-icon>
              </label>
            </div>
          </div>

          <div class="app-col">
            <div class="app-control-wrap" [style.padding]="0">
              <input #dateSummingUpTo uxgInput uxgDatepicker placeholder="Дата по" class="delivery-date" formControlName="dateSummingUpTo">
              <label class="app-control-icon" (click)="dateSummingUpTo.focus()">
                <uxg-icon shape="app-calendar-big" size="24"></uxg-icon>
              </label>
            </div>
          </div>
        </div>
      </uxg-filter-section>

    </uxg-filter>
  </div>
</ng-container>
