<div class="dashboard-block">
  <div class="clr-row">
    <div class="clr-col-8">
      <div class="request-positions-stats clr-col card">
        <div class="clr-row clr-justify-content-between">
          <div class="clr-col-auto positions-stats-item"
               *ngIf="this.user.isCustomer()"
               [ngClass]="{'active' : filteredByDraftStatus, 'not-clickable' : draftPositionsCount === 0 }"
               (click)="draftPositionsCount > 0 ? onDraftClick() : false">
            <span class="stats-items-title">На согласовании черновиков</span>

            <div class="stats-items-content">
              <span class="items-count">{{ draftPositionsCount }}</span>
              <span class="items-count-label gray">{{ getPositionsCountLabel(draftPositionsCount) }}</span>
            </div>
          </div>


          <a class="clr-col-auto positions-stats-item"
             [routerLink]="tpOnAgreementCount > 0 ? getAddTechnicalProposalsLink() : null"
             [ngClass]="{'not-clickable' : tpOnAgreementCount === 0 }">
            <span class="stats-items-title">На согласовании ТП</span>

            <div class="stats-items-content">
              <span class="items-count">{{ tpOnAgreementCount }}</span>
              <span class="items-count-label gray">{{ getPositionsCountLabel(tpOnAgreementCount) }}</span>
            </div>
          </a>


          <a class="clr-col-auto positions-stats-item"
             [routerLink]="kpOnAgreementCount > 0 ? getOffersPageLink() : null"
             [ngClass]="{'not-clickable' : kpOnAgreementCount === 0 }">
            <span class="stats-items-title">На согласовании КП</span>

            <div class="stats-items-content">
              <span class="items-count">{{ kpOnAgreementCount }}</span>
              <span class="items-count-label gray">{{ getPositionsCountLabel(kpOnAgreementCount) }}</span>
            </div>
          </a>


          <a class="clr-col-auto positions-stats-item"
             [routerLink]="rkdAvailable ? getAddDesignDocumentationLink() : null"
             [ngClass]="{'not-clickable' : !rkdAvailable }">
            <span class="stats-items-title">На согласовании РКД</span>

            <div class="stats-items-content">
              <span class="items-count">{{ rkdOnAgreementCount }}</span>
              <span class="items-count-label gray">{{ getPositionsCountLabel(rkdOnAgreementCount) }}</span>
            </div>
          </a>


          <a class="clr-col-auto positions-stats-item"
             [routerLink]="onAgreementReviewCount > 0 ? getContractsLink() : null"
             [ngClass]="{'not-clickable' : onAgreementReviewCount === 0 }">
            <span class="stats-items-title">На рассмотрении договора</span>

            <div class="stats-items-content">
              <span class="items-count">{{ onAgreementReviewCount }}</span>
              <span class="items-count-label gray">{{ getPositionsCountLabel(onAgreementReviewCount) }}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="clr-col-4">
      <div class="request-info-items clr-col card">
        <div class="clr-row clr-justify-content-between">
          <div class="clr-col-6 info-stats-item" [ngClass]="{'not-clickable' : newActivitiesCount === 0 }">
            <span class="stats-items-title">Новых событий</span>
            <div class="stats-items-content">
              <span class="items-count">{{ newActivitiesCount }}</span>
            </div>
          </div>
          <div class="clr-col-6 info-stats-item"
               (click)="requestDocumentsModalOpened = true"
               [ngClass]="{'not-clickable' : requestDocumentsCount === 0 }">
            <span class="stats-items-title">Документы заявки</span>

            <div class="stats-items-content">
              <span class="items-count">{{ requestDocumentsCount }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<clr-modal [clrModalSize]="'lg'" [(clrModalOpen)]="requestDocumentsModalOpened">
  <h3 class="modal-title">Документы заявки</h3>

  <div class="modal-body">
    <app-document-list [documents]="request.documents">
    </app-document-list>
  </div>
</clr-modal>
