<ng-template #loading class="load-block">
  <span class="spinner spinner-md"></span>
</ng-template>

<ng-container *ngIf="(request$ | async) as request; else loading">
  <div class="app-row">
    <div class="info-card app-col">
      <div class="request-info">

        <ng-container *ngIf="userInfoService.isBackOffice()">
          <div class="app-row w-100">
            <div class="clr-col-2">
              <button class="btn btn-link"
                      [disabled]="getPositions().length === 0"
                      title="{{getPositions().length > 0 ? 'Добавить перечень РКД' : 'Нет доступных позиций'}}"
                      (click)="onShowDesignDocumentationListModal()">
                <clr-icon shape="app-plus" class="is-solid"></clr-icon>
                <span> Добавить перечень РКД</span>
              </button>
            </div>
          </div>

          <!-- Модальное окно добавление перечня ркд -->
          <clr-modal [(clrModalOpen)]="showDesignDocumentationListModal"
                     [clrModalClosable]="false"
                     [clrModalSize]="'xl'">
            <h3 class="modal-title">Новый перечень РКД</h3>
            <div class="modal-body">
              <form [formGroup]="addDocumentationForm" class="form">
                <div formArrayName="addDocumentationListForm">
                  <div class="app-row w-100">
                    <div class="clr-col-5">
                      <label>Наименование документа</label>
                    </div>
                    <div class="clr-col-3"><label>Срок корректировки (календ. дней)</label></div>
                    <div class="clr-col-3"><label>Срок предоставления (календ. дней)</label></div>
                  </div>
                  <ng-container *ngFor="let item of addDocumentationListForm.controls; let i=index">
                    <div class="form-block">
                      <div class="clr-form-control">
                        <div class="app-row w-100" formGroupName="{{i}}">
                          <div class="clr-col-5">
                            <input id="name" type="text" formControlName="name" appFormControlInvalidClass="invalid"/>
                          </div>
                          <div class="clr-col-3">
                            <input id="adjustmentLimit" type="number" formControlName="adjustmentLimit"
                                   appFormControlInvalidClass="invalid"/>
                          </div>
                          <div class="clr-col-3">
                            <input id="receivingLimit" type="number" formControlName="receivingLimit"
                                   appFormControlInvalidClass="invalid"/>
                          </div>
                          <div class="clr-col-1">
                            <button type="button" class="btn btn-link btn-danger btn-delete" (click)="deleteItem(i)"
                                    title="Удалить из списка" *ngIf="i > 0">
                              <clr-icon shape="app-cross" size="24"></clr-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <button class="btn btn-link" (click)="onAddNext()">
                    <clr-icon shape="app-plus"></clr-icon>
                    Добавить документ
                  </button>
                </div>
              </form>
              <div class="position-list">
                <div class="position-choice">
                  <b>Выберите позиции:</b>
                </div>
                <div class="app-row w-100" *ngFor="let position of getPositions()">
                  <div class="clr-col-12">
                    <clr-checkbox-wrapper class="select-checkbox">
                      <input clrCheckbox type="checkbox"
                             [checked]="isPositionIsChecked(position)"
                             (change)="onSelectPosition(position)">
                      <label class="position-label nopadding">{{ position.name }}
                      </label>
                    </clr-checkbox-wrapper>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-link" (click)="onCloseAddDesignDocumentationModal()">Отмена</button>
              <button class="btn btn-primary" (click)="onAddDesignDocumentationList()"
                      [disabled]="addDocumentationForm.invalid || selectedPositions.length === 0">
                Добавить
              </button>
            </div>
          </clr-modal>

          <div class="design-documentation-card-list"
               *ngFor="let designDocumentation of designDocumentations; index as j">
            <div class="design-documentation-card">
              <div class="app-row">
                <span class="app-col position-name">
                  <span>{{designDocumentation.position.name}}</span>
                </span>
                <span>
                  <ng-container *ngIf="designDocumentation.status as status">
                    <ng-container [ngSwitch]="status">
                      <button disabled="" *ngSwitchCase="designDocStatus.ON_APPROVAL"
                              class="btn btn-info-outline btn-label">На согласовании</button>
                      <button disabled="" *ngSwitchCase="designDocStatus.APPROVED"
                              class="btn btn-info-outline btn-label status-success">Согласовано</button>
                      <button disabled="" *ngSwitchCase="designDocStatus.REJECTED"
                              class="btn btn-info-outline btn-label status-warning">Отклонено заказчиком</button>
                    </ng-container>
                    <ng-container *ngIf="status === designDocStatus.NEW">
                      <clr-modal #confirmDelete [clrModalStaticBackdrop]="false">
                        <h3 class="modal-title">Удалить перечень полностью?</h3>
                        <h5 class="modal-body"><b>Отменить действие будет невозможно.</b></h5>
                        <div class="modal-footer">
                          <button type="button" class="btn" (click)="confirmDelete.close()">Отмена</button>
                          <button
                            (click)="removeDesignDocumentList(request, designDocumentation); confirmDelete.close()"
                            type="button" class="btn btn-danger">Удалить</button>
                        </div>
                      </clr-modal>
                      <button *ngIf="designDocumentation.status === 'NEW'" (click)="confirmDelete.open()" type="button"
                              class="btn">Удалить</button>
                    </ng-container>
                    <button class="btn btn-primary" *ngIf="canEditDesignDocList(designDocumentation)"
                            [clrLoading]="this.isSendingForApproval(designDocumentation) ? clrLoadingState.LOADING : clrLoadingState.DEFAULT"
                            [disabled]="!isSendOnApproveActive(designDocumentation)"
                            (click)="sendForApproval(designDocumentation)">Согласовать</button>
                  </ng-container>
                </span>
              </div>
              <div class="app-row app-align-items-center">
                <table class="document-list table table-noborder">
                  <thead>
                  <tr class="app-row clr-flex-nowrap">
                    <th class="left clr-col-lg-2 clr-col-xl-3">Наименование документа</th>
                    <th class="left clr-col-lg-3 clr-col-xl-4">Документ</th>
                    <th class="left app-col">Дата корректировки</th>
                    <th class="left app-col">Дата предоставления</th>
                    <th class="left app-col">Дата рассмотрения</th>
                    <th class="left clr-col-2" *ngIf="designDocumentation.status === designDocStatus.NEW"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="app-row"
                      *ngFor="let designDoc of designDocumentation.designDocs; index as i">
                    <td class="left clr-col-lg-2 clr-col-xl-3">
                      <span *ngIf="!designDocModels[i]">{{designDoc.name}}</span>
                      <input *ngIf="designDocModels[i]" type="text" required [(ngModel)]="designDocModels[i].name"
                             appFormControlInvalidClass="invalid"/>
                    </td>
                    <td class="left clr-col-lg-3 clr-col-xl-4">
                      <div class="form-group compact">
                        <app-document-simple-list
                          [documents]="designDoc.documents"
                          [enableUpload]="designDoc.id && canUploadDocuments(designDoc, designDocumentation)"
                          [limit]="5"
                          [enableDelete]="designDocumentation.status === designDocStatus.NEW"
                          (delete)="removeDocuments(request, designDoc, [$event])"
                          (selected)="onSelectDocument($event, designDoc)"
                        ></app-document-simple-list>
                        <label class="document-loading" *ngIf="isLoadingDesignDoc(designDoc)">Загрузка...</label>
                      </div>
                    </td>
                    <td class="left app-col">
                      <span *ngIf="!designDocModels[i]" [class.expired]="isDateExpired(designDoc.adjustmentDate)">
                        {{designDoc.adjustmentDate | date :'shortDate'}}
                      </span>
                      <input *ngIf="designDocModels[i]" type="text" required [(ngModel)]="designDocModels[i].adjustmentLimit"
                             appFormControlInvalidClass="invalid"/>
                    </td>
                    <td class="left app-col">
                      <span *ngIf="!designDocModels[i]" [class.expired]="isDateExpired(designDoc.receivingDate)">
                        {{designDoc.receivingDate | date :'shortDate'}}
                      </span>
                      <input *ngIf="designDocModels[i]" type="text" required [(ngModel)]="designDocModels[i].receivingLimit"
                             appFormControlInvalidClass="invalid"/>
                    </td>
                    <td class="left app-col">
                      <span>{{designDoc.reviewDate | date :'shortDate'}}</span>
                    </td>
                    <td class="left clr-col-2"
                        *ngIf="designDocumentation.status === designDocStatus.NEW">
                      <clr-modal #confirmDeleteDoc [clrModalStaticBackdrop]="false">
                        <h3 class="modal-title">Удалить документ {{ designDoc.name }}?</h3>
                        <h5 class="modal-body">
                          <div *ngIf="designDoc.documents.length > 0">Документ содержит загруженные файлы, которые тоже
                            будут удалены.
                          </div>
                          <div><b>Отменить действие будет невозможно.</b></div>
                        </h5>
                        <div class="modal-footer">
                          <button type="button" class="btn" (click)="confirmDeleteDoc.close()">Отмена</button>
                          <button type="button" class="btn btn-danger"
                                  (click)="removeDesignDocument(request, designDoc); confirmDeleteDoc.close()">Удалить
                          </button>
                        </div>
                      </clr-modal>
                      <div class="app-row app-justify-content-end">
                        <ng-container *ngIf="canEditDesignDoc(designDocumentation, designDoc) && !designDocModels[i]">
                          <button (click)="confirmDeleteDoc.open()" type="button" class="btn">Удалить</button>
                          <button (click)="designDocModels[i] = getDesignDocModel(designDoc)" class="btn">Изменить</button>
                        </ng-container>
                        <ng-container *ngIf="designDocModels[i]">
                          <button (click)="designDocModels[i] = null" class="btn btn-icon">Отмена</button>
                          <button [disabled]="isDesignDocModelInvalid(designDocModels[i])"
                                  (click)="editDesignDoc(request, designDocModels[i], designDocumentation)" type="button"
                                  class="btn btn-primary">Сохранить
                          </button>
                        </ng-container>
                      </div>
                    </td>
                  </tr>
                  <tr class="app-row" *ngFor="let newDesignDocModel of newDesignDocModels[j]; index as i; ">
                    <td class="clr-col-4">
                      <input type="text" [(ngModel)]="newDesignDocModel.model.name"/>
                    </td>
                    <td class="clr-col-4"></td>
                    <td class="app-col">
                      <input type="text" [(ngModel)]="newDesignDocModel.model.adjustmentLimit"/>
                    </td>
                    <td class="app-col">
                      <input type="text" [(ngModel)]="newDesignDocModel.model.receivingLimit"/>
                    </td>
                    <td class="clr-col-2 ">
                      <div class="app-row app-justify-content-end">
                        <button (click)="removeNewDesignDoc(j, i)" type="button" class="btn">Удалить</button>
                        <button [disabled]="isDesignDocModelInvalid(newDesignDocModel.model)"
                                [clrLoading]="newDesignDocModel.state"
                                (click)="addDesignDoc(request, newDesignDocModel.model, designDocumentation, j, i)"
                                type="button"
                                class="btn btn-primary">Добавить
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr class="app-row" *ngIf="canEditDesignDocList(designDocumentation)">
                    <td class="app-col app-justify-content-end">
                      <div class="app-row app-justify-content-end">
                        <button (click)="pushNewDesignDoc(j)" type="button"
                                class="btn btn-primary">Добавить документ
                        </button>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="designDocumentation" *ngIf="userInfoService.isCustomer()">
          <div class="table designDocumentationHead">
            <div class="app-row">
              <div class="left clr-col-4">ПОЗИЦИЯ</div>
              <div class="left clr-col-6">ДОКУМЕНТЫ</div>
              <div class="left clr-col-2"></div>
            </div>
          </div>

          <div class="table designDocumentationBody">
            <div class="app-row" *ngFor="let designDocumentation of designDocumentations">

              <div class="left clr-col-4 title">{{designDocumentation.position.name}}</div>

              <div class="left clr-col-6">
                <div *ngIf="canEditDesignDocList(designDocumentation); else designDocs" class="app-ghost-color">В процессе загрузки</div>
                <ng-template #designDocs>
                  <ng-container *ngFor="let designDoc of designDocumentation.designDocs">
                    <app-document-simple-list
                      *ngIf="designDoc.type !== designDocumentationType.REMARK"
                      [documents]="designDoc.documents.length > 0 ? designDoc.documents : [getAwaitingDoc(designDoc)]"
                      [enableUpload]="false"
                      [limit]="5"
                    ></app-document-simple-list>
                  </ng-container>
                </ng-template>
              </div>

              <div class="design-actions clr-col-2">
                <ng-container [ngSwitch]="designDocumentation.status">
                  <clr-dropdown *ngSwitchCase="designDocStatus.ON_APPROVAL" class="bottom-right">

                    <button class="btn btn-primary btn-dropdown" clrDropdownTrigger>
                      <div>Принять решение</div>
                      <clr-icon shape="app-chevron down"></clr-icon>
                    </button>

                    <clr-dropdown-menu>
                      <div clrDropdownItem (click)="approve(designDocumentation)">
                        <clr-icon shape="app-check"></clr-icon>
                        <span> Согласовать</span>
                      </div>
                      <label clrDropdownItem appUploadFile (select)="reject(designDocumentation, $event)">
                        <clr-icon shape="app-warning" class="is-solid"></clr-icon>
                        <span> Приложить замечания</span>
                      </label>
                    </clr-dropdown-menu>

                  </clr-dropdown>
                  <span *ngSwitchCase="designDocStatus.NEW" class="status status-info" disabled="">
                    <span>Новый</span>
                  </span>
                  <span *ngSwitchCase="designDocStatus.APPROVED" class="status status-success">
                    <clr-icon shape="app-check"></clr-icon>
                    <span> Согласовано</span>
                  </span>
                  <span *ngSwitchCase="designDocStatus.REJECTED" class="status status-warning">
                    <clr-icon shape="app-warning" class="is-solid"></clr-icon>
                    <span> На доработке</span>
                  </span>
                </ng-container>
                <br/><br/>

                <app-document-simple-list
                  [documents]="getRemark(designDocumentation).documents"
                  [enableUpload]="false"
                ></app-document-simple-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
