:host {
  width: 100%;
}

form {
  padding: 0;
}

table, button {
  margin: 0;
}

table {
  padding: 0 25px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.btn-save,
.btn-delete {
  margin-left: .5rem;
  flex-shrink: 0;
}

.no-wrap {
  flex-wrap: nowrap;
}

.clr-row > input {
  flex-grow: 1;
  width: auto;
}
