@import "../../../../../../projects/uxg/src/styles/index";

form.cp-creation-form {
  margin-bottom: 16px;
}

:host ::ng-deep .cp-creation-modal .modal-dialog.modal-lg {
  width: 765px;
}

div.documents {
  margin-bottom: 30px;
}

.position-name {
  line-height: 18px;
  margin-bottom: 15px;
}

input.app-control-large {
  height: 40px;
}

.warning-label {
  transform-origin: top;
  color: #e78c08;
  display: block;
  font-size: 11px;
  font-weight: bold;
  -webkit-animation: app-control-error-show 250ms;
  animation: app-control-error-show 250ms;
  bottom: 0;
  padding: 2px 0;
  margin-top: -18px;
}

span.document-description,
span.requirement-text {
  color: rgba(0, 0, 0, 0.6);

  span.red-text {

  }
}

small {
  margin-bottom: 17px;
  display: block;
}

.documents {
  & > .app-row > .app-col {
    width: 25%;
    min-width: 310px;
    padding: 0 20px 12px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-grow: 0;
  }

  &-title {
    padding: 0 12px;
    overflow: hidden;
    flex-grow: 1;

    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  button {
    min-height: auto;
  }
}
