<div class="app-bold position-name">{{ position?.name }}</div>

<form appFormValidation [formGroup]="form" (ngSubmit)="submit()">

  <div class="form-row app-row">
    <div class="app-col-6">
      <uxg-dropdown-input
        formControlName="supplierContragentId"
         placeholder="Наименование контрагента" appSuggestions #sug="appSuggestions"
        [$]="contragents$" [lg]="true" [strictMode]="true" [displayByFn]="getContragentName" [searchFn]="searchContragents"
      >
        <ng-container *ngIf="(sug.suggestions$ | async) as contragents">
          <div uxgDropdownItem *ngFor="let contragent of contragents" [value]="contragent">
              {{ getContragentName(contragent) }}
              <span class="app-ghost-color">{{contragent.inn | splitNumber}}</span>
          </div>
        </ng-container>
        <ng-template #errors>
          <div class="app-control-error" *ngIf="form.get('supplierContragentId').errors as e">
            <span *ngIf="e.required">Обязательное поле</span>
            <span *ngIf="e.notFromList">Выберите контрагента из списка</span>
            <span *ngIf="e.supplierOfferExist">КП от выбранного поставщика уже добавлено</span>
          </div>
        </ng-template>
      </uxg-dropdown-input>
    </div>

    <div class="app-col-4">
      <div class="app-control-wrap">
        <input #priceWithVat
               appPriceInputFilter
               class="hidden-arrows"
               min="0"
               type="number"
               uxgInput lg formControlName="priceWithVat" />
        <label class="app-control-label" (click)="priceWithVat.focus()">Цена за единицу</label>
      </div>
    </div>

    <div class="app-col-2">
      <div class="app-control-wrap">
        <uxg-dropdown lg class="app-dropdown" formControlName="currency" placeholder="Валюта...">
          <div uxgDropdownItem value="RUB">Руб.</div>
          <div uxgDropdownItem value="USD" disabled>Дол.</div>
          <div uxgDropdownItem value="EUR" disabled>Евр.</div>
          <div uxgDropdownItem value="CHF" disabled>Фр.</div>
        </uxg-dropdown>
      </div>
    </div>
  </div>

  <div class="form-row app-row">
    <div class="app-col-3">
      <div class="app-control-wrap">
        <input #quantity [warning]="validators.quantityValidator(position)(form.get('quantity')) !== null"
               uxgInput lg formControlName="quantity" type="number"/>
        <label class="app-control-label" (click)="quantity.focus()">Количество</label>
        <div class="app-control-error" *ngIf="validators.quantityValidator(position)(form.get('quantity'))">
          <span>Меньше необходимого</span>
        </div>
        <div class="app-control-error" *ngIf="form.get('quantity').errors as e">
          <span *ngIf="e.required">Обязательное поле</span>
        </div>
      </div>
    </div>

    <div class="app-col-3">
      <uxg-dropdown-input appSuggestions strictMode formControlName="measureUnit" placeholder="Ед. измерения"
                          [$]="okeiList$" [searchFn]="okeiService.searchOkei" [lg]="true" #okei="appSuggestions"
      >
        <ng-container *ngIf="(okei.suggestions$ | async) as okeiSuggestions">
          <div uxgDropdownItem
               *ngFor="let suggestion of okeiSuggestions"
               [value]="suggestion.symbol | lowercase"
               [attr.title]="suggestion.name | lowercase"
          >{{suggestion.symbol | lowercase }} <span class="app-ghost-color">- {{suggestion.name | lowercase}}</span></div>
        </ng-container>
        <ng-template #errors>
          <div class="app-control-error" *ngIf="form.get('measureUnit').errors as e">
            <span *ngIf="e.required">Обязательное поле</span>
            <span *ngIf="e.notFromList">Выберите из списка</span>
          </div>
        </ng-template>
      </uxg-dropdown-input>
    </div>

    <div class="app-col-4">
      <div class="app-control-wrap">
        <input [warning]="validators.deliveryDateValidator(position)(form.get('deliveryDate')) !== null"
               #deliveryDate uxgInput lg formControlName="deliveryDate" uxgDatepicker />
        <label class="app-control-label" (click)="deliveryDate.focus()">Срок поставки</label>
        <label class="app-control-icon" (click)="deliveryDate.focus()">
          <uxg-icon shape="app-calendar-big" size="24"></uxg-icon>
        </label>
        <div class="app-control-error" *ngIf="validators.deliveryDateValidator(position)(form.get('deliveryDate'))">
          <span>Позже запрашиваемой даты</span>
        </div>
      </div>
    </div>
    <div class="app-col-2"></div>
  </div>

  <div class="app-row">
    <div class="app-col app-col-6">
      <div class="app-control-wrap">
        <input #manufacturer uxgInput type="text" lg formControlName="manufacturer"/>
        <label class="app-control-label" (click)="manufacturer.focus()">Изготовитель</label>
        <div class="app-control-error" *ngIf="form.get('manufacturer').errors as e">
          <span *ngIf="e.required">Обязательное поле</span>
        </div>
      </div>
    </div>
    <div class="app-col app-col-4">
      <div class="app-control-wrap">
        <input #standard uxgInput type="text" lg formControlName="standard"/>
        <label class="app-control-label" (click)="standard.focus()">Стандарт</label>
      </div>
    </div>
    <div class="app-col app-col-2"></div>
  </div>


  <div class="app-row">
    <div class="app-col">
      <uxg-dropdown-input formControlName="paymentTerms" placeholder="Условия оплаты" lg>
        <div uxgDropdownItem *ngFor="let term of paymentTerms" [value]="term[0]">{{ term[1] }}</div>
      </uxg-dropdown-input>
    </div>
  </div>

  <div class="app-row app-align-items-center">
    <div class="app-col">
      Все поля, кроме стандарта, являются <b class="app-error-color">обязательными</b> к заполнению! Документы
      прикладывать не
      обязательно.
    </div>

    <button uxgButton lg secondary type="button" (click)="close.emit()">Отмена</button>
    <button uxgButton lg primary>
      {{ commercialProposal ? 'Сохранить' : 'Добавить' }}
    </button>
  </div>
</form>
