<div class="clr-row main-search">
  <div class="clr-col-12">
    <app-main-search
      (searchClick)="onSearch($event)"
      (categoriesClick)="onCategoriesClick()"
    ></app-main-search>
  </div>
</div>

<div class="clr-row">
  <div class="clr-col-3">
    <app-categories-filters></app-categories-filters>
    <hr>
    <app-main-filters></app-main-filters>
  </div>
  <div class="clr-col-9">
    <div *ngFor="let item of items">
      <app-product-card [item]="item"></app-product-card>
    </div>
    <div class="catalog-paginator">
      <ng-paginator
        (clickEvent)="loadProductsPage()"
        [totalCount]="totalCount"
        [currentPage]="currPage"
        [pageSize]="pageSize"
        [loading]="isLoading"
        [btnText]="'Загрузить ещё'"
      ></ng-paginator>
    </div>

  </div>
</div>
