.catalog-paginator {
    margin-top: 5px;
}

.main-search {
  margin-bottom: 1rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #d4d9e2;
  margin: 1em 0;
  padding: 0;
}
