<div class="row">
  <div class="clr-col-10 order-header">
    <div class="clr-row  clr-align-items-center">
      <div class="clr-col">
        <h2 class="header-inline">Заказ № {{ order.number }}</h2>

        <div class="status">
          <span class="badge badge-danger"></span>
          <span class="status-label">{{ order.statusLabel }}</span>
        </div>
      </div>
    </div>

    <div class="clr-row">
      <div class="clr-col">
        <span class="text-muted">{{ contragentLabel }}:</span> {{ contragentFullName }}
      </div>
    </div>
  </div>

  <div class="clr-col-2">
    <div class="clr-row clr-align-items-end">
      <div class="clr-col" [ngSwitch]="buttonsProfile">
        <ng-template [ngSwitchCase]="buttonsProfiles.ACCEPT_AND_CANCEL">
          <div class="float-right d-inline-block">
            <button class="btn btn-yellow" (click)="onSendOrder(customerResolutionTypes.ACCEPT)">Утвердить</button>
            <button class="btn btn-yellow" (click)="onSendOrder(customerResolutionTypes.CANCEL)">Отменить</button>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="buttonsProfiles.SEND">
          <button class="btn btn-yellow float-right" (click)="onSendOrder(null)">Отправить заказ</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
