.id {
  max-width: 100px;
}

.agreements-list {
  margin-bottom: 25px;
}

span.empty-list {
  display: block;
  text-align: center;
  padding: 100px 0;
  opacity: 0.6;
}

.name {
  overflow: hidden;
  display: flex;
}
