@import "src/theme";

.id {
  max-width: 100px;
}

.agreements-list {
  margin-bottom: 25px;
}

.dashboard-table {
  & > .app-row:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.group-counter {
  padding-left: 4px;
}

span.empty-list {
  display: block;
  text-align: center;
  padding: 100px 0;
  opacity: 0.6;
}

.name {
  overflow: hidden;
  display: flex;
}

.dashboard-header {
  background: #F4F6FB;
  border-left: 1px solid uxg($theme, color-border);
  border-right: 1px solid uxg($theme, color-border);
}
