<app-common-proposal-view
  *ngIf="(stateStatus$ | async) !== 'fetching'; else placeholder"
  [proposals]="proposals$ | async"
  [proposalsReviewed]="proposalsReviewed$ | async"
  [request]="request$ | async"
  [proposalsSendToEdit]="proposalsSendToEdit$ | async"
  [proposalsSentToReview]="proposalsSentToReview$ | async"
  [stateStatus]="stateStatus$ | async"
  [groupId]="groupId"
  [view]="view"
  [positions]="positions$ | async"
  (viewChange)="switchView($event)"
  (review)="store.dispatch(review($event.accepted, $event.sendToEdit))"
></app-common-proposal-view>

<ng-template #placeholder>
  <div class="app-row" [class.app-layout]="view === 'grid'">
    <div class="app-col">
      <div class="app-row">
        <div class="app-col app-row">
          <div class="placeholder-row" *ngFor="let i of [].constructor(2)" [style.height.px]="40" [style.width.px]="200"></div>
        </div>
        <div class="placeholder-row" [style.height.px]="40" [style.width.px]="80"></div>
      </div>

      <div class="placeholder" *ngFor="let i of [].constructor(10)" [style.height.px]="160"></div>
    </div>
    <div class="app-col-aside detachable"></div>
  </div>
</ng-template>
