h3.request-title {
  margin: 0;
  padding-left: 35px;
}



.request-view {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  align-content: stretch;
}

p.title-info {
  margin: 0;
  text-transform: uppercase;
  color: #999999;
}

table.request-customer-info {
  margin: 10px 0;
}

.table-content td {
  padding-top: 0 !important;
}

clr-accordion {
  padding-top: 20px;
}

.clr-form-control {
  padding: 0;
}

.clr-accordion-title {
  max-width: 1200px;
}

.btn.btn-link {
  padding: 0;
}

.w-40 {
  width: 40%;
}

.btn.btn-link p {
  padding: 0;
  font-size: 12px;
}

.status {
  text-align: right;
}

clr-datagrid {
  padding-top: 15px;
}

.datagrid-cell {
  font-size: 13px;
}

.quantity {
  padding-right: 5px;
}


.select select {
  margin-bottom: 0;
}

.submit {
  display: block;
  text-align: right;
}

.submit button {
  margin-right: 20px;
}

.w-100 {
  margin: 0;
}

.card.free-form-request {
  margin-top: 10px;
}
.request-comment {
  margin-top: 15px;
  margin-bottom: 30px;
}
.request-comment-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}
.request-comment-body {
  display: block;
  max-width: 540px;
}

.action-bar {
  height: 50px;
  border-bottom: 1px solid #d4d9e2;
  padding: 8px 20px;

  .btn {
    margin: 0 20px 0 0;
  }
}
.request-row {
  border-bottom: 1px solid #d4d9e2;
  padding: 10px 0;
  cursor: pointer;
}

.request-row:hover {
  background: aliceblue;
}

.position-row {
  border-bottom: 1px solid #d4d9e2;
  display: flex;
  flex: auto;
  justify-content: space-between;
  cursor: pointer;
}

.cell {
  padding: 10px;
}

.position-row:hover {
  background: aliceblue;
}

.card-content {
  padding: 0;
}

.request-view {
  display: -webkit-flex;
  display: flex;
}

.minList {
  width: 500px;
  min-width: 500px;
}

.status {
  color: #d7d7d7;
  text-align: right;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status span {
  font-size: 12px;
  color: #999999;
}

.position-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0;
}

.request {
  padding-right: 20px;
}

.btn-link {
  margin-right: 15px;
  ma: 0;
}

.selected-row, .selected-row:hover, .selected-row h3, .selected-row span {
  background: #0085FF;
  color: white;
}

.info-card {
  flex-direction: row;
  flex-grow: 1;
}

.card.clr-col-4 {
  padding: 0;
}

.group-item {
  font-weight: 800;
}

.group-position-row {
  border-bottom: 1px solid #d4d9e2;
  display: flex;
  flex: auto;
  justify-content: space-between;
  padding: 5px ;
  cursor: pointer;
}

.action-footer {
  height: 50px;
  padding: 5px 20px 0 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}


.select-checkbox {
  label:before {
    margin-top: 3px;
  }
}


.sub-list-item .position-name {
  padding-left: 70px;
}

.btn clr-icon {
  vertical-align: middle;
}


.add-in-group {
  float: right;
  .btn {
    padding: 0;
  }
}
