<ng-container *ngIf="openModal">
  <div class="app-aside-modal app-col-aside app-row app-flex-column detachable open notification">
    <h2 class="app-row app-align-items-center">
      <span class="app-col">Уведомления</span>
    </h2>
    <br>
    <br>
    <ng-content></ng-content>

    <app-notification-popup [view]="'list'"></app-notification-popup>

    <ng-container *ngIf="(notifications$ | async) as notifications">
      <ng-container *ngIf="notifications.totalHits === '0'; else notificationsList">
        <span class="app-ghost-color">Уведомления отсуствуют</span>
      </ng-container>

      <ng-template #notificationsList>
        <div class="app-col" *ngFor="let notification of notifications.items">
          <app-notification-card
            [notification]="notification"
            [view]="'list'">
          </app-notification-card>
        </div>
      </ng-template>
    </ng-container>

    <div class="app-aside-modal-backdrop" (click)="close()">
      <div class="close">
        <uxg-icon shape="app-cross"></uxg-icon>
      </div>
    </div>
  </div>
</ng-container>
