<div class="app-card" [uxgWizzard]="wizzard">
  <uxg-wizzard-steps [wizzard]="wizzard"></uxg-wizzard-steps>
  <br/>
  <br/>

  <div *uxgWizzardStep="'step1'">
    <h2>Initial step</h2>
    <div class="app-secondary-color">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud
    </div>
  </div>

  <div *uxgWizzardStep="'step2'">
    <h2>General step</h2>
    <div class="app-secondary-color">
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
      corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
      qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
    </div>
  </div>

  <div *uxgWizzardStep="'step3'">
    <h2>Finnalize step</h2>
    <div class="app-secondary-color">
      On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by
      the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are
      bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the
      same as saying through shrinking from toil and pain
    </div>
  </div>

  <br/>
  <div class="app-row app-justify-content-end">
    <div class="app-row app-col app-grow-0 app-basis-auto app-align-items-center">
      <button uxgWizzardButton="cancel" type="button" uxgButton secondary lg>Cancel</button>
      <button uxgWizzardButton="prev" type="button" uxgButton secondary lg>Back</button>
      <button uxgWizzardButton="next" type="button" uxgButton primary lg>Forward</button>
      <button uxgWizzardButton="end" uxgButton primary lg>Submit</button>
    </div>
  </div>

</div>
