<div class="app-card">
  <ng-container *ngIf="statusesStatistics as stats; else loading">
    <div class="app-row">
      <div class="statistics-filter-section app-col">
        <!--  filter section    -->
      </div>
    </div>

    <div class="app-row">
      <div class="statistics-section app-col">
        <div class="app-row app-ghost-color">
          <div class="app-col">Заявок</div>
          <div class="app-col">Позиций</div>
          <div class="app-col">Заказчиков</div>
          <div class="app-col">Требует действий БО</div>
          <div class="app-col">Ответственных</div>
          <div class="app-col sum-column">Сумма без НДС</div>
        </div>

        <div class="app-row">
          <h2 class="app-col">{{ stats.requestsCount }} <span class="app-ghost-color">шт</span></h2>
          <h2 class="app-col">{{ stats.positionsCount }} <span class="app-ghost-color">шт</span></h2>
          <h2 class="app-col">{{ stats.customersCount }}</h2>
          <h2 class="app-col">{{ stats.backofficeTasksCount }}</h2>
          <h2 class="app-col">{{ stats.responsibleUsersCount }}</h2>
          <h2 class="app-col sum-column">{{ stats.positionsTotalSumWithoutVat }} <span class="app-ghost-color">₽</span></h2>
        </div>
      </div>
    </div>

    <br><br>

    <div class="app-row">
      <div class="statuses-and-sum-section app-col">

        <!-- Хедер -->
        <div class="app-row app-align-items-center header-row">
          <div class="status-col"></div>

          <div class="app-col">
            <h3>Статусы позиций</h3>
          </div>

          <div class="app-col">
            <h3>Деньги (стоимость) по статуам</h3>
          </div>
        </div>

        <!-- Черновики -->
        <div class="app-row app-align-items-center status-row">
          <div class="status-col">
            <div class="app-position-status">
              <span>Черновики</span>
              <div class="app-position-status-icon DRAFT"></div>
            </div>
          </div>

          <div class="app-col">
            <app-percentage-bar
            [percentage]="25"
            [count]="1423">
            </app-percentage-bar>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="25"
              [sum]="13400">
            </app-percentage-bar>
          </div>
        </div>

        <!-- Новые -->
        <div class="app-row app-align-items-center status-row">
          <div class="status-col">
            <div class="app-position-status">
              <span>Новые</span>
              <div class="app-position-status-icon NEW"></div>
            </div>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="36"
              [count]="1423">
            </app-percentage-bar>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="36"
              [sum]="18800">
            </app-percentage-bar>
          </div>
        </div>

        <!-- ТКП -->
        <div class="app-row app-align-items-center status-row">
          <div class="status-col">
            <div class="app-position-status">
              <span>ТКП</span>
              <div class="app-position-status-icon TECHNICAL_COMMERCIAL_PROPOSALS_PREPARATION"></div>
            </div>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="15"
              [count]="1423">
            </app-percentage-bar>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="15"
              [sum]="73124">
            </app-percentage-bar>
          </div>
        </div>

        <!-- ТП -->
        <div class="app-row app-align-items-center status-row">
          <div class="status-col">
            <div class="app-position-status">
              <span>ТП</span>
              <div class="app-position-status-icon TECHNICAL_PROPOSALS_PREPARATION"></div>
            </div>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="8"
              [count]="1423">
            </app-percentage-bar>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="8"
              [sum]="3572">
            </app-percentage-bar>
          </div>
        </div>

        <!-- КП -->
        <div class="app-row app-align-items-center status-row">
          <div class="status-col">
            <div class="app-position-status">
              <span>КП</span>
              <div class="app-position-status-icon PROPOSALS_PREPARATION"></div>
            </div>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="0"
              [count]="0">
            </app-percentage-bar>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="0"
              [count]="0">
            </app-percentage-bar>
          </div>
        </div>

        <!-- Договор -->
        <div class="app-row app-align-items-center status-row">
          <div class="status-col">
            <div class="app-position-status">
              <span>Договор</span>
              <div class="app-position-status-icon CONTRACT_AGREEMENT"></div>
            </div>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="67"
              [count]="1423">
            </app-percentage-bar>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="67"
              [sum]="7632">
            </app-percentage-bar>
          </div>
        </div>

        <!-- РКД -->
        <div class="app-row app-align-items-center status-row">
          <div class="status-col">
            <div class="app-position-status">
              <span>РКД</span>
              <div class="app-position-status-icon RKD_AGREEMENT"></div>
            </div>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="23"
              [count]="1423">
            </app-percentage-bar>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="23"
              [sum]="7235">
            </app-percentage-bar>
          </div>
        </div>

        <!-- Доставка -->
        <div class="app-row app-align-items-center status-row">
          <div class="status-col">
            <div class="app-position-status">
              <span>Доставка</span>
              <div class="app-position-status-icon DELIVERY"></div>
            </div>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="2"
              [count]="1423">
            </app-percentage-bar>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="2"
              [sum]="2423">
            </app-percentage-bar>
          </div>
        </div>

        <!-- Завершение -->
        <div class="app-row app-align-items-center status-row">
          <div class="status-col">
            <div class="app-position-status">
              <span>Завершение</span>
              <div class="app-position-status-icon COMPLETED"></div>
            </div>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="86"
              [count]="1423">
            </app-percentage-bar>
          </div>

          <div class="app-col">
            <app-percentage-bar
              [percentage]="86"
              [sum]="342331">
            </app-percentage-bar>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="text-center">
      <span class="spinner spinner-md"></span>
    </div>
  </ng-template>
</div>
