<ng-template #loading class="load-block">
  <span class="spinner spinner-md"></span>
</ng-template>

<ng-container *ngIf="employee; else loading">

    <h1>{{ employee.fullName }}</h1>

    <div class="clr-row">

      <div class="clr-col-9 employee-card-content">

        <clr-tabs>
          <clr-tab>

            <button clrTabLink id="link1">
              Заявки
              <ng-container *ngIf="requestList; else employeeCardCountLoader">
                <span class="light-grey">({{ requestList.length }})</span>
              </ng-container>

              <ng-template #employeeCardCountLoader>
                <span class="employee-card-count-loader spinner spinner-md"></span>
              </ng-template>
            </button>

            <clr-tab-content id="content1" *clrIfActive="true">
              <ng-container *ngIf="requestList.length > 0; else emptyRequestList">
                <app-employee-card-request-list
                        [requests]="requestList">
                </app-employee-card-request-list>
              </ng-container>

              <ng-template #emptyRequestList>
                <span class="empty-list">Список заявок пуст</span>
              </ng-template>
            </clr-tab-content>

          </clr-tab>


          <clr-tab>
            <button clrTabLink>
              Позиции
              <ng-container *ngIf="positionsList; else employeeCardCountLoader">
                <span class="light-grey">({{ positionsList.length }})</span>
              </ng-container>

              <ng-template #employeeCardCountLoader>
                <span class="employee-card-count-loader spinner spinner-md"></span>
              </ng-template>
            </button>

            <clr-tab-content *clrIfActive>
              <ng-container *ngIf="positionsList.length > 0; else emptyPositionsList">
                <app-employee-card-position-list
                        [positions]="positionsList">
                </app-employee-card-position-list>
              </ng-container>

              <ng-template #emptyPositionsList>
                <span class="empty-list">Список позиций пуст</span>
              </ng-template>
            </clr-tab-content>

          </clr-tab>
        </clr-tabs>

      </div>

      <!-- Сайдбар с информацией -->
      <div class="clr-col-3">
        <div class="app-row employee-info-card">
          <div class="app-col">
            <h3 class="sector-title">Информация о сотруднике</h3>

            <div class="app-ghost-color">ФИО</div>
            <div>{{ employee.fullName }}</div>
            <br/>

            <div class="app-ghost-color">E-mail</div>
            <div><a href="mailto:{{ employee.username }}">{{ employee.username }}</a></div>
            <br/>

            <div class="app-ghost-color">Телефон</div>
            <div>{{ employee.phone ? employee.phone : 'не указан' }}</div>
            <br/>

          </div>
        </div>
      </div>
    </div>

</ng-container>
