<ng-template #loading class="load-block">
  <span class="spinner spinner-md"></span>
</ng-template>

<ng-container *ngIf="employee; else loading">

    <h1>{{ employee.fullName }}</h1>

    <div class="app-row">

      <div class="app-col employee-card-content">
        <uxg-tabs class="app-section">
          <uxg-tab-title #requestsTab [active]="true">
            Заявки
            <ng-container *ngIf="requestList; else employeeCardCountLoader">
              <span class="light-grey">({{ requestList.length }})</span>
            </ng-container>

            <ng-template #employeeCardCountLoader>
              <span class="employee-card-count-loader spinner spinner-md"></span>
            </ng-template>
          </uxg-tab-title>
          <uxg-tab-title #positionsTab>
            Позиции
            <ng-container *ngIf="positionsList; else employeeCardCountLoader">
              <span class="light-grey">({{ positionsList.length }})</span>
            </ng-container>

            <ng-template #employeeCardCountLoader>
              <span class="employee-card-count-loader spinner spinner-md"></span>
            </ng-template>
          </uxg-tab-title>
        </uxg-tabs>

        <ng-container *ngIf="requestsTab.active">
          <ng-container *ngIf="requestList.length > 0; else emptyRequestList">
            <app-employee-card-request-list
              [requests]="requestList">
            </app-employee-card-request-list>
          </ng-container>

          <ng-template #emptyRequestList>
            <span class="empty-list">Список заявок пуст</span>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="positionsTab.active">
          <ng-container *ngIf="positionsList.length > 0; else emptyPositionsList">
            <app-employee-card-position-list
              [positions]="positionsList">
            </app-employee-card-position-list>
          </ng-container>

          <ng-template #emptyPositionsList>
            <span class="empty-list">Список позиций пуст</span>
          </ng-template>
        </ng-container>
      </div>

      <!-- Сайдбар с информацией -->
      <div class="app-col-aside">
        <div class="app-row employee-info-card">
          <div class="app-col">
            <h3 class="sector-title">Информация о сотруднике</h3>


<!--            todo скрыто временно -->
<!--            <ng-container *ngIf="false">-->
<!--              <div>Профиль не активирован пользователем</div>-->
<!--              <div>Не осуществлен переход по ссылке активации</div>-->

<!--              <button uxgButton secondary iconText-->
<!--                      (click)="resendActivationLink()">-->
<!--                <clr-icon shape="app-circle-arrow"></clr-icon>-->
<!--                Редактировать контрагента-->
<!--              </button>-->
<!--            </ng-container>-->


            <div class="app-ghost-color">ФИО</div>
            <div>{{ employee.fullName }}</div>
            <br/>

            <div class="app-ghost-color">E-mail</div>
            <div><a href="mailto:{{ employee.username }}">{{ employee.username }}</a></div>
            <br/>

            <div class="app-ghost-color">Телефон</div>
            <div>{{ employee.phone ? employee.phone : 'не указан' }}</div>
            <br/>

          </div>
        </div>
      </div>
    </div>

</ng-container>
