.employee-info-card {
  padding-top: 42px;

  & .sector-title {
    margin-bottom: 15px;
  }
}

.clr-control-label {
  text-transform: initial;
}

:host ::ng-deep .employee-card-content .nav {
  box-shadow: none;
  padding-left: 20px;
}

.employee-card-count-loader {
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
  margin-left: 5px;
  margin-bottom: -2px;
  display: inline-block;
}

span.empty-list {
  display: block;
  text-align: center;
  padding: 100px 0;
  opacity: 0.6;
}

.light-grey {
  opacity: 0.3;
  padding: 0 0 0 4px;
}

.activation-section {
  margin-bottom: 20px;

  & div.title {
    font-weight: bold;
    font-size: 14px;
    color: #ED9254;
    margin-bottom: 5px;
  }

  & div.description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 12px;
  }

  button.resend-btn {
    margin-left: 0;
  }
}
