<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="!isLoading; else loading">
  <p class="app-secondary-color">Вы можете назначить позиции на закупщиков, у которых есть компетенции в соответствующих категориях МТР</p>
  <br/>
  <uxg-dropdown lg placeholder="Выберите на кого назначить" formControlName="user">
    <div uxgDropdownItem [value]="user" *ngFor="let user of regularBackofficeUsers$ | async">{{ user.fullName || user.shortName }}</div>
  </uxg-dropdown>

  <div class="app-modal-footer app-row app-justify-content-end">
    <button uxgButton secondary lg type="button" (click)="close.emit()">Отмена</button>
    <button uxgButton primary lg [disabled]="form.invalid">Назначить</button>
  </div>
</form>

<ng-template #loading>
  <div class="text-center">
    <span class="spinner spinner-md"></span>
  </div>
</ng-template>
