<form [formGroup]="form" (ngSubmit)="submit(); close.emit()">
  <div class="app-secondary-color">
    Вы можете добавлять контрагентов и ТКП по ним по каждой позиции отдельно, а так же с помощью шаблона или в
    альтернативном отображении.
  </div>
  <uxg-dropdown-input
    formControlName="supplier" placeholder="Наименование контрагента" appSuggestions #sug="appSuggestions"
    [$]="contragents$" [lg]="true" [strictMode]="true" [displayByFn]="getContragentName" [searchFn]="search"
  >
    <ng-container *ngIf="(sug.suggestions$ | async) as contragents">
      <div uxgDropdownItem *ngFor="let contragent of contragents" [value]="contragent">
        {{contragent.shortName || contragent.fullName}}
        <span class="app-ghost-color">{{contragent.inn | splitNumber}}</span>
      </div>
    </ng-container>
    <ng-template #errors>
      <div class="app-control-error" *ngIf="form.get('supplier').errors as e">
        <span *ngIf="e.required">Обязательное поле</span>
        <span *ngIf="e.notFromList">Выберите контрагента из списка</span>
      </div>
    </ng-template>
  </uxg-dropdown-input>
  <div class="app-row app-justify-content-end">
    <button uxgButton lg secondary type="button" (click)="close.emit()">Отмена</button>
    <button uxgButton lg primary [disabled]="form.invalid">Добавить</button>
  </div>
</form>
