<div class="clr-row">
  <div class="clr-col-9">
    <h2 class="purchase-title">
      {{ purchase.title }}
    </h2>
    <h5 class="gray">
      {{purchase.typeName}} №{{purchase.number}} от {{purchase.creationDate | date:'dd.MM.yyyy'}}
    </h5>
  </div>
  <div class="clr-col-3 actions-col">
    <div class="clr-row">
      <div class="clr-col">
        <span class="badge status-badge"></span>
        <span class="status-label">{{ getStatus(purchase) }} {{getStatusEndDate(purchase)}}</span>
      </div>
    </div>

    <div class="clr-row">
      <div class="clr-col">
        <!-- Тут выводим панель с действиями -->
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
