<ng-container *ngIf="(request$ | async) as request; else loading">
  <ng-container *ngIf="(stateStatus$ | async) !== 'fetching'; else placeholder">
    <div class="app-col" [class.disabled]="(stateStatus$ | async) === 'updating'">

      <div class="app-row">
        <div class="app-col app-table app-no-border tab-row">
          <uxg-tabs>
            <uxg-tab-title #sentToReviewTab [active]="true" (click)="activeTab = technicalProposalsStatus.SENT_TO_REVIEW">
              <ng-container *ngIf="(proposalsSentToReview$ | async) as proposalsSentToReview">
                Необходимо рассмотреть <span class="app-ghost-color">({{ proposalsSentToReview?.length }})</span>
              </ng-container>
            </uxg-tab-title>

            <uxg-tab-title #reviewedTab (click)="activeTab = technicalProposalsStatus.ACCEPTED">
              <ng-container *ngIf="(proposalsReviewed$ | async) as proposalsReviewed">
                Рассмотренные <span class="app-ghost-color">({{ proposalsReviewed?.length }})</span>
              </ng-container>
            </uxg-tab-title>
          </uxg-tabs>
        </div>
      </div>

      <div class="app-row">
        <div class="app-col">
          <ng-container *ngIf="(getActiveList$() | async) as technicalProposals">
            <ng-container *ngIf="technicalProposals.length !== 0; else emptyList">
              <app-request-customer-technical-proposal
                *ngFor="let technicalProposal of technicalProposals; let i = index"
                [request]="request"
                [technicalProposal]="technicalProposal"
                [technicalProposalIndex]="i"
                [currentList]="activeTab"
              ></app-request-customer-technical-proposal>
            </ng-container>

            <ng-template #emptyList>
              <div class="ghost-color">Список технических предложений пуст</div>
            </ng-template>
          </ng-container>
        </div>

        <div class="app-col-aside">
          <ng-container *ngIf="(technicalProposals$ | async) as technicalProposals">
            <app-request-technical-proposal-filter
              [technicalProposals]="technicalProposals"
              (filters)="filter($event)">
            </app-request-technical-proposal-filter>
          </ng-container>
        </div>
      </div>

    </div>
  </ng-container>

  <ng-template #placeholder>
    <div class="app-row">
      <div class="app-col">
        <div class="app-row">
          <div class="app-col app-row">
            <div class="placeholder-row" *ngFor="let i of [].constructor(2)" [style.height.px]="40" [style.width.px]="200"></div>
          </div>
        </div>

        <div class="placeholder" *ngFor="let i of [].constructor(10)" [style.height.px]="160"></div>
      </div>
      <div class="app-col-aside detachable"></div>
    </div>
  </ng-template>
</ng-container>

<ng-template #loading>
  <div class="text-center">
    <span class="spinner spinner-md"></span>
  </div>
</ng-template>
