.search {
  padding-bottom: 24px;
}

.contragents-list {
  padding: 11px;
  margin: -11px;
  max-height: 320px;
  overflow: auto;

  & .clr-checkbox-wrapper {
    padding-bottom: 10px;
  }
}

.show-all {
  margin-top: 10px;
}
