<ng-container *ngIf="!request" class="load-block">
  <span class="spinner spinner-md"></span>
</ng-container>

<ng-container *ngIf="request">
  <div class="app-layout commercial-proposals">
    <div class="info-card app-col">
      <div class="request-info">
        <div class="app-row app-justify-content-end">
          <button uxgButton outline lg (click)="onAutoselectOfferByMinPrice()">Автовыбор по минимальной цене</button>
        </div>

        <div class="table-header-wrapper">
          <table class="table" #tableHeader>
            <thead>
            <tr>
              <th class="position-name"></th>
              <th class="contragent-name" *ngFor="let supplierId of suppliers; let i = index">
                  <div class="contragent-info">
                    <ng-container *ngIf="!request.hideContragent; else noname">
                    <app-contragent-info-link
                      [contragent]="supplierId">
                    </app-contragent-info-link>
                    </ng-container>
                  </div>
                <ng-template #noname>
                  <div class="noname">Поставщик</div>
                </ng-template>
              </th>
            </tr>
            </thead>
          </table>
        </div>

        <div class="table-body-wrapper">
          <table class="table" #tableBody>
            <tbody>
            <tr *ngFor="let requestPosition of requestPositions"
                [ngClass]="{ 'has-selected-offer' : positionHasSelectedOffer(requestPosition),
                               'has-winner' : positionHasWinner(requestPosition) }">
              <td class="position-name">
                <span class="position-label">{{ requestPosition.name }}</span>

                <span class="app-ghost-color">{{requestPosition.quantity}} {{requestPosition.measureUnit}}
                  <span *ngIf="requestPosition.deliveryDate; else ASAP">
                      к {{ makeReadableDate(requestPosition.deliveryDate) }}
                    </span>
                    <ng-template #ASAP>
                      как можно скорее
                    </ng-template>
                  </span>
              </td>

              <td *ngFor="let supplier of suppliers">
                <ng-container *ngFor="let linkedOffer of getSupplierLinkedOffers(requestPosition.linkedOffers, supplier.id)">
                  <div class="offer"
                       (click)="onSelectOffer(requestPosition, supplier.id, linkedOffer)"
                       [ngClass]="{ 'selected' : offerIsSelected(requestPosition, supplier.id) || offerIsWinner(linkedOffer) }">
                    <div class="counted-price-block">
                      <div class="app-row app-justify-content-between">
                        <div class="clr-col-auto">
                            <span class="counted-offer-price">
                              {{ linkedOffer.priceWithoutVat * linkedOffer.quantity | currency : linkedOffer.currency }}

                              <span class="offer-quantity">за
                                <span [class.warning-text]="linkedOffer.quantity < requestPosition.quantity">
                                  {{linkedOffer.quantity}} {{linkedOffer.measureUnit}}
                                </span>
                              </span>
                            </span>
                        </div>

                        <div *ngIf="positionHasWinner(requestPosition)" class="clr-col-auto app-align-self-start">
                          <uxg-icon shape="app-lock" class="lock-icon is-solid" size="14"></uxg-icon>
                        </div>
                      </div>
                    </div>

                    <div class="per-unit-price-block">
                      {{ linkedOffer.priceWithoutVat | currency : linkedOffer.currency }}/{{linkedOffer.measureUnit}}
                    </div>

                    <div class="delivery">Поставят к
                      <span [class.warning-text]="!correctDeliveryDate(linkedOffer.deliveryDate, requestPosition.deliveryDate)">
                          {{ makeReadableDate(linkedOffer.deliveryDate) }}
                        </span>
                    </div>

                    <a *ngIf="linkedOffer.documents.length > 0"
                       (click)="onShowDocumentsModal($event, linkedOffer.documents)"
                       class="offer-documents">{{ getDocumentCountLabel(linkedOffer.documents.length) }}
                    </a>
                  </div>

                </ng-container>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="table-footer-wrapper">
          <table class="table" (scroll)="onSupplierListScroll($event)">
            <thead>
            <tr>
              <th class="position-name">
                <div class="app-row footer-total-sum">
                  <span class="clr-col-12">Итого {{ getTotalSum() | currency: 'RUB' }}</span>

                  <div class="clr-col-12 send-for-agreement-btn">
                    <button uxgButton primary lg
                            [disabled]="!isSendButtonEnabled()"
                            (click)="sendForAgreement()">Согласовать
                    </button>
                  </div>
                </div>
              </th>

              <th class="contragent-name" *ngFor="let supplier of suppliers; let i = index">
                <div class="contragent-info">
                  <div class="app-row app-align-items-center">
                    <div class="app-col">
                            <span class="total-sum">
                              {{ getTotalSumBySupplier(requestPositions, supplier.id) | currency : 'RUB' }}
                            </span>
                    </div>
                  </div>

                  <div class="app-row app-align-items-center">
                    <div class="app-col">
                            <span class="selected-sum">
                              Выбрано на сумму {{ getSelectedSumBySupplier(requestPositions, supplier.id) | currency : 'RUB' }}
                            </span>
                    </div>
                  </div>

                  <div class="app-row">
                    <div class="app-col"
                         [class.hover-switch-block]="canSelectOffersBySupplier(requestPositions, supplier.id)">

                      <div class="alert-labels">
                        <div *ngIf="validPositionsCount(requestPositions, supplier.id); else invalidCount">
                            <span class="green-label">
                              <uxg-icon shape="app-check" size="12"></uxg-icon> Все позиции в нужном количестве
                            </span>
                        </div>

                        <ng-template #invalidCount>
                            <span class="red-label">
                              <uxg-icon shape="app-cross" size="12"></uxg-icon> Не все позиции в нужном количестве
                            </span>
                        </ng-template>


                        <div *ngIf="validPositionsDeliveryDate(requestPositions, supplier.id); else invalidDelivery">
                            <span class="green-label">
                              <uxg-icon shape="app-check" size="12"></uxg-icon> Сроки поставки укладываются в заданные
                            </span>
                        </div>

                        <ng-template #invalidDelivery>
                            <span class="red-label">
                              <uxg-icon shape="app-cross" size="12"></uxg-icon> Сроки поставки не укладываются в заданные
                            </span>
                        </ng-template>
                      </div>

                      <div class="select-all-button" style="display: none">
                        <button uxgButton primary lg
                                *ngIf="canSelectOffersBySupplier(requestPositions, supplier.id)"
                                (click)="onSelectAll(requestPositions, supplier.id)">Выбрать всё
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </th>
            </tr>
            </thead>
          </table>
        </div>

      </div>
    </div>
  </div>
</ng-container>

<!-- Модальное окно со списком документов КП -->
<uxg-modal [(state)]="commercialProposalsDocumentsModalOpened" size="s">
  <h2>Документы</h2>
  <app-document-simple-list
    [documents]="linkedOfferDocuments"
    [enableUpload]="false">
  </app-document-simple-list>
</uxg-modal>
