<div class="activity-feed">

  <div class="empty-history" *ngIf="history && history.length <= 0; else historyList">
    <p>История позиции пуста</p>
  </div>

  <ng-template #historyList>
    <div class="activity-block" *ngFor="let activityItem of history">
      <div class="{{ getActivityTypeStatusClass(activityItem) }}"></div>

      <span class="activity-type gray">{{ activityItem.typeLabel }}</span>

      <ng-container *ngIf="isDocumentUploadAction(activityItem); else restActivityData">
        <a class="document-item" (click)="downloadDocument(activityItem.documentId, activityItem.data.filename)">
          {{ activityItem.data.filename }}
        </a>
      </ng-container>


      <ng-template #restActivityData>

        <ng-container *ngIf="isPositionEditAction(activityItem)">
          <div class="position-edit-item">
            <div class="edit-info-item" *ngFor="let item of getPositionEditInfoList(activityItem.data)">
              <span class="edit-info-label gray">{{ item.label }}:</span>

              <span class="edit-info-value">{{ item.oldValue }}</span>
                <span class="arrow">→</span>
              <span class="edit-info-value">{{ item.newValue }}</span>
            </div>
          </div>
        </ng-container>


        <ng-container *ngIf="isStatusChangeAction(activityItem)">
          <div class="position-status-change">
            <span class="status-name">
              <span class="position-status status-position-{{ activityItem.data.positionName }}">
                {{ activityItem.data.positionName }}
              </span>
                <span class="arrow">→</span>
              <span class="position-status status-position-{{ activityItem.data.positionName }}">
                {{ activityItem.data.positionName }}
              </span>
            </span>
          </div>
        </ng-container>


        <ng-container *ngIf="isPositionWinnerSelectedAction(activityItem)">
          <div class="position-winner-selected-item">
            <div class="position-winner-name">
              <clr-icon shape="star" size="10" class="is-solid gray"></clr-icon>
              <a (click)="showContragentInfo(activityItem.data.supplierId)">{{ activityItem.data.supplierName }}</a>
            </div>

            <div class="position-winner-offer">
              {{ activityItem.data.offerPrice | currency : activityItem.data.offerCurrency }}
              <span class="gray">за {{ activityItem.data.offerQuantity }} {{ activityItem.data.offerMeasureUnit }}</span>
            </div>
          </div>
        </ng-container>

      </ng-template>


      <div class="author-block">
        <span class="user-name gray"><b>{{ getUserName(activityItem) }}</b></span>
        <span class="activity-date gray">{{ activityItem.createdDate | date:'dd.MM.yyyy HH:mm' }}</span>
      </div>
    </div>
  </ng-template>

</div>

<clr-modal [clrModalSize]="'lg'" [(clrModalOpen)]="contragentInfoModalOpened">
  <h3 class="modal-title">{{ contragent?.shortName }}</h3>

  <div class="modal-body">
    <app-contragent-info
            [contragent]="contragent">
    </app-contragent-info>
  </div>
</clr-modal>