<div class="clr-row clr-justify-content-center" *ngIf="cartStore.getItems().length > 0; else emptyCart">

  <div class="clr-col-xl-10">
    <h2>Корзина</h2>

      <div class="card">
        <cart-item *ngFor="let cartItem of cartStore.getItems()" [item]="cartItem"></cart-item>
      </div>
      <div class="clr-row total">
        <div class="clr-col text-right">Итого:</div>
        <div class="clr-col-3">
          <b class="price">{{ cartStore.getSum() | number : '1.0-2' }}</b>
          <b class="currency">{{ getCurrencySymbol('RUB', 'narrow') }}</b>
        </div>
      </div>
      <cart-order></cart-order>
  </div>

</div>
<ng-container *ngIf="cartStore.getItems().length === 0">
  <div class="empty clr-row clr-justify-content-center clr-align-items-center">
    <div class="clr-col text-center">
      <img src="../../../../assets/images/cart.svg">
      <div>Корзина пуста</div>
    </div>
  </div>
</ng-container>
