h2 {
  margin-bottom: 40px;
}

cart-item {
  border-bottom: 1px solid #B2D0FF;
  display: block;
}

cart-item:last-child {
  border: none;
}

.total {
  color: #b3b3b3;
  font-size: 32px;
  margin: 0 50px 0 265px;
}

.total .price {
  color: #000;
}
