@import "projects/uxg/src/styles/index";

.item {
  &-title {
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-quantity {
    flex-grow: .15; // 15% width
    max-width: 100px;
  }

  &-date {
    max-width: 120px;
    text-align: right;
  }
}

hr {
  border:none;
  margin: 0;
  border-bottom: 1px uxg($theme, color-divider) solid;
}

.app-table {
  max-height: calc(70vh - 145px);
  overflow: auto;
  padding: 5px 15px;
  margin: 0px -22px 0 -15px;

  /* total width */
  &::-webkit-scrollbar {
    width: 16px;
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
    background-color: uxg($theme, color-soft);
    border: 5px solid uxg($theme, color-default);
    border-radius: 16px;
    transition: border 500ms;
  }

  &::-webkit-scrollbar-thumb:hover {
    border-width: 4px;
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button { display: none }


  & > .app-row {
    padding: 8px 0;

    & > .app-col {
      padding: 0 10px;
      &:first-child { padding-left: 0; }
      &:last-child { padding-right: 0; }
    }
  }
}
