<div class="app-bold position-name">{{ position?.name }}</div>

<form class="cp-creation-form" [formGroup]="newCommercialProposalForm" (ngSubmit)="submit()">

  <div class="form-row clr-row">
    <div class="clr-col-6">
      <div [formGroup]="newCommercialProposalFormHelper">
        <div class="app-control-wrap">
          <!-- @TODO uxg-autocomplete! -->
          <input #contragentName uxgInput lg
                 [class.invalid]="newCommercialProposalFormHelper.get('contragentName').invalid &&
                 newCommercialProposalFormHelper.get('contragentName').touched"
                 (input)="autocomplete.onInput.next($event.target.value)"
                 formControlName="contragentName">
          <label class="app-control-label" (click)="contragentName.focus()">Наименование контрагента</label>
          <app-contragent-autocomplete #autocomplete formControlName="contragent"></app-contragent-autocomplete>

          <div class="app-control-error">
            <span>Коммерческое предложение от выбранного поставщика уже добавлено</span>
          </div>
        </div>
      </div>
    </div>

    <div class="clr-col-3">
      <div class="app-control-wrap">
        <input #priceWithVat
               class="hidden-arrows"
               min="0"
               type="number"
               (keypress)="filterEnteredText($event)"
               uxgInput lg formControlName="priceWithVat"/>
        <label class="app-control-label" (click)="priceWithVat.focus()">Цена за единицу</label>
      </div>
    </div>

    <div class="clr-col">
      <div class="app-control-wrap">
        <uxg-dropdown class="app-dropdown" formControlName="currency" placeholder="Валюта...">
          <div uxgDropdownItem value="RUB">RUB</div>
          <div uxgDropdownItem value="USD" disabled>USD</div>
          <div uxgDropdownItem value="EUR" disabled>EUR</div>
          <div uxgDropdownItem value="CHF" disabled>CHF</div>
        </uxg-dropdown>
      </div>
    </div>
  </div>


  <div class="form-row clr-row">
    <div class="clr-col-6">
      <div class="clr-row">
        <div class="clr-col-7">
          <div class="app-control-wrap">
            <input #quantity
                   (input)="checkQuantity(position, $event.target.value)"
                   class="hidden-arrows"
                   type="number"
                   (keypress)="filterEnteredText($event)"
                   uxgInput lg formControlName="quantity" />
            <label class="app-control-label" (click)="quantity.focus()">Количество</label>
          </div>

          <div class="warning-label" *ngIf="quantityNotEnough">
            <span>Меньше необходимого</span>
          </div>
        </div>

        <div class="clr-col-5">
          <div class="app-control-wrap">
            <input #measureUnit uxgInput lg formControlName="measureUnit"/>
            <label class="app-control-label" (click)="measureUnit.focus()">Ед. измерения</label>
          </div>
        </div>
      </div>
    </div>

    <div class="clr-col-3">
      <div class="app-control-wrap">
        <input (ngModelChange)="checkDeliveryDate(position, $event)"
               #deliveryDate uxgInput lg formControlName="deliveryDate">
        <label class="app-control-label" (click)="deliveryDate.focus()">Сроки доставки</label>
        <label class="app-control-icon" (click)="datepicker.toggleDatepicker($event)">
          <clr-icon shape="app-calendar-big" size="24"></clr-icon>
        </label>
      </div>

      <div class="warning-label" *ngIf="dateIsLaterThanNeeded">
        <span>Позже запрашиваемой даты</span>
      </div>

      <clr-date-container #datepicker class="hidden-datepicker">
        <input clrDate formControlName="deliveryDate" />
      </clr-date-container>
    </div>
  </div>

  <div class="form-row clr-row">
    <div class="clr-col">
      <div class="app-control-wrap">
        <uxg-dropdown class="app-dropdown" formControlName="paymentTerms" placeholder="Условия оплаты...">
          <div uxgDropdownItem value="30 дней по факту поставки">
            30 дней со дня поставки по факту оказания всех услуг
          </div>

          <div uxgDropdownItem value="60 дней по факту поставки">
            60 дней со дня поставки по факту оказания всех услуг
          </div>

          <div uxgDropdownItem value="30 дней по факту поставки">
            90 дней со дня поставки по факту оказания всех услуг
          </div>
        </uxg-dropdown>
      </div>
    </div>
  </div>


  <div class="form-row clr-row">
    <div class="clr-col-auto">
      <div class="app-control-wrap">
        <div>
          <button type="button" uxgButton secondary (click)="inputFile.click()">
            Выбрать документы
          </button>
          <input #inputFile type="file" multiple (change)="filesSelected($event)"/>
        </div>
      </div>
    </div>

    <div class="clr-col">
      <div class="app-control-wrap">
        <span class="document-description">
          Прикладываемый/ые документы относятся к полному КП контрагента, и отображаются для всех КП по позициям от этого контрагента.
        </span>
      </div>
    </div>
  </div>

  <br/>

  <!-- document list -->
  <ng-container *ngIf="formDocuments && formDocuments.controls.length">
    <small class="app-ghost-color app-bold">ЗАГРУЖЕННЫЕ ДОКУМЕНТЫ</small>
    <div class="documents">
      <div class="app-row">
        <div class="app-col" *ngFor="let document of formDocuments.controls; index as i">
          <document-icon [name]="document.value.name"></document-icon>
          <div class="documents-title">
            <div>{{ document.value.name }}</div>
            <div *ngIf="document.value.size > 0" class="app-secondary-color">
              {{document.value.size | bytesToSize : 2}}
            </div>
          </div>
          <div class="clr-align-self-start" *ngIf="!newCommercialProposalForm.get('documents').disabled">
            <button type="button" uxgButton link icon clear (click)="formDocuments.removeAt(i)">
              <clr-icon shape="app-trash"></clr-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>


  <div class="clr-row">
    <div class="clr-col">
      <span class="requirement-text">
        Все поля являются <span class="red-text">обязательными</span> к заполнению! Документы прикладывать не обязательно.
      </span>
    </div>

    <div class="clr-col">
      <div class="app-row clr-justify-content-end">
        <button type="button" uxgButton lg secondary (click)="cancel.emit()">Отмена</button>
        <button uxgButton lg primary
                [disabled]="newCommercialProposalForm.invalid || newCommercialProposalFormHelper.invalid">
          Добавить
        </button>
      </div>
    </div>
  </div>

</form>