<div class="card">
  <div class="card-header">Typography</div>
  <div class="card-block">
    <div class="card-title">Example</div>
    <h1>H1 title</h1>
    <h2>H2 title</h2>
    <h3>H3 title</h3>
    <h4>H4 title</h4>
    <p>Paragraph</p>
    <small>small text</small>
  </div>
  <div class="card-block">
    <div class="card-title">Sources</div>
    <uxg-code language="html">{{example1}}</uxg-code>
  </div>
</div>

<div class="card">
  <div class="card-header">Layout with aside</div>
  <div class="card-block">
    <div class="card-title">Example with right aside</div>
    <div class="app-row">
      <div class="app-col" style="border:1px #ccc dotted">Main column</div>
      <div class="app-col app-col-aside" style="border:1px #ccc dotted">Aside column</div>
    </div>
  </div>

  <div class="card-block">
    <div class="card-title">Example with left aside</div>
    <div class="app-row">
      <div class="app-col app-col-aside" style="border:1px #ccc dotted">Aside column</div>
      <div class="app-col" style="border:1px #ccc dotted">Main column</div>
    </div>
  </div>

  <div class="card-block">
    <div class="card-title">Example with both asides</div>
    <div class="app-row">
      <div class="app-col app-col-aside" style="border:1px #ccc dotted">Aside column</div>
      <div class="app-col" style="border:1px #ccc dotted">Main column</div>
      <div class="app-col app-col-aside" style="border:1px #ccc dotted">Aside column</div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-title">Sources</div>
    <uxg-code language="html">{{example2}}</uxg-code>
  </div>
</div>

<div class="card">
  <div class="card-header">Table grid</div>
  <div class="card-block">
    <div class="card-title">Example</div>
    <div class="app-row">
      <div class="app-col app-bold">ID</div>
      <div class="app-col app-bold">Name</div>
      <div class="app-col app-bold">Age</div>
    </div>
    <div class="app-row">
      <div class="app-col">1</div>
      <div class="app-col">Mike</div>
      <div class="app-col">21</div>
    </div>
    <div class="app-row">
      <div class="app-col">2</div>
      <div class="app-col">Jhon</div>
      <div class="app-col">24</div>
    </div>
    <div class="app-row">
      <div class="app-col">3</div>
      <div class="app-col">Alice</div>
      <div class="app-col">19</div>
    </div>

  </div>
  <div class="card-block">
    <div class="card-title">Sources</div>
    <uxg-code language="html">{{example3}}</uxg-code>
  </div>
</div>

<div class="card">
  <div class="card-header">Stylized grid</div>
  <div class="card-block">
    <div class="card-title">Example</div>
    <div class="app-table">
      <div class="app-row">
        <div class="app-col">1</div>
        <div class="app-col">Mike</div>
        <div class="app-col">21</div>
      </div>
      <div class="app-row">
        <div class="app-col">2</div>
        <div class="app-col">Jhon</div>
        <div class="app-col">24</div>
      </div>
      <div class="app-row">
        <div class="app-col">3</div>
        <div class="app-col">Alice</div>
        <div class="app-col">19</div>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-title">Sources</div>
    <uxg-code language="html">{{example4}}</uxg-code>
  </div>
</div>

<div class="card">
  <div class="card-header">No border stylized grid</div>
  <div class="card-block">
    <div class="card-title">Example</div>
    <div class="app-table app-no-border">
      <div class="app-row">
        <div class="app-col">1</div>
        <div class="app-col">Mike</div>
        <div class="app-col">21</div>
      </div>
      <div class="app-row">
        <div class="app-col">2</div>
        <div class="app-col">Jhon</div>
        <div class="app-col">24</div>
      </div>
      <div class="app-row">
        <div class="app-col">3</div>
        <div class="app-col">Alice</div>
        <div class="app-col">19</div>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-title">Sources</div>
    <uxg-code language="html">{{example5}}</uxg-code>
  </div>
</div>

<div class="card">
  <div class="card-header">Breadcrumbs</div>
  <div class="card-block">
    <div class="card-title">Example</div>
    <uxg-breadcrumbs [breadcrumbs]="breadcrumbsService.breadcrumbs"></uxg-breadcrumbs>
  </div>
  <div class="card-block">
    <div class="card-title">Sources</div>
    <div>Template: </div>
    <uxg-code language="html">{{example6}}</uxg-code>
    <div>Component: </div>
    <uxg-code language="javascript">{{example6_1}}</uxg-code>
  </div>
</div>
