<ng-container class="load-block"
              *ngIf="!tpStatuses">
  <span class="spinner spinner-md"></span>
</ng-container>


<div class="agreement-state-list">
  <div *ngFor="let status of tpStatuses" class="app-row clr-align-items-center app-section">
    <uxg-checkbox
      class="app-control" #statusCheckbox
      [ngModel]="checkIfStatusIsChecked(status)"
      (ngModelChange)="onStatusSelected(status)"
    ></uxg-checkbox>
    <label (click)="statusCheckbox.check($event)">&nbsp; {{ tpStatusLabel(status) }}</label>
  </div>
</div>
