<clr-datagrid class="clr-row items-list"
              [clrDgLoading]="positionsLoading">

  <clr-dg-column class="clr-col-8">Наименование позиции</clr-dg-column>

  <clr-dg-column class="clr-col-2 text-right">Цена с НДС за ед.</clr-dg-column>

  <clr-dg-column class="clr-col-2 text-center">Количество</clr-dg-column>



  <clr-dg-row *ngFor="let purchaseItem of positionsPage.entities">

    <clr-dg-cell class="clr-col-8">{{ purchaseItem?.mainLinkedItem?.title }}
      <span *ngIf="purchaseItem?.mainLinkedItem?.analogue" class="label label-orange">аналог</span>
    </clr-dg-cell>

    <clr-dg-cell class="clr-col-2">

      <div class="text-right" *ngIf="!editablePricesMode; else priceEditMode">
        <b>{{ purchaseItem?.mainLinkedItem?.price | currency:'RUB' }}</b>
      </div>

      <ng-template #priceEditMode>
        <div class="clr-row clr-justify-content-end form-group compact">
          <input type="number"
                 step="0.01"
                 class="clr-col-8 price-input-field hidden-arrows text-right"
                 [value]="purchaseItem?.mainLinkedItem?.price"
                 (change)="onPriceChange($event, purchaseItem?.mainLinkedItem)">
          <span> ₽</span>
        </div>
      </ng-template>

    </clr-dg-cell>

    <clr-dg-cell class="clr-col-2 text-center"><b>{{ purchaseItem.quantity }}</b></clr-dg-cell>

  </clr-dg-row>

</clr-datagrid>
