.user-info-card {
  padding-top: 42px;

  & .sector-title {
    margin-bottom: 15px;
  }
}

.clr-control-label {
  text-transform: initial;
}

:host ::ng-deep .user-card-content .nav {
  box-shadow: none;
  padding-left: 20px;
}

.user-card-count-loader {
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
  margin-left: 5px;
  margin-bottom: -2px;
  display: inline-block;
}

span.empty-list {
  display: block;
  text-align: center;
  padding: 100px 0;
  opacity: 0.6;
}

.light-grey {
  opacity: 0.3;
  padding: 0 0 0 4px;
}