<form [formGroup]="form" (ngSubmit)="submit(formPositions.controls)">
  <div class="app-row">
    <div class="app-col app-table app-no-border">

      <ng-container *ngIf="user.isBackOffice()">
        <div class="secondary-action app-row app-justify-content-end">
          <div class="app-col app-col-auto">
            <span class="analytical-report-link" (click)="onDownloadAnalyticalReport()">
                Аналитическая справка
                <uxg-icon class="download-icon" shape="app-download"></uxg-icon>
              </span>
          </div>
        </div>
      </ng-container>

      <div class="app-row action-bar">
        <uxg-checkbox formControlName="checked" uxgSelectAllFor="positions"></uxg-checkbox>
        <div class="app-col app-basis-auto actions">

          <!-- Создать процедуру  -->
          <ng-container *ngIf="featureService.authorize('createProcedure')">
            <button type="button" uxgButton secondary iconText (click)="createProcedure.emit()">
              <uxg-icon shape="app-plus"></uxg-icon>
              <span>Создать процедуру</span>
            </button>
          </ng-container>

          <!-- Добавить КП  из шаблона -->
          <button type="button" uxgButton secondary iconText (click)="uploadCommercialProposals.open()">
            <uxg-icon shape="app-plus"></uxg-icon>
            <span>Создать КП из шаблона</span>
          </button>

          <!-- Фильтр -->
          <button type="button" uxgButton secondary iconText [disabled]="true">
            <uxg-icon shape="app-sort2"></uxg-icon>
            <span>Фильтр</span>
          </button>

          <button uxgButton primary iconText [disabled]="form.invalid">
            <span>Отправить на согласование</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let positionControl of formPositions.controls; index as i">
    <ng-container *ngIf="positionControl.value.position as position" formArrayName="positions">
      <div class="position-card">
        <div class="app-row" *ngIf="positionHasFinishedProcedure(position)">
          <div class="app-col">
            <span class="procedure-name">
             <b>Процедура №{{ position.procedureId }} {{ position.procedureTitle }}</b>
           </span>
          </div>
          <div class="app-col app-col-aside status">
              <span class="offer-status app-success-color">
            <uxg-icon shape="app-check"></uxg-icon>Завершена {{ position.procedureEndDate | date :'shortDate' }}
          </span>
            <button type="button" uxgButton secondary iconText [disabled]="true">
              Уторговать
            </button>
            <a class="has-finished-procedure-link" target="_blank" href="{{ getProcedureLink(position) }}">
              <b>Показать на ЭТП ГПБ</b>
            </a>
          </div>
        </div>
        <div class="app-row" *ngIf="positionHasProcedure(position)">
          <div class="app-col">
            <span class="procedure-name">
             <b>Процедура №{{ position.procedureId }} {{ position.procedureTitle }}</b>
           </span>
          </div>
          <div class="app-col app-col-aside status">
              <span class="offer-status app-ghost-color">
            <uxg-icon shape="app-waiting"></uxg-icon>Идет процедура (до {{ position.procedureEndDate | date :'shortDate' }})
          </span>
            <button type="button" uxgButton secondary iconText (click)="positionProlongedProcedure = position">
              Продлить
            </button>
            <a class="has-finished-procedure-link" target="_blank" href="{{ getProcedureLink(position) }}">
              <b>Показать на ЭТП ГПБ</b>
            </a>
          </div>
        </div>
        <div class="app-row" formGroupName="{{i}}">
          <div class="app-col app-grow-0">
            <uxg-checkbox formControlName="checked"></uxg-checkbox>
          </div>
          <div class="app-col">
            <span class="position-title">{{position.name}}</span>
            <span class="divide app-ghost-color">|</span>
            <span class="app-secondary-color">{{position.quantity}} </span>
            <span class="app-ghost-color">{{position.measureUnit}}</span>
            <span class="divide app-ghost-color">|</span>
            <span class="app-secondary-color" *ngIf="position.deliveryDate; else ASAP">{{position.deliveryDate | date :'shortDate'}}</span>
            <ng-template #ASAP>
              <span class="position-delivery-date">как можно скорее</span>
            </ng-template>
          </div>
          <div class="app-col app-col-aside status app-ghost-color">
            <span class="offer-status" *ngIf="positionIsSentForAgreement(position)">
           <uxg-icon shape="app-waiting"></uxg-icon> На согласовании</span>
            <span class="offer-status" *ngIf="positionCanBeSelected(position)">
                <uxg-icon shape="app-draft"></uxg-icon>Черновик</span>
            <span class="app-success-color offer-status" *ngIf="positionWithWinner(position)">
              <uxg-icon shape="app-check"></uxg-icon>Выбран победитель</span>
            <button uxgButton primary type="button"
                    class="fixedWidth"
                    *ngIf="availableCancelPublishOffers(position)"
                    (click)="onCancelPublishOffers(position)">
              Отозвать <span class="cancel-timer"> {{ position.statusChangedDate | countdownTimer: durationCancelPublish }} </span>
            </button>
            <!--            <button uxgButton link icon type="button"-->
            <!--                    *ngIf="isOverflow(positionCard) || isFolded[i] === false" (click)="isFolded[i] = !isFolded[i]">-->
            <!--              <uxg-icon shape="app-chevron" [dir]="isFolded[i] ? 'up':'down'"></uxg-icon>-->
            <!--            </button>-->
          </div>
        </div>
        <div class="app-row" #positionCard>
          <div class="app-col card linked-offer add-offer"
               [class.clickable]="isLinkedOfferClickable(position)"
               *ngIf="canAddOffer(position)"
               (click)="newCommercialProposal(position)">
            <uxg-icon shape="app-plus"></uxg-icon>
          </div>
          <div *ngFor="let linkedOffer of position.linkedOffers">
            <div class="app-col linked-offer" (click)="editCommercialProposal(position, linkedOffer)">
              <div class="app-row">
                <div class="app-col">
                  <h3>{{linkedOffer.priceWithVat * linkedOffer.quantity | currency: 'RUB' :'symbol':"1.0-2"}}</h3>
                </div>
                <div class="app-col app-col-aside app-ghost-color icon-status">
                  <div *ngIf="positionWithWinner(position) && !linkedOffer.isWinner">
                    <uxg-icon shape="app-check"></uxg-icon>
                  </div>
                  <div *ngIf="positionIsSentForAgreement(position)">
                    <uxg-icon shape="app-lock"></uxg-icon>
                  </div>
                  <div class="winner" *ngIf="linkedOffer.isWinner">
                    <svg height="25" width="101" viewBox="0 0 101 25" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0H101V25H0L7 12.5L0 0Z" fill="#0EA04B"></path>
                      <text y="13" x="92" fill="#fff" alignment-baseline="middle" text-anchor="end">Победитель</text>
                    </svg>
                  </div>
                </div>
              </div>
              <p>
                <span [class.app-error-color]="linkedOffer.quantity < position.quantity">{{linkedOffer.quantity | number:"1.0-2"}} </span>
                <span class="app-ghost-color measure-unit">{{linkedOffer.measureUnit}}</span>
                  <span class="divide app-ghost-color">|</span>
                <span class="app-ghost-color">{{linkedOffer.priceWithVat | currency: 'RUB' :'symbol':"1.0-2"}}/
                  <span class="measure-unit">{{linkedOffer.measureUnit}}</span>
                </span>
              </p>
              <p class="delivery-date" [ngClass]="{'app-error-color' : !correctDeliveryDate(linkedOffer.deliveryDate, position.deliveryDate) }">
                {{linkedOffer.deliveryDate | date: 'shortDate'}}
                <span class="app-ghost-color"> доставка</span>
                <ng-container *ngIf="linkedOffer.documents.length">
                  <span class="divide app-ghost-color">|</span>
                  <span class="app-ghost-color">
                    {{linkedOffer.documents.length}} {{linkedOffer.documents.length | pluralize : false : 'документ' : 'документа' : 'документов'}}
                  </span>
                </ng-container>
              </p>
              <span class="supplier" (click)="preventParentClick($event)">
                <app-contragent-info-link [contragent]="findSupplier(linkedOffer.supplierContragentId)"></app-contragent-info-link>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</form>
<!-- Модальное окно загрузки КП из шаблона -->
<uxg-modal #uploadCommercialProposals size="l">
  <h2>Загрузить коммерческое предложение из шаблона</h2>
    <div class="app-section app-secondary-color">Вы можете загрузить коммерческие предложения списком, если заполните шаблон xls таблицы (
      <span class="file-link">
      <a (click)="onDownloadOffersTemplate()"><b>скачать шаблон</b></a></span>), и загрузить файл в систему.</div>

    <app-template-upload #templateUpload (fileSelected)="onChangeFilesList($event)"></app-template-upload>
    <ng-template uxgModalFooter>
      <button uxgButton secondary lg (click)="uploadCommercialProposals.close(); templateUpload.clear()" type="button">Отмена</button>
      <button uxgButton primary lg (click)="onSendOffersTemplateFilesClick(); templateUpload.clear()"
              [disabled]="this.files.length === 0">Загрузить
      </button>
    </ng-template>

    <ng-template #loading>
      <div class="text-center">
        <span class="spinner spinner-md"></span>
      </div>
    </ng-template>
</uxg-modal>

<uxg-modal [(state)]="positionProlongedProcedure">
  <h2>Продление процедуры №{{positionProlongedProcedure?.procedureId}}</h2>
  <app-prolongate-procedure
    *ngIf="positionProlongedProcedure"
    [date]="positionProlongedProcedure.procedureEndDate"
    [procedureId]="positionProlongedProcedure.procedureId"
    [requestId]="requestId"
    (close)="positionProlongedProcedure = null"
  ></app-prolongate-procedure>
</uxg-modal>
