<ng-container *ngIf="proposal else emptyProposal">
  <button (click)="editable ? edit.emit(proposal) : show.emit(proposal)">
    <div class="app-row app-align-items-center">
      <!-- name -->
      <h3 class="app-col">
        <span>{{(proposal.priceWithoutVat * proposal.quantity) | number:'1.0-2'}} </span>
        <span class="app-ghost-color">{{getCurrencySymbol(proposal.currency, "narrow")}}</span>
      </h3>
      <!-- status -->
      <ng-container *ngIf="!selectedProposal">
        <div class="app-ghost-color" *ngIf="proposal.isAnalog">Аналог</div>

        <div class="winner" *ngIf="proposal.isWinner">
          <svg height="25" width="101" viewBox="0 0 101 25" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0H101V25H0L7 12.5L0 0Z" fill="#0EA04B"></path>
            <text y="13" x="92" fill="#fff" alignment-baseline="middle" text-anchor="end">Победитель</text>
          </svg>
        </div>

        <ng-container *ngIf="!proposal.isWinner && !editable">
          <div class="app-ghost-color" *ngIf="proposal.sourceProposal?.status !== 'SENT_TO_EDIT'">
            <uxg-icon shape="app-check"></uxg-icon>
          </div>

          <div class="app-warning-color" *ngIf="proposal.sourceProposal?.status ==='SENT_TO_EDIT'">
            <uxg-icon shape="app-warning"></uxg-icon>
          </div>
        </ng-container>

      </ng-container>

      <ng-container *ngIf="selectedProposal">
        <uxg-radio-item
          [name]="position.id"
          [value]="proposal.sourceProposal"
          [formControl]="selectedProposal"
          (click)="$event.stopPropagation()"
        ></uxg-radio-item>
      </ng-container>
    </div>

    <div>
      <!-- Количество, цена за ед. -->
      <span [ngClass]="!helper.isQuantityValid(position, proposal) ? 'app-error-color app-bold' : ''">{{proposal.quantity}} {{position.measureUnit | lowercase}}</span>
      <span class="app-ghost-color"> | </span>
      <span class="app-ghost-color">{{proposal.priceWithoutVat | number:'1.0-2'}} </span>
      <span class="app-ghost-color">{{getCurrencySymbol(proposal.currency, "narrow")}}/{{proposal.measureUnit}}</span>
      <br/>

      <!-- Дата поставки. -->
      <span [ngClass]="!helper.isDateValid(position, proposal) ? 'app-error-color app-bold' : ''">{{proposal.deliveryDate | date:"dd.MM.yyyy"}}</span>
      <span class="app-ghost-color"> доставка</span>
    </div>

    <div *ngIf="proposal.manufacturingName" class="app-ellipsis app-secondary-color">{{ proposal.manufacturingName }}</div>

    <div *ngIf="supplier" class="app-ellipsis">
      <app-contragent-info-link (click)="$event.stopPropagation()" hiddenName="Наименование поставщика скрыто" [contragent]="supplier">
      </app-contragent-info-link>
    </div>
  </button>
</ng-container>

<ng-template #emptyProposal>
  <button [disabled]="!editable" (click)="create.emit()">
    <uxg-icon class="app-link" *ngIf="editable; else notProvided" shape="app-plus-big" size="24"></uxg-icon>
    <ng-template #notProvided><b>Не предоставлено</b></ng-template>
  </button>
</ng-template>
