<ul class="list-unstyled" [class.small]="size === 's'">
  <li class="document" *ngFor="let document of getDocuments()">
    <document-icon (click)="onDownloadDocument(document)" [name]="document.filename" [size]="size"></document-icon>

    <div (click)="onDownloadDocument(document)" title="{{ document.filename }}">
      <div class="title">{{ document.filename }}</div>

      <div class="description">
        <span *ngIf="document.created">
          {{ document.created  | date : ' d MMMM y ' }}
        </span>
      </div>
    </div>
  </li>

  <ng-container *ngIf="limit > 0 && limit < contract.documents.length">
    <div class="more" (click)="showAll = !showAll">
      <uxg-icon shape="app-chevron" [attr.dir]="showAll ? 'up' : 'down'"></uxg-icon>
      <span *ngIf="!showAll"> Еще {{ contract.documents.length - limit | pluralize: "документ" : "документа" : "документов" }}</span>
      <span *ngIf="showAll"> Скрыть</span>
    </div>
  </ng-container>
</ul>
