<clr-modal (clrModalOpenChange)="reset()">
  <h2 class="modal-title" *ngIf="!loadingState">Восстановление пароля</h2>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="!loadingState">
      <p>Пожалуйста укажите <b>email</b>, который вы использовали для входа в Marketplace</p>

      <input class="app-control" type="text" formControlName="email" appFormControlInvalidClass="invalid"/>
      <div class="clr-error" *ngIf="isEmailInvalid">
        <span class="clr-subtext">Ошибка ввода, неправильный email</span></div>


      <div class="modal-footer">
        <button class="app-btn app-btn-secondary app-btn-large" (click)="close()" type="button">Отмена</button>
        <button class="app-btn app-btn-primary app-btn-large">Отправить письмо</button>
      </div>
    </form>

    <div class="text-center" *ngIf="loadingState == clrLoadingState.LOADING">
      <span class="spinner spinner-md"></span>
    </div>

    <ng-container *ngIf="loadingState == clrLoadingState.SUCCESS">
      <h2 class="text-center">Успешно!</h2>
      <p>На вашу почту отправлено письмо с инструкцией по восстановлению пароля</p>
    </ng-container>

    <ng-container *ngIf="loadingState == clrLoadingState.ERROR">
      <h2 class="text-center">Что-то пошло не так...</h2>
      <div class="modal-footer">
        <button class="app-btn app-btn-secondary app-btn-large" (click)="reset()" type="button">Попробовать еще раз</button>
      </div>
    </ng-container>
  </div>
</clr-modal>
