<ng-container *ngIf="(status$ | async) !== 'fetching' && (requestStatus$ | async) !== 'fetching'; else placeholder">
  <ng-container *ngIf="(request$ | async) as request">
    <ng-container *ngIf="(suppliers$ | async) as suppliers">
      <ng-container *ngIf="(positions$ | async) as positions" [formGroup]="form">
        <!-- actions -->
        <div class="app-row" [class.app-layout]="view !== 'list'">
          <div class="app-col">
            <div class="app-row app-justify-content-end analytical-report">
              <button uxgButton clear class="app-link" (click)="store.dispatch(downloadAnalyticalReport(request, groupId))">
                <span>Аналитическая справка </span>
                <uxg-icon shape="app-download"></uxg-icon>
              </button>
            </div>
            <div class="app-table app-no-border">
              <div class="app-row app-align-items-center">
                <ng-container *ngIf="view !== 'list'">
                  <uxg-checkbox formControlName="checked" uxgSelectAllFor="positions" *ngFor="let c of [form.get('positions')]">
                  </uxg-checkbox>
                  <uxg-popover #selectPopover>
                    <button uxgButton uxgPopoverTrigger link icon>
                      <uxg-icon shape="app-triangle down"></uxg-icon>
                    </button>
                    <div *uxgPopoverContent>
                      <div>
                        <button uxgButton clear (click)="form.get('checked').setValue(true); selectPopover.hide()">Все</button>
                      </div>
                      <div>
                        <button uxgButton clear (click)="form.get('checked').setValue(false); selectPopover.hide()">Ни одного</button>
                      </div>
                    </div>
                  </uxg-popover>
                </ng-container>
                <div>
                  <span class="app-secondary-color">показать: </span>
                  <uxg-popover #viewPopover>
                    <button uxgButton uxgPopoverTrigger link clear [ngSwitch]="view">
                      <span *ngSwitchCase="'simple-grid'"><b>по позициям</b></span>
                      <span *ngSwitchCase="'grid'"><b>по позициям матрица</b></span>
                      <span *ngSwitchCase="'list'"><b>по поставщикам</b></span>
                    </button>
                    <div *uxgPopoverContent>
                      <div><button uxgButton clear (click)="switchView('simple-grid')">по позициям</button></div>
                      <div><button uxgButton clear (click)="switchView('grid')">по позициям матрица</button></div>
                      <div><button uxgButton clear (click)="switchView('list')">по поставщикам</button></div>
                    </div>
                  </uxg-popover>
                </div>
                <div class="app-col"></div>
                <div [ngSwitch]="view">

                  <button uxgButton secondary iconText (click)="procedureModalPayload = {action: 'create'}"
                          *ngIf="featureService.authorize('createProcedure')">
                    <uxg-icon shape="app-plus"></uxg-icon>
                    <span>Создать процедуру</span>
                  </button>

                  <!-- Добавить столбец контрагента  -->
                  <button *ngSwitchCase="'grid'" uxgButton secondary iconText
                          [disabled]="addContragentDisabled(positions)"
                          (click)="addContragentModal.open()">
                    <uxg-icon shape="app-plus"></uxg-icon>
                    <span>Контрагент</span>
                  </button>

                  <!-- Новое КП шаблона -->
                  <button uxgButton primary iconText (click)="uploadTemplateModal.open()">
                    <uxg-icon shape="app-plus"></uxg-icon>
                    <span>КП из шаблона</span>
                  </button>

                  <!-- Отправить на согласование -->
                  <button *ngIf="view !=='list'" uxgButton primary [disabled]="selectedPositions?.length === 0 || (status$ | async) !=='received'"
                          (click)="store.dispatch(publishPositions(request, groupId))">
                    Отправить на согласование
                  </button>

                </div>
              </div>
            </div>
          </div>
          <div @sidebarHide *ngIf="view === 'list'" class="app-col app-col-aside detachable"></div>
        </div>

        <!-- grid & simple-grid -->
        <div *ngIf="(view !=='list' && positions.length + (procedures$ | async).length)" [ngClass]="{
          'grid-table': view === 'grid',
          'simple-grid-table': view === 'simple-grid',
          'disabled': (status$ | async) === 'updating'}"
        >
          <app-grid-contragents
            *ngIf="view === 'grid' && suppliers.length"
            [gridRows]="gridRows"
            [suppliers]="convertSuppliers(suppliers, positions)"
            [showParams]="false"
          ></app-grid-contragents>

          <!-- procedure info -->
          <div class="position-row" *ngFor="let procedure of procedures$ | async; trackBy: trackById">
            <app-procedure-grid
              [procedure]="procedure"
              [source]="'cp'"
              (bargain)="procedureModalPayload = {action: 'bargain', procedure: procedure}"
              (prolong)="prolongModalPayload = procedure"
            ></app-procedure-grid>
          </div>

          <!-- positions -->
          <ng-container *ngIf="suppliers.length || view=='simple-grid'">
            <ng-container *ngFor="let position of positions; index as i" formArrayName="positions">
              <app-grid-row
                *ngIf="(requestOffers$ | async) as requestOffers"
                [position]="position"
                [suppliers]="convertSuppliers(suppliers, positions)"
                [proposals]="convertProposals(position.linkedOffers)"
                [simpleView]="view === 'simple-grid'"
                [isReviewed]="true"
                [getProposal]="getProposalBySupplier(position)"
                [getSupplier]="view === 'simple-grid' ? getProposalSupplier : null"
                [editable]="position.status === 'PROPOSALS_PREPARATION'"
                [formGroupName]="i"
                (create)="addProposalPositionPayload = {position: position, supplier: $event, requestOffer: getRequestOfferBySupplier(requestOffers, $event)}"
                (edit)="addProposalPositionPayload = {position: position, proposal: $event, requestOffer: getRequestOfferBySupplier(requestOffers, $event.supplier)}"
                (show)="proposalModalData = {proposal: $event, position: position}"
              >
                <uxg-checkbox class="app-control" #checked formControlName="checked"></uxg-checkbox>
                <label (click)="checked.check($event)"><b>&nbsp; {{position.name}}</b> </label>
                <div class="app-ghost-color">&nbsp;| {{ position.quantity }} {{position.measureUnit | lowercase}}</div>
                <div class="app-ghost-color">&nbsp;|
                  <ng-container *ngIf="position.isDeliveryDateAsap; else deliveryDate">как можно скорее</ng-container>
                  <ng-template #deliveryDate>{{position.deliveryDate | date:"dd.MM.yyyy"}} </ng-template>
                </div>
                <div class="app-col"></div>
                <div class="app-ghost-color app-bold" *ngIf="position.status === 'PROPOSALS_PREPARATION' && !isOnEdit(position)">
                  <uxg-icon shape="app-draft"></uxg-icon>
                  <span>Черновик</span>
                </div>
                <div class="app-warning-color app-bold" *ngIf="position.status === 'PROPOSALS_PREPARATION' && isOnEdit(position)">
                  <uxg-icon shape="app-warning"></uxg-icon>
                  <span>На доработке</span>
                </div>
                <div class="app-success-color app-bold" *ngIf="position.status === 'WINNER_SELECTED'">
                  <uxg-icon shape="app-check"></uxg-icon>
                  <span>Выбран победитель</span>
                </div>
                <div class="app-ghost-color app-bold" *ngIf="position.status === 'RESULTS_AGREEMENT'">
                  <uxg-icon shape="app-waiting"></uxg-icon>
                  <span>На согласовании</span>
                </div>
                <ng-container *ngIf="this.canRollback(position)">
                  <button uxgButton primary type="button" [style.min-width.px]="135" (click)="store.dispatch(rollback(request, groupId, position))">
                    Отозвать <span class="cancel-timer"> {{ position.statusChangedDate | countdownTimer: rollbackDuration }} </span>
                  </button>
                </ng-container>
              </app-grid-row>
            </ng-container>
          </ng-container>
        </div>

        <!-- list -->
        <div class="app-row" *ngIf="view === 'list'">
          <div class="app-col app-technical-commercial-proposal-list" [class.disabled]="(status$ | async) !== 'received'">
            <ng-container *ngFor="let procedure of procedures$ | async; trackBy: trackById">
              <app-request-procedure [procedure]="procedure"
                                     [source]="'cp'"
                                     (bargain)="procedureModalPayload = { action: 'bargain', procedure: procedure }"
                                     (prolong)="prolongModalPayload = procedure"
              ></app-request-procedure>
            </ng-container>

            <ng-container *ngFor="let proposal of proposalsGroupedBySuppliers$ | async; trackBy: trackById">
              <app-request-commercial-proposal
                [request]="request"
                [proposal]="proposal"
              ></app-request-commercial-proposal>
            </ng-container>
          </div>

          <div class="app-col-aside detachable">
          </div>
        </div>

        <!-- modals -->
        <uxg-modal size="l" [(state)]="procedureModalPayload" [ngSwitch]="procedureModalPayload?.action">
          <h2 *ngSwitchCase="'create'">Создание новой процедуры</h2>
          <h2 *ngSwitchCase="'bargain'">Уторговывание процедуры №{{procedureModalPayload?.procedure.procedureId}}</h2>
          <h2 *ngSwitchCase="'prolong'">Продление процедуры №{{procedureModalPayload?.procedure.procedureId}}</h2>
            <app-request-procedure-form
              *ngIf="procedureModalPayload"
              [request]="request"
              [commercialProposalGroupId]="groupId"
              [positions]="proposalPreparationPositions"
              [action]="procedureModalPayload.action"
              [procedure]="procedureModalPayload.procedure"
              [procedureSource]="procedureSource"
              [contragents]="contragentsWithTp$ | async"
              [isLoading]="loadingContragentList"
              (cancel)="procedureModalPayload = null"
              (positionsSelected)="onPositionsSelected(request, $event)"
              (complete)="this.store.dispatch(refresh(request, groupId)); procedureModalPayload = null"
            ></app-request-procedure-form>
        </uxg-modal>

        <uxg-modal #uploadTemplateModal size="l" (stateChange)="$event && (files = [])">
          <ng-container *ngIf="uploadTemplateModal.state">
            <h2 class="modal-title"><b>Загрузить коммерческие предложения из шаблона</b></h2>
            <div class="app-secondary-color template">
              Вы можете загрузить КП списком, если заполните шаблон xls таблицы (<a class="app-link" (click)="store.dispatch(downloadTemplate(request, groupId))"><b>скачать
              шаблон</b></a>), и загрузите файл в систему. Если указать несколько поставщиков, то будет создано несколько КП.
            </div>
            <br>
            <div class="dragAndDropArea">
              <app-template-upload (fileSelected)="files = $event"></app-template-upload>
            </div>
            <ng-template uxgModalFooter>
              <button type="button" uxgButton secondary lg uxgModalClose>Отмена</button>
              <button uxgButton primary lg
                      (click)="store.dispatch(uploadTemplate(request, files, groupId)); uploadTemplateModal.close()"
                      [disabled]="files.length === 0">
                Загрузить
              </button>
            </ng-template>
          </ng-container>
        </uxg-modal>

        <uxg-modal [(state)]="addProposalPositionPayload">
          <h2 *ngIf="!addProposalPositionPayload?.proposal">Добавить новое коммерческоe предложениe</h2>
          <h2 *ngIf="addProposalPositionPayload?.proposal">Редактирование коммерческого предложения</h2>
          <app-request-commercial-proposal-form
            *ngIf="addProposalPositionPayload"
            [position]="addProposalPositionPayload?.position"
            [supplier]="addProposalPositionPayload?.supplier"
            [requestOffer]="addProposalPositionPayload?.requestOffer"
            [commercialProposal]="addProposalPositionPayload?.proposal"
            [request]="request"
            (close)="addProposalPositionPayload = null"
          ></app-request-commercial-proposal-form>
        </uxg-modal>

        <uxg-modal #addContragentModal size="s">
          <h2><b>Добавить столбик контрагента</b></h2>
          <div class="app-secondary-color">
            Вы можете добавлять контрагентов и КП по ним по каждой позиции отдельно, а так же с помощью шаблона или в
            альтернативном отображении.
          </div>
          <grid-contragent-form
            *ngIf="addContragentModal.state"
            [excluded]="suppliers"
            (close)="addContragentModal.close()"
            (add)="store.dispatch(addSupplier(request, groupId, $event))"
          ></grid-contragent-form>
        </uxg-modal>

        <uxg-modal [(state)]="prolongModalPayload">
          <h2>Продление процедуры №{{prolongModalPayload?.procedureId}}</h2>
          <app-procedure-prolongate
            *ngIf="prolongModalPayload"
            [dateEndRegistration]="prolongModalPayload.dateEndRegistration"
            [dateSummingUp]="prolongModalPayload.dateSummingUp"
            [procedureId]="prolongModalPayload.procedureId"
            [requestId]="requestId"
            (close)="prolongModalPayload = null"
            (complete)="this.store.dispatch(refresh(request, groupId)); prolongModalPayload = null"
          ></app-procedure-prolongate>
        </uxg-modal>

        <uxg-modal [(state)]="proposalModalData" size="l">
          <ng-container *ngIf="proposalModalData as modalData">
            <h2>{{ modalData.position.name }}</h2>
            <app-proposal-detail
              [supplier]="modalData.proposal.sourceProposal.supplierContragent"
              [paymentTerms]="modalData.proposal.sourceProposal.paymentTerms"
              [documents]="modalData.proposal.sourceProposal.documents"
              [proposal]="modalData.proposal"
              [position]="modalData.position"
            ></app-proposal-detail>

            <ng-template uxgModalFooter>
              <div class="app-col app-bold">
                <div class="app-success-color" *ngIf="helper.isQuantityValid(modalData.position, modalData.proposal)">- Позиция в нужном количестве</div>
                <div class="app-success-color" *ngIf="helper.isDateValid(modalData.position, modalData.proposal)"> - Сроки укладываются в заданные</div>

                <div class="app-error-color" *ngIf="!helper.isQuantityValid(modalData.position, modalData.proposal)">
                  {{ helper.getRequestedQuantityLabel(modalData.position, modalData.proposal) }}
                </div>
                <div class="app-error-color" *ngIf="!helper.isDateValid(modalData.position, modalData.proposal)"> - Сроки не укладываются в заданные</div>
              </div>
              <button uxgButton lg secondary uxgModalClose>Закрыть</button>
            </ng-template>
          </ng-container>
        </uxg-modal>

      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #placeholder>
  <div class="app-row" [class.app-layout]="view !== 'list'">
    <div class="app-col">
      <div class="app-row">
        <div class="app-col app-row">
          <div class="placeholder-row" *ngFor="let i of [].constructor(2)" [style.height.px]="40" [style.width.px]="200"></div>
        </div>
        <div class="placeholder-row" [style.height.px]="40" [style.width.px]="80"></div>
      </div>

      <div class="placeholder" *ngFor="let i of [].constructor(10)" [style.height.px]="160"></div>
    </div>
    <div class="app-col-aside detachable"></div>
  </div>
</ng-template>

