.contragent-search-field {
    margin-bottom: 20px;
    line-height: 40px;
    width: 350px;
}


:host ::ng-deep .staff-list .nav {
    box-shadow: none;
    padding-left: 20px;
}

.user-count-loader {
    width: 12px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
    margin-left: 5px;
    margin-bottom: -2px;
    display: inline-block;
}

.light-grey {
    opacity: 0.3;
    padding: 0 0 0 4px;
}
