<div class="agreements-list-filter">
  <div class="filter-form-block">
    <div class="filter-header app-row app-justify-content-between">
      <div class="app-col">
        <span class="title">Фильтр</span>
      </div>

      <div class="app-col-auto" *ngIf="form.dirty">
        <span class="reset" (click)="resetFilter()">Сбросить все</span>
      </div>
    </div>

    <div class="filter-body">
      <form [formGroup]="form">
        <app-agreements-list-filter-section class="filter-section" label="Номер или наименование">
          <input uxgInput formControlName="numberOrName" placeholder="Номер заявки или наименование"/>
        </app-agreements-list-filter-section>

        <app-agreements-list-filter-section
          class="filter-section"
          [label]="'Даты поставки'">

          <div class="shipping-dates app-row">
            <div class="app-col" [style.padding-right.px]="15">
              <div class="app-control-wrap" [style.margin-top.em]="-1.5">
                <input #issuedDateFrom uxgInput uxgDatepicker placeholder="Дата с" class="delivery-date" formControlName="issuedDateFrom">
                <label class="app-control-icon" (click)="issuedDateFrom.focus()">
                  <uxg-icon shape="app-calendar-big" size="24"></uxg-icon>
                </label>
              </div>
            </div>

            <div class="app-col">
              <div class="app-control-wrap" [style.margin-top.em]="-1.5">
                <input #issuedDateTo uxgInput uxgDatepicker placeholder="Дата по" class="delivery-date" formControlName="issuedDateTo">
                <label class="app-control-icon" (click)="issuedDateTo.focus()">
                  <uxg-icon shape="app-calendar-big" size="24"></uxg-icon>
                </label>
              </div>
            </div>
          </div>
        </app-agreements-list-filter-section>
      </form>
    </div>
  </div>

  <div class="app-col"></div>
  <div class="show-results" (click)="showResults.emit()">
    Показать <span class="results-count">{{ resultsCount }}</span>
  </div>

</div>
