<div class="clr-row" *ngIf="purchase.offerCost > purchase.lots[0].startMaxCost">
  <div class="clr-col">
    <clr-alert [clrAlertType]="'alert-danger'">
      <div clr-alert-item class="alert-item">
      <span class="alert-text">
          Ваша цена предложения превышает НМЦ
      </span>
      </div>
    </clr-alert>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Позиций в наличии</th>
      <th>Доставка</th>
      <th>Новая цена с НДС</th>
      <th>Цена с НДС</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td [ngClass]="{'green-text': purchase.offerCount === purchaseItems.length,
        'red-text': purchase.offerCount < purchaseItems.length}">
        <clr-tooltip>
          <div clrTooltipTrigger>
            <b>{{purchase.offerCount }}</b>
          </div>
        </clr-tooltip>
      </td>
      <td>
        <input class="price-input-field hidden-arrows text-right" id="delivery_cost"
               type="number"
               step="0.01"
               [value]="deliveryCost"
               (change)="onChangeDeliveryCost($event.target.value)"
               *ngIf="editableMode; else showUneditableDeliveryCost">
        <ng-template #showUneditableDeliveryCost>
          <b>{{deliveryCost}}</b>
        </ng-template>
        <span>
          <b> ₽</b>
        </span>
      </td>
      <td [ngClass]="{'green-text': getOfferCostWithDelivery() < purchase.lots[0].startMaxCost,
        'red-text': getOfferCostWithDelivery() > purchase.lots[0].startMaxCost}">
        <clr-tooltip>
          <div clrTooltipTrigger>
            <b>{{ getOfferCostWithDelivery() | currency:'RUB' }}</b>
          </div>
          <ng-container *ngIf="getOfferCostWithDelivery() > purchase.lots[0].startMaxCost">
            <clr-tooltip-content clrPosition="top-left" clrSize="md" *clrIfOpen>
              <span>Цена предложения превышает НМЦ</span>
            </clr-tooltip-content>
          </ng-container>
        </clr-tooltip>
      </td>
      <td>
        <b>{{purchase.lots[0].startMaxCost | currency:'RUB' }}</b>
      </td>
    </tr>
  </tbody>
</table>
