input#delivery_cost {
  display: inline-flex;
  max-width: 80px;
  height: 30px;
  margin-right: 5px;
}

table {
  border: 0;
  border-bottom: 1px solid #ccc;
  margin-top: 0;
}

th {
  background-color: white;
  font-weight: 300;
  font-size: 12px;
}

td {
  vertical-align: middle;
}
