<div class="container">

  <div class="clr-row clr-align-items-center clr-justify-content-between">
    <div class="clr-col">
      <button uxgButton primary iconText
        *ngIf="featureService.available('createContragent', userInfoService.roles)"
        (click)="modal.open()">
          <clr-icon size="16" shape="app-plus"></clr-icon>
          <span>Новый контрагент</span>
      </button>
    </div>

    <div class="clr-col-auto">
      <div class="input-group">
        <input class="contragent-search-field"
               type="text"
               placeholder="Введите наименование контрагента или ИНН..."
               [value]="customerSearchValue"
               (input)="onCustomerSearchInputChange($event.target.value)"/>
        <button type="button"
                class="btn btn-icon btn-link btn-clear"
                aria-label="Очистить фильтр"
                [disabled]="!this.customerSearchValue.length"
                (click)="onClearFilterClick()">
          <clr-icon shape="times"></clr-icon>
        </button>
      </div>
    </div>
  </div>

  <app-contragent-list
          [searchValue]="customerSearchValue"
          [contragents]="(contragents$ | async)">
  </app-contragent-list>

</div>

<clr-modal #modal [clrModalSize]="'xl'">
  <div class="modal-body">
    <app-contragent-registration (contragentCreated)="getContragentList(); modal.close();"></app-contragent-registration>
  </div>
</clr-modal>
