<clr-wizard
  #wizard
  clrWizardSize="lg"
  (clrWizardOnCancel)="resetWizardForm()"
>
  <clr-wizard-title><b>Новая процедура</b></clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Отмена</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Назад</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Далее</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Опубликовать</clr-wizard-button>

  <!-- Страница 1 - ProcedureBasicData - Общие сведения -->
  <clr-wizard-page
    [clrWizardPageNextDisabled]="procedureBasicDataForm.invalid || selectedProcedurePositions.length === 0"
    (clrWizardPageNext)="onShowProcedurePropertiesPage()">
    <ng-template clrPageTitle>Общие сведения</ng-template>
    <form [formGroup]="procedureBasicDataForm" class="form">
      <div class="form-block">
        <div class="clr-form-control">
          <div class="clr-row w-100">
            <label class="clr-control-label" for="procedureTitle">Наименование закупки</label>
            <input id="procedureTitle" type="text" formControlName="procedureTitle"
                   [class.invalid]="isDataFieldValid('procedureTitle')"/>
          </div>
          <div class="clr-row w-100">
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="dishonestSuppliersForbidden"
                     id="dishonestSuppliersForbidden"
                     formControlName="dishonestSuppliersForbidden">
              <label class="clr-control-label nopadding">Требование к отсутствию участников закупки в
                реестре недобросовестных поставщиков ФАС</label>
            </clr-checkbox-wrapper>
          </div>
          <div class="clr-row w-100">
            <div class="clr-col-6 dates">
              <label class="clr-control-label left" for="dateEndRegistration">Прием заявок до:</label>
              <input id="dateEndRegistration" placeholder="ДД.ММ.ГГГГ" type="date" clrDate
                     formControlName="dateEndRegistration"
                     [class.invalid]="isDataFieldValid('dateEndRegistration')"/>
            </div>
            <div class="clr-col-6 dates">
              <label class="clr-control-label left" for="summingupDate">Подведение итогов:</label>
              <input id="summingupDate" placeholder="ДД.ММ.ГГГГ" type="date" clrDate
                     formControlName="summingupDate"
                     [class.invalid]="isDataFieldValid('summingupDate')"/>
            </div>
          </div>

          <div class="clr-row w-100">
            <div class="clr-col-6 positions">
              <label class="clr-control-label">Позиции, участвующие в процедуре:</label>

              <input #searchPositionInput
                     placeholder="Введите наименование позиции"
                     autocomplete="off"
                     type="text"
                     [value]="positionSearchValue"
                     (input)="onPositionSearchInputChange($event.target.value)"/>

              <div class="position-list">
                <clr-checkbox-container>
                  <clr-checkbox-wrapper class="select-checkbox"
                                        *ngFor="let requestPosition of (positionsForProcedure$ | async) |
                                        positionSearchFilter: getPositionSearchValue();">

                    <label class="nopadding">{{ requestPosition.name }}</label>

                    <input class="checkbox select-checkbox"
                           clrCheckbox
                           type="checkbox"
                           [checked]="checkIfPositionIsChecked(requestPosition)"
                           (change)="onPositionSelect(requestPosition)">
                  </clr-checkbox-wrapper>
                </clr-checkbox-container>
              </div>
            </div>
          </div>

        </div>
      </div>
    </form>
  </clr-wizard-page>

  <!-- Страница 2 - ProcedureProperties - Свойства процедуры -->
  <clr-wizard-page
    [clrWizardPageNextDisabled]="showPrivateAccessContragents && selectedPrivateAccessContragents.length < 2"
    (clrWizardPageOnCancel)="resetWizardForm()">
    <ng-template clrPageTitle>Свойства процедуры</ng-template>
    <form [formGroup]="procedurePropertiesForm" class="form">
      <div class="form-block">
        <div class="clr-form-control">
          <div class="clr-row w-100 padding-top">
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="manualEndRegistration" id="manualEndRegistration"
                     formControlName="manualEndRegistration">
              <label class="clr-control-label nopadding">Досрочное завершение приема заявок на
                участие</label>
            </clr-checkbox-wrapper>
          </div>
          <div class="clr-row w-100">
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="positionsRequiredAll" id="positionsRequiredAll"
                     formControlName="positionsRequiredAll">
              <label class="clr-control-label nopadding">Обязательная подача предложений на все
                позиции</label>
            </clr-checkbox-wrapper>
          </div>
          <div class="clr-row w-100">
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="positionsAnalogs" id="positionsAnalogs"
                     formControlName="positionsAnalogs">
              <label class="clr-control-label nopadding">Разрешается прием аналогов</label>
            </clr-checkbox-wrapper>
          </div>
          <div class="clr-row w-100">
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="positionsAllowAnalogsOnly"
                     id="positionsAllowAnalogsOnly" formControlName="positionsAllowAnalogsOnly">
              <label class="clr-control-label nopadding">Возможность подачи аналогов без основного
                предложения</label>
            </clr-checkbox-wrapper>
          </div>
          <div class="clr-row w-100">
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="positionsEntireVolume" id="positionsEntireVolume"
                     formControlName="positionsEntireVolume">
              <label class="clr-control-label nopadding">Заявка подается на весь закупаемый объем</label>
            </clr-checkbox-wrapper>
          </div>
          <div class="clr-row">
            <label class="clr-control-label" for="prolongateEndRegistration">Продление времени приема заявок
              на участие
              (минут)</label>
            <input class="input-time" id="prolongateEndRegistration" type="number"
                   formControlName="prolongateEndRegistration"/>
          </div>
          <div class="clr-row w-100 padding-top">
            <clr-radio-container>
              <label class="clr-control-label nopadding radio-label"><b>Отображение наименований участников
                в таблице</b></label>
              <clr-radio-wrapper>
                <input type="radio" clrRadio formControlName="positionsSuppliersVisibility" value="Name"/>
                <label class="clr-control-label nopadding">Участники и их наименования отображаются в
                  таблице</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input type="radio" clrRadio formControlName="positionsSuppliersVisibility"
                       value="NameHidden"/>
                <label class="clr-control-label nopadding">Участники отображаются в таблице, но их
                  наименования скрыты</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input type="radio" clrRadio formControlName="positionsSuppliersVisibility" value="None"/>
                <label class="clr-control-label nopadding">Участники не отображаются в таблице</label>
              </clr-radio-wrapper>
            </clr-radio-container>
          </div>
          <div class="clr-row w-100 padding-top">
            <clr-radio-container>
              <label class="clr-control-label nopadding radio-label"><b>Ограничение на подачу цен
                участниками</b></label>
              <clr-radio-wrapper>
                <input type="radio" clrRadio name="positionsBestPriceType"
                       formControlName="positionsBestPriceType" value="LowerStartPrice"/>
                <label class="clr-control-label nopadding">Участники подают цены ниже начальной цены</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input type="radio" clrRadio name="positionsBestPriceType"
                       formControlName="positionsBestPriceType" value="LowerPriceBest"/>
                <label class="clr-control-label nopadding">Нет ограничений на цены участников</label>
              </clr-radio-wrapper>
            </clr-radio-container>
          </div>
          <div class="clr-row w-100 padding-top">
            <clr-radio-container>
              <label class="clr-control-label nopadding radio-label"><b>Отображение цен участников в
                таблице</b></label>
              <clr-radio-wrapper>
                <input type="radio" clrRadio formControlName="positionsApplicsVisibility"
                       value="PriceAndRating"/>
                <label class="clr-control-label nopadding">Видны и цены, и рейтинг участников</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input type="radio" clrRadio formControlName="positionsApplicsVisibility"
                       value="OnlyPrice"/>
                <label class="clr-control-label nopadding">Видны только цены, подаваемые участниками</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input type="radio" clrRadio formControlName="positionsApplicsVisibility"
                       value="OnlyRating"/>
                <label class="clr-control-label nopadding">Виден только рейтинг цен</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input type="radio" clrRadio formControlName="positionsApplicsVisibility" value="None"/>
                <label class="clr-control-label nopadding">Цены и рейтинг скрыты</label>
              </clr-radio-wrapper>
            </clr-radio-container>
          </div>
          <div class="clr-row w-100 padding-top">
            <clr-radio-container>
              <label class="clr-control-label nopadding radio-label"><b>Доступ к процедуре</b></label>
              <clr-radio-wrapper>
                <input type="radio"
                       #openedProcedureRadioButton
                       clrRadio
                       name="isPrivateAccess"
                       value="false"
                       (change)="showPrivateAccessContragents = false"/>
                <label class="clr-control-label nopadding">Открытая процедура</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input type="radio"
                       #closedProcedureRadioButton
                       clrRadio
                       name="isPrivateAccess"
                       value="true"
                       (change)="showPrivateAccessContragents = true"/>
                <label class="clr-control-label nopadding">Для ограниченного круга участников</label>
              </clr-radio-wrapper>
            </clr-radio-container>
            <clr-checkbox-container class="w-100" *ngIf="showPrivateAccessContragents">
              <label class="clr-control-label nopadding radio-label">Выберите мин. 2х участников:</label>
              <clr-checkbox-wrapper class="select-checkbox" *ngFor="let contragent of (getContragents() | async)">
                <input class="checkbox select-checkbox"
                       clrCheckbox
                       type="checkbox"
                       (change)="onSelectPrivateAccessContragent(contragent)">
                <label class="nopadding">
                  {{ contragent.shortName }}
                  (ИНН {{ contragent.inn }}, КПП {{ contragent.kpp }}, Email {{ contragent.email }})
                </label>
              </clr-checkbox-wrapper>
            </clr-checkbox-container>
          </div>
        </div>
      </div>
    </form>
  </clr-wizard-page>

  <!-- Страница 3 - Документы -->
  <clr-wizard-page (clrWizardPageOnCommit)="onPublishProcedure()"
                   (clrWizardPageOnCancel)="resetWizardForm()">
    <ng-template clrPageTitle>Документы</ng-template>
    <div class="w-100" *ngIf="request.documents.length">
      <div class="clr-row">
        <label class="clr-control-label">Документы процедуры:</label>
      </div>
      <div class="clr-row document-list">
        <clr-checkbox-container>
          <clr-checkbox-wrapper
            class="select-checkbox"
            *ngFor="let document of request.documents">
            <input class="checkbox select-checkbox" clrCheckbox type="checkbox"
                   (change)="onSelectProcedureDocument(document)">
            <label class="nopadding">{{ document.filename }}</label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
      </div>
    </div>

    <div class="w-100" *ngIf="isDocumentsExists(selectedProcedurePositions)">
      <div class="clr-row">
        <label class="clr-control-label">Документы лота:</label>
      </div>
      <div class="clr-row document-list">
        <div *ngFor="let position of selectedProcedurePositions">
          <clr-checkbox-container class="w-100" *ngIf="position.documents.length">
            <label class="clr-control-label">{{ position.name }}:</label>
            <clr-checkbox-wrapper
              class="select-checkbox"
              *ngFor="let document of position.documents">
              <input class="checkbox select-checkbox" clrCheckbox type="checkbox"
                     (change)="onSelectProcedureLotDocument(document)">
              <label class="nopadding">{{ document.filename }}</label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
        </div>
      </div>
    </div>
  </clr-wizard-page>
</clr-wizard>
